[2020-06-15 19:38] jignparm commented on #971
Great to know that the deepcopy error is no longer present.

Ok, this seems like a slightly different error.

Sure. Feel free to email me details of your model location at my user ID @microsoft.com

[2020-06-15 20:18] anoushsepehri commented on #971
@jignparm I sent you an email with the saved model

Thanks

[2020-06-15 22:21] anoushsepehri opened #973 "MobilenetV2. Transpose optimizer fail : list index out of range"
**Describe the bug**
When trying to optimize an SSD-MobilenetV2, the network fails to optimize. The error thread can be seen below:

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Jetson Nano: Jetpack 4.4
- Tensorflow Version: 2.1.0
- Python version: 3.6

python3 -m tf2onnx.convert --saved-model saved_model2 --opset 11 --output mobilenetv2.onnx
2020-06-15 12:14:1

[2020-06-15 22:40] jignparm commented on #973
@anoushsepehri , this is fixed by #974.

[2020-06-15 22:51] jignparm commented on #971
@anoushsepehri , thanks for sending model and for opening a separate issue #973 to track the orthogonal problem.

Since the deepcopy() error seems to be addressed, I'll close out this issue. Please reopen if needed.

[2020-06-15 22:51] #971 closed

[2020-06-16 16:06] guschmue commented on #77
float_ref is a variable. Basically freezing the graph did not work completely. We see this rarely that the model implementation is like this. An example might be you have a dropout op and the keep_prob comes from a variable that is not initialized.

[2020-06-16 19:01] guschmue commented on #967
ok, give it a try:
[code]

[2020-06-16 20:37] #973 closed

[2020-06-17 01:48] Fay-Hu commented on #847
Hi, do you solve it now? I've also had the same problem.

[2020-06-17 08:53] edurenye commented on #847
@marcelvanworkum Later it failed again, I think that time I tried the code did not get triggered, that is why I thought it worked, but it really did not. At the end I removed all that code from the conversion and added it outside the model.

[2020-06-17 12:25] marcelvanworkum commented on #847
Thanks for your response @edurenye. I've also gone with a similar approach, simply just performing the NMS in code.

[2020-06-17 20:13] anoushsepehri opened #976 "Issues converting UNET model to ONNX"
**Describe the bug**
When I try to convert a UNET model trainined using Tensorflow 2.1.0 to ONNX, I get the following error:

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tf2onnx/verbose_logging.py:76: The name tf.logging.set_verbosity is deprecated. Please use tf.compat.v1.logging.set_verbosity instead.

2020-06-17 20:10:12,913 - WARNING - From /usr/local/lib/python3.6/dist-pack

[2020-06-17 20:20] guschmue commented on #976
uh, this fails inside tensorflow itself.
Is it possible to share the unet graph so we can take a look at it?

[2020-06-17 20:38] anoushsepehri commented on #976
@guschmue

I can send you a zip file of the saved model to your email or through some other private message.

Please share with me your email and I will do it asap.

Thanks

[2020-06-17 23:50] jignparm commented on #976
@anoushsepehri, you can forward the model (or a link to it) to my ID @microsoft.com.

FYI, the operator `StatefulPartitionedCall` is not  supported yet. Although there's some experimental capability for Keras models (using the `--keras` option),  which sometimes include `StatefulPartitionedCall` ops.

What is the source of them model -- was it fine-tuned/trained locally, or just downloaded?

Also,

[2020-06-18 00:12] anoushsepehri commented on #976
@jignparm

The model uses a pre trained mobilenetv2 as a feature extractor that was downloaded through tensorflow keras library. The upsample portion was written and trained from scratch using tensorflow keras API.

[2020-06-18 07:43] jignparm commented on #976
@anoushsepehri , since it's a TF 2.x model, you need to run with TF 2.x for the conversion to succeed.

Using TF 1.x  gives the error message you mentioned above. The converter should probably just halt if it detects that the model is TF 2.x but the TF version is 1.x, since it's unlikely to succeed.

Upgrading TF version should fix the error you are seeing.

### Run log
[code]

[2020-06-18 18:21] AlexRibard opened #977 "Inputs_as_NCHW adds Transposes"
Hello,
I am converting a model from TF with the --inputs-as-nchw option
And the resulting model still contains a good amount of Transposes.

Here is the model
https://drive.google.com/file/d/17qLexicRukvDqrw3SjFh-0BSjj_ABxjR/view?usp=sharing

For examples
![image](https://user-images.githubusercontent.com/12990800/85056816-dddcad00-b16d-11ea-9a47-c4e9bc8b7279.png)
becomes
![image](https://user-ima

[2020-06-18 20:34] jignparm commented on #977
From the diagram above, some of the Transposes can probably be reduced further. Will have a look at it.

[2020-06-19 00:12] jignparm commented on #977
With the enhancement in #978, there is only 1 transpose left in the graph.

![image](https://user-images.githubusercontent.com/13698702/85083451-56208e00-b1c1-11ea-82c9-fd504f72b8fd.png)

[2020-06-19 19:53] svetlanadataper opened #979 "Installation on Jetson Nano fails"
**Describe the bug**
There is no bug, the instructions need to be updated to install protobus-compiler package if not already installed or add it as a dependency.

**Urgency**
Installation is fixed after installing protobus:

`sudo apt-get install protobuf-compiler libprotoc-dev`

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux  4.9.140-tegra #1 SMP PREEMPT W

[2020-06-19 21:43] #977 closed

[2020-06-22 12:57] prabhat00155 opened #980 "deeplabv3 model converted from TF to ONNX throws error in onnxruntime."
**Describe the bug**
I converted deeplabv3 (http://download.tensorflow.org/models/deeplabv3_mnv2_ade20k_train_2018_12_03.tar.gz) model
using tf2onnx to ONNX format which worked fine. When I try to run this model with onnxruntime, I get `not implemented` error:
NOT_IMPLEMENTED : Could not find an implementation for the node Resize__1172:Resize(11)

**Urgency**
None

**System information**
- OS Plat

[2020-06-22 14:06] prabhat00155 opened #981 "Unsupported ops when converting wakeword model"
**Describe the bug**
When I try to convert wakeword (https://github.com/ARM-software/ML-KWS-for-MCU/tree/master/Pretrained_models/DS_CNN) model to ONNX, I get errors due to unsupported ops: Unsupported ops: Counter({'DecodeWav': 1, 'AudioSpectrogram': 1, 'Mfcc': 1}).

**Urgency**
None

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Darwin Kernel Version 19.5.0
-

[2020-06-22 14:10] guschmue commented on #981
Those ops are not supported in onnx and a user would need to implement them as custom ops in onnx runtime.

[2020-06-22 14:28] guschmue commented on #979
tf2onnx has a dependency to onnx and onnx itself depends on protobuf.
But as far I know there is no arm package for onnx yet.
There is a issue for this under onnx https://github.com/onnx/onnx/issues/2791.

[2020-06-22 14:28] #979 closed

[2020-06-22 14:30] prabhat00155 opened #982 "Error when converting albert model"
**Describe the bug**
Error when converting albert (https://tfhub.dev/tensorflow/lite-model/albert_lite_base/squadv1/1) model to ONNX.

**Urgency**
None

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Darwin Kernel Version 19.5.0
- Tensorflow Version: 1.15.2
- Python version: 3.6.8
- Others:
onnx==1.6.0
tf2onnx==1.7.0
**To Reproduce**
Describe steps/code to reprod

[2020-06-22 14:41] prabhat00155 opened #983 "Error when converting mobilebert model"
**Describe the bug**
I get error when converting mobile bert model (https://storage.googleapis.com/cloud-tpu-checkpoints/mobilebert/uncased_L-24_H-128_B-512_A-4_F-4_OPT.tar.gz) to ONNX.

**Urgency**
None

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Darwin Kernel Version 19.5.0
- Tensorflow Version: 1.15.2
- Python version: 3.6.8
- Others:
onnx==1.6.0
tf2onnx==

[2020-06-22 18:59] svetlanadataper commented on #912
Hi!

I am having the same problem...did anyone manage to figure this out?

Thank you

Svetlana

[2020-06-22 20:34] jignparm commented on #980
@prabhat00155, it looks like OnnxRuntime `Resize` operator doesn't allow INT64 for the allowed input types, T1 (see below). However, the Onnx spec does allow for INT64, so there's a slight gap in the implementation.

https://github.com/microsoft/onnxruntime/blob/master/docs/OperatorKernels.md
Resize | (in X:T, in scales:tensor(float), out Y:T) or (in X:T1, in roi:T2, in scales:tensor(float), in si

[2020-06-22 23:01] jignparm commented on #982
Some of the saved_models don't have the 'serve' tag. Looks like this is one of them. Will try to get a comprehensive fix in a few hours that can convert this model, as well as a few other TFHub models.

BTW TFHub contains a few different formats -- saved_model, tflite and coral. The fix would only work for saved_model formats (not tflite or coral).

[2020-06-22 23:05] guschmue commented on #982
just add a --tags option. Kind of rare but legal.

[2020-06-22 23:34] jignparm commented on #982
I don't see --tags option any more, although it was probably there earlier.

Also, I noticed some of the TFHub models (not this one) have defined functions outside of the 'serving_default' signature, so at least a couple  of changes are required to the saved_model loading logic to get the other TFHub models to work successfully.

Will update on this shortly.

[2020-06-23 00:34] guschmue commented on #982
I meant ***implement*** ```--tag```

[2020-06-24 12:32] jignparm commented on #982
@prabhat00155 , PR #984 should fix the issue for the TF2.x albert model conversion.

[code]

[2020-06-24 12:45] jignparm commented on #896
@aksenventwo, @guschmue

Using PR #984. I was able to convert the sub-classed TF2.x model (mobilenet_v1_050_160)  successfully, using the new `--concrete_function` parameter below.

The model contains 4 different concrete functions, so it requires the user to know which of the 4 should be converted for inference purposes, but it should be a good alternative to writing custom scripts.

As a caveat,

[2020-06-25 12:39] xavriley commented on #927
I was still getting this error on master today.

Downgrading to `tensorflow=1.14.0` and `onnx=1.6.0` with `tf2onnx` from pypy made it work for me with Python 3.6.

[2020-06-25 14:09] Ram-Godavarthi commented on #655
I ran into the same problem.
Any solutions to this problem??

[2020-06-25 23:48] jignparm commented on #983
@prabhat00155 ,

I don't see the .meta file in this model. Is that available somewhere? I believe it's needed.

[code]

[2020-06-25 23:52] jignparm commented on #655
@Ram-Godavarthi -- are you using a public model in this case, or training a custom model? A link  to the non-converting model would be helpful.

[2020-06-25 23:54] jignparm commented on #982
Closing out this issue for now -- if OnnxRuntime cannot support INT64 in the future, may need to add this patch into master as well., but a better location would be ORT.

[2020-06-25 23:54] #982 closed

[2020-06-26 00:07] jignparm commented on #939
@rvnth , I seem to be hitting this error, using TF 2.2 and Keras 2.4.3. Were you able to run this on the more recent versions of TF, or it only runs on TF1.15?

[code]

[2020-06-26 00:08] jignparm commented on #945
Any link to the model yet? Would be helpful to debug.

[2020-06-26 00:10] jignparm commented on #943
The original error seems to be fixed, and I'm assuming running the optimizer removed the extra cast nodes. Closing for now. Please reopen if needed.

[2020-06-26 00:10] #943 closed

[2020-06-26 06:01] nwalser commented on #655
I used the pretrained ssd_mobilenet_v1_coco from https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md
but this issue happens with other models too. As far as I remember I also tried faster_rcnn_inception_v2_coco, ssd_mobilenet_v2_coco and the ssdlite_mobilenet_v2_coco.

The issue happens after training. If you convert a model that is pretrained e.

[2020-06-26 06:17] nwalser commented on #655
It looks as if issue #847 and #739 are about the same issue. They all have problems converting after they trained the model.

[2020-06-26 06:33] AkhilJ99 opened #985 "Error when converting TensorFlow model to onnx"
**Describe the bug**

Got this error when trying to convert my model to tensorflow

`2020-06-26 11:53:25,420 - WARNING - '--tag' not specified for saved_model. Using empty tag [[]]
Traceback (most recent call last):
  File "/home/akhil/anaconda3/envs/TDL/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/home/akhil/anaconda3/envs/TDL/l

[2020-06-26 06:34] Ram-Godavarthi commented on #655
After using opset 11. Problem solved.
But don’t know about it.
Why opset 11. ...!

On Fri 26. Jun 2020 at 8:18 AM, Nathaniel Walser <notifications@github.com>
wrote:

--
Best regards,
Ram

[2020-06-26 22:17] jignparm commented on #985
@AkhilJ99 , from the log, it looks like your model contains the 'serve' tag. You will need to specify `--tag serve` on the command line to specify that tag for conversion purposes, as the model may contain multiple tags.

This is a recent change, where the default value for tag is a null/None value if user does not specify.

[2020-06-26 22:39] jignparm commented on #655
@Ram-Godavarthi, good to see the model was converted using opset 11. The set of operators in the Onnx spec usually evolves for the better.  A good rule of thumb is to use the highest available opset to maximize chances of  model conversion.

@nwalser , can you try a higher opset on the fine-tuned model to see if the same solution works foryou ( (as it did for Ram-Godavarthi))? Using the master bra

[2020-06-26 22:57] jignparm commented on #961
Closing this out, as the model converts fine with opset 10 (see log below)

[code]

[2020-06-26 22:57] #961 closed

[2020-06-28 08:12] llk2why commented on #538
What if the rank is known, but the batchsize, height and width in NHWC(C=3) are unknown? Is it possible to add the shape behind the input name in [], for example -- inputs X:0[-1,-1,-1,3]? I did converted a .pb model to a .onnx model with the input share=[?x224x224x3], but in this case, I have no idea how to convert it.

[2020-06-28 13:33] israelwei opened #986 "Can't run converted model- Op (Slice) [ShapeInferenceError] 'axes' has duplicates"
**Describe the bug**
I converted a yolo3 model from Tensorflow (1.15) to ONNX, using the flag --opset=11.
The model is converted and saved, but whenever I parse the model (using onnx-runtime for example) I get the error of:
 Op (Slice) [ShapeInferenceError] 'axes' has duplicates
This happens due to some stridesSlice node. This node indeed has duplicates in the "begin/end" axes in the original pb f

[2020-06-29 01:12] jignparm commented on #986
The high values for starts and ends is fine. The axes=[0,0] does not seem valid -- each axis value needs to be unique.

The axes list  at this location is somehow getting the same axis value appended twice: https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/tensor.py#L689

Since you cannot share the model, is it possible to construct a small test model that exhibits this error?

[2020-06-29 02:30] #461 closed

[2020-06-29 03:57] AkhilJ99 opened #987 "infer shape error when trying to convert tf model to onnx using tf2onnx"
I have made a simple model in tensorflow it seems to throwing a lot of errors when trying to convert to onnx format. What can i do to fix the infer shape warnings and the key error.

This is the code
`
[code]

The errors

`
[code]

[2020-06-29 05:16] AkhilJ99 commented on #987
Also I have tried to lower the onnx implementation of AlexNet (https://github.com/onnx/models/blob/master/vision/classification/alexnet/model/bvlcalexnet-3.onnx) to the onnx dialect but have gt the shape inference error.

[code]

[2020-06-29 07:35] NinaAI commented on #912
I'm having same problem: unsupported ONNX data type: UINT8

Anyone knows how to solve the error?

Thanks,
Nina

[2020-06-29 12:52] svetlanadataper commented on #912
Hi Nina,

It seems like TensorRT supports only certain data types; UNIT8 is not one of them:

https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-700/tensorrt-api/python_api/infer/FoundationalTypes/DataType.html

For our case, we would have to retrain the model with input being a valid data type or convert the model with quantization, but I did not have success with that.

Svetlana

[2020-06-29 15:48] guschmue commented on #538
We support adding the shape behind the input but the way the regex is the -1 would not work. We can change it to support -1. Depends on the model if this works since we sometimes need to know the shape to calculate attributes. opset-11 or better makes us depend less on knowing the shape.

[2020-06-29 15:56] guschmue commented on #983
This is just the checkpoint after pre-training.
https://github.com/google-research/google-research/tree/master/mobilebert has a saved-model fine tuned for squad.
@prabhat00155 , I assume we want to use this one ?

[2020-06-29 18:57] svetlanadataper commented on #804
Hi,

I have the same problem converting my model from saved.model format to onnx.

I am getting the same exact exception (except for input names). Any idea what can be causing this?

Thank you

Svetlana

[2020-06-29 19:30] jignparm commented on #804
@svetlanadataper, your error might be slightly different (since it's a saved_model instead of checkpoint). Would you be able share your model (the original model seems to not be available)? Please feel free to open a separate issue if needed/helpful.

[2020-06-29 19:58] jignparm commented on #983
The floating point saved_model, listed on the page mentioned above  (i.e. at [mobilebert_squad_savedmodels ](https://storage.googleapis.com/cloud-tpu-checkpoints/mobilebert/mobilebert_squad_savedmodels.tar.gz)) converts to Onnx fine.

The other quantized model, in the same tar archive, requires a missing `FakeQuantWithMinMaxVars` operator, so this won't run in OnnxRuntime. The floating point model

[2020-06-29 20:06] svetlanadataper commented on #804
Thank you for your reply, unfortunately, it's a proprietary model I cannot share. Do you have any clue as to why I could be getting this error?

[2020-06-29 20:39] jignparm commented on #804
Can you  check if the model can be converted to a frozen_model successfully, using TensorFlow API? See  the `freeze_session()` function in `tf_loader.py`, or else the README.md file of this repo as an example of how to do that. If the model cannot be frozen (i.e. some of the variables cannot be converted to constants), it may require modifying the model to remove the offending variables.

If the a

[2020-06-29 20:40] svetlanadataper commented on #804
Thank you so much I will test this out and let you know!

[2020-06-30 06:13] NinaAI commented on #912
Hi Svetlana,

did you try training model with INT8 as input data type?

[2020-06-30 11:29] turowicz commented on #912
Good luck training MS COCO on your own.

[2020-06-30 13:10] svetlanadataper commented on #912
I did not train the model as it is a pre-trained model of course... do you have any suggestions around it?

[2020-06-30 14:46] guschmue commented on #983
For the quantitized model - FakeQuantWithMinMaxVars  comes from Qat and we will add support for this here https://github.com/onnx/tensorflow-onnx/issues/965.

[2020-06-30 14:50] guschmue commented on #876
in the meantime we have pushed a newer version with tf-2.x support to pypi so 'pip install tf2onnx' should work ok too.

[2020-06-30 14:50] #876 closed

[2020-06-30 14:53] turowicz commented on #912
It was a joke, it's impossible without a very big computer.

[2020-06-30 15:55] svetlanadataper commented on #912
No kidding...I understand it was a joke, I meant in performing a conversion post training...anyways thanks

[2020-06-30 17:41] hahadashi commented on #77
@OneDirection9 @carlosgalvezp @blagodurov hi all , i meet "fold_constants: Ignoring error Input 7 of node model/rnn/while was passed float from rnn/bias:0 incompatible with expected resource." when i use transform tool to deal the pb model.,can you give me some advice, thxs

[2020-07-01 17:24] prabhat00155 commented on #983
Yes, the model conversion works with the latest master(`tag` needed), and I was able to run the converted model with onnxruntime.

[2020-07-01 17:24] #983 closed

[2020-07-01 17:30] guschmue commented on #983
This should work on tf2onnx-1.6.2 as well as --tag serve was the default there. I belief the problem was that we used the phase2 pre-trained checkpoint and not the fine tuned model.

[2020-07-01 23:08] buddhapuneeth commented on #885
verified. working fine.
@jignparm Thank you!

[2020-07-01 23:08] #885 closed

[2020-07-02 02:07] IAMAl opened #990 "OSError: Cannot parse file b"
**HELP: Error for Parsing**
OSError: Cannot parse file b'saved_model/saved_model.pb': Error parsing message.

**System information**
- OS: Linux Ubuntu 18.04
- Tensorflow Version:1.15
- Python version: 3.7.6

**To Reproduce**
saved_model.pb file is here;
https://github.com/IAMAl/onnx

[2020-07-02 02:16] guschmue commented on #990
The parsing error is because your saved_model.pb is actually a saved_model.pbtxt.

[2020-07-02 02:38] IAMAl commented on #990
Ah,...
I forgot to use of '''as_text=False''', many thanks for your pointing out.

[2020-07-02 02:38] #990 closed

[2020-07-02 02:48] IAMAl opened #991 "tags 'serve' could not be found"
**HELP: Error of MetaGraphDef**
RuntimeError: MetaGraphDef associated with tags 'serve' could not be found in SavedModel. To inspect available tag-sets in the SavedModel, please use the SavedModel CLI: `saved_model_cli`
available_tags: []

The '''serve''' and or other tag is seemed not in the pb file, what I made wrong ?

**System information**
- OS: Linux Ubuntu 18.04:
- Tensorflow Version: 1.15

[2020-07-02 05:04] guschmue commented on #991
your file is in the graphdef format which is different than a saved-model format.
Use --graphdef in the tf2onnx command line. But for graphdef formats you need to also specify --inputs and --outputs for the model.
More details here:
https://github.com/onnx/tensorflow-onnx#getting-started

[2020-07-02 07:34] jignparm commented on #885
Great. Thanks for verifying @buddhapuneeth

[2020-07-02 10:02] IAMAl commented on #991
Hi, I tried to generate protobuff file, but meet an error of;
python3.7/site-packages/tf2onnx/tf_utils.py", line 116, in map_tf_dtype
dtype = TF_TO_ONNX_DTYPE[dtype]
KeyError: tf.float32_ref

I made is here;
https://github.com/IAMAl/onnx/tf2pb.py

[2020-07-02 10:21] jignparm commented on #991
See this comment on a similar issue, and how to freeze a graph prior to calling 'process_tf_graph': https://github.com/onnx/tensorflow-onnx/issues/987#issuecomment-651038133

[2020-07-02 12:08] stratomaster31 opened #992 "Does --inputs-as-nchw changes the axis for expand_dims/squeeze etc?"
When using --inputs-as-nchw option, I wonder if the converter changes the axis of the _expand_dims_ and _squeeze_ functions in the netwrok, I mean:

Example:
* Original Input (NHWC) shape = (-1, 300, 1, 3) -> squeeze(axis=2) yields to (-1, 300, 3)
* If we use --inputs-as-nchw, the squeeze should be performed on axis=3 , to get a shape of (-1, 3, 300) from (-1, 3, 300, 1)

Does the converter take c

[2020-07-02 13:05] IAMAl commented on #991
I tried to add freezing the model, then I meet error of;
ValueError: Input 0 of node depth_prediction/depth_net/cnv1/weights/Assign was passed float from depth_prediction/depth_net/cnv1/weights:0 incompatible with expected float_ref.

Updated script is here;
https://github.com/IAMAl/onnx

[2020-07-02 14:20] guschmue commented on #992
We blindly override. --inputs-as-nchw was meant to help for models with unknown rank or unknown dims and because of unknown rank we can not count on the shape that we find.

[2020-07-02 19:49] romainver opened #993 "Precision drop when using --input-as-nchw"
Hello,

I am trying to convert multiple TensorFlow classification models into ONNX format using tf2onnx.
Those models have been trained on a binary classification problem and performs well (+90% on test set).
They have been trained with channels as last (NHWC).

Those models are stored on my disk in the TensorFlow SavedModel format.
When I convert those models into ONNX using tf2onnx.convert, it w

[2020-07-02 20:01] jignparm commented on #991
I see a slightly different error when trying to freeze the model (see below).  Any chance you can remove the variables from the model, or at least get them to be freeze-able to constants? The model won't convert otherwise.

[code]

[2020-07-02 20:30] jignparm commented on #993
`np.reshape()` is probably not sufficient to convert between channels-last format and channels-first format. Try  `data = np.transpose(data, axes=[0,3,1,2])` instead.

This should solve the 50% drop in precision/accuracy. Please update on the results.

[2020-07-02 22:15] #993 closed

[2020-07-02 22:16] romainver commented on #993
Thanks a lot it works now.

[2020-07-02 23:22] IAMAl commented on #991
model is here, but which not include pb file (so I need the conversion);
https://sites.google.com/view/vid2depth

I use my own script to convert;
https://github.com/IAMAl/onnx
I use common defined function, freeze_create().

[2020-07-03 04:10] IAMAl commented on #991
Now, tf2pd.py works for freezing graph, but type error is occurred;

Use `tf.compat.v1.graph_util.extract_sub_graph`
INFO:tensorflow:Froze 150 variables.
I0703 04:07:44.116324 140298940589888 graph_util_impl.py:334] Froze 150 variables.
INFO:tensorflow:Converted 150 variables to const ops.
I0703 04:07:44.561610 140298940589888 graph_util_impl.py:394] Converted 150 variables to const ops.
Traceback

[2020-07-03 09:07] HelloAlone opened #994 "Error of converting SAPD .pb to onnx"
**Describe the bug**
I wonder to convert .pb model of SAPD (A little bit different from original [https://github.com/xuannianz/SAPD](url)) which was trained by Keras to .onnx model.

**Urgency**
None

**System information**
- Docker image: nvcr.io/nvidia/tensorflow:20.03-tf1-py3
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Tensorflow Version: Using tensorflow=1.15.2, o

[2020-07-03 16:12] guschmue commented on #991
I think this comes from tensorflow itself. Looks like after freezing there is some assign that wants to update one of those now constants. Try calling ```tf.compat.v1.graph_util.extract_sub_graph()``` before freezing, maybe that gets rid of the assign.

Of course this model uses custom ops that onnx does not support. tf2onnx will just copy those unchanged into the onnx graph but you'd need to move

[2020-07-03 19:11] jignparm commented on #994
Unfortunately, opset==10 requires the `pads` values of the `Pad` operator to be a compile time constant. The model uses dynamic `pads` value, so you will have to use opset==11 or later to convert the model.

Good news is that opset==11 is able to convert the model and you end up with a `model.onnx` file (the errors above are optimization errors, not conversion errors).  I'll have a look at the opt

[2020-07-05 00:15] IAMAl commented on #991
Hi, I added the function (see my source code), but still meet same error, something is wrong.

[2020-07-06 03:38] HelloAlone commented on #994
Thank you. I tried to convert model.onnx(opset==11) to TensorRT engine(TRT==7.1), and I got a "unsupported datatype" error. So it's true that TensorRT doesn't support opset=11? May I need to go over to TensorRT team for advice?

[TensorRT] WARNING: onnx2trt_utils.cpp:246: One or more weights outside the range of INT32 was clamped
[TensorRT] ERROR: onnx2trt_utils.cpp:467: Found unsupported datatype

[2020-07-06 08:21] IAMAl commented on #991
I fixed the error of '''tensorflow.python.framework.errors_impl.InvalidArgumentError: Input 0 of node''', see my code. But now I meet optimization error. Even if removing the optimization, some error is occurred.

[2020-07-06 08:36] yutkin opened #996 "IndexError with EfficientNet"
Trying to convert official [EfficientNet](https://storage.googleapis.com/cloud-tpu-checkpoints/efficientnet/ckptsaug/efficientnet-b3.tar.gz), but fail with `IndexError`:
[code]

Package versions:
[code]

[2020-07-06 08:46] ashnaeldho commented on #77
@OneDirection9 @carlosgalvezp @blagodurov hi all,
When I tried to convert the retinaface model([https://github.com/peteryuX/retinaface-tf2](url)), I'm getting the following error:

`Input 0 of node RetinaFaceModel/cond/StatefulPartitionedCall/Switch_1 was passed float from Conv1/kernel_1:0 incompatible with expected resource.
`
I tried the above mentioned codes, but, it doesn't work for me.
Can so

[2020-07-06 09:54] jignparm commented on #994
It looks like TRT is complaining about the type of the initializer below (DOUBLE).

If you edit the model (either the original TF pb or else the Onnx pb) and set the initializer to a type TRT can handle (e.g. FLOAT), that may be sufficient to convert the model in TRT.

See this example of how to edit an Onnx model: https://github.com/microsoft/onnxruntime/issues/2264

[code]

[2020-07-06 10:10] jignparm commented on #991
Can you try running `tf2onnx.optimizer.optimize_graph()` immediately after `tf2onnx.tfonnx.process_tf_graph()` in your script,  before `make_model()`?

The model.py file seems to be missing for your repo, and I don't see the frozen TF model either (so cannot follow your steps offline).

[2020-07-06 10:21] jignparm commented on #996
Some of the parameters on your command line look odd. For example the `=` after --checkpoint shouldn't be there, the --inputs name seems malformed, and the --outputs name seems to be missing a port.  Have a look at the EfficientNet tutorial below. Does that work for your model?

https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/efficientnet-edge.ipynb

[2020-07-06 10:54] yutkin commented on #996
All works fine after converting to saved_model format using https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/export_model.py. Thank you!

[2020-07-06 10:54] #996 closed

[2020-07-06 11:31] HelloAlone commented on #994
I edited the original pb to change the node's type (float64->float32), and finally ... the error message has changed.

ERROR: builtin_op_importers.cpp:2179 In function importPad:
[8] Assertion failed: inputs.at(1).is_weights()

It seems is TensorRT issue ([https://github.com/NVIDIA/TensorRT/issues/439](url)). But it still could be tensorflow-onnx issue, because padding opset11 support had added he

[2020-07-06 12:19] jignparm commented on #994
The converted Onnx model seems to run successfully using OnnxRuntime (https://github.com/microsoft/onnxruntime). See the run log below using some random inputs.

The message above is probably a TensorRT issue -- it might require  special handling for some operators in this model.

###run log using OnnxRuntime
[code]

[2020-07-06 13:50] israelwei commented on #986
The way to reproduce this is by creating a node with "reversed slicing", i.e. grid_shape[::-1]
When I edited the graph and converted this node into a node of the format of tf.concat[second_shape_value, first_shape_value] , I could apply inference on the onnx model without errors.
This kind of slicing makes the same axis twice also in the pb model- though it's still possible to apply inference corr

[2020-07-06 13:54] TylerTheHumanCompiler opened #997 "Get ValueError: node *** output needs to be rank 4, is 3 when trying to convert from TF model with Bidirectional ConvLSTM2D Layers"
**Describe the bug**
When trying to convert a tensorflow saved model which contains several Bidirectional ConvLSTM2D Layers with `python -m tf2onnx.convert --saved-model ...` I get the following error:

`ValueError: node BiasAdd output needs to be rank 4, is 3`

**Urgency**
Nope.

**System information**
- Arch Linux
- 2.2 & 2.5
- Python 3.8

**Model**
[This is the model I used (pastebin.com)](http

[2020-07-06 14:46] guschmue commented on #991
so optimize_graph() should be used but is not really related to your error is you still see
[code]
Maybe take a look at the model outputs your script calculates - if this would pickup the assign node it would explain why the node can't be removed and lingers around.

The Assign node assigns a value to a variable but when you freeze the graph all variables need to become const so there can't be a v

[2020-07-06 17:38] TomWildenhain-Microsoft opened #998 "GraphMatcher allow_reorder should be specified explicitly by each subpattern"
**Describe the bug**
If a pattern contains a non-commutative op (ex: Sub) within a commutative one (ex: Mul), allow_reorder should be applied to the outer op but not the inner one.  Currently, allow_reorder cannot be applied differently for outer/inner ops in a pattern.  The existing codebase has many instances where allow_reorder is erroneously applied to the entire pattern tree.

**Urgency**
Not

[2020-07-06 17:42] TomWildenhain-Microsoft opened #999 "graph.py implements safe_remove_nodes incorrectly"
**Describe the bug**
Edge case where nodes A, B, C have dependencies A->B->C and safe_remove_nodes is called on set {A, B}.  A is removed despite being unsafe to delete.

**Urgency**
Not urgent

[2020-07-06 17:48] guschmue commented on #999
There should not be a safe_remove_nodes() ever since if something points into the nodes to be removed - they be rewired by the caller because only the caller knows what to do with those.

[2020-07-06 17:50] guschmue commented on #998
in practice we have not seen such a issue, mostly because the pattern itself should prevent this

[2020-07-06 20:11] jignparm commented on #997
The code seems to be missing the import headers and also the 'save'  function (including tags, signatures etc.)

Can you update with the working code that you are using (to avoid debugging disparity)?

[2020-07-06 21:56] #992 closed

[2020-07-07 01:38] duanqipeng opened #1001 "AssertionError: pred_sbbox/concat_2 is not in graph"
when i use the way(checkpoint way)to convert to onnx file,i occur the problem
![image](https://user-images.githubusercontent.com/17905397/86684621-4dd7a800-c035-11ea-93b3-a91a376c240e.png)
the script i use is
 `python -m tf2onnx.convert --checkpoint /home/lcy/DQP/yolov3_fire_detection-master/checkpoint/yolov3_test_loss=3.2609.ckpt-43.meta --output /home/lcy/DQP/yolov3_fire_detection-master/checkpo

[2020-07-07 01:50] guschmue commented on #1001
The error message says ```pred_sbbox/concat_2:0 ``` you passed in the command line is not in the graph. Can you re-check if that is really the correct output ?

[2020-07-07 02:01] duanqipeng commented on #1001
Hi，thanks for reply!The code i use is yolov3  and train on my dataset to detect fire and smoke,so i think the output should be the same with other yolov3 outputs.I am not familiar with tesorflow ,can you teach me how to know the correct outputs in the model?

[2020-07-07 02:03] duanqipeng commented on #1001
Acturally,i used to be success in useing your tools convert from .pb to onnx but when i use the .onnx file to get a tensorrt engine,it's only 2kb! when i print the num_layer,it only have one layer,i don't know why

[2020-07-07 02:19] HelloAlone commented on #994
Thank you for your patient response, I'll turn to TensorRT team for help. But I hope tensorflow-onnx also fix the "Failed to apply optimize_transpose" warning, LOL. It breaks the topological order, so onnx-simplifier doesn't work in the generated onnx model.

[2020-07-07 03:21] guschmue commented on #1001
So the onnx file is only 2k?
tf2onnx will find the subgraph you'd need to produce the output - one possibility is that if you'd pick an output close to the inputs that the onnx file might be very small.
At the end of running to tf2onnx it prints some stats where you can see how many conv, etc ... it might give you some hint.

[2020-07-07 03:22] guschmue commented on #886
I assume this is fixed.

[2020-07-07 03:22] #886 closed

[2020-07-07 03:28] duanqipeng commented on #1001
the onnx's size is
![image](https://user-images.githubusercontent.com/17905397/86701534-b11d0680-c044-11ea-9b89-91686c7d7a88.png)
but when i use the tensorrt to load the onnx file ,the output engine is only 2kb,only have one layer

![image](https://user-images.githubusercontent.com/17905397/86701825-f2adb180-c044-11ea-9a8d-9a590b09d7c9.png)

[2020-07-07 06:07] IAMAl commented on #991
Hi,
after '''tf.compat.v1.graph_util.convert_variables_to_constants''', at '''process_tf_graph''' error is;
'''
onnx_graph = tf2onnx.tfonnx.process_tf_graph(frozen_graph, input_names=inputs, output_names=outputs)
File "/home/ubuntu/miniconda3/envs/tf_env1/lib/python3.7/site-packages/tf2onnx/tfonnx.py", line 370, in process_tf_graph
tf_graph = infer_shape(tf_graph, shape_override)
File "/home/ubunt

[2020-07-07 14:14] guschmue commented on #926
We don't spend explicit attention to the order but we keep them in lists so their order might be preserved. Let me check on it.

[2020-07-07 17:45] kaustav-aarish opened #1006 "tf2onnx.convert failure"
# Bug Report

### Describe the bug
Hello, I made a script which converts a TensorFlow saved file into onnx. This was working perfectly, until I noticed a sudden error when running it today:

    [libprotobuf ERROR google/protobuf/descriptor_database.cc:394] Invalid file descriptor data passed to
    EncodedDescriptorDatabase::Add().
    [libprotobuf FATAL google/protobuf/descriptor.cc:1356] CHECK

[2020-07-07 18:58] kaustav-aarish opened #1002 "tf2onnx.convert failure"
# Bug Report

### Describe the bug
Hello, I made a script which converts a TensorFlow saved file into onnx. This was working perfectly, until I noticed a sudden error when running it today:

    [libprotobuf ERROR google/protobuf/descriptor_database.cc:394] Invalid file descriptor data passed to
    EncodedDescriptorDatabase::Add().
    [libprotobuf FATAL google/protobuf/descriptor.cc:1356] CHECK

[2020-07-07 20:14] guschmue commented on #1002
probably related to https://github.com/onnx/tensorflow-onnx/issues/927 which we have not been able to debug due to missing osx box.
I think there is some suspicion that the protobuf that onnx includes conflicts with the one tensorflow includes.
Let me find a osx box.

[2020-07-07 20:22] TylerTheHumanCompiler commented on #997
It is updated.

[2020-07-07 20:58] guschmue commented on #991
Sorry, should have explained this better - optimize_graph runs on the onnx graph. So your code
[code]
should be
[code]
Some sample code is here:
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/convert.py#L143

[2020-07-07 23:32] jignparm commented on #997
Thanks for updating. I'm seeing an exception below using the updated script (TF=2.2.0, python=3.7.3, Win-10).

I get the same error, whether or not I train the model (using dummy data).

Does the script run cleanly for you? Wondering if this is a TF version issue.
[code]

[2020-07-08 07:44] TylerTheHumanCompiler commented on #997
Ah yes, this is a TF2.2 issue. Use either 2.1, 2.3 or higher.
Lost so much time for this bug...  🙄

[2020-07-08 08:03] IAMAl commented on #991
@guschmue , sorry I forgot to commit.
I did the committing, and that error can be reproduced.

[2020-07-08 14:17] guschmue commented on #991
not sure if I understand. process_tf_graph fails with AttributeError: get_operations ?
frozen_graph needs to be the  in-memory flavor of graphdef.

[2020-07-08 15:39] guschmue commented on #1001
seems to be more a trt issue.

[2020-07-08 23:11] TomWildenhain-Microsoft commented on #1002
The issue appears to be related to this: [https://dbaontap.com/2019/11/11/python-abort-trap-6-fix-after-catalina-update/](https://dbaontap.com/2019/11/11/python-abort-trap-6-fix-after-catalina-update/)

[2020-07-08 23:55] IAMAl commented on #991
yes,

--
File "tf2pb.py", line 98, in _run_pb_gen
onnx_graph = tf2onnx.tfonnx.process_tf_graph(frozen_graph, input_names=inputs, output_names=outputs)
File "/home/ubuntu/miniconda3/envs/tf_env1/lib/python3.7/site-packages/tf2onnx/tfonnx.py", line 370, in process_tf_graph
tf_graph = infer_shape(tf_graph, shape_override)
File "/home/ubuntu/miniconda3/envs/tf_env1/lib/python3.7/site-packages/tf2onnx/

[2020-07-08 23:55] TomWildenhain-Microsoft commented on #1002
Strange workaround: I tried importing onnx before tf2onnx, and this fixed the issue for me.
The code:
[code]
Crashes with `Abort trap: 6`
The code:
[code]
Runs fine

[2020-07-09 09:11] jignparm commented on #994
@HelloAlone , PR #1004 will fix the optimizer errors you see in this model, and should generate a slightly faster/smaller model.

[2020-07-09 09:40] HelloAlone commented on #994
Hey guy, I'm glad to see it. BUT .. although now the warnings no longer appears, onnx-simplifier still refuse to work. Same "Nodes in a graph must be topologically sorted" error.

input: "sapd_p/block2b_project_bn/FusedBatchNormV3:0" input: "sapd_p/block2b_drop/cond/dropout/truediv:0" output: "sapd_p/block2b_drop/cond/dropout/mul:0" name: "sapd_p/block2b_drop/cond/dropout/mul" op_type: "Mul" domai

[2020-07-09 09:56] jignparm commented on #997
@TylerTheHumanCompiler, I can't find TF 2.3 on pypi, but TF2.1 works fine with your script.

The first 3 lines of the code snippet below, placed at the location shown within file `nn.py`, should fix the error you are seeing.

I'll formalize it as a PR by generalizing it for 1D, 2D and 3D convolutions, and double-checking that the shape alteration doesn't break other scenarios.

https://github.com/

[2020-07-09 10:22] TylerTheHumanCompiler commented on #997
YES!! It totally works! Thanks a lot for the quick response, I really appreciate that!

[2020-07-09 10:22] #997 closed

[2020-07-09 10:55] jignparm commented on #994
@HelloAlone,

Using the command above, the new TF model (converted to Onnx) loads and runs fine using OnnxRuntime. See the run log below, using random input. I'm using Onnx=1.7.0,  TF 2.1, and master branch of this repo,

The model also  passes  the official Onnx model checker tool, so it **should be a valid model**. I'm not familiar with the Onnx Simplifier tool that you mentioned, but it seems t

[2020-07-09 10:57] IAMAl commented on #991
Is the error on a custom ops ?

[2020-07-09 11:21] HelloAlone commented on #994
Okay, I trust what you say. Indeed it may be a simple matter of visualization rather than a model error. [Onnx-simplifier](https://github.com/daquexian/onnx-simplifier) can simplify ONNX models by replaces the redundant operators with their constant outputs. I've heard it's helpful for model conversion, but it's really not a required step.
As for TRT ... Finally it told me the NonMaxSuppression ON

[2020-07-09 11:24] jignparm commented on #991
The frozen model you are using is a `graph_def` object, but process_tf_graph() requires a `graph` object instead.

See  this example of importing a `graph_def` object into a `graph`--> https://github.com/onnx/tensorflow-onnx/blob/master/tests/run_pretrained_models.py#L261

Two lines below that, a session is created, using the graph object. Then, in the `self.to_onnx()` function, there is a call to

[2020-07-09 11:24] HelloAlone commented on #994
At least the "Failed to apply optimize_transpose" warning is fixed, LOL @jignparm . This issue can be closed.

[2020-07-09 11:25] #994 closed

[2020-07-09 11:38] jignparm commented on #994
Sorry to hear that :-/ ! I'm bit surprised that NonMaxSuppression is not supported by TRT -- hopefully it's only a matter of time before it's supported.

And thank you for sharing the model -- the "Failed to apply optimize_transpose" error was a good fix in tf2onnx (rare case, but important).

[2020-07-10 03:24] IAMAl commented on #991
Hi, I meet Assertion error after updating code (see my repo), for example;

AssertionError: pose_exp_net/pose/cnv6/BatchNorm/moving_variance/Assign is not in graph

This changes AssertionError massage every time. What is happened?

my repo;
https://github.com/IAMAl/onnx

model.py is this;
https://github.com/tensorflow/models/tree/master/research/vid2depth

[2020-07-10 08:46] jignparm commented on #991
The order of operations looks incorrect, or at least different from the example link pasted above.

The freeze_session() call should happen before creating a session. The object to freeze would be the sub_graph. Can you freeze  sub_graph instead, and remove the freeze_session() call inside the session?

Also, you'll need to update line 104 to : "process_tf_graph(sess.graph,...)".

(Not sure if you

[2020-07-11 04:37] IAMAl commented on #991
Hi, @jignparm

By updating my script with your advice, now error on freeze_session() is gone (thank you !).
As you noted;

I meet error on there

I googled "passedin format", but could not find in net. but find this;

                                                 custom_op_handlers={"Print": (print_handler, ["Identity", "mode"])},
                                                 extra_opset=[he

[2020-07-11 20:38] jignparm commented on #872
@ongun-kanat, I'm sure you are aware already, but just to make it explicit, the model above converts if you specify the port number of 'x' as shown in the log below.

The main question is, should 'tf2onnx' assume  port ':0'   of the inputs if the user does not specify the port on the command line? The downside is the user confusion: should inputs be node names, or port IDs? Currently it's always p

[2020-07-11 21:10] jignparm commented on #991
It looks closer to passing :)  Can you hard-code the values of the model in/outputs into the function 'process_tf_graph()'? Maybe the rest of the script will pass.

BTW, I cloned the vid2depth repository, and copied your your tf2pb.py into that directory (to ensure all modules are available). When I run tf2pb.py on Windows 10, TF=1.14, Python=3.7, I get the error message below.

1. Any idea what's

[2020-07-12 01:36] IAMAl commented on #991
Hi,
Thank you for your suggestion;

My environment is;
OS: ubuntu 18.4LTS
anaconda:  custom, py37_1 (univ's env)
Python: version 3.7.6
tensorflow: version 1.15.3

[2020-07-12 01:42] IAMAl commented on #991
I have never done this, and not understand meaning of hard-code of in/outputs. Is it to extract name of in/outputs from precess_tf_graph()'s arguments ?

and locate error can be gone by adding;
'''
import locale
locale.setlocale(locale.LC_ALL, '')
'''

[2020-07-12 01:49] IAMAl commented on #991
vid2depth is by google, and they removed binary model (pb file), so this is reason why I challenge to do and meet this error.

[2020-07-12 01:59] IAMAl commented on #991
I do not yet understand about the "pass" procedure what this works.
Is there any document or web site explaining about it ?

[2020-07-12 02:30] jignparm commented on #991
I see. Thanks for clarifying that the pre-trained TF model is not available.

I was able to get past the initial error by setting locale to ''. I then saved the frozen model in your code as a graph_def pb file, to inspect it and try to convert the model from the command line. The input and output names can be viewed using Netron easily.

The training code in tf2pb.py is generating a model that doe

[2020-07-12 03:53] IAMAl commented on #991
I checked slim.2dconv at ''https://github.com/google-research/tf-slim/blob/master/tf_slim/layers/layers.py''
It indeed include batch_norm, and nets.py in vid2depth use it. The nets.py defines default shape for the 2dconv.

[2020-07-12 04:17] IAMAl commented on #991
I dumped the graph and picked BatchNorm, do you mean the error is on first batchnorm ?
I0712 04:07:53.055708 140703578396480 util.py:77] depth_prediction/depth_net/cnv1/BatchNorm/beta (32,): 32
I0712 04:07:53.056106 140703578396480 util.py:77] depth_prediction/depth_net/cnv1b/BatchNorm/beta (32,): 32
I0712 04:07:53.056433 140703578396480 util.py:77] depth_prediction/depth_net/cnv2/BatchNorm/beta (

[2020-07-12 04:48] IAMAl commented on #991
Hi,
Training uses these hyper-parameters as default;
'''
flags.DEFINE_integer('batch_size', 4, 'The size of a sample batch')
flags.DEFINE_integer('img_height', 128, 'Input frame height.')
flags.DEFINE_integer('img_width', 416, 'Input frame width.')
flags.DEFINE_integer('seq_length', 3, 'Number of frames in sequence.')
'''
defined in train.py. It seems that error is occurred by other reason...

[2020-07-12 04:53] IAMAl commented on #991
When I tried to comment out line 'tf_reset_default_graph()' at line 98th;

[code]

[2020-07-12 09:12] IAMAl commented on #991
I have dumped outputs which is generated *before* ```process_tf_graph()```, and found this;
[code]
so, I did to fetch only first element of list of ```outputs```, see my updated code of tf2pb.py.
After this process_tf_graph() works, and by commenting out, ```tf2onnx.optimizer.optimize_graph()``` and ``` onnx.checker.check_model(model_proto)```, then *onnx file is generated*, although I meet error

[2020-07-12 17:42] prasanthpul commented on #1006
dupe of #1002

[2020-07-12 17:42] #1006 closed

[2020-07-13 10:30] jignparm commented on #991
@IAMAl , use the master branch or latest tf2onnx package -- it'll get rid of the UTF-8 error.

I modified your tf2pb.py script slightly (see attached file). This generates a valid Onnx model that I can load and score in OnnxRuntime.

Update if you have further question, otherwise feel free to close out this issue.

[tf2pb4.py.txt](https://github.com/onnx/tensorflow-onnx/files/4911841/tf2pb4.py.txt

[2020-07-13 14:00] guschmue commented on #539
no plan to change this. We prefer to use the tensor name as output instead of the node name.

[2020-07-13 14:00] #539 closed

[2020-07-13 14:02] guschmue commented on #421
we have been doing this for newer opsets.

[2020-07-13 14:02] #421 closed

[2020-07-13 14:05] guschmue commented on #362
assuming this means sparse support. This would need some onnx changes as well as support by onnxruntime before we can do something on this.

[2020-07-13 14:06] guschmue commented on #145
closing, no plan to do this.

[2020-07-13 14:06] #145 closed

[2020-07-13 14:07] guschmue commented on #455
We added support for both.

[2020-07-13 14:07] #455 closed

[2020-07-13 14:10] guschmue commented on #868
I assume this is resolved.

[2020-07-13 14:10] #868 closed

[2020-07-14 06:51] p98-ai opened #1007 "How to specify --inputs-as-nchw?"
**Describe the bug**
How to specify --inputs-as-nchw? Can you give one example.
I want the order to be HWC [Height, Width, Channel] instead of CHW [Channel, Height, Width]
While converting from keras to onnx,
How should I specify this?

[2020-07-14 09:34] zccyman opened #1008 "How to set outputs as nchw?"
[code]
I want to specify the outputs as nchw, not a nhwc format. Have any plan to support it?

[2020-07-14 15:18] guschmue commented on #1007
currently we support only NHWC since it is pretty rare to not have a batch dimension.

[2020-07-14 16:30] guschmue commented on #1008
we don't support this because we have not seen much models where this applies. We'll consider adding an option.

[2020-07-15 02:20] zccyman commented on #1008
@guschmue Thanks. I hope this onnx model can be loaded by tensorRT or OpenCV DNN, and tensorRT or OpenCV DNN support input and output dimension as NCHW formate.

[2020-07-15 15:32] guschmue commented on #981
onnx does not support DecodeWav, AudioSpectrogram and Mfcc.
You'd need to implement this as custom ops in onnxruntime.

[2020-07-15 15:32] #981 closed

[2020-07-16 00:34] kaustav-aarish commented on #1002
If you use this solution, as far as I know (reading from examples/call_coverter_via_python.py and the Python API documentation from the README for tf2onnx.tfonnx.process_tf_graph) you can't directly convert to onnx from a saved pb format. However, I was able to bypass the above error by building tf2onnx from source using:

    pip install git+https://github.com/onnx/tensorflow-onnx

[2020-07-16 14:15] guschmue commented on #795
This was added some time ago, forgot to update this issue:
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/rewriter/gemm_rewriter.py

[2020-07-16 14:15] #795 closed

[2020-07-16 14:21] guschmue commented on #559
attaching this to https://github.com/onnx/tensorflow-onnx/issues/965, somebody is working on it.

[2020-07-16 14:21] #559 closed

[2020-07-16 14:27] guschmue commented on #841
Sorry, there is some resistance internally since all of our packages are wheels.
If the wheel doesn't work for you, maybe we can do something to make it work for you.

[2020-07-16 14:29] guschmue commented on #964
bfloat16 will be added to onnx ops so we need 3 options:
1. map it to float32
2. map it to float16
3. keep it bloat16

[2020-07-16 14:33] guschmue commented on #576
attaching to https://github.com/onnx/tensorflow-onnx/issues/965

[2020-07-16 14:33] #576 closed

[2020-07-16 14:35] guschmue commented on #272
I assume this is resolved.

[2020-07-16 14:35] #272 closed

[2020-07-16 22:03] cheers00 opened #1010 "saved model not found error when I tried to convert .pb to .onnx"
**Describe the bug**
Getting the following error when I tried to convert TF model.pb to onnx.
_OSError: SavedModel file does not exist_

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Tensorflow Version: 2.2.0 (public)
- Python version: 3.6

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here. If the issue is

[2020-07-16 23:21] tkkhuu opened #1011 "How to implement an Atan2 custom op?"
I am trying to implement a conversion for tf.Atan2 and hoping to follow the implementation of Atan, however it is blank in tensorflow-onnx/tf2onnx/onnx_opset/math.py:

[code]

Does this mean I can also do a similar thing to Atan2, something like this:

[code]
or do I have to implement it using the existing layers?

[2020-07-16 23:53] guschmue commented on #1011
onnx doesn't have atan2 but we can maybe compose it with a couple of ops.

[2020-07-17 00:00] tkkhuu commented on #1011
Thanks for your reply, I have attempted implementing using the existing ops:

`@tf_op('MyAtan2')
class MyAtan2:

    @classmethod
    def version_1(cls, ctx, node, **kwargs):
        pass
        atan2(y, x)
        x = node.input[1]
        y = node.input[0]

        y_div_x_node = ctx.make_node('Div', [y, x], op_name_scope=node.name, name='y_div_x_node')
        atan_node = ctx.make_node('Atan',

[2020-07-17 16:24] guschmue commented on #1011
I think you'd need to come up with a new tensor to multiply the results with.
But its tricky because there are multiple cases and you can't use 'If' (since it is not element wise).
Need to think a little about it.
There is some code that does a similar thing to implement Erf before there was a Erf op here:
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/math.py#L421
but you

[2020-07-17 21:34] TomWildenhain-Microsoft commented on #1002
Fixed by #1003

[2020-07-17 21:34] #1002 closed

[2020-07-17 21:36] tkkhuu commented on #1011
I see, thank you for your help, yeah that's the example I'm using to create Atan2

[2020-07-18 00:37] IAMAl commented on #991
@jignparm thank you very much for your many advices, I just can generate the onnx file !

Anyway what is the ```ort_load_model.py``` and what is this purpose ?

[2020-07-18 00:46] jignparm commented on #991
It's a simple scoring script, using OnnxRuntime API to score the model. Have a look the OnnxRuntime repository for more details on  how to use the Python API.

[2020-07-18 05:34] Thinker-or-Dreamer opened #1013 "AttributeError: 'Driver' object has no attribute 'disable_pyfun'"
when I run the efficientdet.ipynb in tutorials,it gives an erro
<ipython-input-15-65245b866a80> in build(self, params_override)
     19             class_outputs, box_outputs = build_model(self.model_name, images, **params)
     20             params.update(
---> 21                 dict(batch_size=self.batch_size, disable_pyfun=self.disable_pyfun))
     22             detections = det_post_process

[2020-07-18 10:03] IAMAl commented on #991
I reinstalled with ```pip install git+https://github.com/onnx/tensorflow-onnx``` but still meet error of
[code]

and could not find where is the ```ort_load_model.py``` including Microsoft's site.

[2020-07-18 22:53] jignparm commented on #991
You have to `pip install onnxruntime`, and then see this example how to use the load/score a model: https://github.com/onnx/onnx-docker/blob/master/onnx-ecosystem/inference_demos/simple_onnxruntime_inference.ipynb

[2020-07-18 23:38] cheers00 commented on #1010
I've to use pass path to saved model, instead of model. Closing this...

[2020-07-18 23:38] #1010 closed

[2020-07-20 18:43] ethanyanjiali commented on #927
Still running into the same issue with tf 2.2 and tf2onnx 1.6.1 or master (1.7.0). @guschmue do we expect a fix soon? thanks.

[2020-07-20 19:08] guschmue commented on #927
There are 2 issues in this issue. You mean the protobuf issue?  @TomWildenhain-Microsoft  made some fix for this but we have not pushed that to pypi yet.

[2020-07-20 19:13] TomWildenhain-Microsoft commented on #927
@ethanyanjiali Try importing `onnx` before `tf2onnx` or install the latest version of `tf2onnx` from git:
`pip install git+https://github.com/onnx/tensorflow-onnx`
Let us know if that does not work.

[2020-07-20 19:29] guschmue commented on #1013
Yes, it keeps changing. Let me update the tutorial to the latest efficientdet

[2020-07-21 09:46] IAMAl commented on #991
Hi,

I do not yet understand how doing the scoring, or what is the scoring ?, is it an inference ?
I referenced your link;
https://github.com/onnx/onnx-docker/blob/master/onnx-ecosystem/inference_demos/simple_onnxruntime_inference.ipynb

I get this error;
[code]

[2020-07-21 16:46] robers97 opened #1014 "failing to determine type of iterable attribute"
Conversion of TF model in 'savedmodel' format to ONNX is failing due to ValueError: You passed in an iterable attribute but I cannot figure out its applicable type.

I am unable to find documentation saying if the TF model must first be preconditioned for input so I'm unclear how to proceed if it is a user error.

TF Graph and SavedModel build:

    x_idxs = tf.placeholder(tf.int64, shape=[None,2]

[2020-07-21 16:48] ethanyanjiali commented on #927
thanks for the prompt feedback. I tried to import `onnx` before `tf2onnx` but it doesn't work.
[code]

my versions are:
[code]

However, if I place `import tf2onnx` before `import tensorflow as tf`, the error went away. It aligns with previous suspicion that tf's protobuf has some conflict with tf2onnx's.

[2020-07-21 22:54] TomWildenhain-Microsoft commented on #1011
The ifs can be handled by using the [WHERE ](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Where) op if you are on opset >= 9

[2020-07-21 22:58] TomWildenhain-Microsoft commented on #1011
And the definitions here may be helpful: [https://en.wikipedia.org/wiki/Atan2#Definition_and_computation](https://en.wikipedia.org/wiki/Atan2#Definition_and_computation)

[2020-07-21 23:07] guschmue commented on #1011
yes, 'where' will do.

[2020-07-22 17:43] #1011 closed

[2020-07-23 08:10] bekor commented on #1007
Hey,

I think I have the same issue. I have to specify input as NCHW because the converter is Transposing the input: https://github.com/opencv/opencv/issues/17917

Is there a workaround to eliminate the transposition when I converting a .pb to onnx?

[2020-07-23 15:23] guschmue commented on #1007
my comment above it a little misleading, let me explain a little better:
```--inputs-as-nchw some_input_name:0``` will insert the transpose but only for NHWC aka rank 4. The original issue wanted HWC (without N) I believe. But in your case ```--inputs-as-nchw some_input_name:0``` should work I believe.

[2020-07-23 15:55] p98-ai commented on #1007
yes i was referring to (with N).
thanks @guschmue ,

[2020-07-23 15:57] guschmue commented on #1007
Oh good, if you have N you should be able to use ```--inputs-as-nchw some_input_name:0```

[2020-07-23 16:48] ralovich opened #1018 "MaxPool3D not supported"
**Describe the bug**
MaxPool3D layers not supported

**Urgency**
If there are particular important use cases blocked by this or strict project-related timelines, please share more information and dates. If there are no hard deadlines, please specify none.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubunut 20.04
- Tensorflow Version: 2.2
- Python version: 3.8

[2020-07-23 16:57] ralovich commented on #461
Could this be please reopened. In the example from https://github.com/onnx/tensorflow-onnx/issues/461#issuecomment-559401157, we can see that multiple other layers are not supported: Conv3DBackpropInputV2, AddV2.

[2020-07-23 17:03] guschmue commented on #461
I think this issue is for Conv3D. Might be easier to just open a new issue for the 3D pooling and Conv3DBackpropInputV2.
AddV2 should be supported https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/math.py#L25 since some time.

[2020-07-23 17:05] guschmue commented on #461
and just reading over @gerbenvv comment - yes, we should add some ut for *3D*

[2020-07-24 08:19] adong7639 commented on #77
thanks  I solve  this  problem

[2020-07-24 11:21] ralovich commented on #1018
Maybe the network in the above reproducer (https://github.com/ralovich/trt-regression) could be used to build a test-case for this?

[2020-07-24 19:57] TomWildenhain-Microsoft commented on #1018
Working on it with #1020

[2020-07-25 00:30] #1018 closed

[2020-07-26 18:39] ralovich opened #1021 "Conv3DBackpropInputV2 layer not supported"
**Describe the bug**
Conv3DBackpropInputV2 layer not supported.

**Urgency**
If there are particular important use cases blocked by this or strict project-related timelines, please share more information and dates. If there are no hard deadlines, please specify none.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Tensorflow Version:
- Python version:

**To Rep

[2020-07-28 16:49] guschmue commented on #1021
@TomWildenhain-Microsoft , want to take a look at this ?

[2020-07-28 16:53] guschmue commented on #1014
We don't really support sparse tensors right now because we have no runtime that implements sparse.
But the error in RestoreV2 is puzzling - since we freeze the graph we should not be seeing the RestoreV2.
Was this using the python api or the command line ?

[2020-07-28 17:33] bronstein87 opened #1024 "Wrong conversion of simple model. Few Transposes and excess input layers"
**Describe the bug**
After conversion from tensorflow graph i get onnx model with few sequential transposes and excess input layers. Here what i'm talking about:
![Снимок](https://user-images.githubusercontent.com/17082585/88699628-3fe6e580-d110-11ea-8f1c-54114763824c.PNG)
![Снимок2](https://user-images.githubusercontent.com/17082585/88699640-41b0a900-d110-11ea-8ce2-8e2107e57ccc.PNG)

**System inf

[2020-07-28 17:47] guschmue commented on #1024
did you use command line or python api?

[2020-07-28 17:52] bronstein87 commented on #1024
Hi. That is code i used to convert:
[code]

[2020-07-28 18:04] guschmue commented on #1024
after tf2onnx.tfonnx.process_tf_graph, add the line (from https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/convert.py#L157):
[code]

[2020-07-28 23:48] M-Tonin opened #1025 "efficientnet post process inconsistency"
**Describe the bug**
A clear and concise description of what the bug is.
Hello guys, I think there is a bug in post process hosted at 'models/vision/classification/efficientnet-lite4/README.md' and
'https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/efficientnet-lite.ipynb'

[code]

**Expected behavior**
I think it would be r, and not r-1;
[code]

**Screenshots**
![image](https://user-i

[2020-07-29 00:22] #1025 closed

[2020-07-29 00:22] M-Tonin commented on #1025
Sorry, it would be reported to onnx/models

[2020-07-29 01:27] guschmue commented on #1025
if it is the tutorial under tensorflow-onnx its perfectly good to file it here.

[2020-07-29 01:54] guschmue commented on #1025
true, the -1 is wrong and I sent a PR to fix it.

[2020-07-29 09:56] wm2012011492 opened #1027 "Is there an option to run tf2onnx without optimizing ONNX model?"
**Describe the bug**
tf2onnx.optimizer might change the graph unexpectedly, which causes trouble for latter onnx2trt convertion.

**System information**
- Linux Ubuntu 18.04:
- Tensorflow Version: 1.15
- Python version: 3.6

**Expected behavior**
tf2onnx provides an option to close optimization step during conversion.

[2020-07-30 01:13] Sgomes14843 commented on #912
Hi, I am having the same problem, did anyone manage to figure this out?

[2020-07-30 07:16] turowicz commented on #912
@svetlanadataper I don't believe this is possible but if you do solve it then please post a solution here.

[2020-07-30 15:48] robers97 commented on #1014
Thank you for the feedback on the runtime.  That was a next step that I'll now reconsider :+1:

It was the command line: python -m tf2onnx.convert --opset 10 --saved-model ./model --output model.onnx

I did not explicitly freeze the graph (input above) before I saved to file.  So I would expect that the RestoreV2 object may indeed be in there unless you tf2convert freezes the graph after load.  Pl

[2020-07-30 16:47] guschmue commented on #1014
--saved-model will freeze the graph for you and only keep the part of the graph needed for inference. The RestoreV2 should have been removed in that process. We sometime see that some Variables are left after freezing but we never saw the RestoreV2 left.
Maybe we can give your code above a try.

[2020-07-30 18:33] robers97 commented on #1014
Here is the code (only ~165 lines with comments):

https://github.com/robers97/HashingDeepLearning/blob/master/python_examples/full_softmax_modelsave.py

Before you invest too much time, my versions are listed above:
Using tensorflow=1.15.3, onnx=1.7.0, tf2onnx=1.6.2/8d5253

If any of these throws a wrench in things, I can work to upgrade.

[2020-07-30 18:48] #965 closed

[2020-07-30 18:49] phager90 opened #1028 "Padding wrongly computed in layers with striding when converting for *.pb file"
**Describe the bug**
The padding is not correctly computed on layers with strides when converting from *.pb files.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.1 LTS
- Tensorflow Version: 2.3.0
- Python version: 3.6.10
- tf2onnx: 1.7.0

**To Reproduce**
Download mobilenet graphdef from google
https://storage.googleapis.com/mobilenet_v2/checkpoints

[2020-07-30 19:17] guschmue commented on #1014
super, thanks. The version you used should be ok. We'll take a look at it.

[2020-07-30 19:37] meatybobby opened #1029 "The outputs shape of onnx model converted from SavedModel is not identical with original shape"
**Describe the bug**
The outputs shape of onnx model is changed after converting from SavedModel.
The original outputs of SavedModel show by `saved_model_cli`:
[code]
The outputs shape of ONNX model converted from SavedModel:
[code]
The shape of outputs "unstack:0" is changed from (-1, 384) to (1, -1, 384). The shape of other outputs are identical. Only this one is changed.

**System information**

[2020-07-30 19:42] #1024 closed

[2020-07-31 02:53] onexuan opened #1030 "Does it support tflite conversion?"
Does it support tflite conversion?

[2020-07-31 10:00] phager90 commented on #945
@jignparm:
I noticed something before in the padding computation that could be related to this issue:

https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/nn.py L240
[code]

If you compare it with the pytorch input/output relation formula:
https://pytorch.org/docs/master/generated/torch.nn.Conv2d.html

Could it be that the dilation term should be instead:
`                + dila

[2020-07-31 10:32] jignparm commented on #945
1. Does making the change above cause your model to pass and run in TRT (you can edit the file manually to test)? If yes, then it may be a real bug, and require a fix in tf2onnx.

1. Can you try running your model using [OnnxRuntime](https://github.com/microsoft/onnxruntime/tree/master/samples#Python) as well? If the model(s) run under OnnxRuntime, it  means tf2onnx is fine, and TRT may require a

[2020-07-31 10:39] jignparm commented on #991
Sorry for late reply. Yes, scoring is same as inference (as shown in the link above).

For the error message above, can you try using the latest version of Onnx, OnnxRuntime and Tf2onnx to see if that resolves the issue?

[2020-07-31 15:02] Zrufy opened #1031 "SSD mobilenetV2 conversion error"
How solve this error?

`2020-07-31 17:01:55,332 - WARNING - Cannot infer shape for Postprocessor/BatchMultiClassNonMaxSuppression/map/while/PadOrClipBoxList/cond/zeros: Postprocessor/BatchMultiClassNonMaxSuppression/map/while/PadOrClipBoxList/cond/zeros:0`

[2020-07-31 17:55] guschmue commented on #1030
Sorry, we don't support tflite.

[2020-07-31 17:55] #1030 closed

[2020-07-31 19:00] guschmue commented on #1031
its just a warning that we don't know the shape of `zero`.
We print it because sometimes there are errors later in the conversion and its helpful to know about missing shapes, especially if a user reports some error and we don't have the model itself.
If that missing shape would be an issue would see some real error message later in the conversion.

[2020-07-31 19:25] quantum-fusion opened #1032 "Tf2onnx has protobuf error"
**Describe the bug**
A clear and concise description of what the bug is.

I am trying to use tf2onnx on MAC.

I am using this command:
python -m tf2onnx.convert --saved-model saved_model.pb --output model.onnx

These are the errors that are produced:
[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/descriptor_database.cc:393] Invalid file descriptor data passed to EncodedDescrip

[2020-08-01 06:06] DayDayupupupup opened #1033 "ValueError: negative dimensions are not allowed"
I tried to convert a SavedModel model to onnx, and then I encountered the following problems. How should I solve them?
Using tensorflow=2.1.0, onnx=1.7.0, tf2onnx=1.7.0/cbffde

2020-08-01 12:05:42,816 - ERROR - Failed to convert node StatefulPartitionedCall/model/j_tags_avg/ln_j_tags_avg/FusedBatchNormV3
OP=BatchNormalization
Name=StatefulPartitionedCall/model/j_tags_avg/ln_j_tags_avg/FusedBatchNo

[2020-08-01 12:24] Zhen-hao opened #1034 "error converting BERT model trained in TF2: StridedSlice: attribute new_axis_mask not supported"
Hi, I don't know how to reproduce it. Hope the following stack print helps.

[code]

[2020-08-03 03:56] IAMAl commented on #991
Hi,

the error is on version of;
‘’’
onnx: 1.7.0
onnxruntime: 1.4.0
tf2onnx: 1.7.0
‘’’

[2020-08-03 13:49] nyanmn opened #1036 "Tensorflow op [CTCGreedyDecoder: CTCGreedyDecoder] is not supported"
I am trying to convert my tensorflow model to ONNX and I have a few errors as follows.
I used latest opset 12.
The conversion command is

`python -m tf2onnx.convert --graphdef numplate_recg.pb --opset 12 --output numplate_recg.onnx --inputs input:0 --outputs d_predictions:0`

The outputs are

[code]

There are three errors
[code]

What should i do with these errors?

[2020-08-03 16:08] TomWildenhain-Microsoft commented on #1021
On it!

[2020-08-03 16:29] TomWildenhain-Microsoft commented on #1021
@ralovich, What is the min version of the ONNX opset you need this to work for?

[2020-08-03 17:01] guschmue commented on #1036
SparseToDense: we don't support sparse tensors in tf2onnx because there is no onnx runtime that supports this yet.
CTCGreedyDecoder: No onnx op to map this too. A custom op in onnxruntime would need to be implemented. We could maybe see if we can compose CTCGreedyDecoder from other ops inside tf2onnx but this might not yield good performance.

I wish I had a better answer for both of those.

[2020-08-03 18:25] FrancPS opened #1037 "Error converting FaceNet model into ONNX format"
**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04
- Tensorflow Version: 2.3.0
- Python version: 3.8.2

**Issue**
I downloaded a tensorflow model of FaceNet from this [page](https://github.com/davidsandberg/facenet), and I'm trying to convert it from .pb into a .onnx file, however it raises the following error:

**To Reproduce**
root@xesk-VirtualBox:/home/xesk/Desktop# pytho

[2020-08-03 18:45] robers97 commented on #1014
note - I updated the config.py today so that it would finish in ~12 min and have that out in the repo now.  Sorry to miss that detail before.  Otherwise it runs for a long time before the model is saved.

[2020-08-03 19:44] guschmue commented on #1037
```--saved-model``` needs to be the directory of the saved-model. But I belief in this case the model comes as a checkpoint so you'd might need to use ```--checkpoint```. If you use a checkpoint you need to also pass in ```--inputs``` and ```--outputs``` since the checkpoint does not have that information.

[2020-08-03 19:58] FrancPS commented on #1037
Thanks for the answer, that is probably it. In this case, how do i know what are the inputs and outputs of this model?

The command would be this one I guess
`python -m tf2onnx.convert --checkpoint tensorflow-model-meta-file-path --output model.onnx --inputs input0:0,input1:0 --outputs output0:0`

So, what should I look for, to write there?

[2020-08-03 20:43] guschmue commented on #1037
For the inputs, look for 'Placeholder' in the source code.
Output is hard to find - I'd look for some demo/example that runs the inference ... like session.run([the_output:0], feed_dict=...)

[2020-08-03 23:09] guschmue commented on #1032
what version of tf2onnx is this ? There was a fix recently for osx.

[2020-08-04 00:53] nyanmn commented on #1036
May I know if you compose CTCGreedyDecoder, when would be updated?
For SparseToDense, any suggestions? Should I make custom op in Onnx or what should I do?
If I need custom op for SparseToDense, may I have link how to make custom op in Onnx?

[2020-08-04 01:08] guschmue commented on #1036
we have no concrete plan for CTCGreedyDecoder since that alone would not help you.
For the SparseToDense - that depends on the runtime but its probably more work to ingrate this into a runtime. If you use onnxruntime github.com/microsoft/onnxruntime will have some instructions how to implement custom ops

[2020-08-04 06:36] dfvr1994 opened #1038 "'Wrong wire type in tag' error when trying to convert .pb to ONNX"
**Describe the bug**
I'm using the following command to convert the frozen pb model to ONNX with no success

`python -m tf2onnx.convert --graphdef saved_model.pb --output frozen.onnx --fold_const --opset 10 --inputs image_tensor:0 --outputs num_detections:0,detection_boxes:0,detection_scores:0,detection_classes:0`

**System information**
- Windows 10
- Tensorflow Version: 2.3.0
- Python version: 3

[2020-08-04 07:34] jignparm commented on #991
Adding @TomWildenhain-Microsoft , @guschmue for further help as needed.

[2020-08-04 08:27] Zrufy commented on #1031
@guschmue do you have any advice to bring this ssd from tensorflow to onnx?
https://github.com/pierluigiferrari/ssd_keras

[2020-08-04 11:11] quantum-fusion commented on #1032
Hello, I checked the versioning information, and it reports version 1.7.0

----
python -m tf2onnx.convert —saved-model saved_model.pb —output model.onnx
[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/descriptor_database.cc:393] Invalid file descriptor data passed to EncodedDescriptorDatabase::Add().
[libprotobuf FATAL external/com_google_protobuf/src/google/protobuf/descriptor

[2020-08-04 12:24] ralovich commented on #1021
We would like the resulting onnx files to be consumed by TensorRT (7+). The opset should be supported by TensorRT, however I do not know what version that means.

I have developed a patch that appears to work for our networks, waiting for legal to clear it. Hopefully will be able to post it later today.

[2020-08-04 14:28] guschmue commented on #1031
As far I can tell this is an old keras h5 checkpoint. You'd need to get this into a tensorflow frozen graph or a tensorflow saved-model so tf2onnx can load the checkpoint. Search for 'freeze keras model' should return some scripts to do this.

Easier might be to use [keras2onnx converter](https://github.com/onnx/keras-onnx) to convert directly from keras.

[2020-08-04 14:57] guschmue commented on #1038
This looks like a saved-model format. So you'd do you can:
[code]
That loads but we throw some error while processing a loop:
[code]

We'll take a look.

[2020-08-04 15:03] guschmue commented on #1027
currently not since the graph would look horrible (like lots of transposes, cases and identities).
But the optimizer should not do anything that violates the onnx spec.

If this is a one time need you could comment out this line:
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/convert.py#L157

Else we can add a command line option.

[2020-08-04 15:20] guschmue commented on #1028
The pads in onnx are in the format [x1_begin, x2_begin...x1_end, x2_end]
https://github.com/onnx/onnx/blob/master/docs/Operators.md#conv

[2020-08-04 15:29] guschmue commented on #1029
yes, that doesn't look right. We'll look at it.

[2020-08-04 15:39] guschmue commented on #1032
Fyi @TomWildenhain-Microsoft

[2020-08-04 16:13] TomWildenhain-Microsoft commented on #1032
I'll take a look

[2020-08-04 16:15] quantum-fusion commented on #1032
I am trying to see if I see the same issue on CentOS and am creating a virtual environment under Parallels on MAC.  I will let you know what I find.  It is the same repo, and version 1.7.

[2020-08-04 16:18] TomWildenhain-Microsoft commented on #1032
I expect it will work on CentOS.  The Abort trap: 6 error is a Catalina permissions issue. https://dbaontap.com/2019/11/11/python-abort-trap-6-fix-after-catalina-update/

[2020-08-04 16:40] quantum-fusion commented on #1032
I tried, it and still same error on MACOS after installing your recommended fix.
The CentOS path, seems to have some dependency complications as well, I will continue to investigate that option, but the MACOS fix, failed. Unfortunately.

%python setup.py develop
running develop
running create_version
running build
running build_py
copying tf2onnx/version.py -> build/lib/tf2onnx
running egg_info
wr

[2020-08-04 16:42] TomWildenhain-Microsoft commented on #1032
Ok, I'll take a look now and try to reproduce it.

[2020-08-04 16:55] quantum-fusion commented on #1032
The CentOS path is looking pretty bad lots of build and compile errors.  I have a second option to use OpenVino by Intel.  (https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_TensorFlow.html)

[2020-08-04 17:11] quantum-fusion commented on #1032
Do you think that there is a format error, due to the fact that I am testing with a Tensorflow Keras model?

[2020-08-04 17:12] quantum-fusion commented on #1032
This is the error that the Intel OpenVINO converter provided, "[ FRAMEWORK ERROR ]  Cannot load input model: TensorFlow cannot read the model file: “/Users/h/Keras/my_model/saved_model.pb” is incorrect TensorFlow model file. "

[2020-08-04 17:13] TomWildenhain-Microsoft commented on #1032
Can you send me the model (or a simplified model with the same error)?

[2020-08-04 17:16] quantum-fusion commented on #1032
Here you go:
https://www.dropbox.com/s/d17nm6j1xibfwd8/my_model.tar?dl=0

[2020-08-04 17:16] quantum-fusion commented on #1032
Let me know when you have the model, I produced it in Keras.

[2020-08-04 17:17] TomWildenhain-Microsoft commented on #1032
Got it.

[2020-08-04 17:37] TomWildenhain-Microsoft commented on #1032
Conversion works for me on Windows.  I'll test it on Mac OS.  In the interval, here's the converted model: https://www.dropbox.com/s/85la6irdbtxdvhb/failingmodel.onnx?dl=0

[2020-08-04 17:38] quantum-fusion commented on #1032
I have windows10.  Do you know how to install the converter on Windows?  Let me know.

[2020-08-04 17:41] TomWildenhain-Microsoft commented on #1032
It should be the same as MacOS/Linux.  Create a venv, run:
`pip install tensorflow`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2020-08-04 17:42] TomWildenhain-Microsoft commented on #1032
Let me know if you have any issues.

[2020-08-04 17:43] quantum-fusion commented on #1032
This might work (https://github.com/onnx/onnx-docker/blob/master/onnx-ecosystem/converter_scripts/keras_onnx.ipynb)

[2020-08-04 17:45] TomWildenhain-Microsoft commented on #1032
It's worth noting that we do have a dedicated Keras converter, independent from tf2onnx: https://github.com/onnx/keras-onnx

[2020-08-04 18:09] quantum-fusion commented on #1032
I installed (https://pypi.org/project/keras2onnx/), see python file (https://www.dropbox.com/s/8aj6z135nwf6i9j/classifyimagesClothing.py?dl=0) , however there is still two errors.

It doesn't make any sense, because I followed the install instructions.  Take a look at the code.

The whole idea of this, was to get an ONNX model so I can model host it.

----
1.) from MACOS command line
python classi

[2020-08-04 18:19] TomWildenhain-Microsoft commented on #1032
You should not get different results from the Mac OS Terminal and VS code.  Is it possible that the venv is activated in VS Code but not in Terminal?  VS Code will activate the venv by default while Mac OS will not.  You need to run `source path/to/venv/bin/activate to activate it.

[2020-08-04 18:20] TomWildenhain-Microsoft commented on #1032
I think anything with Abort trap 6 is likely a Mac OS error.  Were you able to try on Windows?

[2020-08-04 18:23] quantum-fusion commented on #1032
YOu were right.  If I do venv, then it is the same result.

Vscode executes a venv internally

python classifyimagesClothing.py
[libprotobuf ERROR google/protobuf/descriptor_database.cc:394] Invalid file descriptor data passed to EncodedDescriptorDatabase::Add().
[libprotobuf FATAL google/protobuf/descriptor.cc:1356] CHECK failed: GeneratedDatabase()->Add(encoded_file_descriptor, size):
libc++abi.

[2020-08-04 18:26] quantum-fusion commented on #1032
I tried installing CentOS, and it was a train wreck.  I will try windows.  I have ubuntu with windows10.

[2020-08-04 19:01] quantum-fusion commented on #1032
I am installing Python and VENV on Windows10 under Ubuntu (https://www.liquidweb.com/kb/how-to-setup-a-python-virtual-environment-on-windows-10/).  I will keep you posted, when I have more data. thank you

[2020-08-04 19:06] TomWildenhain-Microsoft commented on #1032
You should be able to do it directly on Windows.  You don't need to install it in the Ubuntu subsystem.

[2020-08-04 20:39] quantum-fusion commented on #1032
It looks like windows is confused over the version of python it needs. It is installing tensorflow to python2.7, but there is python 3.6.9 as well.

Note: It is the same model that you were provided.

See error messages:

python -m tf2onnx.convert --saved-model saved_model.pb --output saved_model.onnx
2020-08-04 16:29:43.971161: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could

[2020-08-04 20:44] TomWildenhain-Microsoft commented on #1032
You must activate a python3 virtual environment.  Run "python3 -m venv path/to/venv" to create one.  Then activate it by running the activate.bat file from the command line.  The message to the left of the prompt indicates which venv is active.

[2020-08-04 20:50] TomWildenhain-Microsoft commented on #1027
What problems in onnx2trt conversion are you facing, and how is the optimizer causing an issue?

[2020-08-04 20:53] TomWildenhain-Microsoft commented on #1028
Is there a different reason you believe this model to be converting incorrectly?

[2020-08-04 21:03] #1007 closed

[2020-08-04 21:26] quantum-fusion commented on #1032
When using python3 virtual env, and then pip install tensorflow, the build fails on grpcio.

Therefore, I am investigating, [Python] pip install grpcio fails on Python 3.8 - Windows 10
https://github.com/grpc/grpc/issues/20831

I did : pip install grpcio==1.27.2

It looks like it worked.

Stay tuned.

[2020-08-04 21:36] quantum-fusion commented on #1032
That got closer. See the resulting warnings.

[my_Python3] % python -m tf2onnx.convert --saved-model ./my_model/saved_model.pb --output saved_model.onnx
/mnt/c/Users/h/my_Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) /

[2020-08-04 21:38] quantum-fusion commented on #1032
It appears to think that the SavedModel does not exist.

However, I verify that this is not true.

OSError: SavedModel file does not exist at: ./my_model/saved_model.pb/{saved_model.pbtxt|saved_model.pb}
[my_Python3] % ls -lrt ./my_model/.pb
-rwxrwxrwx 1 h h 74064 Jul 31 10:35 ./my_model/saved_model.pb

[2020-08-04 21:41] TomWildenhain-Microsoft commented on #1032
When you run the convert command, please provide the path to the folder containing saved_model.pb.  Ex: use ./my_model not ./my_model/saved_model.pb.

[2020-08-04 21:41] quantum-fusion commented on #1032
[my_Python3] % python -m tf2onnx.convert --saved-model ./my_model --output saved_model.onnx
/mnt/c/Users/hottelet/my_Python3/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8,

[2020-08-04 21:41] quantum-fusion commented on #1032
much closer, but still errors out.

[2020-08-04 21:44] quantum-fusion commented on #1032
Is this the proper command?  "python -m tf2onnx.convert --saved-model ./my_model --output saved_model.onnx"

[2020-08-04 21:45] TomWildenhain-Microsoft commented on #1032
Yes.  Can you run "pip list" and give me the result?

[2020-08-04 21:45] quantum-fusion commented on #1032
pip list
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
absl-py (0.9.0)
astor (0.8.1)
certifi (2020.6.20)
chardet (3.0.4)
gast (0.3.3)
google-pasta (0.2.0)
grpcio (1.27.2)
h5py (2.10.0)
idna (2.10)
importlib-metadata (1.7.0)
Keras-App

[2020-08-04 21:46] quantum-fusion commented on #1032
tensorflow is installed, and tf2onnx 1.7.0 is installed.

[2020-08-04 21:48] TomWildenhain-Microsoft commented on #1032
I'm using tensorflow 2.2.0 and it works.  Theoretically it should work on TF 1.14.0, but can you update and give it a shot?

[2020-08-04 21:54] quantum-fusion commented on #1032
Am I mistaken, and should I be using keras-onnx (https://pypi.org/project/keras2onnx/) ?

[2020-08-04 22:04] TomWildenhain-Microsoft commented on #1032
Feel free to try keras2onnx.  Both should work, though the results might be different.

[2020-08-04 23:51] quantum-fusion commented on #1032
It looks like the versioning system with pip has completely croaked.

--

 pip install tensorflow==2.2.0
Collecting tensorflow==2.2.0
  Could not find a version that satisfies the requirement tensorflow==2.2.0 (from versions: 0.12.1, 1.0.0, 1.0.1, 1.1.0rc0, 1.1.0rc1, 1.1.0rc2, 1.1.0, 1.2.0rc0, 1.2.0rc1, 1.2.0rc2, 1.2.0, 1.2.1, 1.3.0rc0, 1.3.0rc1, 1.3.0rc2, 1.3.0, 1.4.0rc0, 1.4.0rc1, 1.4.0, 1.4.1,

[2020-08-04 23:56] quantum-fusion commented on #1032
python3 -m pip install --upgrade pip
https://github.com/tensorflow/tensorflow/issues/39265

 python3 -m pip install tensorflow==2.2.0

Its loading now....

[2020-08-05 00:22] quantum-fusion commented on #1032
pip list
Package                Version
---------------------- ---------
absl-py                0.9.0
astor                  0.8.1
astunparse             1.6.3
cachetools             4.1.1
certifi                2020.6.20
chardet                3.0.4
gast                   0.3.3
google-auth            1.20.0
google-auth-oauthlib   0.4.1
google-pasta           0.2.0
grpcio                 1.27.2
h5

[2020-08-05 00:28] quantum-fusion commented on #1032
python -m tf2onnx.convert --saved-model ./my_model --output ./my_model/model.onnx
2020-08-04 20:27:55,044 - WARNING - '--tag' not specified for saved_model. Using --tag serve
2020-08-04 20:27:55,276 - INFO - Signatures found in model: [serving_default].
2020-08-04 20:27:55,276 - WARNING - '--signature_def' not specified, using first signature: serving_default
WARNING:tensorflow:From /mnt/c/Users/h

[2020-08-05 00:29] quantum-fusion commented on #1032
It appears that there are a few bytes difference between model.onnx and failingmodel.onnx

[2020-08-05 00:31] quantum-fusion commented on #1032
It looks like success.

[2020-08-05 00:32] quantum-fusion commented on #1032
Do you have a model server that you like?  I was going to try multi-model-server (https://github.com/awslabs/mxnet-model-server/blob/master/docs/model_zoo.md)

[2020-08-05 00:33] quantum-fusion commented on #1032
https://pypi.org/project/mxnet-model-server/

[2020-08-05 01:43] IAMAl commented on #991
Additional info: onnx file is readable (I think no issue)

[2020-08-05 05:02] dfvr1994 commented on #1038
Hi @guschmue ,

I couldn't reproduce your error.

I tried this code `python -m tf2onnx.convert --saved-model "path of folder containing the .pb model" --output saved-model.onnx --opset 10`  under on 2 separate environments:

Python 3.8.5, tensorflow Version: 2.3.0 - Error: 'ValueError: Failed to import metagraph, check error log for more info..'

`2020-08-04 23:50:08.385766: W tensorflow/stream_ex

[2020-08-05 06:44] dfvr1994 commented on #1038
Netron displays:

MODEL:
![image](https://user-images.githubusercontent.com/45764991/89380190-ba89a500-d6bc-11ea-95b5-5b29e383b2b3.png)

INPUT:
![image](https://user-images.githubusercontent.com/45764991/89380106-96c65f00-d6bc-11ea-8621-b5ca7f52591f.png)

OUTPUT:
![image](https://user-images.githubusercontent.com/45764991/89380412-0ccac600-d6bd-11ea-9a1b-d5b8aaa3272b.png)

[2020-08-05 07:32] phager90 commented on #1028
Hi Tom,
I checked this again.
I was doing a 1:1 comparison of the exported ONNX file of the same network (mobilenet) once exported from Pytorch and once exported from Tensorflow. I was expecting to get the same convolution arguments for all operations.

I did not thought about the padding discrepancy between TF and Pytorch (#4 ):

![image](https://user-images.githubusercontent.com/9904169/89383230

[2020-08-05 07:32] #1028 closed

[2020-08-05 09:16] phager90 opened #1039 "Conversion Artifacts in MobileNetv3 on h-Swish, h-Sigmoid"
**Describe the bug**
When converting MBv3 the additive terms (+3) in the h-Swish and h-Sigmoid activation (https://arxiv.org/pdf/1905.02244.pdf) are not initializers within the 'Add'-node but broadcasted from one common reshape node.

**Urgency**
none

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.1 LTS
- Tensorflow Version: 2.3.0
- Python version:

[2020-08-05 09:51] zhaiyubo opened #1040 "An error about Protobuf size limits : tensorflow.GraphDef exceeds maximum protobuf size of 2GB"
**Describe the bug**
I'm using the following command to convert Tensorflow model to ONNX, then an error occurred

       python3 -m tf2onnx.convert --saved-model ./tfModel/ --output ./onnxModel

**System information**
- OS Platform and Distribution : Red Hat 4.8.2-16
- Tensorflow Version: 2.2
- Python version: 3.6.8

[arthurzhai@VM-44-159-centos ~/onnxTest]$ python3 -m tf2onnx.convert --saved-mode

[2020-08-05 13:03] quantum-fusion commented on #1032
I am investigating two model servers, but ultimately want to model serve ONNX models.

The question that I had for you, is do you know if your tf2onnx can generate the signature.json and synset.txt files.  Those files are needed in order to run the ONNX model in the MxNet model server.

Second, if you happen to know where to get the asset files, that would be great, I did locate them, but couldn't

[2020-08-05 14:09] guschmue commented on #1038
FusedBatchNormV3 came in after tf-1.13 and it can't load this model. tf-1.14 or tf-1.15 should work.
I was able to load your model on tf-2.3 with:
[code]
but hit this issue
```enter_node = [n for n in merge_node.inputs if n.type == 'Enter'][0] ```
which I think is a tf2onnx issue.

[2020-08-05 14:16] guschmue commented on #1039
Oh, you mean the reshape(const, const) can be constant folder?
Yes, good observation and something we can fix.

[2020-08-05 14:40] dfvr1994 commented on #1038
I'm getting a different error, am I missing a library?

[code]

folder structure:
![image](https://user-images.githubusercontent.com/45764991/89426283-9bf8cd80-d6ff-11ea-8673-b3a633a010e1.png)

[2020-08-05 15:16] guschmue commented on #1038
I had a cpu build installed. If I use a gpu I see the same error that you see. Wired.

[2020-08-05 15:34] dfvr1994 commented on #1038
Do you mean you a GPU build installed? I do not have a GPU...

[2020-08-05 15:47] guschmue commented on #1038
```pip install tensorflow``` has gpu support and shows your error. ```pip install tensorflow-cpu``` does not and you'll get the error I see. grappler seems to be impacted by this. We turn on some logging for grappler to see what it is complaining about.

[2020-08-05 15:56] TomWildenhain-Microsoft commented on #1040
Unfortunately we can't convert models that exceed the maximum protobuf size.  This is a known issue and is on our todo list.

[2020-08-05 16:05] guschmue commented on #847
I assume this is no longer a issue.

[2020-08-05 16:05] #847 closed

[2020-08-05 16:07] guschmue commented on #822
closing because this is a onnx issue.

[2020-08-05 16:07] #822 closed

[2020-08-05 16:08] guschmue commented on #798
closing because this needs onnx support.

[2020-08-05 16:08] #798 closed

[2020-08-05 16:09] guschmue commented on #762
closing - nothing we can do in tf2onnx without onnx support.

[2020-08-05 16:09] #762 closed

[2020-08-05 16:10] guschmue commented on #927
fyi @TomWildenhain-Microsoft

[2020-08-05 17:17] dfvr1994 commented on #1038
I see...how can we solve this? Any work-around?

[2020-08-05 18:43] Zhen-hao commented on #1034
I found a workaround with `keras2onnx`.
closing because I don't have a good way to reproduce it.

[2020-08-05 18:43] #1034 closed

[2020-08-05 19:01] quantum-fusion commented on #1032
I got very close, but due to limited documentation on ONNXRuntime failed on importing the model.

I created a custom ONNX model called ONNX.model. (https://www.dropbox.com/s/23tkd88bzeqk3uy/model.tar?dl=0)

I wish to run it on the onnxruntime server, and then show it a picture kitten.jpg , like in this example that was a juypter notebook (https://github.com/onnx/tutorials/blob/master/tutorials/Onn

[2020-08-05 19:01] quantum-fusion commented on #1032
Any idea?

[2020-08-05 19:02] quantum-fusion commented on #1032
The dependencies are closed, for 1.) Onnxruntime that Microsoft supports. (https://microsoft.github.io/onnxruntime/)
The OnnxRuntimeServerSSDModel Jupiter notebook requires two dependencies.

[2020-08-05 19:19] TomWildenhain-Microsoft commented on #1032
Could you please make a new GitHub issue for this?  Thanks!

[2020-08-05 19:20] TomWildenhain-Microsoft commented on #1032
I've determined that the original issue is a bug in ONNX: https://github.com/onnx/onnx/issues/2940

[2020-08-05 19:20] #1032 closed

[2020-08-05 19:40] quantum-fusion commented on #1032
I opened the other issue, https://github.com/onnx/tutorials/issues/211
The engineer states, that the ONNX server can not take an image directly.
That means that there is some ambiguity on how the REST API Works.

[2020-08-06 02:44] zhaiyubo commented on #1040
@TomWildenhain-Microsoft Thanks for your reply. I wonder if only tf2onnx has a 2GB size limit, or pytorch2onnx , caffe2onnx  also have the limit.

[2020-08-06 05:48] llk2why commented on #755
@guschmue Hi, I am wondering whether this issue exists because of the lack of tf-2.0 support? I encountered the same problem, but I am not sure whether it results from the same reason.

[2020-08-06 07:44] phager90 commented on #1039
Yes, I meant the constant folding, i.e., to have the constant 3 inside the Add node.
(same as with "B"-operand for the mult node in the screenshot above)

[2020-08-06 09:48] phager90 commented on #1039
@guschmue:
I had some time and I patched this locally on my installation:

in `tf2onnx/optimizer/const_fold_optimizer.py` I added:
[code]

If you want the patch via pull request let me know.
[but I cannot write a unit test for it at this point for it...]

[2020-08-06 13:45] guschmue commented on #1039
contributions are very welcome and since you already have the fix - yes please. We can take care of the unit test.

[2020-08-06 13:54] guschmue commented on #755
tf-2.x is supported for some time now and has not given us much trouble.
What error do you see?

[2020-08-06 14:01] guschmue commented on #1040
pytorch exporter does support >2GB but you need to call it with torch.onnx.export(..., use_external_data_format=True).
caffe2onnx has the 2GB issue.

tf2onnx doesn't do it yet for 2 reasons:
* we have not added the support for the external data format (that should not be to hard to add)
* we call tensorflow convert_variables_to_constants_v2() and that itself seems to have an issue

[2020-08-06 14:02] guschmue commented on #1014
Seems to be ok to close. As soon there is support for Sparse we'd add the needed changes and test it as well.

[2020-08-06 14:02] #1014 closed

[2020-08-07 00:51] plin47 opened #1043 "Exception list index out of range"
**Describe the bug**
I got my trained model, a saved_model.pb, from AutoML Vision Object Detection
Next, I used the following command to convert the .pb model to .onnx, then an error occurred

`python3 -m tf2onnx.convert --saved-model ./input --output ./model.onnx`

**System information**
OS: Ubuntu 18.04.4 LTS
Python: 3.6.9
Tensorflow: 1.15.2

**Error Message**
WARNING:tensorflow:From /home/atgcv

[2020-08-07 02:47] llk2why commented on #755
tensorflow==2.2
tf2onnx=1.6.3
model: [keras bert](https://github.com/CyberZHG/keras-bert)

command
`
python -m tf2onnx.convert \
    --saved-model bert-mini-model.pb \
    --output $BERT_ONNX_FILE \
    --opset 11 \
    --verbose \
    --fold_const
`

`
2020-08-07 10:41:16,918 - WARNING - tf2onnx.tf_loader: '--tag' not specified for saved_model. Using --tag serve
2020-08-07 10:41:32,541 - INFO - t

[2020-08-07 09:34] zhaiyubo commented on #1040
@guschmue Very clear explanation. Thanks a lot

[2020-08-07 15:13] wm2012011492 commented on #1027
In my case, tf2onnx optimizer will not cause any accuracy issue but it changes the graph like combining two weights which are used by two Add op. When it comes to refitting a TRT engine, we need the onnx op or weight name, which has been changed by tf2onnx optimzier. So it might cause trouble in TRT refitting.

[2020-08-07 15:34] robers97 opened #1044 "Tensorflow op [batch_join: QueueDequeueUpToV2] is not supported"
**Describe the bug**
2020-08-07 15:13:14,603 - ERROR - Tensorflow op [batch_join: QueueDequeueUpToV2] is not supported
2020-08-07 15:13:19,636 - ERROR - Unsupported ops: Counter({'QueueDequeueUpToV2': 1})

I apologize in advance if there is a support op list that I should have cross referenced ahead of this.  I did look, but I didn't find one.  I figure that might be more trouble than its worth, b

[2020-08-07 16:17] #1039 closed

[2020-08-07 17:21] ralovich commented on #1021
https://github.com/onnx/tensorflow-onnx/pull/1045

[2020-08-07 17:42] #1021 closed

[2020-08-07 18:22] TomWildenhain-Microsoft commented on #945
I can confirm that there is a bug with padding and am working on a fix.

[2020-08-07 20:20] TomWildenhain-Microsoft commented on #1044
Since ONNX doesn't have a queue datatype, our current solution for QueueDequeue ops is to remove them and make graph inputs that wire to their outputs.  I've added a similar solution in #1047

[2020-08-07 20:47] robers97 commented on #1044
I wondered what would be the best option without queues on the onnx operator list.
As part of my poking around the web, I found this discussion on the topic which seems to validate your approach.

https://groups.google.com/a/tensorflow.org/forum/#!topic/tfjs/jNZ2Uv6NQBc

[2020-08-08 05:16] dfvr1994 commented on #1038
Hi, any update on this?

[2020-08-09 06:23] Narasimha1997 opened #1048 "Sparse2Dense layer not supported"
I am trying to convert [Universal Sentence encoder](https://tfhub.dev/google/universal-sentence-encoder-lite/2) lite given by Tensorflow Hub. When I try to convert it with opset 12, I get the error saying that the operation `Sparse2Dense` is not supported.

Here is the error I am getting :
[code]
However this op is available in Tensorflow and I have read we can add custom ops by mapping them, but

[2020-08-09 12:07] IAMAl commented on #991
@jignparm ,
I have one-step progress;

At line 84 in inference.py,
[code]
modify as
[code]
Then error is changed as;
[code]
Regarding ```pybind11```, some discussion is here;
```std::array in constructor: incompatible constructor arguments #955```
https://github.com/pybind/pybind11/issues/955
Someone says that include ```pybind11/stl.h``` is needed.
What does this mean ?

[2020-08-09 12:28] IAMAl commented on #991
I modified the line as follows;
[code]
Then error is;
[code]
This thread discusses the error;
Cannot run bertsquad-10.onnx on Ubuntu #306
[code]
https://github.com/onnx/models/issues/306

[2020-08-10 14:17] guschmue commented on #1048
SparseToDense comes from tf.sparse.to_dense(). As far I know there is no onnx op we could map this too but we can take a look if there is a way of composing this with some other ops.

[2020-08-10 15:57] robers97 commented on #1044
Tom,

I download your commit and found it did not work due to a slight issue with syntax.
I'm really rusty with commits and may not have access to commit to the project, but here's a diff.  Notice the brackets.

diff --git a/tf2onnx/onnx_opset/generator.py b/tf2onnx/onnx_opset/generator.py
index f30cfa7..b81d6fb 100644
--- a/tf2onnx/onnx_opset/generator.py
+++ b/tf2onnx/onnx_opset/generator.py
@@

[2020-08-10 16:07] TomWildenhain-Microsoft commented on #1044
Shoot.  You're right.  I'll fix it.  Thanks!

[2020-08-10 16:12] TomWildenhain-Microsoft commented on #945
@yamiyukiharu I made a change but I don't know if it fixed your bug.  Let me know if this is still an issue.

[2020-08-10 16:25] guschmue commented on #991
How about
[code]
?

[2020-08-10 17:33] TomWildenhain-Microsoft commented on #1044
Fixed by #1050

[2020-08-10 17:33] #1044 closed

[2020-08-11 09:01] KellyZhang2020 opened #1051 "The tfonnx.process_tf_graph() can not specify the middle layer of the model as the input of the model."
[code]

**System information**
- Tensorflow Version:
2.3.0
- Python version:
3.8

**To Reproduce**
No matter if the `input_names` I specify is `[‘x:0’]` or `[‘y:0’]`, the print of `onnx_graph.inputs` is `[<onnx op type='Placeholder' name=x>]`

**Expected behavior**
I hope when i specify the ` input_names` as `['y:0']`, the the print of `onnx_graph.inputs` is `['y:0']`.

[2020-08-11 15:02] guschmue commented on #1051
We need to see a Placeholder for the input to take it as input.

[2020-08-12 04:11] witsang opened #1052 "Missing shape information for Bias for LSTM cells"
Hi,

I am trying to run the model exported with tf2onnx in C++ with onnxruntime.  When it tries to transform on one of the nodes in the lstm cells, it crashes in ln 98 in this file
https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/core/optimizer/matmul_add_fusion.cc
because bias_shape is nullptr

The node it is transforming is:
matmul_node: default_policy/model/lstm/lstm_cell/MatMul

[2020-08-12 20:07] guschmue commented on #1052
You could try running is with the optimizer in onnxruntime turned off (via session options). If that runs it is a onnxruntime issue.

[2020-08-12 21:12] witsang commented on #1052
Thanks @guschmue for the suggestion.  It now loads the session fine with session_options.SetGraphOptimizationLevel(GraphOptimizationLevel::ORT_DISABLE_ALL);

But it crashes when it runs the session.
Non-zero status cod return while running MatMul node.  Name:'default_policy/functional_1/logits/Tensordot/matMul'

StatusMessage: Not satisfied K_ == right_shape[right_num_dims - 1]

Is this more a que

[2020-08-13 01:20] hoaquocphan opened #1062 "Non-zero status code returned while running Conv node"
I converted the saved model **saved_model.pb** created from https://github.com/atomicbits/posenet-python to onnx model with below command:
`python3 -m tf2onnx.convert --saved-model /mobilenet_float_100/stride16 --output mobilenet_stride16.onnx`

when load onnx model, it can print out input,output size,dim correctly,
but when run it, it have the error as below:

So could anyone help me to fix this

[2020-08-13 01:23] guschmue commented on #1062
what version of tf2onnx and onnxruntime was this?

[2020-08-13 01:26] guschmue commented on #1052
With GraphOptimizationLevel::ORT_DISABLE_ALL I'd blame it on tf2onnx for now. What version of tf2onnx is this ?

[2020-08-13 01:36] witsang commented on #1052
I tried tf2onnx-1.7.0 and tf2onnx-1.6.3 the same error.
onnxruntime is 1.3.1 githash: ccbf49e59f6bef897a94595e2213263b37d64ff3

[2020-08-13 02:09] hoaquocphan commented on #1062
Hi @guschmue
Thanks for your reply.

the version of onnxruntime is 1.0.0
about  tf2onnx:
I clone the master branch with commit below:

[code]
I guess it is tf2onnx-v1.6.3

[2020-08-13 02:21] guschmue commented on #1062
Hm, onnxruntime-1.0 is really old. Maybe try onnxruntime-1.4 ... lots of fixes when into there. If that still fails we'll look into tf2onnx.

[2020-08-13 04:25] hoaquocphan commented on #1062
Hi @guschmue

I just follow your guide:
1/ build onnxruntime 1.4.0
[code]

2/ re-run my app to run onnx model after converting, the error still occur same and it also have more error as below:

So could you check and give me your support?
Thanks

[2020-08-13 19:24] TomWildenhain-Microsoft commented on #1062
It looks like there's a conv node with dilation > 1.  During conversion, we don't use autopadding unless the input dimensions to the model are unknown.  If the model really does have a conv node with unknown input dimensions and dilation > 1, it looks like ONNX runtime can't run it yet.  Otherwise, there's a bug in the converter.

[2020-08-14 12:32] Fax3D opened #1064 "Cannot convert from saved_model"
**Describe the bug**
I got an error trying to convert from a saved_model.pb builded with tensorflow 2.3.0:

`Traceback (most recent call last):
  File "C:\Program Files\Python38\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Program Files\Python38\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\xxx\AppData

[2020-08-14 17:42] TomWildenhain-Microsoft commented on #1064
The converter is saying that it couldn't find any signatures on the model.  A signature specifies the inputs/outputs that a model supports (https://www.tensorflow.org/guide/saved_model#specifying_signatures_during_export).  If you still want to convert a function without any signatures, you can tell the converter to use a specific concrete function from the model using the --concrete_function flag

[2020-08-17 02:52] nyanmn opened #1065 "RuntimeShape::ExtendedShape in Tensorflow"
Trying to implement custom ops in onnxruntime for TF's SparseToDense.
It has

`const RuntimeShape output_shape = RuntimeShape::ExtendedShape(4, unextended_output_shape);`

Where can I refer how RuntimeShape::ExtendedShape works? Any similar concept in ONNX?

How does input unextended_output_shape look like?

The whole code is as follows.

[code]

[2020-08-17 09:13] heizie opened #1066 "(Urgent) get wrong outputs after converting (Urgent)"
**Describe the bug**
the outputs of converted onnx model is far different as the tf2 pb model.
I've used `tf2onnx` to convert the pb file from tf 2.2. I've already tried diffent arguments.
like using `op 11, fold_const`, and transfer to nchw (i'm using onnx for TRT), and also use the 3rd party `onnx-simplifier`. None of these helps, and their output are wrong in the same way.

**What i think could

[2020-08-17 11:04] axeldavy commented on #765
Just for info, the conversion bug is still there with tf2onnx 1.6.3 and tensorflow 2.3.0, and my fix still helps it work seemingly correctly.

[2020-08-18 06:49] sparsh-b opened #1067 "Issues while installing tf2onnx"
I issued this command `pip install -U tf2onnx`
And, the below was the output:

Collecting tf2onnx
  Downloading tf2onnx-1.6.3-py3-none-any.whl (185 kB)
     |████████████████████████████████| 185 kB 727 kB/s
Requirement already satisfied, skipping upgrade: six in /usr/lib/python3/dist-packages (from tf2onnx) (1.11.0)
Requirement already satisfied, skipping upgrade: requests in /usr/lib/python3/dis

[2020-08-18 08:29] sparsh-b commented on #1067
The problem was with onnx.
I was in a venv.
I came out of venv & installe onnx with `pip install onnx --user`

& it got resolved.

[2020-08-18 08:29] #1067 closed

[2020-08-18 09:56] #1066 closed

[2020-08-19 09:43] phager90 opened #1068 "GEMM rewriter misses some MatMul+Add"
**Describe the bug**
The GEMM rewriter misses some MatMul+Add pairs

**Urgency**
None

**To Reproduce**
Happens on conversion of some networks, i.e. Efficientnet-b0, where the _Add_ block is a 'BiasAdd' instead of a 'Add|AddV2'

**Possible Solution**
I added another matching pattern for the GEMM_rewriter on my local installation to fix the issue:

[code]

I am not sure if this is a generally valua

[2020-08-19 10:51] srohit0 commented on #938
If the graph is frozen and ready for inference, wouldn't you transpose parameter (weights and biases)  matrices too for a proper conversion from NCHW to NHWC. Once Conv operation is done, one has to convert it back to NCHW, since next layers are expecting NCHW format.

current option `--inputs-as-nchw` likely assumes that graph is being converted for further training, in that case transposing X is

[2020-08-19 16:46] TomWildenhain-Microsoft commented on #1068
Thanks @phager90 !  Can you add a test case to test_backend.py and submit this as a pull request?

[2020-08-19 17:10] guschmue commented on #938
```--inputs-as-nchw``` will only add a transpose on the input so you can feed a NCHW when in tf it would be NHWC. For Conv and others we add transposes internally since onnx only understands NCHW. Those transposes we try to optimize away so the final graph will not show them anymore (at least that is the goal).

[2020-08-19 20:39] srohit0 commented on #938
Internally to where?

Since you said ONNX only understands NCHW, I assume it's not internal to ONNX operator. Does that mean, more transpose operators in the generated ONNX graph?

[2020-08-20 08:00] phager90 commented on #1068
@TomWildenhain-Microsoft:
I made a test, but it does not work properly because the validation function used in all the  GEMM rewriter tests test_gemm_pattern0-4 **_check_op_count_**, has been taken out of action and returns True always:

[code]

Insofar all backend tests using _check_op_count_ pass always.

I made you a pull request, but I did not fix the _check_op_count_.
Might make sense to make

[2020-08-20 16:43] TomWildenhain-Microsoft commented on #1068
Thanks!  Reviewed the PR and made some comments.  Some unit tests are failing.

[2020-08-21 05:03] guschmue commented on #938
I meant 'tf2onnx internally transposes everything to NCHW since onnx only supports NCHW'. There is a potential that there are more transposes than in the tensorflow graph but for most models we can optimize them away.

[2020-08-21 08:17] NikolasMarkou opened #1070 "DepthwiseConv2d translation adds Reshape and Transpose operators to the kernel that are invalid"
**Describe the bug**
When translating the DepthwiseConv2d or DepthwiseConv2dNative operations 2 extra ops are added to the kernel to get into the correct form. These are the Reshape and Transpose operators. These are problematic for the following reasons.
1. The Transpose order (3, 2, 0, 1) is invalid under certain versions of tensorrt
2. The Reshape operator is invalid under certain versions of t

[2020-08-21 10:45] NikolasMarkou opened #1072 "Transpose Optimization error when working less than 4 dims"
**Describe the bug**
At many points in the transpose optimization it is assumed that the shape is of size 4.

**Urgency**
This is a non blocker, if the optimization fails it just continues with the next optimization

**System information**
- Linux Mint 18.04
- Tensorflow Version: 1.15
- Python version: 3.6.9

**To Reproduce**
Add a Transpose optimization with input shape less than 4
[code]

**Expe

[2020-08-21 19:17] saurabh-shandilya opened #1075 "FusedBatchNormV3 with empty var conversion looks incorrect"
**Describe the bug**
The tensorflow op  FusedBatchNormV3 with empty mean and var variables when converted leads to mean and var with values zero. While mean being zero is fine, but var being 0 might lead to division by a really small epsilon. I think the ideal behavior should have been to keep the variance as (1-epsilon).

**Urgency**

**System information**
- OS Platform and Distribution (e.g., L

[2020-08-25 14:42] scottyyih opened #1076 "Argument type mismatch"
In this line of code `flag, match_list_of_input = self._match_pattern(input_pattern, input_tensor, input_tensor)` in graph_matcher.py, why the second argument `input_tensor` is a tf.Tensor type argument?

[2020-08-25 19:33] TomWildenhain-Microsoft commented on #1072
Sorry I should have taken a closer look at this when you opened the PR.  The index out of range is coming from `_switch_transpose_and_node` but that is called from `_handle_nhwc_tranpose` which calls `is_nhwc_transpose` on the node in question.  `is_nhwc_transpose` makes sure the 'perm' property of the node has length 4.  So it seems the real problem here is somehow a transpose node has perm of le

[2020-08-26 23:21] TomWildenhain-Microsoft commented on #1076
Looks like a bug to me.  In this case, `input_tensor` comes from `pat = list(zip(op.inputs, possible_pattern_inputs))` and `for input_tensor, input_pattern in pat` so it is in fact an op not a tensor.  `input_tensor` should be renamed to `input_op`.  I don't know why self._match_pattern is being given the op twice and no tensor.  Eventually that "tensor" is stored in the `MatchResult` and can be r

[2020-08-26 23:42] guschmue commented on #1065
This is more a runtime or onnx question and should be raised there.

[2020-08-26 23:42] #1065 closed

[2020-08-27 04:43] #1070 closed

[2020-08-27 06:49] NikolasMarkou commented on #1072
Hi @TomWildenhain-Microsoft , it's a client's model so i can't share it out of the organization.

[2020-08-27 09:36] Center0710 opened #1078 "Is tf2onnx support BatchNormalization layer from tensorflow to onnx ?"
**Problem Description**

Is tf2onnx support BatchNormalization layer from tensorflow to onnx  ? I can see support from the document in the following URL, But I am having trouble during the conversion

[https://github.com/onnx/onnx/blob/master/docs/Operators.md](url)

**Describe the bug**

 I use tensorflow to build a simple network( conv2D + BatchNormalization +leakyRelu), the network structure is

[2020-08-27 13:58] phager90 opened #1079 "Inconsitent <Conv - BN> Fusing Behaviour"
**Describe the bug**
On some networks the BN layer is not fused into the Conv operation.
Sometimes there are dedicated Mul and Add operations placed as independent operations (see SDD-MBv1 example).
In other cases, some BN layers remain (EfficientNet Lite example).

**To Reproduce**
If I follow this tutorial for SSD-MBv1:
https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/ConvertingSSDM

[2020-08-27 14:35] bedapisl opened #1080 "tf.string support"
Hello, does onnx support models with tf.string tensor type?

[2020-08-27 16:41] TomWildenhain-Microsoft commented on #1072
No problem.  I still think the problem is a mismatch between the length of perm and shape, which suggests an invalid model.  Do you agree?

[2020-08-27 17:56] TomWildenhain-Microsoft commented on #1078
The Batch Normalization op is supported and should work.  We'll need to look into this.

[2020-08-27 17:57] TomWildenhain-Microsoft commented on #1076
Is there any particular reason you were looking at this?

[2020-08-27 18:04] NikolasMarkou commented on #1072
I'm not sure on that, i will need to test further. Because this is a valid
tf model. If something is going wrong then there may be a deeper reason.

On Thu, 27 Aug 2020, 19:41 TomWildenhain-Microsoft, <
notifications@github.com> wrote:

[2020-08-28 02:41] Center0710 commented on #1078
**Update question**

- **Old question**：

Sorry, this is my problem. I noticed that the BatchNormalization of my pb model is a bit strange, so I searched the tensorflow code and found the following error. This is the training/inference switch set by my batchnormalization. After modifying it, the BatchNormalization of the pb model is normal.

  ![4](https://user-images.githubusercontent.com/5610298

[2020-08-28 13:12] bedapisl commented on #1043
Exactly the same thing happened to me, also on Ubuntu 18.04, Python 3.6 and tensorflow 1.15. Here is a link to my model for debugging: https://drive.google.com/file/d/105xs9j1PjzKk45PkM5-hGNKxGTdElsCL/view?usp=sharing. The command line I used was:
[code]

[2020-08-30 13:48] shiragit opened #1082 "OSError: SavedModel file does not exist (tf 2.3.0)"
I'm trying to convert a tf2 pretrained model, downloaded from the tf2 model zoo - ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8 (a saved_model is already included).
While running the conversion command on tf==2.3.0, I'm getting this following error:
`OSError: SavedModel file does not exist at: /tf2_onnx_trt/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/saved_model/{saved_model.pbtxt|saved_model.pb}`

[2020-08-31 11:36] bedapisl opened #1083 "Error when converting map_fn"
**Describe the bug**
Conversion of graph with `tf.map_fn` causes `ValueError: make_sure failure: Cannot find node with output invalid_input_id__2`

**System information**
- OS: Linux Ubuntu 18.04
- Tensorflow Version: 1.15
- Python version: 3.6.9

**To Reproduce**
Run following script:
[code]

**Expected behavior**
Successful conversion

[2020-08-31 12:08] bedapisl commented on #1083
So the problem was that I did not specify the input and output names, after specifying them:
[code]
the error disapears.

[2020-08-31 12:08] #1083 closed

[2020-08-31 13:22] scottyyih commented on #1076
Thank you for your reply. Nothing particular. I just try to view and understand the source code.

[2020-08-31 16:32] guschmue commented on #1082
what's the link to the model? And what command line did you use ?

[2020-08-31 16:40] guschmue commented on #1080
In general yet but not as complete as tensorflow and in tf2onnx we don't do a lot with it because there was not much ask for it.
Got a specific model in mind?

[2020-08-31 16:42] guschmue commented on #1079
In theory we should be fusing both of the above but there are some constrains when we don't touch it. We can take a look.

[2020-08-31 19:45] phager90 commented on #1078
@Center0710: BN layers are mainly important for training.
For inference these layers can be folded into the neighboring convolution layer to speed up the inference time.

See here for a more detailed explanation:
https://towardsdatascience.com/speed-up-inference-with-batch-normalization-folding-8a45a83a89d8

So your BN layer has not disappeared, it has been integrated into the conv layer.

[2020-08-31 19:50] phager90 commented on #1079
@guschmue thanks!

BTW: can you tell me where the fusing of the first case is taking place?
I figured the second (BN fusing) is done in the back_to_back_optimizer.py, but I could not find the 'Mul Add' fusing.

[2020-08-31 20:15] guschmue commented on #1078
Yes, whenever possible we fuse the bn into conv:
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/optimizer/back_to_back_optimizer.py#L182

[2020-09-01 05:46] shiragit commented on #1082
here's the link to the model: http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8.tar.gz

I used:
`python -m tf2onnx.convert --opset 11 --saved-model /ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/saved_model --output /ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/saved_model/model.onnx`

[2020-09-01 06:38] shiragit commented on #1082
solved!

[2020-09-01 06:38] #1082 closed

[2020-09-01 06:53] bedapisl commented on #1080
Thanks for the answer.

 We have a model based on universal sentence encoder (https://www.tensorflow.org/hub/tutorials/semantic_similarity_with_tf_hub_universal_encoder).

[2020-09-01 06:53] #1080 closed

[2020-09-01 07:13] SBarzz opened #1085 "ValueError: NodeDef expected inputs '' do not match 1 inputs specified; Op<name=Const; signature= -> output:dtype; attr=value:tensor; attr=dtype:type>; NodeDef: {{node bidirectional_3/while/add/y}}"
**Describe the bug**
Can't convert frozen pb file to ONNX

When trying to:
`python -m tf2onnx.convert --graphdef frozen_model.pb --output model.onnx --inputs x1:0,x2:0  --outputs dense_3/BiasAdd:0,dense_4/BiasAd`

I'm getting this error:

[code]

**System information**
- Ubuntu 18.04
- Tensorflow Version: 2.3.0
- Python version: 3.6.9

**To Reproduce**
Describe steps/code to reproduce the behavior

[2020-09-01 07:29] Center0710 commented on #1078
@TomWildenhain-Microsoft @phager90 @guschmue

Thank you for answering, the problem has been solved

[2020-09-01 07:29] #1078 closed

[2020-09-01 14:17] #679 closed

[2020-09-01 21:08] guschmue commented on #1085
Your outputs are missing the ```:0``` at the end. If you have the keras model as saved-model you can use the our command line as well - it should be able to deal with keras models.

[2020-09-04 02:51] zhuxiaoxuhit opened #1091 "tf.while_loop support"
**Describe the bug**
when i transform .pb to .onnx with 'python -m tf2onnx.convert', got error message. Told me some ops is no supported.
Can we add this support in project? tf.while_loop is a commom op i think.
[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centOS
- Tensorflow Version: 1.13
- Python version: 3.6

**Expected behavior**
no error

[2020-09-04 15:52] guschmue commented on #1091
Those ops are common and we handle them. What version of tf2onnx is this (it is at the beginning of the output).
What kind of model is this?

[2020-09-08 03:22] zengdiqing1994 opened #1092 "NonMaxSuppressionV3,Round and Atan2 operators do not support on AVOD model convert"
**Describe the bug**
I have trained AVOD(Aggregate View Object Detection) model by TensorFlow, and want to convert the frozen pb model to ONNX model, but when I used tf2onnx tool to convert, it will appear:

**ERROR - Tensorflow op [proposals/nms/non_max_suppression/NonMaxSuppresionV3: NonMaxSuppresionV3] is not supported.
ERROR - Tensorflow op [avod_nms/non_max_suppression/NonMaxSuppresionV3: Non

[2020-09-08 11:56] bedapisl opened #1093 "Converting TF2 model with StatefulPartitionedCall"
**Describe the bug**
Converting tf2 model ([Google drive link](https://drive.google.com/file/d/1Ep6HGWZIE86Pwc90t7oKIzlGLl1STskQ/view?usp=sharing)) which contains StatefulPartitionedCall produces error:
[code]

**System information**
- OS Platform and Distribution: Ubuntu 18.04
- Tensorflow Version: 2.2
- Python version: 3.6.9

**To Reproduce**
1. Download the model ([Google drive link](https://dr

[2020-09-08 13:49] guschmue commented on #1092
NonMaxSuppresionV3, Atan2 and Round are supported. Try adding ```--opset 11``` to the command line.

[2020-09-08 16:47] TomWildenhain-Microsoft commented on #1093
I'll take a look.

[2020-09-08 17:14] nezbyy commented on #1093
Dne út 8. 9. 2020 18:47 uživatel TomWildenhain-Microsoft <
notifications@github.com> napsal:

[2020-09-08 22:28] guschmue commented on #1079
the Mul/Add sequence is part of the transpose optimizer (ok it should not be there).
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/optimizer/transpose_optimizer.py#L378
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/optimizer/transpose_optimizer.py#L469

Tested this is a little with ssd-mobilenet - in all cases we got rid of them.

[2020-09-08 22:28] #1079 closed

[2020-09-08 22:28] guschmue commented on #1064
we assume the issue is gone.

[2020-09-08 22:28] #1064 closed

[2020-09-09 01:56] guschmue commented on #1037
we assume this is resolved.

[2020-09-09 01:56] #1037 closed

[2020-09-09 01:57] guschmue commented on #1040
https://github.com/onnx/tensorflow-onnx/pull/1090

[2020-09-09 01:57] #1040 closed

[2020-09-09 01:58] guschmue commented on #1031
we assume this is resolved.

[2020-09-09 01:58] #1031 closed

[2020-09-09 02:00] guschmue commented on #987
we assume this is resolved.

[2020-09-09 02:00] #987 closed

[2020-09-09 02:01] guschmue commented on #952
not enough info provided to look at this.

[2020-09-09 02:01] #952 closed

[2020-09-09 02:02] guschmue commented on #938
we assume this is resolved.

[2020-09-09 02:02] #938 closed

[2020-09-09 02:03] guschmue commented on #985
we assume this is resolved.

[2020-09-09 02:03] #985 closed

[2020-09-09 02:07] guschmue commented on #872
We want to avoid that sometimes the node name will work and sometimes the tensor name - its always going to be the tensor name.

[2020-09-09 02:07] #872 closed

[2020-09-09 02:08] guschmue commented on #980
this should be fixed.

[2020-09-09 02:08] #980 closed

[2020-09-09 02:09] guschmue commented on #945
we assume this fixed the issue.

[2020-09-09 02:09] #945 closed

[2020-09-09 02:10] guschmue commented on #899
we assume this is fixed.

[2020-09-09 02:10] #899 closed

[2020-09-09 02:11] guschmue commented on #553
we assume this is fixed.

[2020-09-09 02:11] #553 closed

[2020-09-09 02:12] guschmue commented on #967
assume this is fixed.

[2020-09-09 02:12] #967 closed

[2020-09-09 03:13] azraelkuan commented on #1033
@DayDayupupupup do u solve this problem?

[2020-09-09 03:37] DayDayupupupup commented on #1033
The problem has not been solved. I just want to convert the model to ONNX and use Netron to see the model structure。

[2020-09-09 08:37] Qiancj0605 opened #1095 "Inference results are inconsistent at different precisions"
python: 3.6.10
tensorflow: 1.12.0

I have a bert model in onnx format，Inference results are inconsistent at different precisions(fp32 and fp16) with onnx_tensorrt.backend。
Has any boss met？Thanks

[2020-09-09 09:25] zengdiqing1994 commented on #1092
Oh, excellent! it converts correctly! What is the command '--opset 11' meaning? Does the modifies merged in opset 11 version or some other explains? Thanks for your reply!

[2020-09-09 09:30] phager90 commented on #1079
@guschmue Thanks for checking! And thanks for letting me know where this is in the optimizer!

However, I am not sure I fully understood your answer:
You basically are saying that you cannot reproduce the "behaviour", in the sense that in your tests, they were always properly merged?

I will check then why this is not the case on my side.
In case, I would figure out something, I would post this he

[2020-09-09 10:11] phager90 opened #1096 "Conversion Error with DeepLabv3"
**Describe the bug**
Conversion of DeepLabv3 model fails with an Error:  `ERROR - Failed to convert node Pad`

**Urgency**
none

**System information**
- tensorflow=2.3.0, onnx=1.7.0

**To Reproduce**
Download DeepLabv3 model:
http://download.tensorflow.org/models/deeplabv3_mnv2_dm05_pascal_trainaug_2018_10_01.tar.gz
Convert with:
[code]

Error Log:
[code]

**Screenshots**
I suspect the problem be

[2020-09-09 12:17] phager90 commented on #1096
works with `--opset 11` as mentioned in #556.

[2020-09-09 12:17] #1096 closed

[2020-09-09 15:22] guschmue commented on #1079
Yes, always looks good for me. I'm using tf-1.15 and tf-2.3.
We don't fuse bn if any of the parameters are consumed by others.

[2020-09-09 15:27] guschmue commented on #1092
opset is the 'version' of onnx. If new ops are added or enhanced the opset is released.
We default to opset 8 which is pretty old but  supported by most runtimes.
opset 11 has much better support for things like NonMaxSuppresion but as far I know onnxruntime is the only one fully supporting it,

[2020-09-09 16:24] #1092 closed

[2020-09-10 07:48] zengdiqing1994 commented on #1092
Yes and the onnxruntime of Microsoft supports crop_and_resize, it seems that it covers a lot! Thanks again!

[2020-09-10 20:45] guschmue commented on #1095
Sounds like this should be opened against onnx_tensorrt.

[2020-09-10 20:45] #1095 closed

[2020-09-11 06:02] feiyuhuahuo commented on #1008
@zccyman  You can transpose the output format to NCHW  manually in your code. Then convert the model to ONNX format. Besides, I'd like to ask if you have tried to load onnx model by tensorRT? Have you encountered any problems?

[2020-09-11 06:25] feiyuhuahuo commented on #931
@solarflarefx   Do you mean that if the batch size dimension is unknow, TensorRT would fail to load the onnx model ?

[2020-09-11 08:04] zccyman commented on #1008
No other questions. only found the output dimension is NHWC formate, and need to transpose manually in my code.

[2020-09-11 10:10] phager90 opened #1100 "Conversion Problem with SSD MobileNetv2 MNAS - Depthwise Convolutions"
**Describe the bug**
Some depthwise convolutions are not converted properly in SSD MobileNetv2 MNAS.

**Urgency**
none

**To Reproduce**
Describe steps/code to reproduce the behavior:
Download SSD MobileNetv2 MNASNET: http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_mnasfpn_shared_box_predictor_320x320_coco_sync_2020_05_18.tar.gz
Convert with:
[code]

**Expected behavior**
D

[2020-09-11 15:34] guschmue commented on #1100
let me take a look.

[2020-09-12 14:00] #1048 closed

[2020-09-13 06:18] guanaco opened #1101 "Problem converting Conv2dTranspose in TF2"
**Describe the bug**
When trying to convert tf2 saved model with Conv2DTranspose, it's converted to complex operations instead of a single operation. (See screenshot for more details.

**Urgency**
none

**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- Tensorflow Version: tensorflow                2.2.0           gpu_py38hb782248_0  (installed with conda)
- Python version

[2020-09-13 17:00] guschmue commented on #1101
In tensorflow the graph looks like below - it is more than a single op:
![image](https://user-images.githubusercontent.com/22941064/93023611-fdd11080-f5a4-11ea-9b6e-fd99a0788758.png)

The onnx graph looks larger because:
1. tensorflow / Conv2DBackpropInput is in NHWC and we need to wrap it with Transpose to convert it to NCHW. In larger graphs we can mostly optimize those transposes away bot not i

[2020-09-13 17:00] #1101 closed

[2020-09-14 12:24] georgiaraj commented on #1043
I've just seen this. It happens during the conversion of a custom layer we have implemented for object detection decoding. But weirdly I can run my conversion repeatedly and sometimes see this, and other times not and the conversion completes successfully, which makes me think this must be a bug.

[2020-09-16 11:21] #1091 closed

[2020-09-16 11:58] pawel-ziecina opened #1104 "Incorrect graph conversion of fp16 model"
**Describe the bug**
Tried to convert TF 1.15 16bit floating-point ResNet50 model using the tf2onnx tool.
The resulting model has wrong graph structure, which causes errors during inference.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Tensorflow Version: 1.15.2
- Python version: 3.6.9

It is run under `nvcr.io/nvidia/tensorflow:20.06-tf1-

[2020-09-16 15:55] guschmue commented on #1104
let me take a look.

[2020-09-16 17:29] guschmue commented on #1104
yes, the kernel is fp16 in the tf model and for some reason we end up with fp32. Going to fix it.

[2020-09-16 18:35] guschmue commented on #1033
Not much info to go on, But based on the stack it looks there is a batchnorm without mean and scale has a shape [-1,H,W,C]. Is it possible to share the model?

[2020-09-16 19:27] guschmue commented on #1104
saw your app working after the fix.

[2020-09-16 19:27] #1104 closed

[2020-09-17 08:22] pawel-ziecina commented on #1104
Yes, it works as intended. Thanks!

[2020-09-20 06:39] ianier opened #1108 "ValueError: index can't contain negative values"
When trying to convert the Spleeter 2-stem model I get the error below. The frozen model can be found [here](https://1drv.ms/u/s!Aja0hpIlYElLhIRR2jmpfjim2VJlzA?e=8RA7SD).

Here's the command line I tried:

python -m tf2onnx.convert --input \models\spleeter_2stems.pb --output \models\spleeter_2stems.onnx --inputs Placeholder:0 --outputs strided_slice_13:0, strided_slice_23:0

Traceback (most recent

[2020-09-23 13:04] tgey opened #1112 "Incorrect results for models with dynamic input shape."
**Describe the bug**
Tensorflow models with dynamic shape input converted to Onnx models return different results. The output shape of the Onnx model is correct but the values returned are different to those returned by the Tensorflow model. This difference only occurs if the shape is not defined.

**Urgency**
None

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

[2020-09-23 17:52] TomWildenhain-Microsoft commented on #1112
Thanks for the bug report.  Can you please provide your code for ConvLayer to make this easier to reproduce?  Thanks!

[2020-09-23 18:08] TomWildenhain-Microsoft commented on #1112
Those numbers are still very close and may be within the margin of error.

[2020-09-24 03:53] guschmue commented on #1112
I tried this myself with the random input range np.random.uniform(-1. - 1.)
[code]
If I do a
[code]
I get:
[code]
kind of saying the relative error per element is 1.0024399e-07 which is in the range we'd expect.

The onnx graph itself looks correct.

Your diff looks a little more. What range did you use for random ?
The model has the shape [1,None,None,3] and passed the shapes [1,150,150,3] and [1

[2020-09-24 10:06] tgey commented on #1112
@TomWildenhain-Microsoft Here is the ConvLayer class:
![convLayer](https://user-images.githubusercontent.com/21363799/94130492-0b1bb400-fe5d-11ea-80dc-217999abbea4.png)

I agree the difference is very small for this model, but it represents only 3 convolutions. On a larger model like Yolact, the difference is very large and the converted model is no longer consistent with the original tensorflow m

[2020-09-24 11:14] hyperfraise commented on #912
Also very interested. I'm just trying to not have to convert my data to float before passing it  to my tensorrt model by putting a type casting layer in the model (in order to save CPU ressources).

[2020-09-25 02:32] guschmue commented on #1112
I tried with your values and my conv_layer is the same like yours:
[code]
Pretty ok I think.

Some some questions: you are running on cpu and gpu. if cpu are you using avx2 or better (I know errors are slightly higher with avx2) ?
What version of onnxruntime do you use?

[2020-09-25 20:28] hemelroy opened #1115 "Output of all zeros for inference using converted tf to onnx model"
**Describe the bug**
After converting tensorflow graphdef to .onnx file, the output of the onnx model consists of rows of zeros. It does not resemble the output of the pb file.

**Urgency**

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Tensorflow Version: 1.14.0
- Python version: 3.5.6

**To Reproduce**
Folder containing all necessary scrip

[2020-09-25 20:35] guschmue commented on #1108
This raises in tensorflow/MakeNdarray when we ask tensorflow to give us a numpy array for a Constant tensor stft/frame/zeros_1 that is of shape [0, 2].
It raises because num_elements = 0.
Could you take a look at  stft/frame/zeros_1 in the model source if it is correct?

[2020-09-25 20:38] TomWildenhain-Microsoft commented on #1115
I'll take a look.  Thanks for providing the script

[2020-09-25 20:39] guschmue commented on #1108
Just looking at the PR mentioned above - it should fix this. But I belief the root cause is the shape of [0,2]

[2020-09-25 21:27] TomWildenhain-Microsoft commented on #1115
The problem is caused by the FusedBatchNorm op which has is_training set to true.  tf2onnx only supports graphs used for inference, not training.  When is_training is true, FusedBatchNorm has mean and variance empty which we change to 0, affecting the result.

[2020-09-25 23:11] guschmue commented on #1112
one thing my app is doing different - I run the keras inference before converting to onnx what might move the batchnorm out of training mode. I convert it in memory directly from the keras model using this function:
https://gist.github.com/guschmue/fdd66ec852c3d179a97bc08b3331d640

[2020-09-26 05:15] ianier commented on #1108
@guschmue; I think the relevant code is [this](https://github.com/deezer/spleeter/blob/ca5cdd7d2894790d08a2f91d32132230e77dd861/spleeter/model/__init__.py#L278), so from what I understand the shape should be [stft/frame_length, 2] (stft/frame_length in the frozen model is a const = 4096).
In Netron, the shape of  stft/frame/zeros_1 is shown as [?,2], which I think confirms my understanding:
![imag

[2020-09-28 07:52] tgey commented on #1112
We are using GPU only to run our model with onnxruntime-gpu==1.4.0.

for np.testing.assert_allclose(np.mean(tf_output) + 10., np.mean(onnx_output) + 10., rtol=1e-8), with your to_onnx method, we got:
![Screenshot from 2020-09-28 09-49-01](https://user-images.githubusercontent.com/21363799/94404935-0febab00-0170-11eb-99ed-2f6241960901.png)

Here is my full test script: https://gist.github.com/tgey/

[2020-09-28 15:05] guschmue commented on #1112
yeah, this is worse than mine. I used cpu - let me try gpu.

[2020-09-28 20:42] guschmue commented on #1112
with gpu I get:
[code]
Ok, that is not so good.
It is similar when I keep tensorflow on cpu and only run onnxruntime on gpu.

Seems to be the onnxruntime cuda implementation.

I'd close this issue, open one against onnxruntime here: https://github.com/microsoft/onnxruntime and mention this issue in the new issue.

[2020-09-28 20:54] guschmue commented on #1043
I think grappler is optimizing that enter away. Let me see if we can deal with this.

[2020-09-29 06:30] yfq512 commented on #1082
@shiragit ,Hi, how do you solved? I have the same bug, when I update TensorFlow, bug comes

[2020-09-29 06:50] nezbyy commented on #1082
Dne út 29. 9. 2020 8:31 uživatel yfq512 <notifications@github.com> napsal:

[2020-09-29 06:53] yfq512 commented on #1082
I solved it，卸载h5py，重新安装h5py

[2020-09-29 07:14] tgey commented on #1112
Thank you for testing on both CPU and GPU and to have discovered an investigation lead.

I used CUDA 10.1 with a Nvidia RTX 2080.

Sincerely,

[2020-09-29 14:44] guschmue commented on #1112
fyi @jywu-msft, @pranavsharma

[2020-09-30 02:31] MuhammadAsadJaved opened #1120 "Inputs/outputs for TensorFlow-Yolov3"
Hi,
     I have TensorFlow-Yolov3 model and I have both .ckpt and .pb weights.   I am trying to convert to .onnx but failed, I am not sure about the inputs and outputs for the model.

1-How I can check the inputs and outputs? Because the main problem is inputs/outputs
2-If it's difficult to know about inputs/outputs , How i can convert .ckpt to saved_model as it does not require inputs/outputs?
3-

[2020-09-30 03:36] MuhammadAsadJaved commented on #1120
Update:
The issue is almost same like #773   I am able to convert my model using
[code]
Now I have these questions
1- The original frozenGraph.pb model size is 492.9 MB and the converted .onnx model size is slightly reduced it is 482.5 MB.  Is it normal or it should reduce more?
2-How I can use this converted onnx model for interface? or How I can convert it to trt engine?

[2020-09-30 06:15] MuhammadAsadJaved commented on #1001
@duanqipeng  Have you resolved this issue? I am having the same problem.

I am able to convert .pb to .onnx but got the same error while converting from .ckpt.meta to .onnx.

[2020-09-30 15:02] guschmue commented on #1120
For 1 - yes, in general the onnx graph will be a little smaller. It could be a lot smaller if we find identical constants that can be de-duped.
For 2 - not sure if I understand the question correctly but there is a tutorial directory that shows how to run them end to end, ssd-mobilenet might be a good example that is similar to yolo. We don't have a example for trt and should maybe create one.

In

[2020-10-01 14:35] Zrufy commented on #1031
i have this error not only in this case but with tensorflow object detection api.

[2020-10-02 04:29] guschmue commented on #991
I assume this is fixed.

[2020-10-02 04:29] #991 closed

[2020-10-02 04:30] guschmue commented on #841
I assume this is no longer an issue.

[2020-10-02 04:30] #841 closed

[2020-10-02 04:32] guschmue commented on #674
closing since it moved to onnx.

[2020-10-02 04:32] #674 closed

[2020-10-05 16:02] ianier commented on #1108
@guschmue: I went ahead and installed @xadupre branch:

pip uninstall tf2onnx
pip install git+https://github.com/xadupre/tensorflow-onnx@foldb

Converting the same model now produces the following error message:

 INFO - compute_const_folding_using_tf: get_tf_tensor_data failed for node 'stft/frame/zeros_1', replace by an array([], shape=(0, 2), dtype=int32)
Traceback (most recent call last):
  Fi

[2020-10-05 16:14] TomWildenhain-Microsoft commented on #1115
Were you able to get the model to convert after setting is_training to false?

[2020-10-06 13:29] #595 closed

[2020-10-06 14:04] jashshah commented on #1029
Do we have any updates on this?

[2020-10-06 17:23] TomWildenhain-Microsoft commented on #1093
Can you please try again with the latest version of the converter from the master branch?

[2020-10-06 21:19] hemelroy commented on #1115
Sorry for the delay. There is an issue with the implementation of the tensorflow model itself, not actually setting the is_training to false. I'll close the issue, thanks for pointing that out.

[2020-10-06 21:19] #1115 closed

[2020-10-07 16:32] TomWildenhain-Microsoft commented on #1120
Let us know if this solves your issue or if you have further questions.

[2020-10-07 17:49] MuhammadAsadJaved commented on #1120
Hi , there was holidays from 1 to 8 October. I will back and continue
working on it from 9 October. I will update you soon. Thanks

On Thu, Oct 8, 2020 at 12:32 AM TomWildenhain-Microsoft <
notifications@github.com> wrote:

[2020-10-07 18:34] TomWildenhain-Microsoft commented on #1029
Looking at it now

[2020-10-08 02:13] #1029 closed

[2020-10-08 22:26] rajeevsrao commented on #1093
@TomWildenhain-Microsoft with the tf2onnx build from source (master), export completes, but the ONNX model includes the op "StatefulPartitionedCall" which is not valid ONNX.

[code]

[2020-10-08 23:41] marlexct commented on #1037
=( not solved

[2020-10-09 01:20] guschmue commented on #1037
Finding the inputs and outputs? For a checkpoint there is no simple rule since all variables+placeholder could be input and all nodes could be outputs. Easiest might be if you have some eval.py script for tensorflow ... the names are somewhere in there.
Or if you look at the meta file (ie with netron): the inputs are most likely Placeholder ops and the output is most likely some node the is not co

[2020-10-09 07:30] MuhammadAsadJaved commented on #1120
@TomWildenhain-Microsoft
                                              I am able to convert .pb to .onnx  on Nvidia Titan V GPU but on the GTX 1080Ti and  Xavier NX the process is killed.  The killed massage on Xavier NX is attached.
I am using following command
[code]

1- Is there any specific memory requirements for conversion process?
2- If I convert my .pb model to onnx and then onnx to .trt

[2020-10-09 14:46] mosca-ops opened #1126 "Unity doesn't read the onnx model"
**Describe the bug**
A clear and concise description of what the bug is.
I created a custom dataset from tensorflow and i convert it in onnx model. When i import the .onnx model in the folllowing project https://github.com/Syn-McJ/TFClassify-Unity-Barracuda , unity does not recognize it.
i used faster_rcnn
this is my log:

Asset import failed, "Assets/Resources/Models/model5.onnx" > OnnxImportExce

[2020-10-10 04:14] MuhammadAsadJaved commented on #1120
@TomWildenhain-Microsoft    OK. got it.   I have converted   .pb to .onnx on another system. Now I am trying to convert .onnx to .trt engine.  But I am having the following errors. (attached)

Is there any other way to convert .onnx to .trt ?   How I can make sure that my converted .onnx do not have any problem? How I can verify it?

BTW I have attached my .pb and .onnx model here

https://drive.g

[2020-10-12 16:39] TomWildenhain-Microsoft commented on #1120
For outputs you included `pred_sbbox/concat_2:0` twice.  Did you mean `pred_mbbox`?

[2020-10-12 16:44] TomWildenhain-Microsoft commented on #1120
I can confirm that the models on Google Drive have successfully converted and produce consistent results.  I pushed some test data through them and the outputs match.  The conversion from onnx to trt is part of a different tool we don't maintain.  I don't know of any other way to do it.

[2020-10-12 16:49] TomWildenhain-Microsoft commented on #1126
Seems like Unity is getting an unexpected error while importing the onnx model.  Either the model is invalid in a way the importer isn't detecting or the importer has a bug.  @guschmue any thoughts?

[2020-10-12 16:56] TomWildenhain-Microsoft commented on #1108
Can you try again using opset 11?  Some opsets require inputs to be converted into attributes which fails if the inputs aren't constant (hence the "must be Const" errors).  Higher opsets have these as dynamic inputs so conversion will succeed.

[2020-10-12 17:20] ianier commented on #1108
@TomWildenhain-Microsoft thanks for looking into this. Just tried the same with --opset 11 and still no luck:

 ERROR - Failed to convert node 'stft/rfft' (fct=<bound method RFFTOp.version_1 of <class 'tf2onnx.onnx_opset.signal.RFFTOp'>>)
'OP=RFFT\nName=stft/rfft\nInputs:\n\tstft/mul:0=Mul, [-1, -1, 4096], 1\n\tstft/rfft/packed:0=Const, [1], 6\nOutpus:\n\tstft/rfft:0=[-1, -1, 2049], 14'
Traceback

[2020-10-12 17:29] TomWildenhain-Microsoft commented on #1108
Ok so the remaining problems are with complex numbers.  ONNX does not yet support operations on complex numbers so there isn't much we can do to make this model convert currently.  Is this an audio model?  The FFT ops are often part of preprocesing, so if you can cut them out of the graph and do that part in code, you might be OK.  We can convert RFFT if it is followed immediately by an Abs but th

[2020-10-12 17:40] ianier commented on #1108
@TomWildenhain-Microsoft: Yes, it's an audio model for source separation (e.g. extracting vocals from a mixed track). You're correct on the assumption that FFT/IFFT could be done outside, but unfortunately the "processed" inputs of the model are also complex.
My ultimate goal is to deploy this model in a UWP app, so I was hoping to convert it to ONNX and use WinML to run it (BTW, opset 11 isn't ye

[2020-10-12 17:44] TomWildenhain-Microsoft commented on #1108
Yeah there's some discussion about adding complex ops to ONNX.  We could also hack around it in the converter (composing multiple ops) but that would be a big pain.  @guschmue do you see any other ways around this, or is linking TF the best option for @ianier?

[2020-10-12 17:52] guschmue commented on #1126
I don't see Assets/Resources/Models/model5.onnx.
The error message seems to be:
[code]
But a cast with those attributes should be legal.
Maybe something not implemented in the runtime?

[2020-10-12 17:56] TomWildenhain-Microsoft commented on #1126
It is an unexpected error which makes me strongly suspect a problem in the runtime.  Does Unity use the latest onnx runtime?

[2020-10-13 01:36] MuhammadAsadJaved commented on #1120
Yes,  it was a mistake. it's `pred_mbbox`.
As you said the model is converted successfully then How I can use this .onnx for inference? Is there any example for yolov3.onnx ?

[2020-10-13 08:21] mosca-ops commented on #1126
where can i check? @TomWildenhain-Microsoft

[2020-10-13 10:44] KowsalyaR97 opened #1129 "How to make face recognition using pb to onnx converted model?"
Hi, I am converted facenet **VGGFACE** model 20180402-114759.pb to 20180402-114759.onnx model. I need to know is there any way to load this onnx model to make prediction on face dataset.
Example,
In facenet after making frozen graph we were creating classifier pickle file from the .PB file by loading and getting embeddings from the model file and make predictions on faces.
Likewise is there any wa

[2020-10-13 16:57] TomWildenhain-Microsoft commented on #1126
Looks like Unity uses its own runtime, Barracuda.
https://docs.unity3d.com/Packages/com.unity.barracuda@1.0/manual/index.html

They encourage you to post issues on their GitHub:
https://github.com/Unity-Technologies/barracuda-release/issues

[2020-10-13 17:22] TomWildenhain-Microsoft commented on #1129
Yes, you can run the model using the onnx runtime:
https://github.com/microsoft/onnxruntime

`pip install onnxruntime`

Let me know if you need more help with this

[2020-10-14 08:12] jbi35 opened #1130 "Conversion problem for 3D conv net"
**Describe the bug**
A Runtime error occurs when running inference on a 3D conv net that was converted from a TensorFlow saved model to onnx.
The model is provided below as TensorFlow saved model as well as the version converted to onnx.
This is the error I am getting when running inference on the onnx model using:

[code]

[code]
**Urgency**
none

**System information**
- MacOS 10.14.6
- Tensorfl

[2020-10-14 11:14] KowsalyaR97 commented on #1129
@TomWildenhain-Microsoft... Thanks

[2020-10-14 11:14] #1129 closed

[2020-10-14 12:10] mosca-ops commented on #1126
I think barracuda supports only yolov2 model for object detection. thanks

[2020-10-14 12:10] #1126 closed

[2020-10-14 18:10] OpUs-Nebula opened #1131 "--large-model for TF 1.X: ValueError: You passed in an iterable attribute but I cannot figure out its applicable type."
**Describe the bug**
Using the --large-model option with the CLI tool causes `ValueError: You passed in an iterable attribute but I cannot figure out its applicable type.` when compiling PEGASUS, a BERT derivative, for TF 1.X.

**Urgency**
none.

**System information**
[g4dn.8xlarge](https://www.amazonaws.cn/en/ec2/instance-types/) EC2 instance:
- [DLAMI](https://aws.amazon.com/marketplace/pp/Amaz

[2020-10-14 18:14] TomWildenhain-Microsoft commented on #1131
Did you try using TF 2.3?  Is there a reason you want to use TF 1.x?

[2020-10-14 18:19] OpUs-Nebula commented on #1131
The model is built using TF 1.X. I've tried running the upgrade script, but the report gave me ~26 files worth of manual changes necessary, some impacting the accuracy of the computations involved. I'm unsure how it may impact the performance of the model, as I am not it's author, so would prefer to try this before digging into that.

[2020-10-14 18:28] TomWildenhain-Microsoft commented on #1131
Makes sense. Can you include the entire stdout from conversion?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mbwenga Maliti <notifications@github.com>
Sent: Wednesday, October 14, 2020 2:19:52 PM
To: onnx/tensorflow-onnx <tensorflow-onnx@noreply.github.com>
Cc: Tom Wildenhain <tomwi@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [onnx/t

[2020-10-14 18:43] OpUs-Nebula commented on #1131
`(aws_neuron_tensorflow_p36) ubuntu@ip-172-31-66-139:~/project$ python -m tf2onnx.convert --large_model  --saved-model cnn_dailymail/1601652430 --output model.onnx
WARNING:tensorflow:From /home/ubuntu/anaconda3/envs/aws_neuron_tensorflow_p36/lib/python3.6/site-packages/tf2onnx/verbose_logging.py:76: The name tf.logging.set_verbosity is deprecated. Please use tf.compat.v1.logging.set_verbosity inst

[2020-10-14 18:45] TomWildenhain-Microsoft commented on #1131
Thanks.  Oh and including a link to the tar is totally fine.

[2020-10-15 10:37] wangzhenyu32 opened #1132 "Onnx can not load the onnx model generated by tf2onnx"
code
import tensorflow as tf
from tf2onnx import tfonnx
import os
import onnx
import onnx.utils

def _save_onnx_model(model_file):
    with tf.compat.v1.Session(graph=tf.Graph()) as session, open(model_file, mode='wb') as graph_file:
        input_x = tf.compat.v1.placeholder(dtype=tf.float32, shape=[None, 2, 3, 4], name='x')
        input_y = tf.compat.v1.placeholder(dtype=tf.float32, shape=[None

[2020-10-15 22:08] deepakupman commented on #655
I have tried with opset 11 but when I am trying to use the onnx model with opencv in c++ it is throwing me onnx parser error.

[2020-10-15 22:33] guschmue commented on #655
'opencv in c++ it is throwing me onnx parser error' is not much info to go on.
I'd assume that is a issue in the opencv  onnx parsing. You can verify that by running the onnx checker on the model or load it into a different runtime for example onnxruntime.

[2020-10-16 09:58] OpUs-Nebula commented on #1131
I tried this for the same model compiled for tf2.x by @TheRockXu, mentioned at https://github.com/google-research/pegasus/issues/65, and recieved the same error.

[2020-10-16 17:50] TomWildenhain-Microsoft commented on #1131
It looks like this model contains a ParseExample op which has no analogous onnx op and cannot be converted.

https://www.tensorflow.org/api_docs/python/tf/io/parse_example

Is it possible to remove this op from the model?

[2020-10-16 20:12] OpUs-Nebula commented on #1131
I think it should be doable, something i will need to look into though. Is that the only problematic operator or is there a chance that more will come up along the way?

[2020-10-16 20:38] guschmue commented on #927
I think this was fixed.

[2020-10-16 20:38] #927 closed

[2020-10-16 20:39] #731 closed

[2020-10-19 19:32] TomWildenhain-Microsoft commented on #1132
You must freeze the graph before feeding it to the converter.  This will remove the variable ops and make them constant.
[code]

[2020-10-19 19:32] TomWildenhain-Microsoft commented on #1132
Let me know if this doesn't work or we can close the issue.

[2020-10-19 20:11] TomWildenhain-Microsoft commented on #1120
You can run the model using onnxruntime: https://github.com/Microsoft/onnxruntime
`pip install onnxruntime`
[code]
Let me know if this resolves your issue.

[2020-10-19 20:23] TomWildenhain-Microsoft commented on #1131
Normally the converter just skips ops it can't convert but in this case it crashed while parsing the op so it didn't give that information.  After fixing the parsing of ParseExample the model converts with only 2 unsupported ops:
`Unsupported ops: Counter({'ParseExample': 1, 'TensorScatterUpdate': 1})`
I can easily add support for TensorScatterUpdate

[2020-10-19 20:41] TomWildenhain-Microsoft commented on #1131
Parsing fixed with #1140

[2020-10-19 21:07] TomWildenhain-Microsoft commented on #1131
TensorScatterNdUpdate #1142

[2020-10-20 01:32] wangzhenyu32 commented on #1132
It'd still doesn't work when I use:

    model = onnx.load(model_file_name)
    model = onnx.utils.polish_model(model)

error message:
2020-10-21 01:30:01.270012: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2020-10-21 01:30:01.270027: E tensorflow/stre

[2020-10-20 02:40] feiyuhuahuo commented on #1112
Hi, @tgey, @guschmue
Do you know how to construct a model with dynamic input when there are other Ops in the model (like `tf.image.resize`)?
I try to use `tf.keras.Input(shape=[None, None, 3]` to construct a dynamic model but I get the following error:

`return tf.image.resize(input_layer, (input_layer.shape[1] * 2, input_layer.shape[2] * 2), method='nearest')
TypeError: unsupported operand type(s

[2020-10-20 18:19] TomWildenhain-Microsoft commented on #1132
Inference seems to be working for me but I agree that it is strange there appears to be a duplicate initializer.  Looking into it now.

[2020-10-20 19:12] TomWildenhain-Microsoft commented on #1132
The duplicate initializer was caused by an aliasing bug.  Fixing it in #1143

[2020-10-21 06:36] shravanshetty1 commented on #293
I encountered this issue - fixed it by setting `--opset 12` - hope this stops you from pulling your hair out, gl

[2020-10-21 17:50] #1120 closed

[2020-10-21 18:42] TomWildenhain-Microsoft commented on #1130
Yes I can confirm there is a shape bug in ConvTranspose.  Working on it now.

[2020-10-24 10:13] buddhapuneeth commented on #1093
@TomWildenhain-Microsoft I am also facing similar issue with my model. In the above case, how you are able to narrow down the issue to SentencepieceOp? I tried to open the attached model and searched for it in Netron, but there is no match.
 I am trying to find the op which is causing the issue in my case using the similar approach you employed.

[2020-10-24 16:41] #1132 closed

[2020-10-25 16:02] jhagege commented on #834
@RandyShuai can you please explain what is the status of Tf.extract_image_patches ?
I am trying to convert a model using this operator in Tensorflow and getting errors:

Any planned support for the operator ?
Alternatively, any suggestion how to work around this ?

Thanks much !

[2020-10-25 20:08] RandySheriffH commented on #834
@jhagege : we decided to dump support of the operator since it was removed from ONNX standard, whereas to support your case there are still options like assembling logic in tf2onnx converter with ops at hand.
@TomWildenhain-Microsoft : would u mind help track the request?

[2020-10-26 15:21] guschmue commented on #834
This is already tracked here: https://github.com/onnx/tensorflow-onnx/issues/436.
The discussion should move to there and not be on a closed opset-12 issue.

[2020-10-26 18:21] TomWildenhain-Microsoft commented on #1093
@buddhapuneeth I opened it in Netron and looked through the subgraphs.  There are quite a few ops that can cause this problem so it might not be a SentencepieceOp.  You can also get a count of the op types programmatically and look through that.  If you post the model I can take a look.  We might want to consider making tf2onnx convert StatefulPartitionedCall or at least do a preprocessing pass to

[2020-10-26 18:45] jhagege commented on #436
Hi, any update on this ?
I am trying to convert a model using this operator in Tensor flow without success.
Thanks for any assistance !

[2020-10-26 21:20] guschmue commented on #1093
I might have some improvement for the StatefulPartitionedCall by forceing tensorflow to do more aggressive inline - at least in my case it helped. I'm going to send a PR for that in the next few days.

[2020-10-27 00:36] buddhapuneeth commented on #1093
@guschmue is the change you are making on the TF side? Can you provide some patch if possible for a tentative fix?

[2020-10-27 00:50] TomWildenhain-Microsoft commented on #1093
@buddhapuneeth Tensorflow saved models have a bunch of graphs for loading/saving the model that don't have the real computation.  To find the real computation graph look through the subgraphs in Netron (click the lines in the top-left, then select a subgraph from the panel).  You can get a much easier to read graph through freezing the saved model.

[2020-10-27 01:30] guschmue commented on #1093
My changes passes some additional flags to a tensorflow api. Its a 1 line change but I still need to write it to the command line.

[2020-10-28 17:13] TomWildenhain-Microsoft commented on #1093
Aggressive inlining PR has merged.  Try conversion again with the latest master and see if it helps. #1148

[2020-10-28 17:20] guschmue commented on #1093
Maybe we should add a command line option to save the frozen graph so it becomes easier for people to look at things.

[2020-10-28 17:23] TomWildenhain-Microsoft commented on #1093
Agreed.

[2020-10-28 22:06] buddhapuneeth commented on #1093
Thanks for the fix. It worked in my case.
Looks like I have one disconnected node in the graph. I am guessing that might have caused issue earlier. With fix, we are making aggressive_inlining=True and as per [TF documentation](https://github.com/tensorflow/tensorflow/blob/r2.2/tensorflow/python/framework/convert_to_constants.py#L437), it will disable safety checks in the [Gappler optimizations](ht

[2020-10-28 22:46] guschmue commented on #1093
sometimes you see disconnected nodes if it is referenced from a subgraph (netron doesn't know about the subgraph). Possible that it is such a case ?
tf2onnx should remove disconnected nodes if things work according to plan.

[2020-10-29 08:45] hoaquocphan opened #1152 "ValueError: Input 0 of node StatefulPartitionedCall was passed float from Func incompatible with expected resource."
Dear All,

I would like to report the issue when converting tensorflow saved model to onnx model

**Environment:**
[code]

**Procedure:**
1/ download saved model  [imagenet/inception_v1/classification](https://tfhub.dev/google/imagenet/inception_v1/classification/4)
2/ run command to convert saved model to onnx model:

error log:

[code]

could anyone please help me to check this issue,
Thanks.

[2020-10-29 21:12] TomWildenhain-Microsoft commented on #1152
Concrete function 0 in that model is messed up.  Try concrete function 1.
`python3 -m tf2onnx.convert --output model.onnx --concrete_function 1 --saved-model imagenet_inception_v1_classification_4`

[2020-10-30 01:07] scuaaa opened #1153 "Convert tensorflow 2 object detection model with StatefulPartitionedCall"
**Describe the bug**
Convert tensorflow 2 object detection model with StatefulPartitionedCall to onnx.
"ValueError: Input 1 of node StatefulPartitionedCall was passed float from conv1_conv/kernel:0 incompatible with expected resource."

**System information**
- OS Platform and Distribution:  windows 10
- Tensorflow Version: 2.1.0
- Python version: 3.7.9

**To Reproduce**
 1.Download the model: [SS

[2020-10-30 01:31] hoaquocphan commented on #1152
Dear Mr @TomWildenhain-Microsoft

Thanks very much for your support
I have tried your method (update concrete function from 0 to 1;2;3) and it can convert many models,
But there are another issue with other models: [imagenet/nasnet_large/classification](https://tfhub.dev/google/imagenet/nasnet_large/classification/4)

**Error log:**

[code]

So, could your have a check and give me your solution

T

[2020-10-30 01:40] TomWildenhain-Microsoft commented on #1152
Interesting.  I think I have previously been able to convert nasnet_large with those exact settings.  Maybe your computer is running our of memory and the process is being killed?  If you have enough disk space, try increasing the amount of virtual memory on your machine.  Make sure in Task Manager the committed memory doesn't exceed the amount you set:
![image](https://user-images.githubuserconte

[2020-10-30 01:46] TomWildenhain-Microsoft commented on #1152
Converted model:
https://www.dropbox.com/s/5aw4pb4u1oxbce9/imagenet-nasnet_large-classification.onnx?dl=0

[2020-10-30 02:08] hoaquocphan commented on #1152
Hi Mr @TomWildenhain-Microsoft

I just searched this issue then find your comment in other post [1120#issuecomment-706273362](https://github.com/onnx/tensorflow-onnx/issues/1120#issuecomment-706273362) and I have checked all my models and see that this issue occur on all model that bigger than 160MB.
I think that this issue is because of lack of memory when conversion.

Thanks very much for your s

[2020-10-30 05:23] caio1985 commented on #927
I had the same issue and simply changing the order of libraries worked.

In my case:

import onnx
import keras2onnx

from tensorflow.python.keras import backend as K
from tensorflow.python.keras.models import load_model

Also running on MacOS.

[2020-11-01 12:47] daganida88 opened #1157 "When trying to convert keras -> onnx -> tf model, export_graph method fails with Invalid value in tensor used for shape: -3 inside _create_c_op method"
I have a Keras model which I want to transform to PB format so I can use it in TF Serving.
After converting the model to onnx and from onnx to pb, I get the following error message when I invoke export_graph.
Invalid value in tensor used for shape: -3 (inside _create_c_op method)
    onnx_model = keras2onnx.convert_keras(model, model.name)
    tf_rep = prepare(onnx_model)  # prepare tf representat

[2020-11-02 13:41] hududed commented on #1013
Hello

is there a solution to this?

[2020-11-02 17:10] guschmue commented on #1013
Sorry, forgot about this one. Let me see if I get it to work on their master.

[2020-11-02 18:05] TomWildenhain-Microsoft commented on #1157
This repo is for tf2onnx which goes from tensorflow to onnx, not the other way around.  To go from Keras to Tensorflow you don't actually have to go through ONNX since Keras already uses Tensorflow as a backend.  Calling .save() on the keras model will create a TF saved_model.  That said, if you are deploying your model you may find that going to ONNX gives better performance if you run the ONNX m

[2020-11-02 18:10] guschmue commented on #1157
If there is still some issue, keras2onnx is here:
 https://github.com/onnx/keras-onnx/tree/master/keras2onnx

[2020-11-02 18:10] #1157 closed

[2020-11-02 18:50] TomWildenhain-Microsoft commented on #1153
The model converts fine for me using the latest opset (opset 12).  We have made some recent changes to fix issues like the one you describe.  Can you try using the latest tf2onnx from github?  Also what opset are you using?

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2020-11-02 18:51] TomWildenhain-Microsoft commented on #1130
Let me know if this solved your issue.

[2020-11-02 18:53] TomWildenhain-Microsoft commented on #1112
Try using a Shape op to measure the shape of the input and then pass that result to tf.image.resize.

[2020-11-02 19:34] jbi35 commented on #1130
Thanks a lot for your help. I'll try it out first thing tomorrow.

[2020-11-02 20:47] scuaaa commented on #1153
Thank you very much for your relpy!!

But I still can not fix the problem.
First I use `pip uninstall tf2onnx` , It's work.
But for `pip install git+https://github.com/onnx/tensorflow-onnx`.
![image](https://user-images.githubusercontent.com/64390450/97917133-02eb4a00-1d22-11eb-89ad-de909fc1f0ce.png)
It should be some problem about the git.

So, instead, I download the file from Git hub directly.

[2020-11-02 20:55] TomWildenhain-Microsoft commented on #1153
Interesting... Can you run `pip list` and post the result?

[2020-11-02 21:00] scuaaa commented on #1153
sorry for my problem, I am just a newbie. Here is my result,
`(newone1) D:\tf_train\addons\tensorflow-onnx-master>pip list
Package                Version             Location
---------------------- ------------------- -----------------------------------------
absl-py                0.10.0
aiohttp                3.6.3
argon2-cffi            20.1.0
astor                  0.8.1
async-generator

[2020-11-02 21:04] TomWildenhain-Microsoft commented on #1153
Hmm... I don't have much experience with Conda.  Can you try making a fresh virtual environment with pip?
`python -m venv tf2onnxvenv`
Then pip install tensorflow, onnx, onnxruntime, and git+https://github.com/onnx/tensorflow-onnx
I'm not sure why you are getting the git issue.  If you get it again in the new venv, try running `git clone https://github.com/onnx/tensorflow-onnx.git` directly and se

[2020-11-02 21:10] TomWildenhain-Microsoft commented on #1153
It looks like you are using Tensorflow 1.15.4 not Tensorflow 2.1.0.  I think that is the problem.  If you make a new venv with the latest version of TF (2.3.0) you should be fine.  TF1 doesn't know how to deal with StatefulPartitionedCalls properly.

[2020-11-02 21:43] scuaaa commented on #1153
Thank you very much for your help. This is indeed the problem I have. I use the conda enviroment, so the pip enviroment is not supported with the code.

I test tensorlfow=2.3 in my windows 10, it works!
`2020-11-02 16:36:58,920 - INFO - tf2onnx.optimizer: After optimization: BatchNormalization -94 (97->3), Cast -29 (75->46), Const -717 (977->260), Identity -58 (58->0), Mul -2 (18->16), Reshape -1

[2020-11-02 21:46] TomWildenhain-Microsoft commented on #1153
Awesome!  Glad it works!

[2020-11-02 21:46] #1153 closed

[2020-11-03 00:35] alankongfq commented on #912
I also encountered this issue when trying to convert deeplab v3+ model from the tensorflow model zoo to tensorrt.
savedmodel -> onnx has no issued but onnx -> tensorrt raise this error. I tried to put in a custom plugin with input float as dtype following the instructions [here](https://forums.developer.nvidia.com/t/problem-converting-onnx-model-to-tensorrt-engine-for-ssd-mobilenet-v2/139337/16) t

[2020-11-03 07:06] cvhuang commented on #1013
Hi,
@guschmue
After comment params.update and modified det_post_process, I was able to convert the model to onnx and run in onnxruntime. It's works. But, when I used the onnx model in tensorrt, it did not support uint8 datatype. So I changed the raw_imges's datatype to tf.float32. This time datatype worked, but another error incurred.

--------------------------------------------------------------

[2020-11-03 18:21] Silb78dg opened #1158 "Cannot convert saved model that use feature columns"
**Describe the bug**
Conversion failed from saved model to onnx if the model use feature columns
Here is the [gist](https://colab.research.google.com/gist/Silb78dg/c0c876e325df3a9b064c449527b80d5d/feature_columns.ipynb)

I'm following this tutorial [Feature_columns](https://www.tensorflow.org/tutorials/structured_data/feature_columns).
At the end of the notebook:

1. Save the model
2. Install tf2o

[2020-11-05 09:14] jbi35 commented on #1130
Alright! Works like charm now. Thanks again for fixing this problem.

[2020-11-05 09:14] #1130 closed

[2020-11-05 18:47] TomWildenhain-Microsoft commented on #1158
The error you are experiencing has been fixed in the latest master branch, but even with that fix (and a few others I had to apply manually) unfortunately this model has some ops that we don't yet support:
`Unsupported ops: Counter({'SparseToDense': 10, 'SparseReshape': 1, 'SparseFillEmptyRows': 1, 'SparseSegmentMean': 1, 'Bucketize': 1, 'SparseCross': 1})`
If/when ONNX has support for sparse ops,

[2020-11-05 21:47] Silb78dg commented on #1158
Thank you, @TomWildenhain-Microsoft
Do you have any timeline (Q4 / Q1 2021 / Future)?
I'm just trying to figure it out if we should consider another approach to serve those kind of models.

Thank you.

[2020-11-05 21:54] TomWildenhain-Microsoft commented on #1158
@guschmue might have a better idea of whether sparse will be happening soon.  I might be able to hack around it by composing some ONNX ops since in this case the model goes from sparse to dense pretty early.

[2020-11-05 22:18] Silb78dg commented on #1158
To give more context. In this case (tutorial from TF), and probably in most of our cases, the idea is to use tf.feature_columns (bucketing, categorical, embedding) that are considered as sparse tensor by TF for our structured data. I might be wrong but the only way to then use those features as an input for your model, is to call
```feature_layer = tf.keras.layers.DenseFeatures(feature_columns)```

[2020-11-06 00:41] guschmue commented on #1158
I belief onnxruntime will have some support but I would not expect it this year, so maybe a temporary hack might help.

[2020-11-06 02:16] FerdinandZhong opened #1166 "Issue with TransformGraph in tf_loader for lower version model"
**Describe the bug**
When I tried to transform my tensorflow frozen graph (tf version 1.13.1) through tf_loader, I find an issue with the transforms list.
As `fold_constant` is a parameter passed in and it can be false (by default is true). If false, `fold_constants` would not be added to transforms, but adding `fold_batch_norms` is a default operation.
However, from the documentation of tensorflo

[2020-11-06 18:00] guschmue commented on #1166
We had an option to disable fold_constants because long time back we sometimes hit problems (if I remember correctly graph_transforms has issues in really old tensorflow versions).
But by now this is under control and we decided to just remove this option all together and have not had issues since.
Maybe best to remove the fold_constants altogether since we don't set it anywhere to false.

[2020-11-07 02:17] FerdinandZhong commented on #1166
Thanks for your reply.
I agree, it's good to just remove fold_constants to avoid it to be set as false

[2020-11-10 08:07] MuhammadAsadJaved commented on #1120
Hi, sorry i do not understand this example.  this is Yolov3.onnx model. Is there any end-to-end example to verify the converted .onnx model or can you give a clear example, please?  Or Can I attach my original .pb weights and converted .oonx model?

[2020-11-11 11:19] mrgloom commented on #568
I have the same error `KeyError: 'HorovodAllreduce'` for model trained under horovod.
How can I fix it?

`Currently one has to import horovod prior to conversion`
Do I need to modify `/usr/local/lib/python3.7/site-packages/tf2onnx/tf_loader.py` adding something like `import horovod.tensorflow as hvd` on top of it?

[2020-11-11 14:43] csl-8bit commented on #1038
I am facing completely same problem too.
Same environment, same situation. Any update on this?

[2020-11-11 15:10] HarryAA opened #1175 "ERROR - tf2onnx.tfonnx: Failed to convert node 'StatefulPartitionedCall/functional_1/layer_normalization/FusedBatchNormV3'"
**Describe the bug**
When trying to convert a tensorflow model containing a tf.keras.layers.LayerNormalization layer, the conversion to onnx fails.  This occurs at the FusedBatchNormV3 node when attempting to resize the mean input to have the same shape as the scale input. This produces a ValueError: negative dimensions are not allowed.

**Urgency**
None.

**System information**
- OS Platform and

[2020-11-11 15:32] HarryAA commented on #1175
Looking at the source code in tensorflow the layer does the following on lines [1217-1265](https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/layers/normalization.py#L949-L1284)
[code]

So is this a feature that is just not supported in the current version of tf2onnx?

[2020-11-11 18:42] TomWildenhain-Microsoft commented on #1038
@csl-8bit looking at this now.  Which of the above errors are you currently getting?

[2020-11-11 18:45] TomWildenhain-Microsoft commented on #1038
@csl-8bit can you upload a model you are trying to convert?  I'm unable to open the saved model at the top of this issue.

[2020-11-11 19:23] TomWildenhain-Microsoft commented on #1175
tf2onnx only supports converting models for inference, not training.  I think the above tf behavior is only needed during training, since the scale/offset are constant for inference models.

[2020-11-11 19:55] csl-8bit commented on #1038
I trained the object detection model using Google AutoML.
[Uploading saved_model.zip…]()

I tried this code `!python -m tf2onnx.convert --opset 10 --fold_const --saved-model saved_model --output converted_model.onnx` and got the following error.
[code]

[2020-11-11 21:54] TomWildenhain-Microsoft commented on #1038
Interesting.  This definitely is in saved model format but it has no meta graph.  Also it uses the DecodeJpeg op which we don't support yet.

[2020-11-11 22:12] #1166 closed

[2020-11-11 22:14] TomWildenhain-Microsoft commented on #1038
@csl-8bit Can you upload the tflite version as well?

[2020-11-11 22:36] TomWildenhain-Microsoft commented on #1038
I thought that too at first but it is actually a saved model according to Netron.

[2020-11-11 22:38] guschmue commented on #1038
yes, I get a decode error. wired.

[2020-11-12 03:36] csl-8bit commented on #1038
I have uploaded both tflite and tfjs version
[automl tflite model.zip](https://github.com/onnx/tensorflow-onnx/files/5528100/automl.tflite.model.zip)
[automl tfjsmodel.zip](https://github.com/onnx/tensorflow-onnx/files/5528099/automl.tfjsmodel.zip)

[2020-11-12 09:05] HarryAA commented on #1175
Hi @TomWildenhain-Microsoft, thanks for the reply. If that is indeed the case, is it possible for tf2onnx to skip these layers? I only want the onnx model for inference but the saved model obviously has these layers in from training.

[2020-11-12 19:11] TomWildenhain-Microsoft commented on #1175
This is my current understanding, but @guschmue correct me if any of this is wrong:

BatchNorm has a property "is_training" which can be true or false.  When true, the mean and variance values are computed dynamically during training.  When false, they are frozen and stored in the op.  If is_training is true when we try to convert the model, the mean and variance values are empty so we don't have

[2020-11-13 09:05] HarryAA commented on #1175
I also observe a similar problem when I set the LayerNormalization layers to Trainable=False at training time, meaning I just use fixed normalisation parameters for these layers, when I load the saved model back up again the layers appear to have training=True as all parameters are learnable again. I don't know if this is intended behaviour or not.

However it is worth noting that this problem doe

[2020-11-13 15:56] anhlt18vn commented on #1013
I have the same issue. Any update?

[2020-11-16 02:46] oswen opened #1181 "TypeError: value "<dtype: 'int32'>" is not valid attribute data type."
When I use tf2onnx, I have the following error, which seems to prompt the error of the op while/roll. Since my model needs to use beam search, so I need to use tf.while_ loop, is it because tf2onnx is not compatible with while_ loop?

**2020-11-16 10:38:04,980 - INFO - Using tensorflow=1.13.1, onnx=1.7.0, tf2onnx=1.7.1/796841
2020-11-16 10:38:04,980 - INFO - Using opset <onnx, 10>
2020-11-16 10:38

[2020-11-16 19:15] TomWildenhain-Microsoft commented on #1175
@HarryAA thanks for looking into this.  I've recently improved our messaging for when training is set to true (tf2onnx will display a warning but continue conversion).  Ideally models should have training set to false when we convert them, but it seems like there's a bug in TF/keras that isn't setting that correctly on this op.  Can you try converting with the latest tf2onnx from master and see if

[2020-11-16 19:18] TomWildenhain-Microsoft commented on #1181
We do support the While loop, but not the Roll op yet.  I'll look into adding support now.

[2020-11-16 22:57] #1181 closed

[2020-11-17 10:04] frankhaugen opened #1186 ".onnx -file is not created after convert ends/finishes"
**Describe the bug**
There are no onnx file generated. Seemingly the process just stops without an exception or log-message

**Urgency**
This is blocking our work on the 2020 ml.net hackathon

**System information**
- Windows 10
- Tensorflow Version: 2.3.1
- Python version: 3.8
- Onnx version: 1.8.0

**To Reproduce**
run this: `python -m tf2onnx.convert --saved-model exported-models\saved_model --

[2020-11-17 10:22] jay-karan commented on #1027
Hi @guschmue @TomWildenhain-Microsoft,

1. May I know how optimizers defined in [tf2onnx](https://github.com/onnx/tensorflow-onnx/tree/master/tf2onnx/optimizer) different from [onnx.optimize](https://github.com/onnx/optimizer/tree/master/onnxoptimizer) and
[onnxconverter-common.optimizer](https://github.com/microsoft/onnxconverter-common/tree/master/onnxconverter_common)

2. Does tf2onnx optimizer

[2020-11-17 15:32] guschmue commented on #1027
onnx.optimize is really old and insufficient, and we think its not reliable.
onnxconverter-common.optimizer is similar to what tf2onnx does but the optimizers in tf2onnx handle a little more. If we'd start tf2onnx today we'd most likely use onnxconverter-common.optimizer.

We optimize few things before conversion (ie. constant folding) since it helps the conversion but most of what we call optimiz

[2020-11-17 15:43] guschmue commented on #1186
I wonder if the process crashed.

Early on tf2onnx logs some versions, like:
 INFO - Using tensorflow=2.3.1, onnx=1.8.0, tf2onnx=1.8.0/5c0e1a
Can you send us this line?

We recently had some crashes with onnx-1.8 on windows but those should have been fixed before onnx-1.8 released.
If you see onnx-1.8, could you do a
```pip install onnx==1.7```
 and see if that fixes it to confirm?

[2020-11-17 18:01] frankhaugen commented on #1186
Thank you @guschmue for a quick reply!

You were correct and now we actually get an error message after downgrading, which is kind of cryptic and has an exception in the exception handling ironically enough.

I'm no expert, but I'm guessing the issue is in the training and not in the tf2onnx. Can you confirm my hypothesis:
[code]

[2020-11-17 20:09] TomWildenhain-Microsoft commented on #1186
Can you try again with the `--opset 12` flag?

[2020-11-17 21:57] frankhaugen commented on #1186
Turns out that it was the model being FUBAR, but your suggestion was also used and nothing went wrong! :-)

[2020-11-17 21:57] #1186 closed

[2020-11-17 22:01] guschmue commented on #1186
cool. I think we need to take a look at onnx-1.8.

[2020-11-17 23:38] askhade commented on #1186
@frankhaugen can you list the version of pybind11 and protobuf you have installed. Also I am assuming you installed onnx from pypi ... can you try onnx 1.8 from conda and see if you still see crashes. Thanks!

[2020-11-18 10:10] jay-karan commented on #1027
Thank you.
- Can we still try to use onnxconverter-common.optimzer on tf graphs while converting?
- Do we need to explicitly make calls to optimize few things before and after conversions?
- Does the use of tf2onnx's optimizer result in considerable change in performance of size, accuracy and inference speed?
- How much is the scope of adding custom optimizations to the existing set of optimizers?

[2020-11-18 16:30] guschmue commented on #1027
Yes, you could run onnxconverter-common.optimzer after tf2onnx but we think you should not see gains.
The optimizer in tf2onnx runs after the conversion so you need to explicitly call it. But we are thinking to release a new api that will combine those calls.
perf and size will change considerable. Depends on the model how much. For example if the tf model comes with nhwc the model will be horribl

[2020-11-18 19:09] wm2012011492 commented on #1027
Could I only turn off the --fold-constant optimization? The case is that I need to tile many weights by batch_size, like tf.tile(tf_weights, [batch_size]). Then tf2onnx will do constant_folding for these tile layers. The consequence is I get a super large .onnx file since the stored weights become batch_size times larger than it should be. When batch_size is 256, it even exceeds the maximum protob

[2020-11-18 19:13] TomWildenhain-Microsoft commented on #1027
This is a problem I thought we might run into at some point.... The constant folding here likely isn't actually from the optimizers, it is from the folding we do before conversion.  Can you attach a copy of your model/code?  We might want to disable folding if the resulting tensor is substantially larger than the inputs to the op.  A temporary workaround for you @wm2012011492 might be converting t

[2020-11-19 03:24] wm2012011492 commented on #1027
I can attach a simple model for reproduction later. The temporary workaround seems unacceptable in this case since I'm not allowed to modify the TF source code. How could I turn off --fold-constant in tile layers? I can afford to re-build tf2onnx library.

[2020-11-19 06:15] jay-karan commented on #1027
Thank you @guschmue . One thing is still ambiguous.

- When we are converting tensorflow graph to onnx graph, the corresponding operators (tf ops are <-> onnx ops) are being replaced right. Then, why is there a need for optimization?

[2020-11-19 16:22] guschmue commented on #1027
@jay-karan there are quite a few things we can optimize, for example nhwc->nchw transposes, fusing padding into conv, fusing batchnorm into conv, replacing mul/add with a gem, fusing back to back operations, removing duplicate constants ... depending on the model the gains are huge.

@wm2012011492 the --fold-constants thing is not supported for some time and it was only there to deal with some iss

[2020-11-19 17:02] wm2012011492 commented on #1027
You are right that I could use tf.tile(tf_weights, [tf.shape(input)[0]]) to avoid constant folding. But just like I said before, it's not preferred to modify the tf source code in my case. So I would rather modify tf2onnx and rebuilt this library. Is there any minimum change to turn-off constant folding tile layers?

[2020-11-19 17:04] TomWildenhain-Microsoft commented on #1027
@wm2012011492 I need to know which part of the codebase is actually doing the folding in this case.  There are 3 places it could be happening.  During conversion there should be a line **converted x values for constant folding**.  What is the value of x here?  Can you post the complete converter output?

[2020-11-19 17:10] TomWildenhain-Microsoft commented on #1027
@jay-karan To add on to what @guschmue said, part of the justification for including the optimizers in the tf2onnx repo (despite running them after converting the graph to onnx) is that we are often optimizing away inefficiencies introduced by the converter itself.  For example, an onnx op might output a different type than the corresponding TF type so we add a cast.  But if the original graph alr

[2020-11-19 20:45] wm2012011492 commented on #1027
[code]
Is this what you need?

[2020-11-20 09:19] baymak opened #1197 "Tensorflow 2.0 checkpoints conversion to Onnx fails"
I get error to use the below command in order to convert checkpoints to Onnx. I guess it is designed for TF1.0 checkpoints. Could you please help how can I convert TF2.x checkpoints to Onnx?
here is my comment line:
!python -m tf2onnx.convert --checkpoint  './Onnx_Trials/ckptGen/StarGAN_v2_GAN_HairS_gan-gp/'  --output mymodel.onnx --inputs input_1:0[1,256,256,3],input_2:0[1,64] --outputs Identity:

[2020-11-20 18:12] guschmue commented on #1197
the ```--checkpoint``` argument needs to be the .meta file in the checkpoint directory.

[2020-11-20 18:12] #1197 closed

[2020-11-23 06:51] yajinwuzl opened #1200 "OP error"
**Describe the bug**
OP not support

**System information**
-  Linux Ubuntu 18.04；
- Tensorflow 2.3.1；
- Python 3.6:

**Additional context**
ERROR - Tensorflow op [Preprocessor/ResizeToRange/cond/resize/Round_1: Round] is not supported
2020-11-23 06:26:52,447 - ERROR - Tensorflow op [Preprocessor/ResizeToRange/cond/resize/Round: Round] is not supported

[2020-11-23 17:00] guschmue commented on #1200
try adding ```--opset 12``` to the command line.

[2020-11-23 21:47] TomWildenhain-Microsoft commented on #1027
@wm2012011492 Thanks, can you try converting again with the latest tf2onnx from git?   #1201 should fix your issue.

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2020-11-24 05:31] buddhapuneeth opened #1203 "Missing shape information for 'NonZero' node derived from 'Where' node"
**Describe the bug**
Where operator is converted into NonZero and a Transpose operator ([ref](https://github.com/onnx/tensorflow-onnx/blob/3a633299202acb04e62d2bbe8ef71c2dc34d68cf/tf2onnx/onnx_opset/controlflow.py#L212)). But shape information is not added for NonZero node, which is causing issue while parsing the ONNX using ONNX C++ APIs.

**Urgency**
We are currently blocked on this for our inte

[2020-11-24 05:33] jay-karan commented on #1027
Thank you @TomWildenhain-Microsoft

- So, may I conclude that the optimizations defined are only removing the un-necessary operators produced after conversion of tf2onnx?
- How is the performance improved? Will there be any marginal change in inference times on vision based tensorflow models after converting to onnx?
- May I also ask if there are any possibilities on further accelerating the infer

[2020-11-24 15:48] guschmue commented on #1013
working on it. Exporting to onnx works now again but we have some issue with how the latest efficientdet uses nms. Once I fix that we should be good.
I'm not sure about the tensorrt issue above - we'd cast down to int32 only when needed (ie nms in onnx outputs int64 indexes but in tensorflow it is int32 so we need to cast).

[2020-11-24 17:09] TomWildenhain-Microsoft commented on #1203
Is the NonZero node in the resulting ONNX model an input/output? I don't think we save the shape information into the final ONNX graph for nodes except for inputs/outputs.

[2020-11-24 17:20] TomWildenhain-Microsoft commented on #1027
Yes, the optimizers are primarily targeted at removing inefficiencies added during conversion.  Though they occasionally may remove problems with the original TF graph, they are not the primary cause of speedup in most cases.  ONNX is generally faster than TF not because the graph is better but because ORT is just faster than the TF runtime for many ops.  ORT has multiple execution providers for e

[2020-11-24 19:48] guschmue commented on #1027
I'd say the optimizers do mostly removing, fusing and replacing. Example for the later is if we replace a add/mul with a gem.
We optimize before conversion (mostly via tensorflow/grappler and some extra constant folding) - this we depend on.
We optimize after conversion. Those are purely for perf and size. One could skip this. The impact depends a lot on the model but it is significant. If you hav

[2020-11-24 19:49] buddhapuneeth commented on #1203
Yes. I realized the issue is with the shape inference of the intermediate tensors. I am tracking the issue using another ticket on ONNX: https://github.com/onnx/onnx/issues/3123.
So, closing this issue.

[2020-11-24 19:49] #1203 closed

[2020-11-25 04:32] nhphuong91 commented on #965
@guschmue
excuse me, could you explain more about "replace FakeQuantWithMinMaxVars with a sequence of QuantizeLinear/DequantizeLinear to support Qat"?
Does user have to modify their network op or tf2onnx supports convert network with FakeQuantWithMinMaxVars op now?
Thanks!

[2020-11-25 16:07] guschmue commented on #965
Yes, we replace FakeQuantWithMinMaxVars with QuantizeLinear/DequantizeLinear so we don't lose the info from FakeQuantWithMinMaxVars.
The runtime specific quantitization tool like https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/python/tools/quantization will take the onnx graph and rewrites the graph with the real quantization ops.
tensorrt should also be aware of the QuantizeLinea

[2020-11-26 09:07] nhphuong91 commented on #965
@guschmue When I try to convert a network re-train from SSD MobileNet v2, I got a bunch of ERROR log like below

But at the end, I got this log:

Does this mean the converting process finished successfully or fail?? I can see there exist a new file "model12.onnx" but cannot not convert it to tensorrt engine.

[2020-11-26 15:10] HarryAA commented on #1175
Thanks for the update @TomWildenhain-Microsoft , sorry for the delay. I have tried the latest version of onnx as you suggested and it does indeed convert the model successfully. However when I load the onnx model into a runtime session I get the following error:

Which suggests to me that this fix maybe just avoids the underlying issue instead of fixing it?

[2020-11-26 17:13] guschmue commented on #965
Hm, the model has FakeQuantWithMinMaxVars and we support  FakeQuantWithMinMaxArgs. Let me see if we can add support for FakeQuantWithMinMaxVars.

[2020-11-27 13:53] awaradh opened #1207 "error when i try to convert facenet.pb to facenet.onnx using tf2onnx.convert"
i'm trying to convert tensorflow model to onnex model, but i get this error
RuntimeError: Shape inference error(s): (op_type:Cast, node name: InceptionResnetV1/Bottleneck/BatchNorm/Reshape_1__503): [TypeInferenceError] Value of attribute to not specified
any help please
thanks

[2020-11-30 18:02] TomWildenhain-Microsoft commented on #1207
Seems like a "Cast" node is being created without the "to" attribute.  Can you upload the model you are trying to convert?

[2020-11-30 20:45] TomWildenhain-Microsoft commented on #1175
@HarryAA Yes I think you are right about that.  My current conclusion is that there is a bug in Keras/TF that makes it not properly set the training value to false.  If the training value is true, tf2onnx has an error.  The best solution would be to work around the keras bug to get training to be false.  If training is true, I'm not sure there is much we can do to convert the model.  We can't just

[2020-12-02 18:42] shingming opened #1210 "error when converting the model to .onnx by command "python -m tf2onnx.convert": ValueError: Cannot find the variable that is an input to the ReadVariableOp."
## Description of the problem
Hi, I follow the CLI reference to converting the model to .onnx, but I get some errors.

cmd line: `python -m tf2onnx.convert --saved-model "C:\Users\timla\Documents\Music Project\Python\con_model_type\savedModel" --checkpoint "C:\Users\timla\Documents\Music Project\Python\con_model_type\ckpy\LSTM.ckpt.meta" --input "C:\Users\timla\Documents\Music Project\Python\con_m

[2020-12-03 01:52] guotong1988 opened #1212 "Onnx can inference on Linux-CPU by only using pip-install to convert the model, without any other so-file to install on Linux, Am I right?"
I am new to onnx. Thank you and thank you very much!

[2020-12-03 02:25] guotong1988 commented on #1212
https://github.com/microsoft/onnxruntime#system-requirements

[2020-12-03 02:25] #1212 closed

[2020-12-03 23:32] qeexowill opened #1214 "Output ONNX file is incorrect because shape is passed as an input to RandomUniform"
**Describe the bug**

I am testing using the publicly available model: [cifar10_cnn.pb](https://github.com/uTensor/simple_cnn_tutorial/blob/master/cifar10_cnn.pb):

[code]

Model conversion finishes without error, but the output onnx file is unusable. Loading with onnxruntime, I get:

[code]

The problem seems to be that the shape is passed as input to `RandomUniform`, while ONNX expects it to be

[2020-12-04 19:02] TomWildenhain-Microsoft commented on #1214
Hi, thanks for the issue report and the thorough investigation.  Try again with the `--opset 9` flag.  The default opset is 8, which doesn't support RandomUniform with non-constant shape.  I've opened a PR to improve this messaging.  #1215

[2020-12-04 19:06] TomWildenhain-Microsoft commented on #1210
Hi @shingming , thanks for the thorough explanation and log contents.  Are you able to share a copy of the saved_model you are converting?

[2020-12-04 19:21] shingming commented on #1210
@TomWildenhain-Microsoft Of course, the download link is here: [https://drive.google.com/file/d/1WtzXFJrBHU_I6x7digIPO1mMRUox2Teo/view?usp=sharing](url)

[2020-12-04 19:45] TomWildenhain-Microsoft commented on #1210
Try this:
`python -m tf2onnx.convert --saved-model "C:\Users\timla\Documents\Music Project\Python\con_model_type\savedModel"`
For saved models, you don't need to specify a checkpoint or inputs/outputs.

[2020-12-04 21:11] qeexowill commented on #1214
Thanks! That seems to fix it.

[2020-12-04 21:11] #1214 closed

[2020-12-05 06:28] shingming commented on #1210
@TomWildenhain-Microsoft got the same condition by your suggestion :(
`ValueError: Cannot find the variable that is an input to the ReadVariableOp.`

[2020-12-05 06:42] TomWildenhain-Microsoft commented on #1210
Interesting.  What version of TensorFlow are you using?  Can you try updating to the latest version?

[2020-12-05 07:14] shingming commented on #1210
@TomWildenhain-Microsoft
For the past, my Tensorflow version is 1.14.0 and then I follow your suggestion that updating to 2.3.1, it works for me! Thx!

Btw, Because of my model on training step is using tf version 1.x and I know that it is a big change between version 1.x and 2.x, so avoiding to incompatibility and error condition, I use tf version 1.x to converting, but it is clear to see that my

[2020-12-05 07:20] TomWildenhain-Microsoft commented on #1210
Glad to hear it!  TF 2 has backwards compatibility for reading TF 1 models and has all the TF 1 methods in the tf.compat.v1 namespace.  tf2onnx uses some helper functions from tf that can be buggy in TF 1.

[2020-12-05 09:17] wangqiaoshi commented on #1175
I also encountered the same problem,from [OpenNMT-tf](https://github.com/OpenNMT/OpenNMT-tf),  the SequenceToSequence Model.

[2020-12-06 01:40] #1210 closed

[2020-12-08 00:27] GitOP commented on #75
Here is the full error: "ValueError: You passed in an iterable attribute but I cannot figure out its applicable type." stack trace attached.
[stack-trace.txt](https://github.com/onnx/tensorflow-onnx/files/5656010/stack-trace.txt)

[2020-12-08 00:40] guschmue commented on #75
Hm, your stack trace says:
[code]
Does not look like tf2onnx issue.

[2020-12-08 03:40] wangqiaoshi opened #1219 "Failed to convert with node LookupTableFindV2"
**Describe the bug**
When trying to convert a tensorflow model containing op LookupTableFindV2 , the conversion to onnx fails.   table_node.get_attr_value("shared_name") is None, details
[code]

**Urgency**
If there are particular important use cases blocked by this or strict project-related timelines, please share more information and dates. If there are no hard deadlines, please specify none.

*

[2020-12-08 14:54] TomWildenhain-Microsoft commented on #1219
We've recently made some changes to improve conversion of this op.  Can you try with the latest version of tf2onnx from GitHub?
`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2020-12-08 23:51] dfvr1994 commented on #1038
Hi @TomWildenhain-Microsoft , any upgrade on DecodeJpeg op yet?

[2020-12-09 01:08] TomWildenhain-Microsoft commented on #1038
Yes, while DecodeJpeg isn't supported, the tflite version of the model accepts a tensor of pixel values directly and looks easy to convert.  We plan on adding support for converting tflite models next semester.  When we do, your model should be able to be converted.

[2020-12-09 01:30] guschmue commented on #1038
The way you can work around it is to pass in an explicit input that goes behind the DecodeJpeg.

[2020-12-09 01:31] TomWildenhain-Microsoft commented on #1038
@guschmue Do we have the code that does that for saved models merged?

[2020-12-09 01:32] guschmue commented on #1038
I can send a PR today.

[2020-12-09 02:04] wangqiaoshi commented on #1219
@TomWildenhain-Microsoft  thanks for the reply. I don't know if it is the problem of tensorflow itself, or the problem of using tensorflow, or other problems. Now there are other problems
[code]

[2020-12-09 03:37] dfvr1994 commented on #1038
@guschmue thanks, can you please post here when the PR processes successfully? I really want to be able to use the workaround you mentioned.

[2020-12-09 19:21] rttus opened #1222 "TF2 SavedModel to ONNX conversion fails for ConvLSTM2D layer"
**Describe the bug**
I am trying to convert a TF2 SavedModel to ONNX using

 python3 -m tf2onnx.convert --saved-model <model_dir_path> --opset 13 --output <output_file_name>

 The conversion fails with the below stack trace

 WARNING - ONNX Failed to infer shapes and dtypes for [functional_5/functional_3/conv_lst_m2d/while/TensorArrayV2Read/TensorListGetItem__17, type: Unsqueeze]
Traceback (most r