[2020-12-09 20:14] TomWildenhain-Microsoft commented on #1219
Two things: It looks like there was a bug in reading hash table initializers which I'm fixing with #1223.  Also this model contains some ops with no ONNX equivalents (StringToHashBucketFast).  Fortunately, these ops do have implementations in our soon-to-be-announced custom ops framework here: https://github.com/microsoft/ort-customops

To enable these conversions, follow this tutorial: https://gi

[2020-12-09 20:24] TomWildenhain-Microsoft commented on #1222
Hi @rttus, tf2onnx does not support opset 13 yet.  Try using opset 12.

[2020-12-09 20:27] TomWildenhain-Microsoft commented on #1222
The other issue is that it looks like the input to your conv op has unknown rank.  Can you share the model you are converting?

[2020-12-10 07:30] wangqiaoshi commented on #1219
I have a question, I don't know if ort-customops is suitable for tensorrt.

[2020-12-10 12:13] wangqiaoshi commented on #1219
@TomWildenhain-Microsoft
thanks！ This bug fix has played a big role, but encountered a problem

`
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/tf2onnx/tfonnx.py", line 289, in tensorflow_onnx_mapping
    func(g, node, **kwargs, initialized_tables=initialized_tables)
  File "/opt/conda/lib/python3.8/site-packages/tf2onnx/custom_opsets/onnx_ml.py", line 39, in ve

[2020-12-10 12:14] wangqiaoshi commented on #1219
I look at the tensorflow code, default_value=-1
[code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/lookup_ops.py#L1237)

[2020-12-10 18:43] TomWildenhain-Microsoft commented on #1219
Interesting, it is working for me.  Can you upload the zipped saved model?  Maybe your tf version is saving it differently.

No, the customops will not work with TensorRT, but you may want to consider using onnxruntime instead which uses TensorRT as an execution provider.  Ops with TensorRT support will be routed to TensorRT.  Other ops will use the c++ onnxruntime implementation.  https://github.

[2020-12-10 20:17] HarryAA commented on #1175
@TomWildenhain-Microsoft Yes I think it does. The layers definitely need to be included in the conversion because the learnt parameters are used at inference. I have a work around that prevents me from using the FusedBatchNorm and this works for me but it certainly isn't a general solution. I am not sure if the bug in tensorflow is fixed and we are able to set training=False that this problem will

[2020-12-10 20:43] TomWildenhain-Microsoft commented on #1175
I'm pretty sure it will.  Setting training to false also mains TF will include additional data in the op that we need (mean and variance).  When training = true, these values are left blank.

https://www.tensorflow.org/api_docs/python/tf/raw_ops/FusedBatchNormV3

[2020-12-10 22:55] rttus commented on #1222
@TomWildenhain-Microsoft

Thanks for your response. I was dubious about opset=13 so i had tried different opsets before. However, with a different opset, i see similar error about dtype and shape during optimization loop but this time it creates a ONNX file at the end.
Wrt sharing the model, i wouldnt be able to share the actual model. However, i tried converting a sample code from https://keras.i

[2020-12-11 01:40] wangqiaoshi commented on #1219
[save1.zip](https://github.com/onnx/tensorflow-onnx/files/5676591/save1.zip)
@TomWildenhain-Microsoft

[2020-12-11 03:33] wangqiaoshi commented on #1219
sorry,It’s my mistake, now the export is OK, but there are also errors
···
Exception ignored in: <function CapturableResourceDeleter.__del__ at 0x7fd9e58ecb80>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/tensorflow/python/training/tracking/tracking.py", line 202, in __del__
    self._destroy_resource()
  File "/opt/conda/lib/python3.8/site-packages/tensorflow/

[2020-12-11 03:40] TomWildenhain-Microsoft commented on #1219
Those exceptions look like they can be safely ignored.  Was an onnx file generated?

[2020-12-11 05:43] wangqiaoshi commented on #1219
thank you , file generated.

[2020-12-11 06:11] wangqiaoshi opened #1227 "if concrete_func.graph.captures contain dtype= string ,can throw exception"
**Describe the bug**
- convert a transformer model
- training code https://github.com/OpenNMT/OpenNMT-tf
-  if concrete_func.graph.captures contain dtype= string ,can throw exception

[code]

**Urgency**
None

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Tensorflow Version:  2.3.1
- Python version: 3.8

**To Reproduce**
Describe steps/code to reproduce

[2020-12-11 06:17] wangqiaoshi commented on #1227
I don't know if it is right, I think the variables and resources of dtype=string should also be removed before freezing the graph

[2020-12-11 08:01] wangqiaoshi commented on #1219
It works normally in a simple network, but will cause problems in a complex network.
if op HashTableV2

`
 for r in imported.__dict__.values():
        if isinstance(r, TfRestoredResourceType) and hasattr(r, '_create_resource') and hasattr(r, 'resource_handle'):
            # Add tables from saved_model table initializers
            # pylint: disable=protected-access
            initializer = r._

[2020-12-11 08:41] Marwen-Bhj commented on #1082
at least share the solution for others who faced the same issue.

[2020-12-11 10:48] wangqiaoshi commented on #1219
For this, I wrote an implementation example

[code]

[2020-12-11 15:51] guschmue commented on #1222
In general yes, The warning about the loop_optimizer is not expected and we should find out what ti complains about but if it fails it only impacts this specific optimizer.

[2020-12-11 18:46] TomWildenhain-Microsoft commented on #1219
Thanks @wangqiaoshi, can you also upload the keras code to create such a nested model?  Then I can add it as a test case and incorporate your changes.  Thanks so much!

[2020-12-11 19:14] TomWildenhain-Microsoft commented on #1227
This is caused by a bug in TF's convert_variables_to_constants_v2 function.
https://github.com/tensorflow/tensorflow/pull/45610/files

[2020-12-11 19:18] TomWildenhain-Microsoft commented on #1227
There are some other issues causing this model not to convert.  I'm taking a look now.

[2020-12-11 19:47] TomWildenhain-Microsoft commented on #1219
Never mind, a different GitHub issue provided such a model.  #1228

[2020-12-12 07:27] wangqiaoshi commented on #1219
ok

[2020-12-14 05:42] wangqiaoshi opened #1229 "converter only supports while loops with a single scan output"
**Describe the bug**
A clear and concise description of what the bug is.
- convert a transformer model
- training code https://github.com/OpenNMT/OpenNMT-tf
- throw exception
[code]

**Urgency**
If there are particular important use cases blocked by this or strict project-related timelines, please share more information and dates. If there are no hard deadlines, please specify none.

**System info

[2020-12-14 10:49] sandeepganage opened #1230 "VGG19 model to TensorRT Engine conversion : Shape Error in nvinfer1::rt::anonymous-namespace'::executeReshape: reshape would change volume"
I ran following command to convert tf model to onnx:
python -m tf2onnx.convert --saved-model "saved-model-path/" --output "path-output-model.onnx" --opset 12 --verbose

============================================================

It gave me following output:
12:27:27,777 - INFO - tf2onnx.tfonnx: Using tensorflow=2.1.0, onnx=1.7.0, tf2onnx=1.7.1/796841
12:27:27,777 - INFO - tf2onnx.tfonnx: Using o

[2020-12-14 16:22] guschmue commented on #1013
this should be ok now.

[2020-12-14 16:22] #1013 closed

[2020-12-14 19:13] TomWildenhain-Microsoft commented on #1219
Has the PR solved your issue?  If so, I'll close this.

[2020-12-14 19:14] TomWildenhain-Microsoft commented on #1222
Did the model work for you?

[2020-12-14 22:13] rttus commented on #1222
So, I use the ONNX converted model to generate a tensorrt engine. Now when i use this converted model, tensorrt optimization fails. So, i am not sure if it the ONNX file itself or tensorrt engine conversion that has problem.

In short, I havent gotten my model working yet.

[2020-12-14 23:24] TomWildenhain-Microsoft commented on #1222
Can you try the model in onnxruntime?  That will help us determine if it is the model or TensorRT.

[2020-12-15 07:19] wangqiaoshi commented on #1229
@guschmue Excuse me, sorry, is there a solution for this?
I have a question, why do you say that there is no equivalent step in onnx and we should remove it.Onnx should support TensorListReserve, TensorListResize.
https://github.com/onnx/tensorflow-onnx/blob/master/support_status.md

[2020-12-15 10:48] wangqiaoshi commented on #1219
Solved it, close it

[2020-12-15 16:08] guschmue commented on #1229
onnx does not support TensorListReserve and TensorListResize - basically in tensorflow the body of a loop will maintain a list, grow it and append things to it. In onnx the loop operator is maintaining the list and the body just yields the elements.
We have not seem much problems mapping the tf loop to the onnx loop this way.
In opset-11 onnx introduced sequences and they are somewhat similar to t

[2020-12-15 16:10] guschmue commented on #1207
There is no enough info here to look at this. Do you have at least the stack trace from the error?

[2020-12-15 17:28] theumang100 commented on #1038
hey bro, have you got anything?!!

[2020-12-15 17:34] guschmue commented on #1038
I had spoken to early - to override of inputs creates some issue. Thinking how to get around this.

[2020-12-15 18:29] #1219 closed

[2020-12-15 19:22] TomWildenhain-Microsoft commented on #1230
Can you please try the model in onnxruntime?
https://github.com/microsoft/onnxruntime
If it works, then this is a problem with TensorRT and should be reported to their issues page.
https://github.com/NVIDIA/TensorRT

[2020-12-15 19:28] TomWildenhain-Microsoft commented on #1027
@wm2012011492 for your purposes of keeping the names the same, as you have noticed, tf2onnx does not guarantee names of the onnx graph match those in the TF graph (except for inputs/outputs).  Disabling the optimizers might be sufficient in your case to keep the names the same.  To disable some/all of them, remove lines from /tf2onnx/optimizer/__init__.py.

[2020-12-15 19:30] TomWildenhain-Microsoft commented on #1229
Yeah, I'll take a look at this.

[2020-12-15 20:09] rttus commented on #1222
Thanks for the hint. So, i did try running the ONNX converted sample model from here https://keras.io/examples/vision/conv_lstm/
using ONNX runtime using below script

`import numpy
import onnxruntime as rt

sess = rt.InferenceSession("test.onnx")
input_name = sess.get_inputs()[0].name

pred_onx = sess.run(None, {input_name: numpy.random.rand(1, 1, 40, 40, 1).astype(numpy.float32)})[0]
print(pred_

[2020-12-15 20:12] TomWildenhain-Microsoft commented on #1222
Well at least onnxruntime gives a nicer error message... I'll take a look.  There are a few pending issues involving loops.

[2020-12-15 20:33] rttus commented on #1222
Sounds good. Thank you very much.

[2020-12-15 22:20] TomWildenhain-Microsoft commented on #1222
Can you upload a copy of the saved model?  That will save me some time.

[2020-12-16 00:15] guschmue commented on #1222
https://github.com/keras-team/keras-io/blob/master/examples/vision/conv_lstm.py

[2020-12-16 00:17] guschmue commented on #1200
closing this - Round is supported since opset-11.

[2020-12-16 00:17] #1200 closed

[2020-12-16 01:40] wangqiaoshi commented on #1229
@guschmue  If you write like this, there will be a problem
[code]
Do you mean that writing like this is not standardized,'basically in tensorflow the body of a loop will maintain a list' means that tensorflow will generate a list by default?

[2020-12-16 07:09] wangqiaoshi commented on #558
+1

[2020-12-16 11:36] sandeepganage commented on #1230
@TomWildenhain-Microsoft
I have tried inference using ONNX model file only. It gives me correct output. Problem lies with conversion only.

[2020-12-16 11:39] sandeepganage commented on #1230
@TomWildenhain-Microsoft
What is the most ideal way to run tensorflow model on tensorrt.? I tried with caffe model and it was easy as a snap.
I have been struggling to run tensorflow model using tensorrt from so many days. Now I am not sure if I am doing it the right way

[2020-12-16 13:18] eddiecong commented on #362
Any updates on this? Facing the same problem.

[2020-12-16 16:58] guschmue commented on #1229
onnx does not have something like a tensor array (maybe the new sequence ops in opset-11 are close). But we can have the loop operator assemble the list by yielding the elements. Only condition is that it needs to be a sequential write to the tensor array. I think we should be able to make the example above work.

[2020-12-16 19:44] TomWildenhain-Microsoft commented on #362
Hi @eddiecong, can you open a new issue?  The error message here is pretty generic and can come from any op we haven't supported yet.  Also, try using the latest tf2onnx from github, since it should fix this error message and give a more understandable one.  Thanks.

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2020-12-16 19:45] #362 closed

[2020-12-16 19:49] TomWildenhain-Microsoft commented on #1230
Hi @sandeepganage, if the ONNX model works in onnxruntime then the tf2onnx repo is doing its job correctly.  tensorrt uses the ONNX format to import but it is managed by NVIDIA.  You should open an issue with them.  https://github.com/NVIDIA/TensorRT

You could also opt to just use onnxruntime instead of TensorRT.  onnxruntime has TensorRT as an execution provider meaning it will route calculation

[2020-12-16 22:18] guschmue commented on #1230
I was planning to do some testing with trt soon since we have a few trt related issues and belief we can get nvidia to help if needed.

[2020-12-17 00:35] #1229 closed

[2020-12-17 07:17] wangqiaoshi opened #1239 "The while op does not support dynamic max_iterations"
**Describe the bug**
The while op does not support dynamic max_iterations
[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  18.04
- Tensorflow Version: 2.3.1
- Python version:  3.8

**To Reproduce**
Does not support such a model
[code]

[2020-12-17 22:47] guschmue opened #1242 "trt padding issue"
possible tf2onnx issue:
https://github.com/NVIDIA/TensorRT/issues/670

[2020-12-18 22:18] HarryAA commented on #1175
Okay, that makes sense. So this is an issue that should be raised in the TF repo. Has this been done? Until then this issue can't be fixed.

[2020-12-18 22:29] TomWildenhain-Microsoft commented on #1175
I believe I have seen this issue raised before, but I can't find it... would be worth raising again.  My only other question is how TF is able to run inference at all without these values.  If it computes the mean/variance from the current sample, we may be able to do the same in this case.  If it is using some sort of rolling average based on previous inferences, then there really is nothing we c

[2020-12-18 22:34] HarryAA commented on #1175
Okay sure, I will take a look a bit closer at what TF is doing for this when performing inference. I'll try and avoid hacky workarounds for the time being and see if I can fix the underlying issue. Cheers.

[2020-12-19 00:56] #1239 closed

[2020-12-19 00:57] TomWildenhain-Microsoft commented on #1222
This PR should solve your issue:
https://github.com/onnx/tensorflow-onnx/pull/1244

I still need to look into the failing optimizers.

[2020-12-24 09:02] sandeepganage commented on #1230
Issue solved. Problem was with tensorflow model itself. I am using tensorflow2x and code which I was using to patch my model.h5 weight was in tensorflow1x. I was taking incorrect stride value for each convolution operation which ultimately resulted in giving me incorrect model itself.
I converted this incorrect model to onnx and then was trying to deploy on tensorrt.
Bow the trt engine can be gene

[2020-12-24 09:02] #1230 closed

[2020-12-28 05:50] #1131 closed

[2020-12-29 03:57] TomWildenhain-Microsoft commented on #1175
I took a deep look at this issue today and here's what I found:

1. The TF spec claims [FusedBatchNormV3](https://www.tensorflow.org/api_docs/python/tf/raw_ops/FusedBatchNormV3) will have empty mean/variance exactly when is_training is true.  **This is incorrect.**  Rather, mean/variance are empty if and only if training is true AND `exponential_avg_factor` is 1.  In this case, the mean/variance a

[2020-12-30 00:22] #1222 closed

[2020-12-30 00:25] TomWildenhain-Microsoft commented on #1112
Let me know if you still need help with this issue.

[2020-12-30 00:28] TomWildenhain-Microsoft commented on #1100
@phager90 Are you still having this issue?

[2020-12-30 00:31] #1085 closed

[2020-12-30 00:32] TomWildenhain-Microsoft commented on #1062
Let me know if you still need help with this model.

[2020-12-30 01:14] TomWildenhain-Microsoft commented on #1052
Hi @witsang , Can you try again with the latest version of tf2onnx and see if this is still an issue?

[2020-12-30 02:13] ben-omji opened #1251 "RuntimeError: Shape inference error(s): (op_type:Mul, node name: AttentionOcr_v1/sequence_logit_fn/SQLR/LSTM/attention_decoder/Attention_0/mul): [ShapeInferenceError] Incompatible dimensions"
**Describe the bug**
Hi, I'm trying to convert [attention ocr model](https://github.com/tensorflow/models/tree/master/research/attention_ocr) to onnx.

Train model, export to saved model format and use tf2onnx for converting from saved model to onnx model.
`python -m tf2onnx.convert --saved-model aocr_indexout/1/ --opset 12 --output model.onnx`

I checked that the tf saved model brings a valid out

[2020-12-30 02:51] TomWildenhain-Microsoft commented on #1251
Hi @ben-omji , yes could please upload the saved model directory?

[2020-12-30 05:25] trannamvinai commented on #1037
Hi everyone!
I got the same problem with input node name, output name of model.meta. I try to use Tensorboard to visualize the model and get the input, output (so many nodes to choose from). If anyone can help me to figure out what is the real input, output. It will be very appreciated!
My script:
python -m tf2onnx.convert --checkpoint model.ckpt-0.meta --output model.onnx --inputs pfld_conv1:0 --

[2020-12-30 05:30] ben-omji commented on #1251
@TomWildenhain-Microsoft

This is the Savedmodel dir. Thank you.
[aocr_indexout.zip](https://github.com/onnx/tensorflow-onnx/files/5753115/aocr_indexout.zip)

[2020-12-30 07:39] RD191295 opened #1252 "Convert tensorflow 2 custom model to onxx create issue. (wrong prediction)"
**Describe the bug**
I convert tensorflow model to onxx using tf2onnx .but after converting model it giving wrong prediction . i used ssd mobile net model. it's custom train model and while testing it giving wrong output every time.

**Urgency**
It is in Development. if i get support quickly,it appreciate lot

**System information**

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubantu

[2020-12-30 11:48] Muizzu001 opened #1253 "ValueError: Input 0 of node StatefulPartitionedCall, could not Convert Custom YoloV3 model into ONNX"
**Describe the bug**
I could not convert the TF saved_model.pb into onnx format despite following the steps. I do not know what went wrong.

**Urgency**
None

**System information**
- Windows 10
- Tensorflow Version: 2.3.1
- Python version: 3.7

**To Reproduce**
Ran the following command:
`python -m tf2onnx.convert --saved-model saved_model --output model.onnx`

**Expected behavior**
ValueError: I

[2020-12-30 11:58] Muizzu001 commented on #1253
Found out the issue. Apparently, the Tensorflow version used to export to pb format is different from the TF version used for the conversion.

Closing this issue.

[2020-12-30 11:58] #1253 closed

[2020-12-30 23:53] #1075 closed

[2020-12-30 23:53] #1175 closed

[2020-12-30 23:53] #1227 closed

[2020-12-31 02:24] hoaquocphan commented on #1062
Hi @TomWildenhain-Microsoft

Thanks for your reply
this issue still exist. but currently, I used other model to run the Posenet app.

[2020-12-31 17:47] buddhapuneeth opened #1254 "Support for ragged range operator"
**Describe the bug**
I am not able to convert TF model with ragged.range operator.

**Urgency**
We are experimenting few approaches for our usecase. One of the way is using ragged range operator. This approach is working fine in TF. We would like to see can it be support with minimal changes on tf2onnx

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Catali

[2020-12-31 18:58] TomWildenhain-Microsoft commented on #1062
@hoaquocphan Cool.  Would you be able to upload both the trained TF saved model and the converted onnx file?  I'll take a look and see if there's any way we can change the conversion to get ORT to accept it.  Also are you using the latest version of ORT?  If there is nothing we can do, we can open an issue with ORT.

[2020-12-31 19:28] TomWildenhain-Microsoft commented on #1254
Sure, I can look into adding this.  Does the model have other ragged ops, or is this the only one?  Also, is the ragged range you are using "mostly dense" (do most of the ranges have the same number of elements?)  This might inform how I implement the conversion.

[2020-12-31 19:31] TomWildenhain-Microsoft commented on #1252
I have a few issues to get to but I'll try to do this one soon.  I see that the Google Drive you linked to has a saved_model.pb but no variables folder.  Are you sure this is the entire model?

[2020-12-31 19:47] TomWildenhain-Microsoft commented on #1251
The problem is caused by a bug in the transpose optimizer.  I'm working on a fix.

[2020-12-31 20:31] TomWildenhain-Microsoft commented on #1252
Your Colab suggests you have a frozen inference graph.  Would you be able to share it?

[2020-12-31 20:41] TomWildenhain-Microsoft commented on #1254
Also is opset 12 support sufficient, or do you need support for a lower opset?

[2020-12-31 21:51] buddhapuneeth commented on #1254
@TomWildenhain-Microsoft Thanks for quick response!
- we have only one ragged op in our model
- we can't assume it as dense, it will be variable. But variable with in a small range. For example between 2 to 4 like 2,4,3,2,4.
- Opset 12 is fine
- the output of ragged op (i.e. ragged tensor) is used as input to gather_nd operator (pass as indicies). In our case, I believe this might be fine during c

[2020-12-31 21:54] TomWildenhain-Microsoft commented on #1254
Great, that all sounds good.  If the length of the ranges is upper-bounded by 4, then an implementation that is inefficient in that dimension should be fine.  I'll give it a shot.

[2021-01-01 03:28] RD191295 commented on #1252
No i did not make frozen inference graph for this model.  about variables forlder i wil upload that again seems like some issue for access.

[2021-01-01 03:48] RD191295 commented on #1252
I just upload 3 model . Two model is Tensorflow 2 model and one is from tensorflow 1 model.  One which is tensorflow 1 is working fine and no issue. but tensorflow 2 model give wrong prediction.

Folder name is :
1.  Tensorflow_1 model --- Pre train model ---- working fine
2.  Tensorflow2_SSD_MobileNet --- custom model --- issue
3. Tensorflow2_SSD_Resnet ----   issue

i tried tensorflow 2 model wi

[2021-01-01 04:24] TomWildenhain-Microsoft commented on #1254
I made a PR for this.  You will need to install from GitHub to use it before we make a release.

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

Or before the branch merges into master:
`pip install git+https://github.com/onnx/tensorflow-onnx/pull/1256`

[2021-01-01 06:18] TomWildenhain-Microsoft commented on #1252
Hi @RD191295 , I tried running Tensorflow2_SSD_MobileNet locally and I'm getting matching results for the .pb and .onnx files you uploaded.  What version of ORT are you using?  Also can you upload a test image?  Is possible you are using the output names in the wrong order?

[2021-01-01 06:26] RD191295 commented on #1252
I am getting output name with some identify_o and so one...  Where tensorflow model has name like detection_box and so on... So I take order from same way and use this... Will you tell me you also get same one...

[2021-01-01 06:27] RD191295 commented on #1252
Can you check Tensorflow2_SSD_Resnet also... Will this also give same results?

[2021-01-01 06:31] TomWildenhain-Microsoft commented on #1252
Yes I also get nodes named Identity_1, etc.  I used the same order as the TF model and got the same results.  I can try Tensorflow2_SSD_Resnet on Monday.

[2021-01-01 10:37] RD191295 commented on #1252
I checked my python script and done some change with that and now i am able to get same result. Thank you so much helping for me to sort it out this issue. Happy New year!! Have a nice year ahed!!

[2021-01-01 17:39] TomWildenhain-Microsoft commented on #1252
Excellent!  Happy New year!

[2021-01-01 17:39] #1252 closed

[2021-01-04 08:37] phager90 commented on #1100
@TomWildenhain-Microsoft Yes I am still having this issue.

[2021-01-04 09:25] HarryAA commented on #1175
Thanks very much for fixing @TomWildenhain-Microsoft !

[2021-01-04 18:13] buddhapuneeth commented on #1254
@TomWildenhain-Microsoft Awesome! I verified with your changes and my sanity checks are passed. Thanks a lot!

[2021-01-04 18:13] #1254 closed

[2021-01-05 03:46] matinehshaker opened #1257 "Input Output Tensor names needed after tf to onnx conversion"
I am writing a piece of software that receives an ONNX model from a model provider. The final goal is that this model is converted to Tensorflow and that's how it will be used in run-time. There’s existing TF infra and the rest of the deep learning models are in TF.

In the backend, the imported ONNX model is transformed and exported as TF graph pb file, using onnx_tf tool. Then we use import_grap

[2021-01-05 12:07] grebdioZ commented on #921
Any new ideas on this? We encountered the same thing when trying to convert our TF model repo to ONNX, and at current it looks like we would have to change all the output name references.

[2021-01-05 18:19] anhlt18vn opened #1258 "Not able to run the tutorials converting efficientdet from TF to ONNX"
**Describe the bug**
I got this error at the final step of the example:
[https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/efficientdet.ipynb](https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/efficientdet.ipynb)

Fail: [ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running Concat node. Name:'detections_Concat__1830' Status Message: Not satisfied: dim_v

[2021-01-05 18:27] guschmue commented on #1258
I think I made a fix for this but we have not done a release since. We'll do so this week.
In the meantime you could do
[code]

[2021-01-05 18:59] #1251 closed

[2021-01-06 11:30] hmeine commented on #921
I tried to reproduce this.

In http://netron.app, I uploaded the resulting resnet.onnx and could see:
* The second-to-last block in the visualization was a SoftMax node; when I select this, the "NODE PROPERTIES" on the right show me that its name is `StatefulPartitionedCall/resnet50/predictions/Softmax`, which looks reasonably good (contains "predictions").
* The last block in the visualization is

[2021-01-06 16:41] guschmue commented on #921
tensorflow adds those Identity nodes when we ask for the graph, even in tensorflow itself you'll see those names.
I have not found away around this yet.
Maybe we can do some thing to change the names to what the saved model says they should be.

[2021-01-07 04:20] Chindianese opened #1259 "Unable to convert TF model generated from Tensorflow for Poets"
**Describe the bug**
A clear and concise description of what the bug is.

**Urgency**
None

**System information**
- Windows x64
- Tensorflow Version(Docker): 1.7.0
- Tensorflow Version(PC): 2.4.0
- Python version(Docker): 2.7.12
- Python version(Docker): 2.8.7

**Additional context**
Saved model generated from Tensorflow for Poets / Inception model, through docker. Running convert for saved model

[2021-01-07 14:38] hmeine commented on #921
What exactly was the problem with `structured_outputs`?
[code]

[2021-01-07 14:52] oborchers opened #1260 "Unable to convert TF-Hub Model to ONNX: You must feed a value for placeholder tensor"
**Describe the bug**
When converting a previously downloaded TF-Hub model using the tf2onnx converter I get an error message telling me to feed a placeholder

**Urgency**
None

**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.05
- ONNX Runtime installed from (source or binary): Source
- ONNX Runtime version: 1.5.2
- Python version:Python 3.8.5
- Visua

[2021-01-07 19:58] TomWildenhain-Microsoft commented on #1259
Hi @Chindianese, are you able to upload a .zip containing the saved model you are trying to convert?

[2021-01-07 20:58] TomWildenhain-Microsoft commented on #1257
This is the tf2onnx repo for converting from tensorflow to onnx.  It seems like this issue should go to the onnx-tensorflow repo: https://github.com/onnx/onnx-tensorflow

[2021-01-08 08:12] Chindianese commented on #1259
https://we.tl/t-XEl5WnCeUm
Here is the graph and saved model
Input node name is "input". Output node name is "final_result"

[2021-01-08 20:36] TomWildenhain-Microsoft commented on #1260
This should be fixed by #1263.  Also for this model contains string ops not supported by onnx.  To convert the model successfully add the `--extra_opset ai.onnx.contrib:1` flag and install the custom ops framework.

https://github.com/microsoft/ort-customops
Tutorial: https://github.com/microsoft/ort-customops/blob/main/tutorials/tf2onnx_custom_ops_tutorial.ipynb

[2021-01-08 20:55] TomWildenhain-Microsoft commented on #1259
Thanks.  This model contains a placeholder op as a way to override an otherwise computed value in the graph:

![image](https://user-images.githubusercontent.com/67606533/104062919-5322d480-51c9-11eb-9d97-fae887c93d0c.png)

ONNX doesn't support non-const default values so it can't convert the graph as-is.  If you want to use this node as a placeholder and disregard the computed input, change the op

[2021-01-11 03:05] Chindianese commented on #1259
Thank you. Can the node be changed from PlaceholderWithDefault to a placeholder/identity node after the model has been generated? How should I go about generating a model with a different op / changing the op after generation?

[2021-01-11 11:22] oborchers commented on #1260
Thank you! Technically, the exports works and I'm able to create the custom model for the universal sentence encoder, as you described.

This, however, leads me to the followup-problem of ort-customops, which is reported here:
[https://github.com/microsoft/ort-customops/issues/38](https://github.com/microsoft/ort-customops/issues/38)

Thank you for your time and consideration!

[2021-01-11 17:54] guschmue commented on #921
The problem is that the graph that tensorflow returns is using the identity nodes.

[2021-01-11 18:20] TomWildenhain-Microsoft commented on #1260
Great!  Looks like Wenbing is taking care of it.

[2021-01-11 18:20] #1260 closed

[2021-01-11 18:25] TomWildenhain-Microsoft commented on #1259
If I add the flags then you could always just convert the model twice to give you one for each use case.  Would that work for you?

[2021-01-11 19:49] TomWildenhain-Microsoft commented on #921
I think using the names provided by structured outputs would be ideal and should be possible if we rename the identity nodes to match those names when we load the graph.  To avoid breaking existing conversions we should probably put it behind a flag.

@hmeine In the meantime yes, unfortunately you need to guess the output order and use the suboptimal names "Identity", "Identity_1" etc.  You can al

[2021-01-12 04:16] Chindianese commented on #1259
That would be great. Thanks!

[2021-01-12 12:02] zhaohb commented on #904
@woaixiaojiaa Hello, now I want to implement the Bucketize Op. Have you implemented it already? If so, could you share the code?

thank you very much!

[2021-01-12 19:47] #1257 closed

[2021-01-12 22:40] TomWildenhain-Microsoft commented on #1259
I'm adding the flags as `--use_default` and `--ignore_default`.  Make sure to supply the node name of the PlaceholderWithDefault op.  The error message now prints the node name.

[2021-01-12 23:57] #1259 closed

[2021-01-13 10:24] hmeine commented on #921
Using the names from structured outputs would be great indeed!

I am not even sure if anybody would complain about "broken existing conversions", but you probably know the average tf2onnx user better than me. In my opinion, anybody actually caring about the names should see this as a bugfix. But of course it's a behavior change, so I see where you're coming from.

[2021-01-13 20:14] #1258 closed

[2021-01-13 23:03] keivanmoazami commented on #267
I have same problem. model converted to onnx but when run inference output shape changed and add zero dimension.
![Screenshot from 2021-01-14 02-32-31](https://user-images.githubusercontent.com/6730752/104520694-cfc21280-5610-11eb-8eeb-700c5380cecc.png)

[2021-01-14 01:13] guschmue commented on #921
We'll see that we rename the identity nodes to the structured output names.

[2021-01-14 22:49] matinehshaker opened #1274 "ValueError: Node 'output:0': Node name contains invalid characters"
I use the code in `examples/call_converter_via_python.py` to create a simple onnx file from tf:

`import tensorflow as tf
import tf2onnx

with tf.Session() as sess:
    x = tf.placeholder(tf.float32, [2, 3], name="input")
    x_ = tf.add(x, x)
    _ = tf.identity(x_, name="output")
    onnx_graph = tf2onnx.tfonnx.process_tf_graph(sess.graph, input_names=["input:0"], output_names=["output:0"])

[2021-01-14 22:55] TomWildenhain-Microsoft commented on #1274
Have you tried running the onnx graph in ONNXRuntime?  It is possible the tf->onnx conversion is fine but the onnx->tf conversion introduces an error.

[2021-01-15 10:49] oborchers commented on #1260
@TomWildenhain-Microsoft: Thank you very much! Yes, with the newest  [PR](https://github.com/microsoft/ort-customops/pull/39) over there, this works pretty great!

For those, who want to work with the universal sentence encoder under ONNX and have found this very issue:

[code]

[code]

[code]

[code]
(benchmarks on V100 w. CUDA 11 compiled onnxruntime)

[2021-01-19 01:51] vilmara opened #1277 "Failed to apply optimize_transpose - converting faster_rcnn_inception_v2 to ONNX"
**Describe the bug**
The process crashed even though the  script ends stating the model was successfully converted and saved as ONNX

**Urgency**
End of January

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Tensorflow Version: 1.15.2
- Python version: 3.6
-  Onnx=1.7.0
- tf2onnx=1.9.0/72fb20
- I`NFO - Using tensorflow=1.15.2, onnx=1.7.0, tf2onnx=

[2021-01-19 08:20] jianqianzhou commented on #755
I have the same question. Have you solved it?

[2021-01-19 08:55] jianqianzhou opened #1278 "tensorflow2.0 saved model convert onnx"
**System information**
CPU Intel(R) Xeon(R) Silver 4114 CPU @ 2.20GHz centos
- Tensorflow Version: 2.2.0
- Python version: 3.6
- transformers：3.0.2
- onnx     1.7.0
- tf2onnx                    1.6.3

[code]

then I used
 python -m tf2onnx.convert         --saved-model ./path_to_saved_model --output ./output/bert.onnx         --opset 11
I want to saved model to onnx,but report an error：
attr {
  k

[2021-01-19 16:50] guschmue commented on #1278
We fixed this - do a ```pip install tf2onnx -U``` to get the latest version.

[2021-01-19 22:27] marshallpierce opened #1279 "Tensorflow Recommenders model fails to convert"
**Describe the bug**
When using `tf2onnx.convert` on a model produced by tensorflow recommenders, conversion fails with:

[code]

I don't have much context for this code but perhaps https://github.com/onnx/onnx/blob/master/onnx/numpy_helper.py#L111 needs to handle `bytes` in addition to `str`?

**Urgency**
We're exploring using onnxruntime to run tensorflow models, and this is currently blocking t

[2021-01-20 17:54] guschmue commented on #1278
I just tested this:
[code]
works fine with tf2onnx-1.8.1

[2021-01-20 17:54] #1278 closed

[2021-01-20 18:02] guschmue commented on #755
Yes, this should work with the latest tf2onnx (```pip install -U tf2onnx```).

[2021-01-20 19:11] guschmue commented on #1277
The messages like
[code]
are not good and should not happen of course. We'll look at those.
But they should not prevent the model from working. We have this model in our integration test (https://github.com/onnx/tensorflow-onnx/blob/master/tests/run_pretrained_models.yaml#L402) and results good fine.

For the trt issue: I wonder if its the uint8 that trt does not like or the dynamic input:
type: u

[2021-01-20 19:59] vilmara commented on #1277
Hi @guschmue, I have run the Validate pre-trained TensorFlow models as `python tests/run_pretrained_models.py` and it shows the below message, what opset is recommended for this model?, and what onnx and tf2onnx should I use?
`2021-01-20 17:27:33,633 - INFO - Skip faster_rcnn_inception_v2_coco: conversion requires opset onnx`

I have run another test to parse the model to onnx with static shape bu

[2021-01-20 22:03] guschmue commented on #1277
You could test it with
[code]
what also makes sure the results are the same as tensorflow.

[2021-01-21 01:58] TomWildenhain-Microsoft commented on #1279
Yes, this is a bug in numpy_helper but we should be able to work around it.  #1282 should fix your issue.

[2021-01-21 09:20] jianqianzhou opened #1283 "tf2onnx support dynamic inputs length？"
tf2onnx                  1.8.1
tensorflow               2.3.0
transformers             4.2.1

from transformers import TFBertForSequenceClassification
model = TFBertForSequenceClassification.from_pretrained('./bert-base-chinese')

from transformers import BertTokenizer, glue_convert_examples_to_features
import tensorflow as tf
import tensorflow_datasets as tfds
tokenizer = BertTokenizer.from_pretr

[2021-01-21 16:26] Fahrizal124 opened #1284 "SyntaxError: invalid syntax ls saved_model tensorflow"
File "<ipython-input-20-94e25c24e1b0>", line 1
    ls saved_model
       ^
SyntaxError: invalid syntax

[2021-01-21 16:28] Fahrizal124 opened #1285 "SyntaxError: invalid syntax ls saved_model tensorflow"
File "<ipython-input-20-94e25c24e1b0>", line 1
    ls saved_model
       ^
SyntaxError: invalid syntax

[2021-01-21 16:46] Fahrizal124 opened #1286 "SyntaxError: invalid syntax for ls saved_model and ls saved_model/my_model tensorflow"
File "<ipython-input-33-51ce8f52453d>", line 2
    ls saved_model
       ^
SyntaxError: invalid syntax

[2021-01-21 17:15] guschmue commented on #1285
this needs to have more info look at.
A quick grep in our source code does not show and occurrence of "ls saved_model".

[2021-01-21 17:16] guschmue commented on #1286
dupe of https://github.com/onnx/tensorflow-onnx/issues/1285

[2021-01-21 17:16] #1286 closed

[2021-01-21 17:16] guschmue commented on #1284
dupe of https://github.com/onnx/tensorflow-onnx/issues/1285

[2021-01-21 17:16] #1284 closed

[2021-01-21 17:55] guschmue commented on #1283
By default we use the serving_default signature and ```saved_model show --dir  ./my_mrpc_model --all``` shows:
[code]
which is the same as pops out in the onnx model:
[code]

[2021-01-21 20:41] vilmara commented on #1277
Hi @guschmue, I have run the test again, see below the tracelog, it produced a bunch of warnings ending with error and didn't save the model at the created folder ` /tmp/tmp7pii0b1a/` (missing the run_pretrained directory )

2021-01-21 20:31:02,151 - INFO - To_ONNX, OK
2021-01-21 20:31:02,251 - INFO - Model saved to /tmp/tmp7pii0b1a/run_pretrained/faster_rcnn_inception_v2_coco.onnx
2021-01-21 20:3

[2021-01-21 22:41] guschmue commented on #1277
run_pretrained_models.py cleans up afterwards. ```--debug``` will make it not do that.
I have not used trt much so I'm not sure what the best path forward is.
But we wanted to find some time and do some testing with trt - there are a bunch of issues we have on this that we labeled here: https://github.com/onnx/tensorflow-onnx/issues?q=is%3Aissue+is%3Aopen+label%3Atrt.

[2021-01-21 22:47] marshallpierce commented on #1279
Great, thanks! I'll keep an eye out for the next release.

[2021-01-21 22:49] TomWildenhain-Microsoft commented on #1279
You can also install from the master branch
`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2021-01-21 22:58] marshallpierce commented on #1279
Ah right, so I can, and that works successfully! Thanks for the quick fix. :heart:

[2021-01-21 22:58] #1279 closed

[2021-01-22 02:27] zhaohb opened #1287 "cannot convert tf savedmodel to onnx"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04
TensorFlow installed from (source or binary):
binary
TensorFlow version (use command below):
tf-nightly-gpu         2.5.0.dev20210119
Python version:
3.6 (Anaconda)
Tensorflow-onnx version:
1.8.0. build from source

my command line :
[code]
But I got the following error：
[code]
I want to get the ONNX

[2021-01-22 07:20] jianqianzhou commented on #1283
so if I want to modify the input_ids length(from 5 to 128)，What I can do?thans!

[2021-01-22 08:53] codarag commented on #294
Hello,

I have the same issue when converting a TF model with opset 12 and tf2onnx 1.7.2, however as far as I know ONNX should support bicubic resampling since opset 10 (https://github.com/onnx/onnx/blob/master/docs/Operators.md#Resize).

Model conversion terminates fine, but I have this two error lines:

[code]

Is TF ResizeBicubic supported? Will be supported in future tf2onnx release?
Thanks

[2021-01-22 09:25] jianqianzhou commented on #1283
from transformers import TFBertForSequenceClassification
from transformers import BertTokenizer, glue_convert_examples_to_features
import tensorflow as tf
import tensorflow_datasets as tfds
tokenizer = BertTokenizer.from_pretrained('./bert-base-chinese')

model = TFBertForSequenceClassification.from_pretrained('./bert-base-chinese')

data = tfds.load('glue/mrpc')
train_dataset = glue_convert_examp

[2021-01-22 09:35] romeolandry opened #1290 "Convert ssd_resnet50_v1 to onnx"
**Describe the bug**
I get a multiple error  when I try to convert  [ssd_resnet50_v1_fpn_640x640_coco17_tpu8`](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.tar.gz)  to onnx

**Urgency**
The project is for my master degree an I really need it to for Inference with DeepStream SDK.

**System information**
- OS Platform and Distribution:

[2021-01-22 17:12] guschmue commented on #1283
Use use the tensor names and not the node names as inputs and outputs the same way native tensorflow would do.
The reason for this is for example if the last op has multiple outputs (topk as example) we need to distinguish between them and tensorflow does this with ":0", ":1" ....
We can maybe think about a command line option to strip the :0 if there is only 1.

[2021-01-22 17:16] guschmue commented on #294
Fair, we can add this.

[2021-01-22 19:28] TomWildenhain-Microsoft commented on #1287
Hi @zhaohb, can you please upload a copy of the saved model?

[2021-01-22 20:18] TomWildenhain-Microsoft commented on #1290
Are you able to use opset 11?  The problem here is that opset 10 of ONNX does not support non-constant paddings.  If not, I might be able to work around this using ConstantOfShape and Concat ops.

[2021-01-23 03:06] zhaohb commented on #1287
hi,@TomWildenhain-Microsoft, colab link https://colab.research.google.com/drive/1wxu8piPR9qyAC8EjtDd6-STZqek77BO7?usp=sharing,
 I can also send the model file to you by email. Is that OK?

[2021-01-23 18:28] romeolandry commented on #1290
Thanks for your Answer!
Which opset will be good for that model? I just begin to work whit onnx and don't have a lot of knowledge about.

[2021-01-23 18:50] TomWildenhain-Microsoft commented on #1290
The only reason to use a lower opset would be if you are shipping to a device that doesn't support the latest opset.  The newest opset is 13, so use that if possible.

[2021-01-23 18:56] TomWildenhain-Microsoft commented on #1290
Actually I'm not sure which opsets deepstream supports so you might have to experiment

[2021-01-24 08:58] jianqianzhou commented on #1283
because onnx runtime optimized bert onnx by node names，so if the node names is "input_ids:0" not "input_ids", onnx runtime will miss this，and won't optimize onnx.

[2021-01-25 10:33] romeolandry commented on #1290
a lot of thank for your answer!
I have tried to convert with a lower opset it didn't work. But its work from opset 11.
The the convertor work and save onnx output, but i have a lot of  warning and Error. I won to know if this error will be  a problem during the inference with the both model (SSD and Mask-rcnn). are there any solution ?
the link to [ssd](https://drive.google.com/file/d/16e1SbdTrO4Z

[2021-01-25 18:57] guschmue commented on #1283
got it, let me see if we can add a option. For the onnxruntime optimization - it has some other issues with tensorflow models that it doesn't detect all the fusions it should do but somebody is working on this.

[2021-01-25 19:16] TomWildenhain-Microsoft commented on #1290
Yes, opset 11 is required for dynamic padding.  Try running the model in onnx runtime and see if it produces the same results.  If so, it should be fine.

`pip install onnxruntime`

`import onnxruntime as ort`
`sess = ort.InferenceSession('path to model')`
`results = sess.run(None, {'input_1': np.array(value1), 'input_2': np.array(value2)})`

[2021-01-25 21:46] msquigle opened #1295 "Quantization Support"
**Describe the bug**
When attempting to convert quantized SavedModels, the following error occurs
site-packages\tensorflow\python\saved_model\function_deserialization.py", line 261, in recreate_function
    concrete_function_objects.append(concrete_functions[concrete_function_name])
KeyError: '__inference_expanded_conv_depthwise_layer_call_fn_33826'
This is using just a common quantized MobileNet.

[2021-01-26 01:27] guschmue commented on #1295
this looks like tf is throwing an error when we ask for a concrete function for the model.
Can you share a link to the model ?

[2021-01-26 08:11] GunLengend commented on #655
@Ram-Godavarthi I ran into the same problem and opset 11 solve the issue

[2021-01-27 14:13] romeolandry commented on #1290
Hey!
Thanks for the script.
![cmg_inputsize](https://user-images.githubusercontent.com/26627344/106002937-f91f7b80-60b1-11eb-81b3-9f2ebc3820b4.png)
![notebook_ort](https://user-images.githubusercontent.com/26627344/106002955-ff155c80-60b1-11eb-8eca-88e63506b915.png)

As you can see I give the right input name but its seem to invalid.

How can know which name my input have?

[2021-01-27 16:23] romeolandry commented on #1290
Thanks so much I found the correct input name using `netron` to  visualize the model.
its work find!

[2021-01-27 16:23] #1290 closed

[2021-01-27 19:05] msquigle commented on #1295
[imagenet_mobilenet_v1_100_128_quantops_classification_3.zip](https://github.com/onnx/tensorflow-onnx/files/5882450/imagenet_mobilenet_v1_100_128_quantops_classification_3.zip)

[2021-01-27 19:18] msquigle opened #1298 "Unable to convert TensorFlow Model Zoo MobileNet"
**Describe the bug**
When attempting to convert the Mobilenet V2 1.0 224 from the [TensorFlow Slim Model Zoo](https://github.com/tensorflow/models/tree/master/research/slim), using the following command

python -m tf2onnx.convert --graphdef mobilenet_v2_1.0_224_frozen.pb --output test_mobilenet.onnx --inputs input:0 --outputs MobilenetV2/Predictions/Reshape_1:0

the following error is received.

V

[2021-01-27 19:50] TomWildenhain-Microsoft commented on #655
For future viewers of this issue, the title **ValueError: get tensor value: [Some Tensor Name] must be Const** is a very generic error that happens any time we expect an input to be constant and it is not.  Frequently using a higher opset will solve the issue, since newer onnx ops allow for more dynamic inputs.

Generally you should use the highest opset your application of onnx supports.

If you

[2021-01-27 19:50] #655 closed

[2021-01-27 19:53] TomWildenhain-Microsoft commented on #1283
As a workaround, you can use the model editing tool onnx2py and find/replace "input_ids:0" with "input_ids".

https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/onnx2py.py

[2021-01-27 19:55] TomWildenhain-Microsoft commented on #1287
I have requested access to the colab

[2021-01-28 07:25] zhaohb commented on #1287
@TomWildenhain-Microsoft , sorry for the late reply, I have added you to the user group

[2021-01-28 08:32] grebdioZ commented on #921
That sounds great, thank you very much for looking into it again. Do you already have a coarse idea of the timeline for a patch?

[2021-01-28 18:14] TomWildenhain-Microsoft commented on #1287
Shoot, it looks like this colab requires a tar file I don't have.  Can you please zip the saved model directory you are trying to convert and upload it to google drive?

[2021-01-28 19:59] TomWildenhain-Microsoft commented on #1298
Hi @msquigle, the problem here is that the placeholder doesn't have a shape specified, so we incorrectly assume the input is a scalar.  To correct this, append the input shape in the --input flag, like `--inputs input:0[1,2,3,4]`  I'm adding a PR to improve the messaging and allow for unknown dimensions in the flag.  Once it merges, you can convert with `--inputs input:0[-1,-1,-1,-1]`, since in th

[2021-01-28 20:38] msquigle commented on #1298
Ok great! Yea having some documentation to let that be more obvious then would help, even an example in the -h when running convert.

[2021-01-29 02:15] zhaohb commented on #1287
model file link : [https://drive.google.com/file/d/1-XOLvT24leQipZ3JbewjXXZnOzhsnukQ/view?usp=sharing](url), I had add you to user group.

[2021-01-29 03:04] #294 closed

[2021-01-29 08:27] grebdioZ commented on #921
Perfect, thanks!

[2021-01-29 15:26] zhaohb commented on #1287
@TomWildenhain-Microsoft  Can you repeat the experiment? I'm waiting for your reply.

[2021-01-29 19:28] TomWildenhain-Microsoft commented on #1287
Taking a look now.

[2021-01-29 22:02] TomWildenhain-Microsoft commented on #1287
The error:
`tensorflow.python.framework.errors_impl.InvalidArgumentError: 'func' argument to TF_GraphCopyFunction cannot be null`
Is during resource destruction and can be safely ignored.  The bigger problem are the errors of the form:
`2021-01-21 11:29:41,413 - ERROR - Could not find table resource to replace placeholder unknown_172`

I'm not sure why it isn't finding the tables, but interestingl

[2021-01-29 22:18] TomWildenhain-Microsoft commented on #1287
From the values, it looks like these tables are storing some sort of permutations.  Can you change the model to use gather ops instead of tables?
[code]

[2021-01-30 02:38] zhaohb commented on #1287
Thank you for your reply, but now I can't change the model, so should we add a feature to onnx to support such a transformation？can't find table source, probably because resource is used.I think this conversion is going to be a common practice.

[2021-01-30 03:00] MoFHeKa commented on #1287
Maybe after fetch the data of those unknown table, we could just regenerate a new table by using gen_lookup_ops.hash_table_v2 and gen_lookup_ops.lookup_table_import_v2. And then modify the placeholder in graph_def of TF by those new HashTableV2 regardless the tables can be found.

[2021-01-30 03:15] TomWildenhain-Microsoft commented on #1287
@MoFHeKa yes I think that could work though the hard part is getting the data out of the tables first.  I don't know how to get the tables if I don't know their key/value types

[2021-01-30 03:16] TomWildenhain-Microsoft commented on #1287
Normally we can find the initializer for the table by looking at the imported saved model, but I can't find it in this particular instance. I'm not sure if it is in the Python object, or if after loading it TensorFlow has destroyed the data.

[2021-01-30 03:17] TomWildenhain-Microsoft commented on #1287
I'm able to get the data out of the table if I know the type in advance, which I do in this case. However if I guess the type incorrectly TensorFlow aborts.

[2021-01-30 03:19] TomWildenhain-Microsoft commented on #1287
Worst case we could jump into the protobuf of the saved model directly to find the initializers, but it would be much cleaner if we can get it out of the imported savedmodel Python object.

[2021-01-30 04:16] zhaohb commented on #1287
@TomWildenhain-Microsoft  [https://drive.google.com/file/d/1dNhMOn9h7FtcuLSMXFK9AhBRdU1NitPg/view?usp=sharing](url)
this is keras model,  and we can verify whether we can get tables from the H5 model.

[2021-01-30 20:56] msquigle opened #1303 "Install Modifies TFLite"
**Describe the bug**
When tf2onnx is installed using pip, if tflite is installed, every schema file for tflite is modified and sometimes there are even files added.

**Urgency**
Affects other packages that should be unrelated to tf2onnx as tflite 2 onnx is not supported.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Tensorflow Version: None
- Pytho

[2021-02-01 14:01] daryalove opened #1304 "'Unexpected end-group tag' converting models to ONNX, trained with ML.NET framework"
Hi,

I am trying to convert a trained ML.NET model (Tensorflow) into onnx format. I used this article to train the model using ML.NET Image Classification API: https://docs.microsoft.com/ru-ru/dotnet/machine-learning/tutorials/image-classification-api-transfer-learning

But I need to convert the trained model to onnx format for Object Detection Algorithm: https://docs.microsoft.com/ru-ru/dotnet/ma

[2021-02-01 18:27] guschmue commented on #1303
Yes, can confirm - this is bad. There was a short time where we had this and moved it in master but we have not released master yet. Going to release it today.

[2021-02-01 18:45] msquigle commented on #1303
Ok great! I will retry this then tomorrow! Thanks

[2021-02-01 18:48] guschmue commented on #1303
thanks for catching this !!!

[2021-02-01 22:46] guschmue commented on #1303
We released [1.8.2](https://github.com/onnx/tensorflow-onnx/releases/tag/v1.8.2) that has the fix.
```pip install -U tf2onnx``` should install it and the PR for the fix is here: https://github.com/onnx/tensorflow-onnx/pull/1273

[2021-02-01 23:41] TomWildenhain-Microsoft commented on #1304
It seems like tensorflow doesn't think this is a valid saved model.  Are you able to load and use your model in tensorflow?  Can you upload a copy of your saved model?

[2021-02-01 23:43] #1298 closed

[2021-02-01 23:43] TomWildenhain-Microsoft commented on #1295
Were you able to convert the model with the new PR?

[2021-02-01 23:45] TomWildenhain-Microsoft commented on #1303
Yeah this was my mistake.  @msquigle let us know if the fix works for you.

[2021-02-02 02:50] TomWildenhain-Microsoft commented on #1287
I used a bit of a hacky method but it should work for this model.  I'm not merging it, but try converting the model using this branch: #1310

[2021-02-02 03:08] zhaohb commented on #1287
@TomWildenhain-Microsoft ok,thank you very much, I will close this issue.

[2021-02-02 03:14] TomWildenhain-Microsoft commented on #1287
Don't close it just yet.  I got a model but I don't have data to test it.  Let me know if you can convert and once you do whether the results are correct and fast enough.  I converted the tables by casting the int keys to strings which might cause a slow down.  If so, I can make a better conversation using Gather ops.

[2021-02-02 04:32] zhaohb commented on #1287
ok, I had reopen, I will  test it as soon as possible.

[2021-02-02 18:25] msquigle commented on #1303
Can confirm fixed in 1.8.2!

[2021-02-02 18:25] #1303 closed

[2021-02-02 20:55] daryalove commented on #1304
@TomWildenhain-Microsoft I consumed the trained model to classify images in Tensorflow. The model was loaded successfully and was used for predictions. You can upload the saved model here: https://drive.google.com/file/d/19aMvHe_QL1Rm6yBLViIAKqzVKrg4O6b-/view?usp=sharing

[2021-02-03 00:00] TomWildenhain-Microsoft commented on #1038
You should now be able to convert the tflite model using the --tflite arg.  You will need opset 13 and the latest ORT nightly build.
https://test.pypi.org/project/ort-nightly/

[2021-02-03 02:17] dfvr1994 commented on #1038
Thanks @TomWildenhain-Microsoft . I'm getting an error trying to run this:

`python -m tf2onnx.convert --opset 13 --tflite --fold_const --saved-model saved_model --output converted_model.onnx`

`convert.py: error: unrecognized arguments: --tflite`

Should I use another github branch?

For the saved-model argument should I use the folder containing the saved_model.pb file or should I use the file p

[2021-02-03 02:49] TomWildenhain-Microsoft commented on #1038
Use `--tflite` instead of `--saved-model`.

python -m tf2onnx.convert --opset 13 --tflite "path/to/model.tflite" --output "converted.onnx"

This feature is beta so let me know if it works.

[2021-02-03 07:09] zhaohb commented on #1287
@TomWildenhain-Microsoft I had test that branch, and now I can get onnx model, it is great.  But when I want to implement Bucketize op(onnxruntime does not implement Bucketize and must be customized), I find that the Dtypes of the input Bucketize are abnormal. Some are float32, but others are None :
[code]
output:
[code]

[2021-02-03 07:19] TomWildenhain-Microsoft commented on #1287
I think that's just because graph surgeon doesn't know how to do type inference for some of the custom ops in the graph, so it thinks the type is unknown but really it is float32.  The onnx file only stores types for the input and output tensors. Everything else is inferred.

[2021-02-03 07:21] TomWildenhain-Microsoft commented on #1287
For those bucket nodes are the buckets constant or are they passed in as an input? If they are constant I might be able to make a conversion for them.

[2021-02-03 10:25] zhaohb commented on #1287
I've solved the Bucketize Op problem, and it works, but It's very slow, about 10x times slower than TensorFlow itself, how do you optimize it. I also found that can not be executed in parallel.

[2021-02-03 16:45] dfvr1994 commented on #1038
I'm still getting the error:

`convert.py: error: unrecognized arguments: --tflite path/to/model.tflite`

What can I do?

[2021-02-03 16:48] theumang100 commented on #1038
Trying of another tensorflow might be useful to you. It's work in my case i've used tensorflow 2.5.0.

[2021-02-03 17:26] dfvr1994 commented on #1038
@theumang100 how did you install it, I'm trying this:

`pip install tensorflow==2.5.0
ERROR: Could not find a version that satisfies the requirement tensorflow==2.5.0
ERROR: No matching distribution found for tensorflow==2.5.0`

[2021-02-03 17:28] theumang100 commented on #1038
try **pip install tf-nightly==2.5.0.dev20210203** or **pip install tensorflow==2.4.1**

[2021-02-03 17:29] guschmue commented on #1038
You wan the latest version of tf2onnx I think:
```pip install -U tf2onnx```

[2021-02-03 17:31] zhaohb commented on #1287
I've set up a test environment on coLab, tenosrflow-onnx has added modifications to your branch, onnxruntime has been recompiled, and custom operators have been implemented in the ort-customops project. You can test the onnx model in this environment.
The link is as follows:
[https://colab.research.google.com/drive/1wxu8piPR9qyAC8EjtDd6-STZqek77BO7?usp=sharing](url)

[2021-02-03 17:32] zhaohb commented on #1287
I've set up a test environment on coLab, tenosrflow-onnx has added modifications to your branch, onnxruntime has been recompiled, and custom operators have been implemented in the ort-customops project. You can test the onnx model in this environment.
The link is as follows:
[https://colab.research.google.com/drive/1wxu8piPR9qyAC8EjtDd6-STZqek77BO7?usp=sharing](url)

[2021-02-03 17:38] zhaohb commented on #1287
@TomWildenhain-Microsoft The onnx model used in the tests was simpler, but was also converted from savedModel based on your branching, and tests showed that the onnx model was much slower than the saved model.

[2021-02-03 18:18] dfvr1994 commented on #1038
Thanks, uninstalling tensorflow and running `pip install tf-nightly==2.5.0.dev20210203` and `pip install -U tf2onnx` did the trick.

Does anyone know how to use this model on live video to recognize objects? I would like to send the object's coordinates to a microcontroller using bluetooth or serial port.

[2021-02-03 19:32] TomWildenhain-Microsoft commented on #1038
To use the model on video, you should be able to:

1. Capture a frame of the video
2. Resize the frame to the dimensions the network expects
3. Convert the frame to a tensor
4. Put frame into ORT
5. The first output of the model is a list of rectangles.  The second is the classes of the objects.  The third is the confidence.  The fourth is the number of objects detected.

[2021-02-03 19:35] TomWildenhain-Microsoft commented on #1287
I'm not too surprised the perf is really bad since this model seems to use a ton of ops that normally aren't very common and we haven't optimized for (normally models have 1 or 2 table lookups, this model has hundreds).  We can change those table lookups into gather ops which should be faster.  Also you can run ORT with profiling turned on and we can see where the slowdown is.

Out of curiosity, w

[2021-02-04 03:35] annabeth97c commented on #1207
Hi! Not the original poster, but I'm facing a similar issue.

I am trying to convert the ICNet tensorflow model (from [this](https://github.com/hellochick/ICNet-tensorflow) repo) to a trt engine. I saved the model first, then tried using tf2onnx to convert it to an onnx model. When I do not fill in the opset argument, I get a value error

I found some other people faced this issue and setting opse

[2021-02-04 03:54] TomWildenhain-Microsoft commented on #1207
@annabeth97c can you try running the converted model in onnx runtime?  That will indicate whether the error is with tf2onnx or tensorRT.

[2021-02-04 04:20] annabeth97c commented on #1207
@TomWildenhain-Microsoft thanks for the prompt response!

When I try to load the model using an onnxruntime InferenceSession I get this error:

  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/onnxruntime/capi/session.py", line 158, in __init__
    self._load_model(providers or [])
  File "/usr/local/lib/python3.5/dist-packages/onnxruntime/capi/session.py", line

[2021-02-04 04:25] annabeth97c commented on #1207
Sorry I realised I was using the wrong onnx file. The one which gave me the above error was one generated with opset 13.

This is the error I get with the onnx model generated with opset 11

  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/onnxruntime/capi/session.py", line 158, in __init__
    self._load_model(providers or [])
  File "/usr/local/lib/python3.5/d

[2021-02-04 04:36] TomWildenhain-Microsoft commented on #1207
Interesting.  The first error might be a problem with ORT since there definitely is a Slice op in opset 13.  The second looks like a converter error.  Can you please upload the saved model you are converting as a zip along with the two onnx models you got?

[2021-02-04 06:15] annabeth97c commented on #1207
Sorry for the delay! Here you go!

Its a google google drive link as the file is too big for git!

https://drive.google.com/file/d/1WEPTgct971J5zIme0PhoH-VI4Wl7iPmk/view?usp=sharing

[2021-02-04 06:19] annabeth97c commented on #1207
Also forgot to mention, the tags used were ['train', 'serve']

[2021-02-04 07:26] zhaohb commented on #1287
@TomWildenhain-Microsoft I had turn on the profiling option and generated the corresponding JSON file, from which we can see that IO still accounts for a large proportion. The corresponding model is new_coarse. onnx, which I have shared with you.
json link:
[https://drive.google.com/file/d/1CBXm6wPXHNRxUhM_OZeKqmGloGpX9_-V/view?usp=sharing](url)
json which add parallel link:
[https://drive.google.

[2021-02-04 15:41] pawel-ziecina opened #1317 "Issue with GatherV2 conversion"
**Describe the bug**
After converting toy model with below structure:
[code]
I'm trying to infer it on onnxruntime but receiving below error:

[code]

**I think that there might be wrongly converted GatherV2 op with batch_dims** because when dumped its shape there appeared additional axis equal to batch size - (8, 8, 5, 758). On TF same tensor has shape (8, 5, 758)

**System information**
- OS Pla

[2021-02-07 06:55] zhaohb commented on #1287
we can make a better conversation using Gather ops. will we support this change？

[2021-02-08 13:43] tsedlmeier commented on #1062
Hey Guys,
i have a similar Problem with my SSD-Mobilenet v2 on Jetson Nano.
The ONNXRuntime Inference performs at ~2FPS throwing some warnings like "Unsupported Layer Fallback to CPU"
However the TensorRT Inference fails bc of Unsupported Plugin NonZero

[inference.zip](https://github.com/onnx/tensorflow-onnx/files/5943999/inference.zip)
Heres my Project maybe someone can reproduce the Issues
Than

[2021-02-08 13:48] tsedlmeier commented on #1062
[convert_console_log.txt](https://github.com/onnx/tensorflow-onnx/files/5944039/convert_console_log.txt)
I used tf2onnx script, which logged me this messages.

[2021-02-08 16:21] jeakon opened #1324 "Duplicated output name in onnx model"
- Problem:
The output op in converted onnx model has two same names (the two at the bottom in the following image):
<img width="646" alt="onnx_issue" src="https://user-images.githubusercontent.com/3182816/107245310-f8032c80-6a69-11eb-9fba-de80446ca060.png">

- Model:
I'm using BERT with linear layer. I want to get the output vector in onnx.
- Convert method:
I'm using tf2onnx CLI to convert savedM

[2021-02-08 19:21] TomWildenhain-Microsoft commented on #1287
If you make the conversion and add tests for it we will merge it into master and maintain it.

[2021-02-08 20:44] TomWildenhain-Microsoft commented on #1324
Hi @jeakon, yes it looks like something isn't converting correctly here.  The two outputs you have listed are called `dummy_score:0` and `query_vec:0`.  We keep output names the same during conversion, so I'm not sure why the onnx output has two `BiasAdd:0` outputs.  In the saved model, what is the name of the output of the last node (`dnn_ctr/query_emb_output_layer/BiasAdd`)?  Is it `query_vec:0`

[2021-02-08 20:55] TomWildenhain-Microsoft commented on #1062
Hi @tsedlmeier, your issue is caused by Jetson not implementing the NonZero op.  Your model contains this op in two places (within an loop and an if node).  They come from a TF Where op that is somehow related to "boolean masks".  If you can remove that op from your model or find a different way to implement it in TF, the model should convert.

![image](https://user-images.githubusercontent.com/67

[2021-02-08 21:16] TomWildenhain-Microsoft commented on #1207
I'm able to reproduce your error for opset 11.  For opset 13 I get a different error:
`Error in Node:ExpandDims : Node (ExpandDims) has input size 1 not in range [min=2, max=2]`
I believe you are using an old version of onnxruntime which does not support opset 13.  Regardless, there is a problem with both models.

Please run `pip install --upgrade onnxruntime`.  Try converting using the latest tf2

[2021-02-08 22:29] TomWildenhain-Microsoft commented on #1317
Hi @pawel-ziecina, thanks for very thorough info to reproduce this bug.  The issue here is because our GatherV2 conversion does not support the batch_dim property.  I can relatively easily implement a conversion for batch dim in opset 12.  If you need a lower opset, let me know what the highest acceptable opset is and I can implement it, though it will be a bit harder.  We should definitely handle

[2021-02-08 22:33] TomWildenhain-Microsoft commented on #1304
@daryalove I have requested access to the file.

[2021-02-09 01:48] jeakon commented on #1324
Hi @TomWildenhain-Microsoft , in the saved model I try to signature the last node  (dnn_ctr/query_emb_output_layer/BiasAdd) by "query_vec"  but it seems not working. The other output of saved model is "dummy_score:0" for I named it in tensorflow. The correspoending output of onnx is still duplicated.
I also tried to convert withou specifying --inputs and --outputs, but the resuts remain the same.

[2021-02-09 02:28] TomWildenhain-Microsoft commented on #1324
Hmm... I think I'll need to see the model to help.  Please upload the model to cloud storage and post a share link here.

[2021-02-09 04:15] annabeth97c commented on #1207
Hi! The saved model is in the same zip, in the directory '1'

[2021-02-09 05:01] TomWildenhain-Microsoft commented on #1207
Oh oops, didn't see it.  Just tried with the latest version from master and the new model seems to work.  Can you try again using tf2onnx from master?  The problem might be caused by an issue that was recently fixed.

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

However my model looks very different from yours.  Are you sure you uploaded the correct model?  Yo

[2021-02-09 05:01] TomWildenhain-Microsoft commented on #1207
Also are you using the python API or command line interface?  What code/command are you using to convert?

[2021-02-09 07:36] daryalove commented on #1304
@TomWildenhain-Microsoft  I have opened access to the file, you can download it: https://drive.google.com/file/d/19aMvHe_QL1Rm6yBLViIAKqzVKrg4O6b-/view?usp=sharing

[2021-02-09 07:39] tsedlmeier commented on #1062
Thank you for your hint. You are absolutly right... these "Where" OPs occure in my original TF model.
However i dont know if they are necessary  and how to specifically remove them.
Maybe you can have a look at my TF model.
[frozen_graph_infer.zip](https://github.com/onnx/tensorflow-onnx/files/5949623/frozen_graph_infer.zip)

[2021-02-09 07:43] annabeth97c commented on #1207
Hi! Yep I managed to convert using the latest version from master! I am facing issues with converting the onnx to tensorrt because of the node "Sub" after the Placeholder in your first pic! The new onnx I generated still looks like that with the Placeholder and Sub node.

 Can I ask, what do you mean by your opset13? Its your onnx after converting the saved model?

I am using this command to conve

[2021-02-09 07:58] pawel-ziecina commented on #1317
For my uses, fix for opset 12+ will do the job. Thanks!

[2021-02-09 08:23] rajan780 commented on #847
Hi @edurenye
I replaced the existing code with this code and i am also getting same error as @neo- is getting. is this issue solved?
and any suggestions how we can use tf.image.non_max_suppression_with_scores instead of tf.image.combined_non_max_suppression.

[2021-02-09 10:17] edurenye commented on #847
Hi @rajan780,  As I said in https://github.com/onnx/tensorflow-onnx/issues/847#issuecomment-645245677 I never got it working, I had to work around it. Now that project I was working on is closed and I haven't tried it again, sorry.

[2021-02-09 10:19] rajan780 commented on #847
Thanks for your response @edurenye.

[2021-02-09 12:48] jeakon commented on #1324
@TomWildenhain-Microsoft  I've put the SavedModel and onnx model [here](https://1drv.ms/u/s!AmpocKGEF8oRa-ZTLBiCVnJD4Kk?e=tmfyid).
Thanks!

[2021-02-09 16:51] marshallpierce opened #1328 "Unsupported operations for TensorFlow word embeddings demo model"
**Describe the bug**
The simple TensorFlow [word embeddings demo](https://www.tensorflow.org/tutorials/text/word_embeddings) produces a model that tf2onnx can't convert.

**Urgency**
We are prototyping using onnx (via onnxruntime), so the more of our models we can convert the more likely we are to be able to move forward with onnx. :)

**System information**
- OS Platform and Distribution (e.g., L

[2021-02-09 18:55] TomWildenhain-Microsoft commented on #1328
Hi @marshallpierce, this model contains string ops that ONNX has no analogous ops for.  Fortunately, we have many of these ops implemented in our custom ops repo:
https://github.com/microsoft/ort-customops

Try following the tutorial here: https://github.com/microsoft/ort-customops/blob/main/tutorials/tf2onnx_custom_ops_tutorial.ipynb

There are some ops (StringLower, RaggedTensorToTensor) that do

[2021-02-09 19:38] marshallpierce commented on #1328
That's great news, thanks. I'll give that a try, and keep my eye out for the new ops.

[2021-02-09 19:42] TomWildenhain-Microsoft commented on #1324
Interesting.  The conversion is working fine for me.  Can you try again using the latest tf2onnx from git?

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

Also if the model is otherwise correct you can manually edit it to remove the extra outputs.  The tool onnx2py may be useful:
https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/

[2021-02-09 20:12] TomWildenhain-Microsoft commented on #1207
Yes by "my opset13" I meant the model I get when I convert your saved_model using opset 13.  I don't know why it is so different from your model.  Maybe our tensorflow versions are different and mine is applying more aggressive optimizations (removing the subtract 0, etc).  I'm on TF 2.4.1, which TF are you using?  Can you try updating the version of TF for the converter?

Yeah I also had issues w

[2021-02-09 20:22] TomWildenhain-Microsoft commented on #1062
To most easily remove the Where ops you will probably need to modify the original TF python code.  Alternatively, you could try to implement the behavior of the onnx NonZero op using other ops that Jetson does support. It's a bit of a Tensor logic puzzle.  Once you have an alternative implementation, it can be added to the converter and used when targeting Jetson.  You could also manually edit the

[2021-02-09 20:37] TomWildenhain-Microsoft commented on #1062
Correction: should have said "TensorRT" not "Jetson"

[2021-02-09 22:23] TomWildenhain-Microsoft commented on #1304
When I try to view this model in Netron, I get the error that this file is a zip:
![image](https://user-images.githubusercontent.com/67606533/107435576-54ae2800-6afa-11eb-8a5b-11f1247370fd.png)
When I rename it to .zip, I get this content:
![image](https://user-images.githubusercontent.com/67606533/107435839-af478400-6afa-11eb-93ca-37e4def3d0ee.png)

Are you sure this is a TF model?  How did you l

[2021-02-10 06:12] rajan780 commented on #847
Hi @edurenye
I made changes in code. It is working now.

**Replacing:**
boxes, scores, classes, valid_detections = tf.image.combined_non_max_suppression(
        boxes=tf.reshape(bbox, (tf.shape(bbox)[0], -1, 1, 4)),
        scores=tf.reshape(
            scores, (tf.shape(scores)[0], -1, tf.shape(scores)[-1])),
        max_output_size_per_class=FLAGS.yolo_max_boxes,
        max_total_size=FLAGS.y

[2021-02-10 06:54] daryalove commented on #1304
@TomWildenhain-Microsoft Yes, I have tried exporting directly from ML.Net to ONNX, but I caught the error 'Could not find feature column 'Image' (Parameter 'inputSchema')'. I found the same problem here: https://stackoverflow.com/questions/61100156/ml-net-object-detection-and-bounding-boxes
It is said that there are no ways to convert the ML.NET model to ONNX.

Could you provide me any ways of cre

[2021-02-10 07:34] tsedlmeier commented on #1062
Thank you. I assume that editing the model is the easyest way of getting rid of the problem.
The reason for using TensorRT is because of ORT beeing slow (~2FPS) in my case and Nvidia Developer advides me to better use TensorRT.
But i parallely will open an Issue on ORTs Github page.
One question left: How can i add the model after training? A collegue trained the model with his own ecosystem where

[2021-02-10 14:06] jeakon commented on #1324
Thanks @TomWildenhain-Microsoft  for sharing the tool. I'll take a try later.
It seems if I remove the `--signature_def` option, it will work well. But I still wonder why it matters.

[2021-02-10 18:32] TomWildenhain-Microsoft commented on #1304
The stack overflow question seems to be about image classifiers vs object detectors.  I don't see anything in it that relates to your 'inputSchema' conversion problem.  If you are having trouble going directly from ML.net to ONNX, please open an issue here: https://github.com/dotnet/machinelearning/issues

Still, we should be able to convert your TF model to ONNX as a workaround.  However your fil

[2021-02-11 08:14] daryalove commented on #1304
@TomWildenhain-Microsoft  No, I can't export the model from ML.NET to a TF saved model due to errrors:
![image](https://user-images.githubusercontent.com/50288548/107613783-0dd74400-6c5a-11eb-83ed-264584352950.png)

[2021-02-11 09:20] shubham-shahh opened #1334 "cannot convert freezed model with nchw commmandline input"
Hi I am using the following command to convert my frozen model to onnx model

`python3 -m tf2onnx.convert --input ./facenet_freezed.pb --inputs input_1:0[1,160,160,3] --inputs-as-nchw input_1:0[1,3,160,160] --outputs Bottleneck_BatchNorm/batchnorm_1/add_1:0 --output facenet.onnx`

still my model's input name is [1,160,160,3]. I think am using the above command incorrectly, can someone please corre

[2021-02-11 14:47] VeeranjaneyuluToka commented on #847
@rajan780 , thanks for sharing the working solutions for tf.image.non_max_suppression_with_scores function. I am facing same issue and i have couple of things to clarify before i proceed.

In original code, it returns 4 values/tensors (boxes, scores, classes, valid_detections) but your modified code returns only boxes, scores and valid_detections, how to get classes also here?
And do we need to re

[2021-02-11 17:34] #1317 closed

[2021-02-11 18:05] VeeranjaneyuluToka commented on #847
@rajan780 , i tried your solution and still it is not getting converted, here is the log
2021-02-11 19:01:53,057 - INFO - Using tensorflow=2.4.0, onnx=1.8.1, tf2onnx=1.8.2/05babf
2021-02-11 19:01:53,057 - INFO - Using opset <onnx, 9>
2021-02-11 19:01:56,608 - INFO - Computed 0 values for constant folding
2021-02-11 19:02:06,229 - ERROR - Tensorflow op [StatefulPartitionedCall/yolov3/yolo_nms/non_m

[2021-02-11 20:57] TomWildenhain-Microsoft commented on #1304
If you can't get a tf saved model, we won't be able to convert it.  Please open an issue with ML.net.

[2021-02-11 20:59] TomWildenhain-Microsoft commented on #1334
Try:

`python3 -m tf2onnx.convert --input ./facenet_freezed.pb --inputs input_1:0[1,160,160,3] --inputs-as-nchw input_1:0 --outputs Bottleneck_BatchNorm/batchnorm_1/add_1:0 --output facenet.onnx`

The shape hint should only be provided to the --inputs flag.

[2021-02-11 21:03] TomWildenhain-Microsoft commented on #1328
I think all the ops you need are now implemented.

[2021-02-11 21:05] #1324 closed

[2021-02-11 21:06] TomWildenhain-Microsoft commented on #1287
To debug the poor performance, try using this script:
https://github.com/microsoft/onnxconverter-common/blob/4f4940d8e23c996dc16245d1b9747956ff61e9a0/onnxconverter_common/perfstats.py

[2021-02-12 04:59] shubham-shahh commented on #1334
This works, thanks.

[2021-02-12 04:59] #1334 closed

[2021-02-12 08:09] jan-golda opened #1337 "CombinedNonMaxSuppression is not supported in ONNX"
**Describe the bug**
I am trying to convert MaskRCNN in TensorFlow 2 to ONNX but it is failing due to `CombinedNonMaxSuppression` op being not supported in ONNX.

**Urgency**
It is blocking the use of MaskRCNN in ONNX.

**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04.1
- Tensorflow Version: 2.3.1
- ONNX version: 1.8.0
- Python version: 3.8.5

**To Reproduce**
Try to conve

[2021-02-12 13:20] daryalove commented on #1304
@TomWildenhain-Microsoft  Okay, thank you for help!

[2021-02-12 17:12] #1304 closed

[2021-02-13 05:00] Antikadas1 commented on #769
if you are still having the same issue it is because of the input names. If you are not sure if it should be 'input_1', or 'input',
Use input_all = [node.name for node in onnx_model.graph.input], print (input_all) and replace the 'input' from change k_model = onnx_to_keras(onnx_model, ['input'])  to the output of print(input_all)

[2021-02-13 12:04] rajan780 commented on #847
Hi @VeeranjaneyuluToka
I implemented this api in the training repo and it's working but i did not check for conversion. sorry for that.
and with respect to class, i train only for one class so for one class we can return like (classes = tf.reshape(classes,[1])) and return classes but in my case i did not want so i did not return.

Note: we can do something like this and i check this in the trainin

[2021-02-13 12:18] VeeranjaneyuluToka commented on #847
Hi, Thanks for reply!
I just tried to run the inference with this change and not able to run inference. Have you run inference with out errors?
I am getting below errors while running inference
**InvalidArgumentError: scores has incompatible shape [Op:NonMaxSuppressionV5]**

As i mentioned i have trained already a model and saved checkpoints while running inference i changed as you suggested above

[2021-02-13 16:51] rajan780 commented on #847
@VeeranjaneyuluToka Yes, i am able to run inference without errors.
actually in my case i am having only one class. So for example: my scores without reshape has shape(1,10647,1) .
so after reshape (scores = tf.reshape(scores,[-1])) shape will be (10647).
But in your case you have 5 classes but non_max_suppression_with_scores api want  A 1-D float Tensor of shape [num_boxes] representing a single

[2021-02-13 18:25] VeeranjaneyuluToka commented on #847
@rajan780 , thanks for your reply again!
I just did as below to pass score array as 1d in my case

    sscores = tf.squeeze(scores, axis=0) #squeezing from (1, 10647, 5) to (10647, 5)
    nscores = tf.gather(sscores, [0], axis=1) #get first column elements
    dscores = tf.reshape(nscores, [-1]) #reshape from (10647, 1) to (10647)
    bbox = tf.reshape(bbox,(-1,4))

    selected_indices, selected_

[2021-02-14 06:42] rajan780 commented on #847
Hi @VeeranjaneyuluToka
please try this and check:
sscores = tf.squeeze(scores, axis=0) #squeezing from (1, 10647, 5) to (10647, 5)
dscores= tf.reduce_max(sscores,[1])#this will have shape(10647)
selected_indices, selected_scores = tf.image.non_max_suppression_with_scores(boxes=bbox, **scores=dscores**, max_output_size=100, iou_threshold=0.5, score_threshold=0.5, soft_nms_sigma=0.5)

[2021-02-14 09:11] VeeranjaneyuluToka commented on #847
Hi @rajan780 , Thanks for your suggestion again!

Yes, it works wrt bounding box predictions but predicted class names are not correct. Class names are quite difference compare to tf.image.Combined_non_max_suppression code. Do you suspect any reason for this?

[2021-02-14 10:10] rajan780 commented on #847
Hi @VeeranjaneyuluToka
combined_non_max_suppressio api will return classes also for each box but non_max_suppression_with_score will not return classes. So we have to do some  workaround for that:
Please try and check and this but i am not very sure if that will work or not because in my case i am having only one class so i did not worry more about classes.

sscores = tf.squeeze(scores, axis=0) #s

[2021-02-14 10:51] VeeranjaneyuluToka commented on #847
Hi Again, no that is not working, it gives error as below
**InvalidArgumentError: Expected dimension in the range [0, 0), but got 1 [Op:ArgMax]**

[2021-02-14 11:00] rajan780 commented on #847
Thanks for your response @VeeranjaneyuluToka
currently, i am also not having an idea how to know about classes. i will try to fix this and update you.
and if you have any update from your side please let me know:)

[2021-02-14 12:57] VeeranjaneyuluToka commented on #847
Hi, Here is the complete yolo_nms function that i have been using. (mostly modified based on your suggestions)

def yolo_nms(outputs, anchors, masks, classes):

    b, c, t = [], [], []

    for o in outputs:
        b.append(tf.reshape(o[0], (tf.shape(o[0])[0], -1, tf.shape(o[0])[-1])))
        c.append(tf.reshape(o[1], (tf.shape(o[1])[0], -1, tf.shape(o[1])[-1])))
        t.append(tf.reshape(o[2

[2021-02-14 13:15] rajan780 commented on #847
Hi @VeeranjaneyuluToka
Please comment these two lines from your code:
#classes = tf.argmax(classes, 1)
classes = tf.reshape(classes,[1])

And instead of above mentioned two lines change to:
classes = tf.argmax(sscores,1)#this will have shape(10647)

After that comment that line also:
classes = tf.concat([classes, tf.ones(100 - 1, tf.int32)], 0)

And before that line:
classes = tf.expand_dims(class

[2021-02-14 13:17] rajan780 commented on #847
Please make above mentioned changes and most probably it has to work

[2021-02-14 14:59] VeeranjaneyuluToka commented on #847
@rajan780 , that did the trick. Thanks!

[2021-02-14 15:08] rajan780 commented on #847
it's my pleasure @VeeranjaneyuluToka

[2021-02-14 15:12] VeeranjaneyuluToka commented on #847
Am wondering in case if you have any experience in converting from savedmodel -> onnx -> tensorrt. I could convert from savedmodel format to onnx but not able to convert from onnx to tensorrt.

[2021-02-14 15:24] rajan780 commented on #847
I converted my model into tensorrt by using below mentioned repo:
https://github.com/NVIDIA-AI-IOT/deepstream_reference_apps/tree/DS2 repo

[2021-02-15 09:29] VeeranjaneyuluToka commented on #847
Hi Again, the above repository is basically running the darknet models. I have tensorflow models converted to onnx and need to convert to tensorrt. Have you converted your tensorflow model to tensorrt using the above repo?

[2021-02-15 09:57] rajan780 commented on #847
Hi @VeeranjaneyuluToka
No,i didn't convert from onnx to tensorrt. i convert from darknet to tensorrt only.

[2021-02-15 13:38] VeeranjaneyuluToka commented on #847
Here is the thing that i have been trying and issues that i am facing (it might be useful for others also)
I have trained a custom yolov3 model using tensorflow 2 which means that the model is in the format of savedmodel.
Originally, tf.image.combined_non_max_suppression is being used in inference which is not supported by onnx, so getting error while converting from savedmodel to onnx.
This issue

[2021-02-15 18:26] VeeranjaneyuluToka opened #1341 "tf.image.non_max_suppression_with_scores results are not consistent"
**Describe the bug**
I have trained custom yolov3 OD model and using tf.image.non_max_suppression_with_scores in inference. I have tested inference with a couple of images using tensorflow model, accuracy is good.
But when i converted from tensorflow savedmodel format to onnx format, bounding box accuracy is fine, but getting wrong classes.

**Urgency**
If there are particular important use cases

[2021-02-15 19:46] TomWildenhain-Microsoft commented on #1341
Hi @VeeranjaneyuluToka, can you upload a copy of the savedmodel you are converting along with your test data/script?

[2021-02-16 08:43] VeeranjaneyuluToka commented on #1341
Hi, thanks for coming back on this issue!. However i found that there is some issue in my preprocessing step because of which results differs. i have tested with a few samples and results are identical. Am closing this issue as of now and reopen in case if i find any issue wrt this. Thanks Again!

[2021-02-16 08:43] #1341 closed

[2021-02-16 10:07] Baylibrejmonnet commented on #921
hi, glad to see, that i'm not the only one, who noticed this issue .

what about a patch ?
thank you !

[2021-02-16 13:07] rajan780 commented on #847
@VeeranjaneyuluToka
Please check that link: https://github.com/onnx/tensorflow-onnx/issues/883#issuecomment-614561227
may be it will help you.

[2021-02-16 19:52] marshallpierce commented on #1328
Using tf2onnx 1.8.2, it still crashes using `--extra_opset ai.onnx.contrib:1`:

[code]

[2021-02-16 19:53] TomWildenhain-Microsoft commented on #1328
Please use the latest tf2onnx from git.
`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2021-02-16 20:10] marshallpierce commented on #1328
Aha, that resolved the exceptions. Still one unsupported op thought:

[code]

[2021-02-16 20:13] TomWildenhain-Microsoft commented on #1328
Almost done: https://github.com/onnx/tensorflow-onnx/pull/1343

[2021-02-16 20:14] marshallpierce commented on #1328
Your responsiveness on this project is amazing :)

[2021-02-17 09:12] dalavayi opened #1348 "OSError: SavedModel file does not exist"
Hello,
I am getting the OSError, when trying to access the saved model.

commands used:

tf.saved_model.save(model,'./content') - to save the model

files inside content folder:
02/17/2021  01:32 PM    <DIR>          assets
02/17/2021  01:32 PM                         saved_model.pb
02/17/2021  01:32 PM    <DIR>          variables

!python -m tf2onnx.convert --saved-model './content' --opset 10 --

[2021-02-17 10:59] sniper0110 opened #1349 "scale attribute can be None"
**Describe the bug**
When I tried to convert a tflite model to onnx, I got the following error:

2021-02-17 10:17:21,126 - INFO - Using opset <onnx, 13>
2021-02-17 10:17:21,176 - ERROR - Failed to convert node 'while/MatMul_16_dequantize' (fct=<bound method TflDequantizeOp.version_10 of <class 'tf2onnx.tflite_handlers.tfl_math.TflDequantizeOp'>>)
'OP=DequantizeLinear\nName=while/MatMul_16_dequanti

[2021-02-17 11:01] sniper0110 commented on #1349
I actually made a check in the code to verify whether the scale is None or not and I was able to convert my model successfully.

Here's a snippet of what I added :

[code]

[2021-02-17 16:29] marshallpierce commented on #1328
Works

[2021-02-17 16:29] #1328 closed

[2021-02-17 23:42] TomWildenhain-Microsoft commented on #1349
@sniper0110 Interesting.  Can you upload a copy of the tflite model?  I'm surprised scale can be none since it seems required, but maybe CustomQuantization is being used instead.  Have you tried testing the onnx model to see if the results are the same?

[2021-02-17 23:48] TomWildenhain-Microsoft commented on #1348
Try without the single quotes.  I'm suspicious that the error has single quotes around the path.

[2021-02-18 00:03] TomWildenhain-Microsoft commented on #1337
Hi @jan-golda to convert this op, we can either 1) compose it out of ONNX ops or 2) implement it as a custom op.  From your experimenting in TF is seems like you are finding making a compositions of ops to be expensive.  We have previously made relatively complicated ops out of compositions of ops with decent performance, but sometimes it can't be done.  In this case, I suspect we can get an effic

[2021-02-18 06:24] dalavayi commented on #1348
thank you that resolved the error @TomWildenhain-Microsoft

[2021-02-18 06:24] #1348 closed

[2021-02-18 09:27] sniper0110 commented on #1349
Sure thing.
[my_relu_model_optimized.zip](https://github.com/onnx/tensorflow-onnx/files/6001642/my_relu_model_optimized.zip)

Regarding the onnx model, I haven't been successful in testing it but I am not sure if it's due to bad transformation from tflite or it's something else.
I am trying to run it with onnxruntime and I am facing this error when creating a onnxruntime session :

[code]

My code

[2021-02-18 13:39] codethief commented on #862
I'm experiencing the same issue with ssd_mobilenet_v2_mnasfpn_coco from the [TF *v1* model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md). (For details see below.) Given that the model is meant for TF v1 and it's not working on v1 I suggest we re-open this issue?

**Details:**

I'm trying to convert the given model to ONNX using TensorFl

[2021-02-18 17:35] jan-golda commented on #1337
Hi @TomWildenhain-Microsoft
Well, I was trying to use the [`NonMaxSuppression`](https://www.tensorflow.org/api_docs/python/tf/image/non_max_suppression), but since it does no support batching nor class-wise suppression I had to iterate over both the batch and the classes.
I've implemented that using two nested [`map_fn`](https://www.tensorflow.org/api_docs/python/tf/map_fn) accompanied with a lot

[2021-02-18 21:12] guschmue commented on #1337
Should be possible to add support for CombinedNonMaxSuppression since the onnx nms op supports batch.
We actually unsqueeze the input to get a batch size of 1.

[2021-02-22 09:14] jan-golda commented on #1337
@guschmue nice to hear that!

Do you think it would be possible to implement that in the near future?

[2021-02-22 15:52] codethief opened #1356 "SSD MobileNetV2 MnasFPN gets converted successfully but inference fails at Conv2D op"
**Describe the bug**
SSD MobileNetV2 MnasFPN gets converted successfully by tf2onnx 1.8.2 buts fails to execute using ONNXRuntime 1.6.0.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Tensorflow Version: 1.15.3
- Python version: 3.6.12

**To Reproduce**
I trained a model based upon [ssd_mobilenet_v2_mnasfpn_coco](https://download.tensorflow.org/mo

[2021-02-22 18:16] TomWildenhain-Microsoft commented on #1337
Yep, I'm working on it!  Hopefully by end of the week.

[2021-02-22 21:59] TomWildenhain-Microsoft commented on #921
If you convert using the latest tf2onnx from master, output names for saved models will now use structured outputs.  You can also rename outputs with the --rename-outputs flag (and provide a list of desired names).

[2021-02-22 22:00] TomWildenhain-Microsoft commented on #1038
tf2onnx now also supports "graph cutting".  If you specify inputs that are nodes in the middle of the graph, tf2onnx will promote them to inputs and remove the nodes before them.

[2021-02-22 22:10] dfvr1994 commented on #1038
@TomWildenhain-Microsoft can you please provide an example?

[2021-02-22 22:14] TomWildenhain-Microsoft commented on #1038
`python -m tf2onnx.convert --input path/to/saved/model/dir --inputs IntermediateNodeOutput:0,OtherNode:0 --outputs SomeOutput:0 --output model.onnx`

[2021-02-22 22:15] TomWildenhain-Microsoft commented on #1038
You will need to install the latest tf2onnx from master.
`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2021-02-23 01:24] TomWildenhain-Microsoft commented on #1349
For testing you can either do:
`session = onnxruntime.InferenceSession('models/ONNXModels/model.onnx', None)`
or:
`session = onnxruntime.InferenceSession(prediction_model.SerializeToString(), None)`

[2021-02-23 12:57] sniper0110 commented on #1349
That's how I was testing it. But I am getting the following error:

[code]

[2021-02-23 23:16] guschmue commented on #606
https://github.com/onnx/tensorflow-onnx/pull/1353

[2021-02-23 23:16] #606 closed

[2021-02-24 03:06] annabeth97c commented on #1207
Hi! So sorry for the late reply!

Yes the model worked in onnxruntime.

The tensorrt error looked like this

In function importModel:[5] Assertion failed: tensors.count(input_name)

To try and replicate your result, I generated the ONNX using tensorflow 2.3.0 and it seems to have worked correctly. My model looks like the picture of your opset 13 conversion!

I was still getting errors at the first

[2021-02-24 04:08] TomWildenhain-Microsoft commented on #1207
Glad to hear you got it working!

[2021-02-24 04:08] #1207 closed

[2021-02-25 00:40] JoeProgram opened #1364 "PRelu is not supported by tf2onnx"
Hello!

I'm a NN newbie, so I'll do my best to explain what I'm running into.

I'm trying to convert [MediaPipe's Palm Detection tflite model](https://github.com/google/mediapipe/tree/master/mediapipe/modules/palm_detection) into ONNX so that it may work with  [Unity Barracuda](https://docs.unity3d.com/Packages/com.unity.barracuda@1.0/manual/Exporting.html).

On my mac, when I run the command in t

[2021-02-25 01:50] TomWildenhain-Microsoft commented on #1364
For sure.  Should be easy to add.

[2021-02-25 11:51] Laubeee opened #1367 "tf_loader fails to load .pb file"
**Describe the bug**
Can't convert .pb file

**System information**
- Win10
- Tensorflow Version: 1.15.3
- Python version: 3.7.1

**To Reproduce**
get [EfficientPose model II](https://github.com/daniegr/EfficientPose/blob/master/models/tensorflow/EfficientPoseII.pb) and try to convert it to onnx

**Additional context**
[code]

Tried with newer opsets as well

Edit: the corresponding tflite model f

[2021-02-25 15:27] guschmue commented on #1367
Seems to work for me. Try
[code]

[2021-02-25 15:28] #1295 closed

[2021-02-25 15:31] guschmue commented on #1112
assume fixed.

[2021-02-25 15:31] #1112 closed

[2021-02-25 22:46] JoeProgram commented on #1364
Awesome!  Thanks so much.

[2021-02-26 08:33] OutSorcerer commented on #293
An alternative workaround for those who has to use older ONNX opset e.g. opset 7:

[code]

The produced ONNX works on NVidia Jetson TX2 (Jetpack 4.4.1, TensorRT 7.1.3.0).

[2021-02-26 11:19] Laubeee commented on #1367
Ah I see, I did not specify inputs and outputs.. what is the behaviour on that, I mean, what is the tool trying to do if these are missing? Shouldn't it error out in that case?

Moreover: is it possible to have an automatic fallback extracting all inputs and outputs from the .pb file? (which would be a feature request)

[2021-02-26 16:22] guschmue commented on #1367
the .pb is a graph_def and that format does specify inputs and outputs ... that is why we need them passed in the command line.
If the model would be a saved-model or a tflite format ... those specify inputs and outputs so we don't need them in the command line.

Its the same when you try to run inference in tensorflow on that model ... you need to know the input and output names.

[2021-02-26 22:51] TomWildenhain-Microsoft commented on #1062
"How can i add the model after training?" - Don't think I understand.  Do you mean edit the model after training?  To edit the model on the TF side, you will need the TF source used to generate the model, edit the python, and make a new model.  You can copy the weights from the trained model to the new saved_model.

[2021-02-26 23:29] #921 closed

[2021-02-26 23:30] TomWildenhain-Microsoft commented on #1038
@dfvr1994 did this work for you?

[2021-02-26 23:32] TomWildenhain-Microsoft commented on #1051
You can now specify non-placeholder inputs and they will be promoted to placeholders.

[2021-02-26 23:32] #1051 closed

[2021-02-26 23:34] TomWildenhain-Microsoft commented on #1158
I believe all ops are now implemented except for Bucketize and SparseCross.  You might be able to use the custom ops framework to cover those: https://github.com/microsoft/ort-customops

[2021-02-26 23:40] TomWildenhain-Microsoft commented on #1367
You can use Netron to visualize the model and more easily get the inputs/outputs. https://github.com/lutzroeder/Netron

[2021-02-27 00:21] dfvr1994 commented on #1038
@TomWildenhain-Microsoft , can I specify the output opset? Matlab is not able to read opset 13

[2021-02-27 00:57] TomWildenhain-Microsoft commented on #1038
Sure, use `--opset #`.  For lower opsets, the model may need to be dequantized with `--dequantize`.

[2021-02-27 02:24] TomWildenhain-Microsoft commented on #1349
Turns out in your model the Dequantize in tflite is not really being used to dequantize, it is just a case from float16 to float32.  I've updated tf2onnx to handle this case here: #1373

[2021-02-27 06:07] TomWildenhain-Microsoft commented on #1337
What is the dimension of the scores tensor for your model?  TF has 2 different behaviors (are you sharing boxes across classes?)

[2021-02-27 09:18] tsedlmeier commented on #1062
Thanks for your reply,
i got the Inferece with TensorRT working by editing the model ("cutting" unsupported layer ) and depicting the functionality in software.

[2021-02-27 21:03] vilmara commented on #1277
Hi @guschmue, you are right there are a bunch of issues converting models from ONNX->TRT, it would be good to have more support on this matter. Finally, I was able to convert the model from TF->ONNX, but now I am stuck converting it from ONNX->TRT. I have reported the issue [here](https://github.com/onnx/onnx-tensorrt/issues/649), could you please take a look at it and give me some idea about what

[2021-03-01 02:46] feiyuhuahuo opened #1375 "Can not get the same result between tensorflow model and the exported ONNX model?"
**Describe the bug**
I am running a object detection model. But I found that the ONNX output run by onnxruntime-gpu has a large error with the model output run by Tensorflow. And thus the detection result is not exactly the same.

**Urgency**
None

**System information**
    Linux Ubuntu 18.04:
    ONNX Runtime installed from: pip install onnxruntime-gpu==1.6.0
    ONNX Runtime version: onnxruntim

[2021-03-01 09:13] sniper0110 commented on #1349
Ok great, thank you!
When will be the next release so that I can test it?

[2021-03-01 09:19] Laubeee commented on #1367
Kind of my point: if Netron can do it, can't anyone do it?

Otherwise: "detecting" that the input is a graphdef without specified in- and outputs, raising a user error, would be cool. (I take it from your explanation the converter just assumed the file is a saved model and processed it as far as it could? Is it possible that this behaviour successfully finishes, but produces an incomplete model an

[2021-03-01 15:37] guschmue commented on #1367
If you look at a graphdef in netron - it doesn't tell the inputs or outputs BUT a human can see it in many cases just by looking at the graph. Its possible to reliable identify inputs, but any node in the graph could be an output that the app wants to pull so that we can't do reliable do.
The fix is to use a saved-model and since keras is recently the common way to write tf models the model will c

[2021-03-01 18:55] TomWildenhain-Microsoft commented on #1277
@vilmara did you try making the input shape constant with `--inputs image_tensor:0[1,224,224,3]`?  It looks like TensorRT doesn't support resizes if the shapes are not static.

[2021-03-01 18:57] TomWildenhain-Microsoft commented on #1349
You can test it right now by installing the latest tf2onnx from master:
`pip unisntall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2021-03-01 18:59] TomWildenhain-Microsoft commented on #1367
Yeah the issue is the graph_def is underspecified as a format and does not indicate the outputs.  We could of course find all nodes with outputs that are unused and treat them as graph outputs.  That would be correct most of the time.

[2021-03-01 19:21] vilmara commented on #1277
Hi @TomWildenhain-Microsoft thanks for your prompt reply. Yes I tried it as recommended also by @guschmue in the comment above, but got the new error about TensorRT certain transformation modes if the shapes are static. How can I fix this issue?

[2021-03-01 20:38] jan-golda commented on #1337
Sorry for the late reply!

There are two separate places in the code where this op is used. Below you will find some example shapes for these two places:
[code]

So the answer is no - I am not sharing the boxes across classes since the third dimension of boxes always equals the third dimension of scores

[2021-03-01 22:08] TomWildenhain-Microsoft commented on #1337
Well... just finished implementing it for the other version: #1376.  Non-sharing is a little harder since ONNX does share boxes across classes for NMS.  I could just make the boxes shared and zero-out the score for all but one class, but that will be a lot of zeros (90 per box, so 90 * 4 * 1000 * 90 = 32 million (probably too large).  Place 2 should work fine with the current implementation since

[2021-03-01 22:17] TomWildenhain-Microsoft commented on #1277
What transformation mode does your ONNX graph use?  You could try replacing it with one of the other transformation modes that TensorRT does support.  Then it should work and be pretty close to the same result.

[2021-03-01 22:50] TomWildenhain-Microsoft commented on #1277
You can view the ONNX graph in Netron to determine what mode is being used: https://github.com/lutzroeder/Netron

[2021-03-02 01:31] TomWildenhain-Microsoft commented on #1277
To resolve the warning `Currently installed onnx package 1.6.0 is too low to support opset 12`, do:
`pip install --upgrade onnx`
Then do conversion again, and check that the model works by importing it into onnx runtime:
`import onnxruntime as ort`
`sess = ort.InferenceSession("path/to/model.onnx")`
`feed_dict = {'input:0': np.array(some value) ... }`
`results = sess.run(None, feed_dict)`

[2021-03-02 10:57] sniper0110 commented on #1349
When I transform my tflite model into onnx model now, I don't get any errors. But when I try to run a session with my model to make inference, the program quits without any errors when it reaches the line that contains `session.run`.
I am practically using the same code as above and when I test on other onnx models it works fine. But when I test on the newly converted model I get the behavior ment

[2021-03-02 12:12] sniper0110 commented on #1349
Btw, the tflite model has been tested and it works fine.

[2021-03-02 12:23] HalfVoxel opened #1377 "convert.from_keras fails with default parameters"
**Describe the bug**
Calling `tf2onnx.convert.from_keras(model)` throws an exception

[code]

The default value for the `input_signature` parameter to `from_keras` is None, but that will cause the method to throw an exception because it tries to effectively expand `*None`.

**Urgency**
None. It would be nice to be able to use the new api though.

**System information**
- Linux Ubuntu 20.04
- Tenso

[2021-03-02 14:36] jan-golda commented on #1337
[code]

[2021-03-02 15:00] guschmue commented on #1377
fair, I can add a check.

[2021-03-02 15:04] guschmue commented on #1349
when we see the quantization in tflite models we replace it with QDQ. onnxruntime is going to support this but that support is not fully implemented yet.

[2021-03-02 15:27] MolmezLTD commented on #655
Its great saying use opset 11. But what does that actually mean???? How does one "use opset 11" not very helpful! Attempting to convert after retraining resnet50. Same error. Cannot find any info from searching "how to choose which opset to use onnx" so please at least give people some info on what you are on about instead of just saying "i did it"

[2021-03-02 15:37] guschmue commented on #655
use opset 11 by adding ```--opset 11``` to the command line. Early opsets had a lot of attributes in the onnx ops. They are static and tf2onnx need to be able to fill them in which only works if they are constants. For some models they are not const and that is where this error comes from. Newer opsets in onnx make some of those attributes inputs to the ops, aka they are dynamic same way the are i

[2021-03-02 15:50] MolmezLTD commented on #655
life saver! thank you for such a quick response as well!

[2021-03-02 19:27] TomWildenhain-Microsoft commented on #1349
@guschmue Good to know, but probably not related to this issue since this model doesn't actually use QDQ ops.

[2021-03-02 19:37] guschmue commented on #1349
ups.

[2021-03-02 23:08] TomWildenhain-Microsoft commented on #1349
I can confirm the the model crashes in ORT.  However, it passes shape inference.  @sniper0110 can you open an issue with ORT please?  Upload a copy of your converted onnx model, and ideally a script that demonstrates the issue.

https://github.com/microsoft/onnxruntime

[2021-03-02 23:09] #1367 closed

[2021-03-02 23:11] TomWildenhain-Microsoft commented on #1364
#1372

[2021-03-02 23:11] #1364 closed

[2021-03-03 20:38] TomWildenhain-Microsoft commented on #1349
@sniper0110 can you try converting the model with different values of --outputs until it passes?  My guess is there is a bad node in the resulting graph and we should be able to narrow it down.

[2021-03-03 20:43] TomWildenhain-Microsoft commented on #1283
You can now convert with the --rename-inputs flag to specify the desired input names.

[2021-03-03 20:52] TomWildenhain-Microsoft commented on #1337
For experimental purposes, can you try testing the performance of the CombinedNonMaxSuppression implementation I've done so far?  Making boxes non-shared will be a decent bit harder but have similar perf so it would be nice to know if the perf is sufficient.  Just add a slice before your CombinedNonMaxSuppression to cut the dim from 90 to 1 and see how the perf of the conversion to ONNX compares t

[2021-03-03 21:27] TomWildenhain-Microsoft commented on #1349
NVM, the problem is with the While nodes.

[2021-03-03 21:34] TomWildenhain-Microsoft commented on #1349
two of the while nodes are fine, but the two down here cause problems:

![image](https://user-images.githubusercontent.com/67606533/109875323-52914200-7c3e-11eb-8a6f-db8fd4f796fd.png)

[2021-03-04 03:47] dfvr1994 commented on #1038
@TomWildenhain-Microsoft thank you so much, dequatizing the model and setting opset to 9 seems to work.

[2021-03-04 04:02] #1038 closed

[2021-03-04 04:40] dfvr1994 commented on #1038
Quick question, Matlab doesn't seem to like certain layers. At the moment of converting the model can I set which layers to exclude or be replaced with others?

[2021-03-04 18:20] guschmue opened #1378 "need to optimize SpaceToDepth sequence"
deeplabv3_mnv2_ade20k

[2021-03-04 18:23] guschmue opened #1379 "need to optimize resize->transpose->ArgMax sequence"
Resize->Transpose->Argmax to Resize->Argmax

Resize followed by a NCHW->NHWC transpose, then an ArgMax on axis 3.
instead remove the Transpose and use ArgMax on axis 1

[2021-03-04 20:57] TomWildenhain-Microsoft commented on #1379
If the transpose was pushed there by the transpose optimizer, we might just be able to add an optimizer before it for Resize->Argmax

[2021-03-04 20:59] #1283 closed

[2021-03-04 21:13] guschmue commented on #1379
or maybe build it into the transpose optimizer

[2021-03-05 10:50] sniper0110 commented on #1349
So apparently this is not a problem linked to ORT based on @skottmckay's answer [here](https://github.com/microsoft/onnxruntime/issues/6874). It's a problem linked to transforming the model from tflite to onnx. Do you think this could be fixed quickly?

[2021-03-05 19:51] TomWildenhain-Microsoft commented on #1349
Yes that's correct.  I should have a fix by the end of the day.

[2021-03-06 01:01] TomWildenhain-Microsoft commented on #1158
@Silb78dg let me know if you want help using the custom ops framework.

[2021-03-06 04:00] TomWildenhain-Microsoft commented on #1378
I have the TFLite model but I think the pattern is in the TF model.

[2021-03-06 05:33] TomWildenhain-Microsoft commented on #1375
Hopefully I'll get a chance to look at this next week.  My guess is the resize nodes are being converted slightly incorrectly.

[2021-03-07 16:50] israelwei opened #1385 "Latest versions have issue with Resize for TensorRT conversion"
**Describe the bug**
I have a detector yolo3 model trained in Tensorflow 2.3. One of the layers is Keras Layer of UpSampling2D, which is called with its default arguments.
For some reason when using the latest versions of tf2onnx, the onnx model of this layer is exported with a problematic node, as seen in the following image:
![image](https://user-images.githubusercontent.com/23454156/110247316-5

[2021-03-08 07:40] hoaquocphan commented on #77
Hi @ashnaeldho
I have the same error log as you when I tried to import graphdef.
do you have any solution to fix your issue?

[2021-03-08 19:17] TomWildenhain-Microsoft commented on #1100
@phager90 you were 100% correct with your diagnosis of the issue.  The depthwise conv handler was mutating the weights matrix, which caused an issue when multiple convs shared it.

[2021-03-08 20:12] #1100 closed

[2021-03-08 20:12] #1356 closed

[2021-03-08 23:16] #1379 closed

[2021-03-09 02:41] TomWildenhain-Microsoft commented on #1385
TensorRT doesn't fully support some onnx ops like Reshape.  Our previous conversion of the reshape op was slightly wrong and it looks like TensorRT doesn't support the flags used by the update.  I'll add a rule to use the old conversion if TensorRT is specified with the --target flag.

[2021-03-09 03:41] hoaquocphan commented on #1152
Hi Mr @TomWildenhain-Microsoft

Currently, I have the task related to optimize saved model. and it have the same error log with the previous task as below:
`ValueError: Input 1 of node StatefulPartitionedCall was passed float from conv1/kernel:0 incompatible with expected resource.`

How to reproduce:

1/ I download saved model from tensorflow hub: resnet_50_classification_1/
2/ I freeze model wit

[2021-03-09 09:43] sniper0110 commented on #1349
Thank you for the fix @TomWildenhain-Microsoft .
I tested your fix just now and I think that the error persists. Here are the steps that I've done so far:
1- Uninstall tf2onnx.
2- Re-install it using : `pip install git+https://github.com/onnx/tensorflow-onnx`
3- I used this command for converting the model from tflite to onnx : `python -m tf2onnx.convert --opset 13 --output "models/ONNXModels/tfli

[2021-03-09 16:48] TomWildenhain-Microsoft commented on #1349
The change wasn't merged yet.  Try again now.

[2021-03-09 18:45] TomWildenhain-Microsoft commented on #1152
Hi @hoaquocphan, try downloading the model from TFHub, unzip it, and then convert it directly with:
`python -m tf2onnx.convert --saved-model path/to/model --concrete_function 1 --opset 13`

We will freeze the model automatically.  The `--concrete_function 1` is because this model has a few signatures and it turns out signature 1 is the one for inference, not training.  I got the function index usi

[2021-03-09 19:10] TomWildenhain-Microsoft commented on #1375
Looks like the issue was caused by a bug we already fixed.  Try converting using the latest tf2onnx from master:

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2021-03-10 02:20] feiyuhuahuo commented on #1375
Thanks, it works.

[2021-03-10 02:24] hoaquocphan commented on #1152
Hi @TomWildenhain-Microsoft

currently, I'm doing the task to convert tensorflow saved model to onnx model and optimize it. I break the task to 3 parts as below:
Part A/ optimize saved model
+ I follow the guide in https://medium.com/google-cloud/optimizing-tensorflow-models-for-serving-959080e9ddbf as my previous post and have the error while convert from graphdef file to saved model
`ValueError:

[2021-03-10 03:00] TomWildenhain-Microsoft commented on #1152
1. Yes, you can skip step A and jump straight to B
2. Not all graphs can be frozen.  If you try to freeze the training graph instead of the inference graph, you likely will fail because the training graph performs variable assignments in addition to variable reads.  The error is saying that a node (likely a variable assignment node) was given a float (the frozen value of the variable) but was expe

[2021-03-10 10:23] sniper0110 opened #1391 "Inference time is more than 8 times slower after transforming tflite model to onnx model"
**Describe the bug**
I have a tflite model that runs with an inference speed of **21ms/image**.
I transformed the model to an onnx model using this command:
`python -m tf2onnx.convert --opset 13 --output "models/ONNXModels/tflite_model_af_2.onnx" --tflite "models/TFLiteModels/my_relu_model_optimized.tflite" --inputs-as-nchw serving_default_image:0`

With the new onnx model, the inference speed is

[2021-03-10 20:46] TomWildenhain-Microsoft commented on #1391
Hi @sniper0110, I ran the model on my machine and I get **8.1 ms for tflite** and **7.7 ms for onnxruntime**.  I got this result without the --inputs-as-nchw flag using **onnxruntime 1.6.0** on CPU.

A few questions:
- Are you running the model on CPU or GPU?  (make sure it is the same for both TF and onnx)
- What version of onnx runtime are you using?
- Are you using a custom-compiled tflite, or

[2021-03-11 10:49] sniper0110 commented on #1391
Thank you for your answer @TomWildenhain-Microsoft !
I actually found the source of why I was having these large inference times. It has nothing to do with ONNX nor ORT.
In fact, I was measuring the time for processing images using **time.process_time()**. This in fact gives those time values that I mentioned above. When I use **time.time()** or **time.perf_counter()** I get results closer to your

[2021-03-11 10:49] #1391 closed

[2021-03-12 03:57] Phincle opened #1393 "cannot import name 'from_graph_def' from 'tf2onnx.convert'"
in README.md -> Python API reference -> from_graph_def
no such api "from_graph_def"

[2021-03-12 15:46] guschmue commented on #1393
Oh, sorry - this is fairly new and we have not pushed this to pypi. Will do so in the next few days. In the meantime you could use
[code]
to install from master.

[2021-03-13 02:49] Phincle commented on #1393
thank you

[2021-03-13 02:49] #1393 closed

[2021-03-13 02:59] Phincle opened #1394 "Quantize layer disapeared when convert tensorflow QAT to ONNX QAT"
**tensorflow QAT model like:**
【model 1】
                 [data]                                                  [weights]
                      |                                                            |
[FakeQuantWithMinMaxVars]         [FakeQuantWithMinMaxVars]
                                         \                /
                                            [ conv2d ]

**I hope it to

[2021-03-15 08:03] ZhangZhiHao233 opened #1395 "value "name: "tf_data_structured_function_wrapper_PhyAMdDq5iE" " is not valid attribute data type."
2021-03-15 07:43:33,925 - INFO - Using tensorflow=1.12.0, onnx=1.8.1, tf2onnx=1.8.3/0fbdb5
2021-03-15 07:43:33,925 - INFO - Using opset <onnx, 13>
2021-03-15 07:43:33,963 - INFO - Computed 0 values for constant folding
2021-03-15 07:43:34,147 - ERROR - pass1 convert failed for name: "GeneratorDataset"
op: "GeneratorDataset"
input: "arg0:0"
attr {
  key: "Tfinalize_func_args"
  value {
    list {

[2021-03-15 14:52] creidieki opened #1396 "Broken link in README.md"
In the "Python API Reference" section of README.md, there's a link
`See tutorials/keras-resnet50.ipynb for an end to end example.`
which leads to https://github.com/onnx/tensorflow-onnx/blob/master/keras-resnet50  . But that page is a 404 error.

Thanks!

[2021-03-15 16:33] guschmue commented on #1396
sorry, typo - I'll fix it. The correct link is:
https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/keras-resnet50.ipynb

[2021-03-15 19:02] TomWildenhain-Microsoft commented on #1395
This model contains the GeneratorDataset op, which we cannot yet convert.  Is it possible to remove this op from the model?  Seems like a strange op to include in an inference graph.

[2021-03-15 19:08] guschmue commented on #1396
fixed.

[2021-03-15 19:08] #1396 closed

[2021-03-15 19:08] TomWildenhain-Microsoft commented on #1394
Yes, it appears constant folding is eliminating that node, changing the pattern Const -> QuantizeLinear -> DequantizeLinear into a single Const.  Why do you want this pattern to be left unfolded?  I could understand wanting Const -> DequantizeLinear since the quantized representation might be smaller, but Const -> QuantizeLinear -> DequantizeLinear will store the weights as float32, which will be

[2021-03-15 19:10] TomWildenhain-Microsoft commented on #1152
@hoaquocphan were you able to get the model converted?

[2021-03-16 08:32] hoaquocphan opened #1398 "assert d in name_to_node, "%s is not in graph" % d"
**Dubugging advice**
[delete this section if it doesn't solve your issue]
- Add a `--opset` flag with the highest possible opset you can use. Some ops only convert in higher opsets.
- Try installing the latest tf2onnx from master. Some bug fixes might not have been released to PyPI. Run `pip uninstall tf2onnx` and `pip install git+https://github.com/onnx/tensorflow-onnx`
- If using a saved model,

[2021-03-16 08:40] hoaquocphan opened #1399 "assert d in name_to_node, "%s is not in graph" % d, AssertionError: <node name> is not in graph"
Dear All,

Currently, I have a issue and the following steps will explain how to reproduce,
download tensorflow model from tensorflow hub: **efficientnet_b0_classification_1**

I can convert the tensorflow model to onnx model as below command:
[code]

but, when  I try to remove the softmax op by command:
[code]

I have checked the node name of model on https://netron.app/ and get the output name,

[2021-03-16 17:13] jeffkrupa opened #1400 "tf CategoryEncoding layer support"
Hi, I am using experimental preprocessing layer [CategoryEncoding](https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/CategoryEncoding) in tensorflow 2.4.1. Its operations are not supported (below). Is support for this planned?

Thank you.

**System information**
- OS Platform and Distribution: centos 7
- Tensorflow Version: 2.4.1
- Python version: 3.8.8

**Error

[2021-03-16 18:29] TomWildenhain-Microsoft commented on #1399
Run the first conversion again, and use the `--output_frozen_graph frozen.pb` flag to save a copy of the frozen tf graph.  Then open it in Netron and get the name from there.  Sometimes the graph freezing process changes the names of the nodes.

[2021-03-16 18:30] #1398 closed

[2021-03-16 19:06] TomWildenhain-Microsoft commented on #1400
I should be able to implement it but there are a few settings that change the op's behavior.  Can you give me the code you are using for the layer so I can cover your use case?

[2021-03-16 21:58] jeffkrupa commented on #1400
Hi, thanks for your response. I'm just using it as in
[code]

[2021-03-17 09:30] hoaquocphan commented on #1399
Dear @TomWildenhain-Microsoft
I have tried your solution, but the network of  frozen.pb have some difference with network of onnx model. so when I use the node name on frozen.pb, it have the same error log.

[2021-03-17 17:05] calvinmccarter-at-lightmatter opened #1407 "Test script for validating the pre-trained TensorFlow models fails on onnxruntime"
**Describe the bug**
After being installed from source, it fails to validate the pre-trained TensorFlow models using `tests/run_pretrained_models.py`. While running all the models in TF succeeds, they all fail on the ONNX runtime (`RESULT: 21 failed of 21, backend=onnxruntime`). All models have the following error in to_onnx:

```TypeError: process_tf_graph() got an unexpected keyword argument 'te

[2021-03-17 17:25] guschmue commented on #1377
Initially I thought we could run without input signature but than we'd need to allow you to pass a signature number which is hard to pick for in-memory models so we ended up enforceing that input signature is passed in.

[2021-03-17 17:25] #1377 closed

[2021-03-17 17:37] calvinmccarter-at-lightmatter commented on #1407
Indeed! Uninstalling from pip and then reinstalling with setup.py worked -- thanks!

[2021-03-17 17:37] #1407 closed

[2021-03-17 19:43] guschmue commented on #1052
assume fixed

[2021-03-17 19:43] #1052 closed

[2021-03-17 19:48] guschmue commented on #441
I think this has improved over time, hope this issue no longer exists.

[2021-03-17 19:48] #441 closed

[2021-03-18 16:27] markusweimer opened #1412 "conda package doesn't support Python 3.8"
The `tf2onnx` package on conda-forge doesn't (claim to) work with Python 3.8. Are there plans to update it?

[2021-03-18 16:38] guschmue commented on #1412
3.8 or 3.9 is fine and works ok with pypi.
We don't publish to conda-forge ourselfs - let me find out how it gets there and where the version assumption gets it.

[2021-03-18 16:44] markusweimer commented on #1412
Thanks for checking! Yes, I saw that it works on pypi. That is why I was surprised it wasn't on `conda-forge`.

Some background: We are preparing the next default environment for Azure Synapse. We have chosen `conda` as the environment manager. For stability and ease of use, we'd like to keep as many of the packages we install by default on the `conda` side of the `conda`/`pip` divide. For example

[2021-03-19 01:43] TomWildenhain-Microsoft commented on #1399
Sorry, the model I downloaded from tfhub doesn't have that node.  Can you link directly to the model and make sure it is the same version that you have on disk?  Or you can upload the model you have.

Also the `MatMul_Gemm__23` node is created by tf2onnx during conversion.  The name `StatefulPartitionedCall/StatefulPartitionedCall/logits/StatefulPartitionedCall/MatMul:0` is more likely to work.  I

[2021-03-19 08:29] franespiga opened #1415 "No opset import for domain 'ai.onnx.ml' when importing back from ONNX to TensorFlow"
**Describe the bug**
I can successfully export a saved model from TFHUB to ONNX using additional operators and opset13.
The only warning I get has to do with shape:
`WARNING - Cannot infer shape for StatefulPartitionedCall/model/keras_layer/StatefulPartitionedCall/StatefulPartitionedCall/StatefulPartitionedCall/text_preprocessor/hash_table_Lookup/hash_table_Lookup/LookupTableFindV2: StatefulPartit

[2021-03-19 09:37] hoaquocphan commented on #1062
Hi @TomWildenhain-Microsoft

I convert model and have the error with Squeeze node, but the error log are same:
`onnxruntime.capi.onnxruntime_pybind11_state.RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running Squeeze node. Name:'StatefulPartitionedCall/StatefulPartitionedCall/predict/MobilenetV2/Logits/Squeeze' Status Message: /onnxruntime_src/

[2021-03-19 11:45] TomWildenhain-Microsoft commented on #1062
Hi @hoaquocphan, that looks like a very different error (all onnx runtime errors start with "non-zero status code").  Can you please open a new issue and upload the model you are converting?

[2021-03-19 12:22] ahyangyi commented on #827
Well, inverse did not actually make it.

https://github.com/onnx/onnx/pull/2747

I think this issue should be reopened as well.

[2021-03-19 18:39] guschmue commented on #1415
Sounds https://github.com/onnx/onnx-tensorflow team should look at this. I'd open an issue there.

[2021-03-21 13:04] caj-github opened #1416 "tf2onnx.convert.from_graph_def() "target" parameter not work"
model_proto, external_tensor_storage = _convert_common(
        frozen_graph,
        name=name,
        continue_on_error=True,
        target=None,
        opset=opset,

the internal function "target" parameter was default "None"

[2021-03-22 04:02] hoaquocphan opened #1417 "different output from 1 command"
Dear All,

I would like to report the issue as below:

1/ download tensorflow model from tensorflow hub: https://tfhub.dev/google/imagenet/mobilenet_v1_025_128/classification/4
2/ use below command to convert saved model to onnx model:
`python3 -m tf2onnx.convert --saved-model imagenet_mobilenet_v1_025_128_classification_4/ --output imagenet_mobilenet_v1_025_128_classification_4.onnx --opset 12 --

[2021-03-22 04:36] hoaquocphan opened #1418 "Non-zero status code returned while running Squeeze node"
Dear All,

I would like to report the issue and need the support from you.

1/ download tensorflow model from tensorflow hub: https://tfhub.dev/google/imagenet/mobilenet_v1_025_128/classification/4
2/ use below command to convert saved model to onnx model:
`python3 -m tf2onnx.convert --saved-model imagenet_mobilenet_v1_025_128_classification_4/ --output imagenet_mobilenet_v1_025_128_classification

[2021-03-22 04:38] hoaquocphan commented on #1062
Hi @TomWildenhain-Microsoft

I create the new ticket here: https://github.com/onnx/tensorflow-onnx/issues/1418
could you have a check and give me the support

Thank you very much!

[2021-03-22 04:38] #1062 closed

[2021-03-22 15:58] guschmue commented on #1416
ah, let me fix this.

[2021-03-22 18:22] TomWildenhain-Microsoft commented on #1417
Are you certain that the versions of tf2onnx are the same, and the models are identical?  Check your environment's Lib/site-packages/tf2onnx line 398: https://github.com/onnx/tensorflow-onnx/blob/02feacfd4c5ead9c36e9c6de820e63542d6e12e3/tf2onnx/tf_loader.py#L398

`concrete_func = imported.__call__.get_concrete_function(*args, **kwargs)`
If it differs between the  computers, that would explain the

[2021-03-22 18:59] TomWildenhain-Microsoft commented on #1418
Which other tool?  The model is successfully converting and running for me.

[2021-03-23 02:04] hoaquocphan commented on #1418
Hi @TomWildenhain-Microsoft

Thank for your reply!

I already check the onnx model and it is ok.
other tool is tool to convert onnx model to the other format, but it print the error log same as log format of tf2onnx tool so I think the error from the tf2onnx tool.
so did you ever have this error log like that, such as: **HandleNegativeAxis**, **axis >= -tensor_rank && axis <= tensor_rank - 1**, **

[2021-03-23 02:09] TomWildenhain-Microsoft commented on #1418
The error message is saying that the input to the `SpatialSqueeze` op has a rank of 2, so axis 2 does not exist.  This doesn't make a lot of sense since the input to that node really ought to have a rank of 4.

The error is happening within onnx runtime.  I don't think I can help without knowing what tool you are using.

[2021-03-23 02:25] hoaquocphan commented on #1417
Hi @TomWildenhain-Microsoft

thanks for your reply.
+ I'm sure that the saved model are the same, because I copy from 1st PC to 2nd PC
+ the tf2onnx tool are the same and I check the code line as your comment, and it is the same.
+ I use the same concrete function as the command line in the previous post: **--concrete_function 2**

[2021-03-23 02:28] hoaquocphan commented on #1418
Hi @TomWildenhain-Microsoft

Thank for your support

I will continues to investigate this issue as your comment and inform if there are any thing related to the tf2onnx tool.

[2021-03-23 02:30] TomWildenhain-Microsoft commented on #1417
Can you upload both onnx models?  I'm wondering what value it is using for `batch_norm_momentum:0` if it is not an input.

[2021-03-23 02:38] hoaquocphan commented on #1417
Hi @TomWildenhain-Microsoft

I just pushed 2 version of onnx model to my git folder https://github.com/hoaquocphan/shared_files

Please check and help me.

Thank you

[2021-03-23 03:20] TomWildenhain-Microsoft commented on #1417
Interesting, it looks like the input is completely unused.  Otherwise, the model looks the same.  We get the list of inputs from tensorflow, so maybe there is some nondeterminism there if an input is unused?  I'm not sure.

Can you try removing the `--inputs inputs:0[1,224,224,3]` flag?  Just use:
`python3 -m tf2onnx.convert --saved-model imagenet_mobilenet_v1_025_128_classification_4/ --output im

[2021-03-23 03:40] hoaquocphan commented on #1417
Hi @TomWildenhain-Microsoft

the **batch_norm_momentum:0** input is unused and I want to remove it when convert from saved model to onnx model.
But I don't know why the 1st PC can remove it and the 2nd PC cannot remove it.

so could you give me some guide to remove this unused input?
or could you explain to me why there are the different output with the same tf2onnx tool and the same command line?

[2021-03-23 03:47] hoaquocphan commented on #1417
Hi @TomWildenhain-Microsoft

I tried your command with out `--inputs inputs:0[1,224,224,3]` flag and the result on 2nd PC have 2 input as previous command, but the inputs:0 have the dynamic shape **float32[unk__507,3,unk__508,unk__509]**, your propose does not help to remove the unused input

the **batch_norm_momentum:0** input is unused and I want to remove it when convert from saved model to onn

[2021-03-23 03:58] TomWildenhain-Microsoft commented on #1417
To remove the unused input you can edit the converted model with the onnx2py tool.  It will give you a human-readable python script that you can edit to make a new version of the model.

Clone this repo: https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common

Then do `python -m onnxconverter_common.onnx2py path/to/model.onnx desired/output/path/for/model.py`

As far as

[2021-03-23 04:16] TomWildenhain-Microsoft commented on #1417
On my machine, the input is removed.  To help debug, please add a line:
`logger.info("Placeholders to keep: %s", [n.name for n in related_nodes if n.type == "Placeholder"])`
after line 1519 in graph.py:
https://github.com/onnx/tensorflow-onnx/blob/02feacfd4c5ead9c36e9c6de820e63542d6e12e3/tf2onnx/graph.py#L1519

Then tell me what it prints.

[2021-03-23 04:49] hoaquocphan commented on #1417
HI @TomWildenhain-Microsoft

It does not print your debug log,
I think that the **def delete_unused_nodes** wasn't called

[2021-03-23 04:57] TomWildenhain-Microsoft commented on #1417
That would be very surprising.  The calls leading to that function are:

https://github.com/onnx/tensorflow-onnx/blob/02feacfd4c5ead9c36e9c6de820e63542d6e12e3/tf2onnx/convert.py#L153
https://github.com/onnx/tensorflow-onnx/blob/02feacfd4c5ead9c36e9c6de820e63542d6e12e3/tf2onnx/tfonnx.py#L534
https://github.com/onnx/tensorflow-onnx/blob/02feacfd4c5ead9c36e9c6de820e63542d6e12e3/tf2onnx/tfonnx.py#L629

[2021-03-23 06:40] hoaquocphan commented on #1417
Hi @TomWildenhain-Microsoft

I'm so sorry for the previous post, I update the code in wrong directory.

I just realized that the tool tf2onnx will call script in the 1st directory: /home/hoaphan/.local/lib/python3.6/site-packages
if the 1st directory doesn't exist, it will call script in the 2nd directory: /usr/local/lib/python3.6/dist-packages/tf2onnx-1.9.0-py3.6.egg/tf2onnx/

When I run the tf2o

[2021-03-23 08:26] hoaquocphan commented on #1399
Hi @TomWildenhain-Microsoft

Thank for your support!
I changed the op name from **MatMul_Gemm__23** to **MatMul** and it works, the command as below:

`python3 -m tf2onnx.convert --saved-model efficientnet_b0_classification_1 --output efficientnet_b0_classification_1.onnx --concrete_function 2 --opset 12 --inputs inputs:0[1,224,224,3] --inputs-as-nchw inputs:0 --outputs StatefulPartitionedCall/Sta

[2021-03-23 16:51] TomWildenhain-Microsoft commented on #1399
Glad to hear it worked.  In general, **the names of graph input/output nodes are preserved, but all other names could change during conversion**.  Honestly, I'm not sure why the node is named `MatMul_Gemm__23` in this case.  The `__23` indicates that it was created by tf2onnx, but it is possible that a node `MatMul_Gemm` exists in the original graph.

It is possible we inserted a Gemm node and the

[2021-03-23 16:51] #1399 closed

[2021-03-23 16:58] TomWildenhain-Microsoft commented on #1417
Glad to hear tf2onnx is behaving consistently between machines.  Nondeterminism is a pain to debug.

To avoid confusion with python environments, I recommend always using a virtual environment.  https://docs.python.org/3/library/venv.html

We recently updated the way we load signatures from TF.  Previously we were providing the positional arguments but not the kwargs.  In most models, this was fin

[2021-03-24 10:11] hoangmt opened #1420 "opset for tutorial keras-restnet50.ipyn does not work when converting to tensorRT"
The current opset value of 13 is used to convert to onnx in [resnet50 tutorial](https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/keras-resnet50.ipynb). onnx model is generated however it fails when converting to tensorrt (using the command trtexec). Change opset to 7, it works. This is not intuitive as something works for old version (opset 7) should also work in new version (opset 13

[2021-03-24 14:46] guschmue commented on #1412
the package on conda-forge is behind as well what is really not good. We are debating if we should publish a conda package ourselves so we have some control over it. Should decide today on this.

[2021-03-24 20:30] markusweimer commented on #1412
I'm +1 on conda packages. It makes it much easier for places like Synapse which want to create a complete, yet clean, base environment for our customers.

[2021-03-25 05:43] kspark1990 opened #1424 "tflite to onnx nhwc is weird"
my model   tflite input shape is 1,224,224,3  nhwc
but converted model is *,224,3,224 (nhwc)  in unity barracuda
If you know how to fix it, please teach me

[2021-03-25 17:54] guschmue commented on #1420
what opset to use is hard to get right since some prefer the latest, some prefer something older.
The newer the opset the better we can map the tensorflow graph to onnx, in many cases more efficient.
opset-7 is really old and I would not use that one because all constants in the graph are also inputs which prevents runtimes from making various optimizations. opset-9 maybe the lowest I'd use - it f

[2021-03-25 20:07] #1417 closed

[2021-03-25 20:09] TomWildenhain-Microsoft commented on #1424
You can tell tf2onnx the input shape with the `--inputs` flag.  `--inputs input_name[1,224,224,3]` should fix the issue.

[2021-03-25 20:47] guschmue commented on #1424
*,224,3,224 is wired - that is neither NCHW nor NHWC. If the tflite model has 1,224,224,3 I don't know how we'd loose that - something fishy going on. Is this some public mobilenet?

[2021-03-25 20:57] TomWildenhain-Microsoft commented on #1424
Oh, yeah, I misread it as just losing the first dim.  @kspark1990 are you able to upload the model you are converting?

[2021-03-26 04:35] tnaduc commented on #1038
Hello, does anyone figure out how to convert saved model (.pb - AutoML version) to onnx yet? I still run into this issue

[code]

[2021-03-26 09:12] hoaquocphan opened #1428 "mismatch output result after convert saved model to onnx model"
Dear All,

I would like to report the issue related to output of the onnx model.

I download the saved model from tensorflow model hub, then convert to onnx model.
but the output of saved model and onnx model are different.

the procedure for checking as below:

1/ clone my environment from git repo
`git clone https://github.com/hoaquocphan/shared_files.git`
2/ run command to convert saved model o

[2021-03-26 20:42] TomWildenhain-Microsoft commented on #1428
Hi @hoaquocphan

It seems that the preprocessing (and possibly resizing) of the image is causing the input to the model to differ.  I replaced the lines in your **run_saved_model** script:
`detections = detections.numpy()`
with:
[code]
and I get identical results to TF.  To convert the model, I used:
`python3 -m tf2onnx.convert --saved-model imagenet_mobilenet_v1_025_128_classification_4/ --output

[2021-03-27 19:16] TomWildenhain-Microsoft commented on #1038
@tnaduc are you able to get a tflite version of the model?

[2021-03-29 02:21] hoaquocphan commented on #1428
Dear @TomWildenhain-Microsoft

I have the same result now.
Thank you very much for your support.

[2021-03-29 02:21] #1428 closed

[2021-03-29 21:36] hoangmt opened #1430 "How to avoid converting to int64?"
Hi, when converting tf models to onnx, some operators including Squeeze, Unsqueeze and some others require dtype=int64, which is not supported by tensorRT. Questions:
1. Is there anyway (e.g., my own new pluggin for Squeeze, Unsqueeze?) to have int32 instead as I need to ultimately convert onnx model to tensorrt which does not support int64? Can I modify current Squeeze and Unsqueeze instead of st

[2021-03-29 21:40] guschmue commented on #1430
I'd file an issue against tensorrt, for example here https://github.com/onnx/onnx-tensorrt.
tensorrt has to support this somehow since the onnx spec defines it this way.

[2021-03-29 21:40] #1430 closed

[2021-03-30 04:06] kspark1990 commented on #1424
@TomWildenhain-Microsoft  I used model    https://teachablemachine.withgoogle.com/    Image preject

[2021-03-30 05:06] TomWildenhain-Microsoft commented on #1424
I think teachable machine picks a pretrained model based on the input data.  To make sure we get the right one, @kspark1990 can you upload a model that has this issue?

[2021-03-30 06:03] kspark1990 commented on #1424
this model [https://drive.google.com/drive/folders/1bC_ZrgiEddt_prYm-dQ4yDCSdJCZ-Riz?usp=sharing](url)

[2021-03-30 15:46] 250zhanghu opened #1432 "some error about process_tf_graph() when use convert.py convert pb to onnx"
**Describe the bug :**when use convert.py convert pb to onnx,some errors happened.
Traceback (most recent call last):
  File "convert.py", line 467, in <module>
    main()
  File "convert.py", line 256, in main
    output_path=args.output)
  File "convert.py", line 153, in _convert_common
    g = process_tf_graph(tf_graph, const_node_values=const_node_values,tensors_to_rename = None, **kwargs)
Typ

[2021-03-30 18:17] TomWildenhain-Microsoft commented on #1432
The line referenced `g = process_tf_graph(tf_graph, const_node_values=const_node_values,tensors_to_rename = None, **kwargs)` does not match the file on git.  Can you please make sure you have the latest version of tf2onnx?

`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

[2021-03-30 18:28] hoangmt commented on #1277
Look like this error ("TensorRT only supports half_pixel") occurs when converting any all object detection model from https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md
This is my error message:
[03/30/2021-20:18:36] [E] [TRT] /home/jenkins/workspace/OSS/L0_MergeRequest/oss/parsers/onnx/ModelImporter.cpp:710: ERROR: /home/jenkins/workspace/OSS/L0_

[2021-03-30 18:29] TomWildenhain-Microsoft commented on #1424
I tried converting the model and the shapes were fine for me.  What flags did you use?
My results:
https://www.dropbox.com/sh/hd340jcv1ng7vsq/AACnTIAHX09zMjhl0veAjtNXa?dl=0

Did you try viewing the converted models in Netron?
https://netron.app/

[2021-03-30 18:31] TomWildenhain-Microsoft commented on #1277
@hoangmt try converting with the `--target tensorrt` flag.

[2021-03-30 18:47] hoangmt commented on #1277
@TomWildenhain-Microsoft Thanks for suggesion.
Still the same problem. To reproduce (jupyter lab/notebook):
[code]
All commands run well except the last one, which produce the error above. Change opset to 12 or 13 does not help.

[2021-03-30 18:57] hoangmt commented on #912
In case uint8 is in the input, you can use the following code to fix the model:
[code]
You can do similarly for other nodes, by looping through all nodes in graph.nodes and change dtype to supported type. However, not sure if it will work, just something to try.

[2021-03-30 21:21] hoangmt commented on #1277
@TomWildenhain-Microsoft The error message is different.
Input filename:   /workspace/data48TB/Hoang/xavier/test_combine/updated_ssd_mobilenet_v2_coco_2018_03_29.onnx
ONNX IR version:  0.0.7
Opset version:    10
Producer name:
Producer version:
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
WARNING: ONNX model has a newer ir_version (0.0.7)

[2021-03-30 21:30] TomWildenhain-Microsoft commented on #1277
Interesting, I think TensorRT should be able to read graphs with an IR version higher than 0.0.3.  Are you sure your TensorRT is up to date?

[2021-03-30 21:50] hoangmt commented on #1277
@TomWildenhain-Microsoft You are right, I used a wrong container. For tensorRT 7.2.2.3, seems to progress better with opset 10 but missing some plugin as below error message:
[code]

[2021-03-30 22:21] TomWildenhain-Microsoft commented on #1277
TensorRT is maintained by Nvidia while tf2onnx is maintained by Microsoft.  Try opening an issue with them here: https://github.com/nvidia/TensorRT

You can also try running your model with ONNX Runtime: https://github.com/microsoft/onnxruntime.  ONNX Runtime has GPU support so speed should be comparable.

[2021-03-31 01:07] vilmara commented on #1277
Hi @hoangmt, what is the name of the missed plugin?  Have you tried TensorRT 7.2.1 instead?. Please see below some related links:

- [TensorRT Plugins](https://github.com/NVIDIA/TensorRT/tree/release/7.2/plugin)
- [TensorRT backend for ONNX](https://github.com/onnx/onnx-tensorrt/tree/7.2.1)

[2021-03-31 02:20] 250zhanghu commented on #1432
thanks very much for your advice, I have try it but failed.
I run the convert.py by writing arguments to this file, not use command-line, maybe this is the reason.
I will try the instruction. thanks for your help again.

[2021-03-31 06:56] BBuf opened #1434 "convert group conv2d op to onnx failed."
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/nn.py#L340

tensorflow's convolution OP also has a groups parameter, why not consider it here?

code is here.

[code]

[2021-03-31 09:14] kspark1990 commented on #1424
I used just 'python -m tf2onnx.convert --saved-model tensorflow-model-path --output model.onnx'
would please teach me how to convert that your results
I didn't understand everything 'README.md' because my English wasn't good enough.

[2021-03-31 14:15] hoangmt commented on #1277
@TomWildenhain-Microsoft Thanks for the information.
I need to boost the inference rate so I want to convert onnx to tensorRT. In theory, tensorRT model should run faster than onnx or it's hard to say? However, converting gives me a lot of troubles as trtexec is premature.

[2021-03-31 15:34] guschmue commented on #1434
Hm, interesting. Seems to work only on gpu.
The op itself doesn't have a group attribute:
https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/conv2-d
I guess one can find out via shapes.
Let us see if we can add this.

[2021-03-31 17:41] TomWildenhain-Microsoft commented on #1277
ONNX Runtime uses the GPU so in theory it should be as fast as TensorRT but things vary in practice.

You could also try looking at the profiling information from onnx to see which ops are causing the slowdown:
https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/perfstats.py

If a certain op is slow, open an issue with onnxruntime.

[2021-03-31 17:43] TomWildenhain-Microsoft commented on #1424
I converted the tflite model with:

`python -m tf2onnx.convert --tflite path/to/model.tflite --output desired/path/output.onnx`

It sounds like you converted the saved model (not tflite)

[2021-03-31 17:46] TomWildenhain-Microsoft commented on #1432
Did you modify the contents of convert.py at all?  What is the origin of the line `g = process_tf_graph(tf_graph, const_node_values=const_node_values,tensors_to_rename = None, **kwargs)`?

Python is complaining because it is getting two values for `tensors_to_rename`.  One is from `kwargs`, the other is added with the
 `tensors_to_rename = None` expression.

[2021-03-31 18:13] TomWildenhain-Microsoft commented on #1424
I converted the saved_model with `python -m tf2onnx.convert --saved-model C:\Users\tomwi\Downloads\converted_savedmodel\model.savedmodel --opset 13 --output C:\Users\tomwi\Downloads\converted_savedmodel\model.onnx` and also got a correct result with shape *,224,224,3

![image](https://user-images.githubusercontent.com/67606533/113191076-1fd16e00-922b-11eb-920b-a2ca3972ddb6.png)

[2021-03-31 19:45] hoangmt commented on #1277
@TomWildenhain-Microsoft
I am a skeptical that onnxruntime and tensorRT should have similar performance as for tensorRT we can use FP16 which is not currently supported by onnxruntime.
I was trying boost object detection models inference, first with tf-trt which double the inference speed. Beyond that, it's hard to move further as converting to tensorRT (using trtexec) is tricky (some operators no

[2021-03-31 21:16] TomWildenhain-Microsoft commented on #1277
@hoangmt ONNX runtime should support fp16.  Did you try running the float16 conversion script?
https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/float16.py

[2021-03-31 21:20] stevenlix commented on #1277
ORT-TRT does support FP16 and you don't even need to convert the ONNX model to FP16. It will take FP32 model and run it in FP16 precision if you enable FP16 mode by setting ORT_TENSORRT_FP16_ENABLE to 1. Details can be found here https://www.onnxruntime.ai/docs/reference/execution-providers/TensorRT-ExecutionProvider.html#configuring-environment-variables

[2021-03-31 23:33] TomWildenhain-Microsoft commented on #1277
@hoangmt you will need to build ORT from source to include the TensorRT execution provider.  By default, it uses CPU or CUDA which will not be as fast.  Once it is built with TRT it should be as fast and has full ONNX support.  It will fall back to CPU for just ops unsupported by TensorRT and use TensorRT for the rest.

https://www.onnxruntime.ai/docs/reference/execution-providers/TensorRT-Executi

[2021-04-01 00:58] kspark1990 commented on #1424
I try to convert your reply but it is correct in https://netron.app/  but it is not correct in unity
<img width="308" alt="onnx netron app" src="https://user-images.githubusercontent.com/32832080/113228821-b99f2680-92d0-11eb-854d-67a1da7f4ce3.PNG">

<img width="242" alt="onnx unity" src="https://user-images.githubusercontent.com/32832080/113228872-d0de1400-92d0-11eb-87d6-99053d4489f4.png">

[2021-04-01 02:56] BBuf commented on #1434
Hello, I calculate the group parameter according to the shape of input and output tensor, and then set it as the attribute of onnx node. PR is here
https://github.com/onnx/tensorflow-onnx/pull/1435

[2021-04-01 03:12] TomWildenhain-Microsoft commented on #1424
Can you try adding the `--inputs-as-nchw sequential_3_input:0` flag?

[2021-04-01 06:34] kspark1990 commented on #1424
--inputs-as-nchw sequential_3_input:0   it works!!

[2021-04-01 17:49] TomWildenhain-Microsoft commented on #1424
Nice!

[2021-04-01 17:49] #1424 closed

[2021-04-01 20:59] TomWildenhain-Microsoft commented on #1434
Looks like one of the tests is failing: resnet_v2_fp32_savedmodel_NCHW

`Status Message: Input channels C is not equal to kernel channels * group. C: 3 kernel channels: 3 group: 3`

[2021-04-02 03:10] BBuf commented on #1434
I have solved it。

[2021-04-02 09:22] dspmihai opened #1437 "Move from Upscale to Resize?"
**Describe the bug**
I see that ResizeNearestNeighbor is converted to ONNX Upsample here: https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/nn.py#L1158
But I see that Upsample is deprecated: https://github.com/onnx/onnx/blob/master/docs/Operators.md#Upsample
And I think the Resize should be the best option, right? Is there a plan to move from Upsample to Resize?

**Urgency**
N

[2021-04-02 14:48] guschmue commented on #1437
This specific code is for opset-7 which did not have resize.
opset-9 and later will use resize:
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/nn.py#L1237

[2021-04-02 14:48] #1437 closed

[2021-04-02 18:24] TomWildenhain-Microsoft commented on #1434
Awesome.  When committing you have to use the `-s` flag or the DCO bot gets mad.  You can fix your existing commits by following the instructions here:
https://github.com/onnx/tensorflow-onnx/pull/1435/checks?check_run_id=2251056099

[2021-04-05 04:08] BBuf commented on #1434
I have solved it，Can this pr be merged?

[2021-04-05 06:57] #1434 closed

[2021-04-06 12:08] israelwei opened #1438 "Constant y_scale for all Quantize/Dequantize Linear layers after Quantization Aware Training"
**Describe the bug**
I trained in Tensorflow 2.3 a Quantization Aware Training model, where the quantization ops were added in the following way:
I added tf.quantization.quantize_and_dequantize after the activation function in the following pattern:
Conv2D --> BatchNorm --> Activation
The exact snytax, if x is the output of the activation function:
`x = tf.quantization.quantize_and_dequantize(x, i

[2021-04-06 16:26] Mina-am commented on #72
Is Symmetric mode is supported yet?

[2021-04-06 18:21] ashinmarin opened #1439 "AttributeError: module 'tensorflow.core.framework.types_pb2' has no attribute 'DT_UNIT64'"
**Describe the bug**
AttributeError: module 'tensorflow.core.framework.types_pb2' has no attribute 'DT_UNIT64'. The frozen graph is made in tensorflow 1.x environment

**Urgency**
Tomorrow is the deadline.

**System information**
- Anaconda environment
- Tensorflow Version: 1.4.0
- Python version: 3.6.13

**To Reproduce**
python -m tf2onnx.convert --graphdef yolov2-tiny_custom_freeze.pb --output y

[2021-04-06 18:29] TomWildenhain-Microsoft commented on #72
No, the onnx spec doesn't have it.  https://github.com/onnx/onnx/blob/master/docs/Operators.md#pad
Though it seems like we should be able to simulate it by padding with "edge" then "reflect".
Symmetric and Reflect seem very similar and they might even produce the same results.  @Mina-am have you tried just replacing the symmetrics with reflect?  If that doesn't work, I can try hacking support in t

[2021-04-06 19:32] ashinmarin commented on #1439
It got resolved, by commenting line 56: TFLiteTensorType.UNIT64: types_pb2.DT_UNIT64 in tflite_utils.py file.

Now facing the following error:
convert.py: error: unrecognized arguments: -inputs yolov2-tinynet1:0

[2021-04-06 20:09] Mina-am commented on #72
Thank you for the response.
Symmetric and Reflect are similar, but still different (see examples here: https://www.tensorflow.org/api_docs/python/tf/pad)
 Yes, I think it's feasible by combining edge and reflect, but the problem is that tf does not have the 'edge' mode :|

[2021-04-06 20:45] #1439 closed

[2021-04-06 21:28] TomWildenhain-Microsoft commented on #72
Actually the edge/reflect sequence includes some extraneous rows and won't quite work.  What are the shapes of the tensors you are padding, and what are the pad amounts?  I can make a conversion using edge, reflect, and compress but it will be very inefficient.  What is the purpose of the pad in your model?  Do you pad just once, or is it done a lot?

[2021-04-07 00:26] TomWildenhain-Microsoft commented on #1438
The issue is that the converter is ignoring the range_given attribute and is assuming it is True.

[2021-04-07 10:07] bdnkth opened #1443 "TF2onnx exported custom trained Object Detection model from model zoo fails check_model"
**Describe the bug**
Exporting a pretrained object detection model from https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md to onnx passes the check_model test.
However, if the same pretrained model is trained on custom data with the object detection api from TensorFlow and afterwards saved and then exported to onnx with tf2onx, the onnx model fail

[2021-04-07 14:43] #1438 closed

[2021-04-07 14:44] guschmue commented on #1158
assume this is fixed.

[2021-04-07 14:44] #1158 closed

[2021-04-07 14:44] guschmue commented on #1274
assume this is resolved.

[2021-04-07 14:44] #1274 closed

[2021-04-07 14:45] guschmue commented on #1285
assume this is resolved.

[2021-04-07 14:45] #1285 closed

[2021-04-07 14:45] guschmue commented on #1287
assume this is resolved.

[2021-04-07 14:45] #1287 closed

[2021-04-07 14:46] guschmue commented on #1337
assume this is resolved.

[2021-04-07 14:46] #1337 closed

[2021-04-07 14:47] guschmue commented on #1420
I'll close this one, its not a real issue.

[2021-04-07 14:47] #1420 closed

[2021-04-07 16:04] #1378 closed

[2021-04-07 16:11] guschmue commented on #933
I think this fails because we use the tensor names and not the model output names in the api.
We have since revised our python api and the new api should make this work much easier:
https://github.com/onnx/tensorflow-onnx#from_keras-tf-20-and-newer

[2021-04-07 16:11] #933 closed

[2021-04-07 19:49] TomWildenhain-Microsoft commented on #1443
@bdnkth to save me the effort of making the model with a custom dataset, could you upload you tf and onnx files?  Ideally the 2 onnx files you comapred in Netron and the 2 TF files.  Also you can try comparing the models using onnx2py:
https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/onnx2py.py

Some differences are not visible in Netron.

[2021-04-07 20:47] #1416 closed

[2021-04-07 21:11] guschmue commented on #896
this should be fixed. You can also use our new python api which will make this a little easier.
https://github.com/onnx/tensorflow-onnx#from_keras-tf-20-and-newer

[2021-04-07 21:11] #896 closed

[2021-04-07 21:12] guschmue commented on #1033
not enough info to debug this.

[2021-04-07 21:12] #1033 closed

[2021-04-07 21:13] guschmue commented on #1415
Please open against https://github.com/onnx/onnx-tensorflow

[2021-04-07 21:13] #1415 closed

[2021-04-07 21:15] guschmue commented on #804
assume this is resolved.

[2021-04-07 21:15] #804 closed

[2021-04-07 21:16] guschmue commented on #940
we fixed this some time ago.

[2021-04-07 21:16] #940 closed

[2021-04-07 21:17] guschmue commented on #746
I assume this is fixed with opset-13.

[2021-04-07 21:17] #746 closed

[2021-04-07 21:21] guschmue commented on #825
Don't think we can support ParseExample in onnx.

[2021-04-07 21:21] #825 closed

[2021-04-07 21:21] guschmue commented on #926
This should be fixed in the latest release.

[2021-04-07 21:21] #926 closed

[2021-04-07 21:24] guschmue commented on #1072
assume this has been resolved.

[2021-04-07 21:24] #1072 closed

[2021-04-07 21:24] #1242 closed

[2021-04-07 21:25] guschmue commented on #752
I assume this is resolved.

[2021-04-07 21:25] #752 closed

[2021-04-07 21:25] #964 closed

[2021-04-07 21:26] guschmue commented on #469
supported via https://github.com/microsoft/ort-customops

[2021-04-07 21:26] #469 closed

[2021-04-07 22:06] guschmue commented on #1001
closing - seems a trt issue

[2021-04-07 22:06] #1001 closed

[2021-04-07 22:37] guschmue commented on #821
this should be resolved.

[2021-04-07 22:37] #821 closed

[2021-04-07 22:38] guschmue commented on #912
I'll close this one since it is not a tf2onnx issue.

[2021-04-07 22:42] guschmue commented on #732
We used loop in the tf-1.x control flow. We could have maybe replaced this with scan. We don't want to change it at this point since the V1 control is end of life.
For tf-2.x we use the V2 control flow and that one requires us to have some condition in the body so we use loop for that one as well.

[2021-04-07 22:42] #732 closed

[2021-04-07 22:46] guschmue commented on #939
I close this one because in tf-2.x it does not exist anymore.

[2021-04-07 22:46] #939 closed

[2021-04-07 23:16] guschmue commented on #578
I think this was valid some time back but we have not seen this issue in a long time - guess we captured all the types needed.

[2021-04-07 23:16] #578 closed

[2021-04-07 23:53] guschmue commented on #763
MaxPoolV2 is supported since some time.

[2021-04-07 23:53] #763 closed

[2021-04-07 23:55] guschmue commented on #718
this should be support since opset-13 where the attribute became an input.

[2021-04-07 23:55] #718 closed

[2021-04-07 23:59] #912 closed

[2021-04-08 07:00] bdnkth commented on #1443
Thank you for the fast reply. You can find the requested files at [weTransfer](https://we.tl/t-piY55Rb3AH) since the files are larger than the 10MB size limit of github.

I have checked the python model from the onnxconverter, they are indeed not the same. I was not expecting this since I do not change anything about the layout of the model during custom training with the object detection API. Or

[2021-04-08 10:00] etusien opened #1447 "Please verify 1.9 ONNX release candidate on TestPyPI"
Hi ONNX partner,
We have released TestPyPI packages of ONNX 1.9.0: [onnx ](https://test.pypi.org/project/onnx/ )(onnx 1.8.204 is the latest version number for testing now)
Please verify it and let us know about any problems. Thank you for your help!

Edit: We've released the new 1.8.205 package with a slight change in README.md.

[2021-04-08 19:13] TomWildenhain-Microsoft commented on #1447
Validated!
https://dev.azure.com/tensorflow-onnx/tensorflow-onnx/_build/results?buildId=11833&view=logs&s=69878f40-1e39-53f0-a439-635d139ede3d

[2021-04-08 19:13] #1447 closed

[2021-04-08 21:03] TomWildenhain-Microsoft commented on #1443
Thanks for the model.  The custom trained model contains a loop which adds the TensorListStack.  Normally we can convert it if the TensorListStack is the direct output of a While node, but in this case an Identity node was blocking that pattern.  I've made a fix to skip over the Identity node and the model now converts on my machine.  #1448

[2021-04-08 23:14] #1443 closed

[2021-04-09 06:22] mpaillassa opened #1449 "onnx max_pool_with_argmax op does not return the same indices than tensorflow"
**Describe the bug**
When running the tensorflow max_pool_with_argmax op with onnxruntime, I find that the op returns does not return the same indices than tensorflow does.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Tensorflow Version: 2.4.1
- Python version: 3.8.5
- tf2onnx: from source (1.9.0)

**To Reproduce**
To generate a model showing th

[2021-04-09 15:25] etusien commented on #1447
Great! Thank you for your assistance.

[2021-04-09 21:22] TomWildenhain-Microsoft commented on #1449
Hi @mpaillassa, thanks for the detailed report.  You are correct, our implementation failed to convert the indices to the NHWC format.

[2021-04-09 22:00] guschmue commented on #1093
I think this one is fixed. If you need a sentencepiceop - its not defined in onnx but for onnxruntime you can find it here:
https://github.com/microsoft/ort-customops

[2021-04-09 22:00] #1093 closed

[2021-04-09 22:01] guschmue commented on #692
I think this one should be fixed.

[2021-04-09 22:01] #692 closed

[2021-04-09 22:04] guschmue commented on #513
close this one since it is quite old and the code improved a lot since. Also under tf-2.x we use the V2 control flow which should help.

[2021-04-09 22:04] #513 closed

[2021-04-09 22:05] guschmue commented on #546
I think this should be fixed.

[2021-04-09 22:05] #546 closed

[2021-04-09 22:07] guschmue commented on #1277
Closing this one - at this point its a tensorrt issue

[2021-04-09 22:07] #1277 closed

[2021-04-09 22:10] guschmue commented on #568
We don't have a clean way of loading such modules.
Best I can come up with it to use the a short python file and call the converter via python api:
https://github.com/onnx/tensorflow-onnx#from_keras-tf-20-and-newer

[2021-04-09 22:10] #568 closed

[2021-04-09 22:11] guschmue commented on #699
I assume this is resolved.

[2021-04-09 22:11] #699 closed

[2021-04-09 22:25] #1449 closed

[2021-04-12 05:25] tnaduc commented on #1038
@TomWildenhain-Microsoft No, I haven't tried tflite, I only tried the savedmodel (.pb file).

[2021-04-12 19:17] TomWildenhain-Microsoft commented on #1038
@tnaduc If you have access to a tflite version of the model, I would recommend trying it.  Let me know if it doesn't work.

[2021-04-13 04:16] tnaduc commented on #1038
@TomWildenhain-Microsoft thanks Tom, I will follow your recommendation and let you know.

[2021-04-13 15:42] EmreOzkose commented on #1418
Hello @hoaquocphan, did you find any solution about that? I have the same one.

[2021-04-13 17:52] TomWildenhain-Microsoft commented on #1418
@EmreOzkose are you getting your error in onnxruntime from a model converted with tf2onnx?

[2021-04-14 03:09] hoaquocphan commented on #1418
Hi @EmreOzkose
this error log from my own tool, after update the tool, this issue is disappear.

[2021-04-14 03:24] TomWildenhain-Microsoft commented on #1418
@hoaquocphan glad to hear your issue was resolved.  I'm going to close this issue and @EmreOzkose you can open a new issue with your model if there is still a problem.  Please upload both your TF and onnx models if possible.

[2021-04-14 03:24] #1418 closed

[2021-04-15 09:21] charlinergr opened #1455 "Memory and timing issue related to operation tf.math.unsorted_segment_sum"
Hi!

Describe the bug
I'm using a Graph Neural Network model from the deepmind's Graph-Nets library, based on Sonnet. I success to convert the model in <.onnx>. Then, I load it to make some inference with python on a CPU (which is the host of my GPU). What I can see is:

same performances on the inference than expected (which is great)
Quite long (25-30 minutes) to deals with one graph
costing in

[2021-04-15 11:56] bdnkth opened #1456 "[ShapeInferenceError] Shape inference error(s): (op_type:Unsqueeze, node name: Unsqueeze__245)"
**Describe the bug**
Converting the CenterNet Resnet50 V1 FPN 512x512 from the TF Object Model zoo after it has been trained on custom data results in the following error:
`[ShapeInferenceError] Shape inference error(s): (op_type:Unsqueeze, node name: Unsqueeze__245): [ShapeInferenceError] values in 'axes' are beyond the bounds of the computed output shape`

The model has been trained with TF 2.4.

[2021-04-15 19:59] TomWildenhain-Microsoft commented on #1455
Hi @charlinergr, the unsorted segment sum op doesn't exist in the ONNX spec so I had to hack it together by composing some ops (including OneHot).  As you mentioned, the implementation is not memory efficient at all (especially when the number of segments is large).  It should be possible to make a more efficient implementation, provided that most of the segments have similar sizes.  Can you uploa

[2021-04-16 13:49] charlinergr commented on #1455
Hi @TomWildenhain-Microsoft ! Thanks for the reply !

I create an example of our use of  tf.math.unsorted_segment_sum.

It take 3 arguments:
*The data are the embeddings of each edges of a graph. The number of edges depends of the input data. For now it it less than 2 millions edges (1.1 millions edges on average)
* num_segments are the ids of the source node of the edges
* num_segments is the num

[2021-04-19 18:16] yunuscukran commented on #1037
Hi! I am stuck on this as well...

Does @davidsandberg have any insight?

[2021-04-20 04:13] TomWildenhain-Microsoft commented on #1455
I made a new implementation that should be better: #1463
Try it out and let me know if it meets your needs.

[2021-04-20 14:31] gerbenvv opened #1464 "Conversion of tranpose into reshape goes wrong after 3D NDHWC convolution"
When doing a 3D NDHWC convolution with an optional bias and element-wise operation after it (for example sigmoid), the second transpose (after the convolution) is incorrect. It has 4 dimensions where it should have 5.

Futhermore the optimization crashes if `biases = 1.0` in my example (it assumes a numpy array).

Reproduce:

[code]

I traced it back to the `_switch_transpose_and_node` method in t

[2021-04-20 14:45] gerbenvv commented on #1464
Okay, I checked master and it looks like this may already be fixed in master.

[2021-04-20 18:38] TomWildenhain-Microsoft commented on #1464
Thanks for the bug report.  We just overhauled the transpose optimizer so as you said, it might already be fixed.  You can install the latest tf2onnx from master with
`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`
Try it and let us know if you are still getting this bug.  Thanks!

[2021-04-21 11:44] charlinergr commented on #1455
Hi @TomWildenhain-Microsoft !

Thank you for the new implementation. It indeed help a lot the situation: now the memory need is around 20 GB and the timing around 110 s (CPU single core).
To be more specific, half of the time is spend on the unsorted segment operation. I provide the profiling file in json format (change to .txt to be able to upload it).
[onnxruntime_profile__2021-04-21_11-12-11.tx

[2021-04-21 18:56] TomWildenhain-Microsoft commented on #1455
#1467 should fix the bug you mentioned.  How does the overall runtime compare to TF now?  It looks like 50% of the time is in the ReduceSum which should be significantly faster in the next ORT release (they are making some optimizations).  I might be able to do 1 more quick fix to make it better on the converter side.

[2021-04-22 09:42] charlinergr commented on #1455
Hi @TomWildenhain-Microsoft !

Thank you for the fix. It doesn't change the overall runtime.
[onnxruntime_profile__2021-04-22_11-31-12.txt](https://github.com/onnx/tensorflow-onnx/files/6357219/onnxruntime_profile__2021-04-22_11-31-12.txt)

Yes 50% of the time is in the ReduceSum.

[2021-04-22 19:59] TomWildenhain-Microsoft commented on #1455
You said the ONNX runtime is 110 secs.  What is the TF runtime?

[2021-04-22 20:01] charlinergr commented on #1455
Oh sorry.

TF runtime is ~35 secondes.

[2021-04-22 20:26] TomWildenhain-Microsoft commented on #1455
Just to make sure, can you try the ort-nightly build and see if it is faster?
`pip uninstall onnxruntime`
`pip install -i https://test.pypi.org/simple/ ort-nightly`

It might not be yet, but when we merge the ReduceSum improvements it should be.  Unfortunately those got delayed.  What latency would be acceptable for you?  If we are lucky I think we can get down to 60 seconds, but anything less tha

[2021-04-23 01:08] TomWildenhain-Microsoft commented on #1456
Sorry, can you upload the file again?  Thanks.

[2021-04-23 05:34] bdnkth commented on #1456
I have reuploaded the [saved model](https://we.tl/t-Yv0XFB3yG2).

[2021-04-23 07:43] debtanu97 opened #1471 "Error : No module named tf2onnx"
Mam/Sir,
I installed the latest version of tf2onnx using the command : pip install git+https://github.com/onnx/tensorflow-onnx
On runnning the function tf2pnnx.convert :
Specifically the command : "python -m tf2onnx.convert --saved-model saved_model.pb --opset 13 --output saved_model.onnx", I get the following error :
"/usr/bin/python: No module named tf2onnx"

My onnx version is : 1.8.1
      tf2

[2021-04-23 18:54] TomWildenhain-Microsoft commented on #1456
Yep, we had a bug in Slice conversion.

[2021-04-23 20:59] guschmue commented on #1471
sounds like something in your environment. Maybe use python3 or pip3.
You can check with
[code]
you are using.

[2021-04-23 20:59] #1471 closed

[2021-04-23 20:59] TomWildenhain-Microsoft commented on #1471
This sounds like it might be a virtual environment error.  You might have installed the package into a python that is different from the one you are running.  Also make sure you are using python3.  usr/bin/python is often python 2.

- Is tensorflow-onnx listed when you run `pip list`?
- Did you create a virtual environment with `python3 -m venv virtual_env_name`?
- Did you activate it with `source

[2021-04-23 21:05] #1456 closed

[2021-04-24 19:46] debtanu97 opened #1474 "OSError: SavedModel file does not exist at"
Sir,
This is with respect to a previous issue #1471.
Indeed tf2onnx library was installed for python 2 while I was using a python 3 virtual environment. On running with python3, the tf2onnx not found error was resolved but there was another issue as follows :

But, on running the following command :
"python3 -m tf2onnx.convert --saved-model ~/project/ERAN/saved_model_1.pb --output saved_model.onnx

[2021-04-26 07:57] #1474 closed

[2021-04-26 07:58] debtanu97 commented on #1471
Thank You Sir, using the virtual environment in Python3 worked 👍 :)

[2021-04-26 08:43] VeeranjaneyuluToka commented on #1443
Hi, i am also facing the same issue and attached are two models netron outputs
Pretrained model - ![Screenshot from 2021-04-26 10-38-32](https://user-images.githubusercontent.com/61545398/116054056-98d1b300-a67b-11eb-81e1-75b6dec0f075.png)

Custom model -
![Screenshot from 2021-04-26 10-39-46](https://user-images.githubusercontent.com/61545398/116054212-bd2d8f80-a67b-11eb-9119-ce14b60da909.png)
Af

[2021-04-26 08:57] bdnkth commented on #1443
It is not neccessarily a problem, that the custom trained graph looks different than the original pretrained graph. My custom trained graph looks different than the original pretrained graph but produces the results I expect. Both in TF runtime and in onnx runtimeI assume that Tensorflow changes something during the export of the custom trained model but that does not seem to have any influence on

[2021-04-26 09:04] VeeranjaneyuluToka commented on #1443
OK, thanks for quick reply. I am able to run the inference using onnx runtime and results also looks fine. But i am trying to convert from onnx to Tensorrt egnine, and it is reporting at the loop node which is present in my custom model. Did you also try convert from onnx to trt and got succeeded?

[2021-04-26 09:08] bdnkth commented on #1443
I tried to convert to TensorRT but failed due to the missing support of NonMaxSuppression by TensorRT

[2021-04-26 09:17] neso613 opened #1475 "TypeError: object of type 'NoneType' has no len()"
- Tensorflow Version: 2.4.1
- Python version: 3.7
- ONNX version: 1.8.1
I am stuck while converting TF model to ONNX with this error

`TypeError: object of type 'NoneType' has no len()`

`python3 -m tf2onnx.convert --saved-model my_saved_models/  --signature_def 'serving_default' --tag 'serve' --opset 10 --output my.onnx`
tried different opset also

[2021-04-26 16:46] TomWildenhain-Microsoft commented on #1443
Yes, the model looks different because we don't have support for TensorList ops in onnx and resort to using Scan outputs instead.  Check if the results match in ORT and if they do you should be fine.

[2021-04-26 16:47] TomWildenhain-Microsoft commented on #1475
Can you upload the model you are trying to convert?

[2021-04-27 06:20] neso613 commented on #1475
Please accept my apologies. I can not share the model. However,
I am sharing some details of model-
![image](https://user-images.githubusercontent.com/31642462/116194644-bd4a8f80-a74e-11eb-8410-4d3db388bd1b.png)
Thanks!

[2021-04-27 17:36] TomWildenhain-Microsoft commented on #1475
Hmm, the signature names isn't going to help much.  Can you provide the full stack trace/full console output?

[2021-04-28 08:06] sneaxiy opened #1485 "Convert LookupTableFindV2 error"
I tried to convert a TensorFlow SavedModel to ONNX format, but converting `LookupTableFindV2` failed.

[code]

Could you please help me to solve this problem?

Another question: `StringSplitV2` is not supported in the default domain of ONNX, so I used the domain `ai.onnx.contrib` to convert this op to ONNX format. My question is that is this `StringSplitV2` op would be supported by TensorRT when l

[2021-04-28 20:29] TomWildenhain-Microsoft commented on #1485
It seems like the shared_name for this table is empty string, which is a little strange.  Can you upload the model?  To use StringSplitV2, you need to use onnxruntime extensions here: https://github.com/microsoft/onnxruntime-extensions

TensorRT can't run the StringSplitV2 op as far as I know, but onnxruntime does have a tensorflow execution provider.  If you use it along with onnxruntime-extensio

[2021-04-29 08:10] masahi opened #1487 "Rank mismatch error from a model involving TF combined NMS"
The attached ONNX file fails to load on ORT with the following error:

[code]
Specifically, it seems to be complaining about the Concat at https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/onnx_opset/tensor.py#L1924.

The ONNX file is generated via `tf2onnx` v1.9.0, the original model comes from TF2 detection zoo, reexported using the overridden config `use_combined_nms: true`. The reexp

[2021-04-29 09:43] zakajd commented on #926
Hi @guschmue
Does the output order preserved as well?

I tried to convert a multi-output model from SavedModel format to ONNX, but it changed the order of outputs.
For example, I have ['output_1', 'output_2', 'output_3'] in TF2 model, but after converting it's changed to ['output_3', 'output_1', 'output_2'].

[2021-04-29 11:45] xhochy commented on #1412
@guschmue Feel free to add yourself as a maintainer at https://github.com/conda-forge/tf2onnx-feedstock

Nevertheless, I'm going to have a look at this now.

[2021-04-29 11:46] xhochy commented on #1412
One of the issues is that you are not releases `sdist` tarballs to PyPI. Uploading them alongside the wheels would make maintenance of the conda package simpler.

[2021-04-29 14:07] xhochy commented on #1412
This issue will be fixed by https://github.com/conda-forge/tf2onnx-feedstock/pull/9

[2021-04-29 14:08] guschmue commented on #926
We are trying to preserve them now.

I also should have mentioned that we have a new api (process_tf_graph) to make this a little easier for users:
https://github.com/onnx/tensorflow-onnx#python-api-reference

[2021-04-29 14:10] guschmue commented on #1412
Sorry, did not get to this yet. I guess we can upload a sdist to pypi. Was planning to upload a release next few days anyway.

[2021-04-29 20:22] TomWildenhain-Microsoft commented on #1487
Hi @masahi, thanks for the detailed error report.  The problem was caused by the combined NMS handler using the batch_dims property of GatherND, which is only available in opset >= 12.  Try again with `--opset 12` and see if that fixes the issue.  #1488 will correct the min opset of the handler.

[2021-04-29 20:54] masahi commented on #1487
@TomWildenhain-Microsoft Great! I confirmed that reexporting with `opset 12` fixed the issue. Thank you very much!!

[2021-04-29 20:54] #1487 closed

[2021-04-30 13:20] gerbenvv commented on #1464
I tried, but I am getting the following exception now:

[code]

[2021-04-30 13:23] gerbenvv commented on #1464
For me `concrete_func.structured_input_signature` is as follows:

[code]

[2021-04-30 18:58] TomWildenhain-Microsoft commented on #1464
Interesting.  It works on my machine.  What TF version are you using?  I didn't realize structured_input_signature could contain non-TensorSpec objects.

[2021-04-30 19:19] VeeranjaneyuluToka opened #1491 "Error while parsing modified onnx file"
![Screenshot from 2021-04-30 21-21-18](https://user-images.githubusercontent.com/61545398/116744044-125dfe00-a9fa-11eb-8517-37327870f51a.png)
**Describe the bug**
I have converted from tensorflow 2 savedmodel to onnx using the below command

python -m tf2onnx.convert --saved-model /tf_git_hubs/tensorflow/workspace/training_demo/exported-models/my_ssd_mobnetv2_fpnlite_model/saved_model --output /tf

[2021-04-30 19:20] gerbenvv commented on #1464
It was my actual implementation that threw that error, not the bug reproduce.
But yes, `structured_input_signature` can pretty much contain anything (constants, captured variables outside the function, etc.).

Example:
[code]

yields:
`((<tensorflow.python.framework.func_graph.UnknownArgument object at 0x7f3c2c890460>, True, 123, TensorSpec(shape=(None, 1, 1, 1, 1), dtype=tf.float32, name='x')), {

[2021-04-30 19:56] TomWildenhain-Microsoft commented on #1464
Got it.  #1490

[2021-04-30 20:39] gerbenvv commented on #1464
That fixed it, thanks!

[2021-04-30 20:39] #1464 closed

[2021-04-30 20:44] TomWildenhain-Microsoft commented on #1491
It looks like ORT thinks the shapes of the multiplication don't match.  To get a model with shapes, do:
[code]
Then open it in Netron and look at the shapes.  You will hopefully see a shape mismatch and be able to find where it came from.

[2021-05-02 10:33] neso613 commented on #1475
signature_def['__saved_model_init_op']:
  The given SavedModel SignatureDef contains the following input(s):
  The given SavedModel SignatureDef contains the following output(s):
    outputs['__saved_model_init_op'] tensor_info:
        dtype: DT_INVALID
        shape: unknown_rank
        name: NoOp
  Method name is:

signature_def['serving_default']:
  The given SavedModel SignatureDef contains

[2021-05-02 13:22] CharlesWang528 opened #1493 "error converting from onnx"
Hi,

I am trying to convert from a model from onnx as:

`from onnx2keras import onnx_to_keras
import onnx

onnx_model = onnx.load('interhand.onnx')

k_model = onnx_to_keras(onnx_model, ['img'])`

Following error is generated.
<img width="736" alt="onehot" src="https://user-images.githubusercontent.com/68451307/116814455-13d91480-ab27-11eb-8a01-632b3857fd43.PNG">

Does that mean OneHot is currently

[2021-05-02 14:00] VeeranjaneyuluToka commented on #1491
@TomWildenhain-Microsoft , thanks for quick reply, have run the shape inference as you suggested about and getting error as below

  File "modify_onnx.py", line 110, in main
    save_model_shapes(onnx_model_path, shapes_model_path)
  File "modify_onnx.py", line 100, in save_model_shapes
    model_shapes = onnx.shape_inference.infer_shapes(model)
  File "/home/veeru/anaconda3/envs/tf_fish_2.4/lib/p

[2021-05-03 02:50] guschmue commented on #1493
This repo is about tensorflow-onnx, not onnx_to_keras.

[2021-05-03 02:50] #1493 closed

[2021-05-03 04:49] dedoogong opened #1494 "Different Result after converting to onnx from TF!"
**Describe the bug**
Original TF-ASLFeat running result is as below;
![disp_orig](https://user-images.githubusercontent.com/12013568/116841645-c509a880-ac14-11eb-8204-6d38891cb015.jpg)
Converted Onnx-ASLFeat running result is as below;
![disp](https://user-images.githubusercontent.com/12013568/116841646-c5a23f00-ac14-11eb-80c3-780eb96bad26.jpg)

**Urgency**
If there are particular important use ca

[2021-05-03 09:18] anuragtr commented on #769
Hey @Antikadas1 , on trying your solution I got this error:
"ValueError: 'dense_4/Identity:0' is not a valid scope name"
output of print(input_all) was ['dense_4_input'] which I used as:
"k_model = onnx_to_keras(onnx_model, ['dense_4_input'])"

Any idea how to resolve?

[2021-05-03 15:23] xhochy commented on #1412
This is now fixed and we also have Python 3.9 packages additionally on conda-forge.

[2021-05-04 02:18] TomWildenhain-Microsoft commented on #1491
Looking at your original image, the first conv has a dimension of 0.  I doubt that's what you want.  I don't know how that got there, since tf2onnx doesn't put any shapes in the graph at all.  If polygraphy adds shapes, maybe it has a bug.  In any case, onnx infer_shapes is complaining that the shape it inferred conflicts with an existing shape (the dimension is 1 not 0).  If the shapes in the gra

[2021-05-04 03:48] TomWildenhain-Microsoft commented on #1494
Hi @dedoogong, after following your instructions, I got an error but not the one you describe.  For me the model failed to convert with unsupported ops DivNoNan.  We should be able to easily add support for that op and get the model to convert.  If you are getting a different error, can you upload your .pb file and tell me the exact tensorflow version you are using?  tf2onnx uses tensorflow's opti

[2021-05-04 22:36] dedoogong commented on #1494
Hi! thank you for trying to solve this issue!
ok, can you modify the code as below?
https://github.com/lzx551402/ASLFeat/blob/d6bc1b49f61b5bf32a5a4e6f4ca25da46713bbf2/models/cnn_wrapper/aslfeat.py#L212
[code]

[2021-05-04 22:42] dedoogong commented on #1494
I found there are something may make this happen.
First, tf2onnx fused conv+bn, and it'ok. but in the model, you can see, 'conv1' and 'conv3' is intentionally, the conv layer and bn layer is separated and tf2onnx still seem to merge those layers and again it adds the bn layer after conv layer!(maybe bug?).
I used onnx-graphsurgery tool to overwrite the conv's weight to the original weight and the

[2021-05-04 23:27] TomWildenhain-Microsoft commented on #1494
Are you able to upload the frozen pb file?  That would be easiest.  Just upload it to OneDrive/Dropbox/Google Drive and post a share link if possible.

[2021-05-05 04:31] bappy043 opened #1500 "Can not convert TF model that uses feature_column API"
While trying to convert a TF model that uses `feature_column` API, I am getting the following error
[code]

**To Reproduce**
TF saved model: [model.zip](https://github.com/onnx/tensorflow-onnx/files/6425057/model.zip)
Colab link: https://colab.research.google.com/drive/19LmJyL8PpJKbmMZVQJOmc_1-Rdl2cEVo?usp=sharing

[code]

**Additional context**
I also tried to convert using the command line optio

[2021-05-05 08:42] calvinmccarter-at-lightmatter opened #1501 "Feature request: explicitly-defined padding in ConvTranspose"
Currently [(here in onnx_opset/nn.py)](https://github.com/onnx/tensorflow-onnx/blob/9c7b56c7321927666eb2c00d15e6db16a1b7de1f/tf2onnx/onnx_opset/nn.py#L440), whenever possible a ConvTranspose node is created using `output_shape`-based padding (which is dynamic) rather than explicitly-defined padding.  In my opinion, it would be preferable to set `output_shape=None` and instead compute the correspon

[2021-05-05 11:14] VeeranjaneyuluToka commented on #1491
I deleted all the value info from the model, then run the shape inference, this time it gave me the below error

   app.run(main)
  File "/home/veeru/anaconda3/envs/tf_fish_2.4/lib/python3.8/site-packages/absl/app.py", line 303, in run
    _run_main(main, args)
  File "/home/veeru/anaconda3/envs/tf_fish_2.4/lib/python3.8/site-packages/absl/app.py", line 251, in _run_main
    sys.exit(main(argv))

[2021-05-05 12:57] VeeranjaneyuluToka commented on #1491
Hi @TomWildenhain-Microsoft again, i could fix the above issue by modifying the output shape from 1x51150x4 to 1x51150x1x4. I am able to generate onnx with shapes info with that change and it is as below.
![Screenshot from 2021-05-05 14-39-00](https://user-images.githubusercontent.com/61545398/117144198-f23f8d80-adb1-11eb-8cae-a39dc5142696.png)

but if you check the graph, there is 1x51150x6 which

[2021-05-05 17:15] TomWildenhain-Microsoft commented on #1500
StringToHashBucketFast requires the custom op framework (onnx-extensions) since ONNX doesn't have those ops:
https://github.com/microsoft/onnxruntime-extensions
Add this flag during conversion: `--extra_opset ai.onnx.contrib:1`

Then follow this tutorial: https://github.com/microsoft/onnxruntime-extensions/blob/main/tutorials/tf2onnx_custom_ops_tutorial.ipynb

Let me know if that works.

[2021-05-05 20:22] bappy043 commented on #1500
Thanks, @TomWildenhain-Microsoft for the suggestion. I tried to install onnx-extensions using `pip install -i https://test.pypi.org/simple/ onnxruntime-customops` but it didn't succeed. Do I need to clone the repo and install manually?

[2021-05-05 21:24] TomWildenhain-Microsoft commented on #1500
Yes, unfortunately we don't have a test release for Linux yet.  You can use Windows/Mac or build from source.  Instructions here: https://github.com/microsoft/onnxruntime-extensions#build-and-development

[2021-05-05 21:27] TomWildenhain-Microsoft commented on #1501
Sure, using pads instead of output shape when possible is fine.  If you make a PR, I'll review and merge it.

[2021-05-05 21:32] TomWildenhain-Microsoft commented on #1491
Have you verified that the original output of tf2onnx (without polygraphy modifications) is correct?  Even if you can't run it in TensorRT, you should be able to use onnxrunime at least to verify correctness.

[2021-05-06 01:44] bappy043 commented on #1500
@TomWildenhain-Microsoft thanks, I tried to build from source in google colab but got some error, however, in my Mac it completed successfully. Now I can download the onnx model from google colab run on my Mac using Python ONNX Runtime.

I am now planning to run the model in Java ONNX Runtime. Is it possible to run an onnx model with custom ops in JAVA. I think I need to have the `onnxruntime_cust

[2021-05-06 01:49] dedoogong commented on #1494
OK, here is the pb file and converted onnx file. you can see that, for example, in the converted onnx, there are 'conv1/Conv2D' and 'conv1/bn/FusedBatchNormV3' which means those nodes are not fused, so it should have same paremeter values as the original ones in pb, but actually 'conv1/Conv2D' doesn't even though conv1/bn/FusedBatchNormV3 has same values, .

[pb_onnx.zip](https://github.com/onnx/t

[2021-05-06 01:54] TomWildenhain-Microsoft commented on #1500
It should be possible.  I think you'll just need to get the .dll location and pass its location into session options in the Java ORT.

[2021-05-06 01:55] dedoogong commented on #1494
And here is the another onnx file which is modified (conv1/conv3's w is overwritten by the original ones in the pb files after transposing by
[code]
after runs the inference like above in step 5, it shows the much better results even there is still little big gap in accuracy.
[asl.zip](https://github.com/onnx/tensorflow-onnx/files/6431269/asl.zip)

[2021-05-06 04:18] bappy043 commented on #1500
After running the `bash ./build.sh` command, I see the following files/folders generated under the directory `out/`
[code]
Do you know what are the .dll files I need to use.

Also, I have found a tutorial for Java ORT here: https://www.onnxruntime.ai/docs/tutorials/mnist_java.html. Is there any guide on how to pass .dll locations into session options.

[2021-05-06 09:58] VeeranjaneyuluToka commented on #1491
I converted from the savedmodel to onnx using the below command, ran the inference using onnxruntime and the results of tf saved model and onnx are same.

**python -m tf2onnx.convert --saved-model /tf_git_hubs/tensorflow/workspace/training_demo/exported-models/my_ssd_mobnetv2_fpnlite_model/saved_model --output /tf_git_hubs/tensorflow/workspace/training_demo/exported-models/my_ssd_mobnetv2_fpnlite_

[2021-05-06 14:30] guschmue commented on #1412
Awesome, thanks!!!!

[2021-05-07 04:33] fsy2000 opened #1504 "OSError: Cannot parse file Error parsing message"
I saved my TensorFlow model using:
[code]

Then I convert the model to pb:
[code]

However, when I'm trying to convert pb to onnx, I get an error:
[code]

My environment:

* **Operating System + Version**: Ubuntu 16.04
* **Python Version**: 3.6.13
* **TensorFlow Version**: 1.15
* **Nvidia Driver Version**: 460.73.01
* **CUDA Version**: 10.0
* **CUDNN Version**: 7.6.4
* **tf2onnx Version**: 1.8.4

[2021-05-07 10:21] ulrichMarco opened #1505 "TF saved_model -> .onnx = ONNXRuntimeError"
**Describe the bug**
Cornvering a Tensorflow Saved Model to .onnx works fine but running it with returns a ONNXRuntimeError

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04 LTS
- Tensorflow Version: 2.4.1
- Python version: 3.8

**To Reproduce**
Trained a custom model and saved it in Tensorflow Saved Model Format.
Converting it with
`python3 -m t

[2021-05-07 14:54] guschmue commented on #1504
The way use save the model - it is a graphdef so you need to use ```--input``` in the tf2onnx command line.

[2021-05-07 16:51] guschmue commented on #1505
just tried your model and it seems fine.
If you look at the tensorflow model with ```saved_model_cli show``` - the input to the model is uint8 here and it is the same for the onnx model. If you pass in float32, onnxruntime is correctly throwing the error.
[code]

[2021-05-07 20:40] guschmue commented on #1505
should add: if you use tensorflow directly it should complain the same way as onnxruntime does. If you use keras - possible it does a autocast for you so you'd not notice if your input is float32.

[2021-05-08 09:03] fsy2000 opened #1506 "How to convert pb with a dynamic-link library?"
I'm trying to convert a TensorFlow model with a customized **kernel filtering operation** to ONNX.  The library is compiled from the codes [here](https://github.com/xmeng525/MultiResolutionKernelPredictionCNN/tree/master/0_kernel_functions). I import the SO file by `tf.load_op_library('0_kernel_functions/kernel_filter.so')` before I convert trained model to pb.

However, when I'm trying to convert

[2021-05-09 00:50] #1504 closed

[2021-05-09 04:26] fsy2000 commented on #1506
I tried to use `tf.load_op_library('0_kernel_functions/kernel_filter.so')` but got `Unsupported ops`. So I set `outputs` the nodes just above the kernel filtering operation to avoid it (I use kernel filtering to calibrate the output images). Therefore, the model only contains TensorFlow operations, but I still encounter errors:
[code]

[2021-05-10 03:17] guschmue commented on #1506
I think we might be able to do something on DecodeRaw.
ParseSingleExample and TFRecordDataset deal with  tf.example proto and there is no such thing in onnx.
I assume all tf.example  is related to the input processing.
One way of dealing with this would use a node behind the tf.example related preprocessing as input, aka feed the raw images into the model. You could use ```--inputs``` in the tf2on

[2021-05-10 09:43] alanMachineLeraning opened #1507 "Unsupported ops:Counter"
Unsupported ops:Counter

[2021-05-10 19:30] TomWildenhain-Microsoft commented on #1475
It looks like tf2onnx is calling 'len' on some object that is None.  Does the stack trace tell you what line of code this error occurred on?  I think you gave me the console output but not the stack trace.

[2021-05-10 19:37] TomWildenhain-Microsoft commented on #1507
Hi @alanMachineLeraning, this op appears to be an experimental op.  https://www.tensorflow.org/api_docs/python/tf/data/experimental/Counter

Can you replace it with tf.range?

[2021-05-10 19:50] TomWildenhain-Microsoft commented on #1500
You are not on Windows so you should look for a .so file, not a .dll.  I believe it is "ortcustomops.so".

Then register it here: https://javadoc.io/static/com.microsoft.onnxruntime/onnxruntime/1.7.0/ai/onnxruntime/OrtSession.SessionOptions.html#registerCustomOpLibrary(java.lang.String)

[2021-05-10 20:53] TomWildenhain-Microsoft commented on #1491
Ok, I'm glad to hear that onnxruntime produces the correct results.  That at least tells us that the initial onnx model is correct, and gives us a reference model to compare to.  To debug, try setting the outputs to the middle of the model and compare it to the original ORT model.  You can modify the outputs in the model for ORT either using polygraphy or a quick and dirty:
[code]
The types will b

[2021-05-11 21:44] TomWildenhain-Microsoft commented on #1500
Awesome.  For extra opsets, use:

[code]

[2021-05-11 23:09] bappy043 commented on #1500
providing list didn't help, getting the same error `InvalidArgumentError: Cannot convert a Tensor of dtype resource to a NumPy array.`

[2021-05-11 23:15] guschmue commented on #1500
Stack trace ... the error comes from convert_variables_to_constants_v2()
[code]

[2021-05-12 00:28] TomWildenhain-Microsoft commented on #1500
Ah I see.  The error has nothing to do with the extra_opset flag.  It is crashing before it even gets there.  I'll investigate.  @bappy043  the model converted from the command line works, right?

[2021-05-12 00:44] bappy043 commented on #1500
Yes, it works for command line

[2021-05-12 01:57] TomWildenhain-Microsoft commented on #1500
Our saved_model loader has some special code for dealing with lookup tables.  convert.keras doesn't have it.  I'm working on finding where keras stores the lookup table info.

[2021-05-12 11:40] calvinmccarter-at-lightmatter commented on #1501
@TomWildenhain-Microsoft -- just made a PR, thanks!

[2021-05-13 16:35] #1501 closed

[2021-05-14 20:27] GabrieldeBlois commented on #1152
Hi, you comment make sense, thanks ! The problem is that I have added on purpose a tf.Variable in my inference model in order to make it stateful (I'm using LSTMs).
Do you see any way of still converting the inference graph to frozen graph / ONNX / tensorRT to benefit from their nice runtime optimizations ?

[2021-05-14 21:02] TomWildenhain-Microsoft commented on #1152
All onnx models are stateless, so you will always get the same results given the same model and input (aside from random ops).  To simulate state, make the model have an additional input and output for the state you would like to maintain.  Then pass that state into the model with every inference.  If you don't do this, the model will just always use the initial state, which should be fine for you

[2021-05-14 21:03] TomWildenhain-Microsoft commented on #1500
Try again with the latest tf2onnx from github.  #1512 should fix your issue.

[2021-05-14 22:44] bappy043 commented on #1500
Thanks @TomWildenhain-Microsoft for fixing this. It is working with python now.

[2021-05-14 22:46] #1500 closed

[2021-05-17 09:24] neso613 commented on #1475
2021-05-17 14:52:23,241 - INFO - Using tensorflow=2.5.0, onnx=1.9.0, tf2onnx=1.8.5/50049d
2021-05-17 14:52:23,242 - INFO - Using opset <onnx, 11>
2021-05-17 14:52:25,201 - INFO - Computed 0 values for constant folding
2021-05-17 14:52:32,675 - ERROR - Failed to convert node 'StatefulPartitionedCall/model_2/model_1/conv2d_4/BiasAdd_1' (fct=<bound method ConvOp.version_11 of <class 'tf2onnx.onnx_ops

[2021-05-18 18:58] TomWildenhain-Microsoft commented on #1475
Let's try #1524 and see if it fixes it.

[2021-05-19 14:24] csantosbh opened #1525 "Model inputs with uppercase characters triggers at least two bugs"
**Description**
When a character of the input model is in uppercase, at least two strange behaviors happen:
1. The input name is converted to lowercase. This is not desirable; the input name should remain intact (unless, of course, `--rename-inputs` is provided)
2. If a `tf.constant` exists in the model graph, `tf2onnx` creates unwanted inputs named `unknown:<n>`.

**Urgency**
Medium priority, as

[2021-05-19 19:57] TomWildenhain-Microsoft commented on #1525
Interesting.  I can't reproduce this, but maybe it only happens on tf linux.  I get:

![image](https://user-images.githubusercontent.com/67606533/118875977-b4b32800-b8ba-11eb-85cb-af6079eeabdb.png)

Can you try with the latest tf2onnx from github?
`pip uninstall tf2onnx`
`pip install git+https://github.com/onnx/tensorflow-onnx`

If it still happens, can you upload a zip of the saved model?  If it

[2021-05-19 20:01] TomWildenhain-Microsoft commented on #1152
I'm going to close this issue since it can have a variety of causes.  If you have a model that is failing to convert with this error, please open a new issue and we will look into it.

[2021-05-19 20:01] #1152 closed

[2021-05-19 20:02] TomWildenhain-Microsoft commented on #1475
The change has merged.  @neso613 try the latest tf2onnx from GitHub and let me know if it works.

[2021-05-19 21:04] guschmue commented on #1525
I can reproduce it on linux. The unknown:0 we get from tf as input and because its an input we don't throw it out. Need to debug a little to see why tf gives this to us.

[2021-05-20 00:31] TomWildenhain-Microsoft commented on #1494
Hi @dedoogong, sorry took me a while to get to this.  You are right that the converter was setting the weights incorrectly due to a bug in the transpose optimizer.  #1528 should fix the issue.  Can you confirm that the fix works for you?

You said "there was still accuracy issue." but also it gets "almost same result".  Were you able to get a model that works for you?  Was the accuracy issue with

[2021-05-20 02:50] dedoogong commented on #1494
I think the accuracy problem comes from bilinear resize op becasue it takes a feature map which contains a quite big values(around 100~400). I think Tensorflow's bilinear resize and ORT's one are little bit different.

[2021-05-20 02:50] #1494 closed

[2021-05-21 06:51] neso613 commented on #1475
still have same issue. I have installed latest versions.
2021-05-21 12:20:41,129 - INFO - Using tensorflow=2.5.0, onnx=1.9.0, tf2onnx=1.8.5/50049d

[2021-05-21 08:52] uditdixit11 commented on #1036
Hi @guschmue,

Glad I found this thread. I'm also facing the same issue now only this one(below). If you have plan to compose CTCGreedyDecoder from other ops inside tf2onnx may I know when it would be updated  ?

2021-05-21 13:58:35,341 - ERROR - Tensorflow op [StatefulPartitionedCall/functional_7/decode/CTCGreedyDecoder: CTCGreedyDecoder] is not supported
2021-05-21 13:58:35,344 - ERROR - Unsuppo

[2021-05-21 18:31] TomWildenhain-Microsoft commented on #1475
The issue is caused because the input rank to the conv is unknown.  This should be very rare.  Do you have any idea why the input rank would be unknown for this model?  You can try passing in a shape to the inputs `--inputs someinp:0[1,2,3,4]`

I would be very surprised if the line number is the same.  Do you have a new stack trace?

[2021-05-24 09:39] neso613 commented on #1475
Getting this error when  --inputs someinp:0[1,2,3,4] used .

WARNING:tensorflow:From /home/nehasoni/anaconda3/envs/tf2onnx/lib/python3.7/site-packages/tf2onnx/tf_loader.py:603: extract_sub_graph (from tensorflow.python.framework.graph_util_impl) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.compat.v1.graph_util.extract_sub_graph`
2021-05-24 15:08:18,173