[2021-11-18 16:19] mbrookhart commented on #1763
Thanks @guschmue! I can confirm the bug is resolved on the latest commit in the repo.

[2021-11-18 16:19] #1763 closed

[2021-11-18 16:44] laumecha opened #1777 "Tensor name 'bn_conv1/cond/ReadVariableOp/Switch:1' is invalid"
**Describe the bug**
I am trying to run the Conversion to ONNX from keras model using tf2onnx python api(https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/keras-resnet50.ipynb) example. However, I am having the following error:
[code]

The code that I am using is the same as the example without the "Run the keras model" part.

**Urgency**
none

**System information**
Linux Ubuntu 16.04

[2021-11-18 17:00] igalkr opened #1778 "Unsupported ops: TensorScatterAdd, TensorListConcatV2, Rank"
Hi, are the above ops to be supported, or am I running the command incorrectly?
python -m tf2onnx.convert --saved-model saved_model --output model.onnx -v --target tensorrt --tag serve

[2021-11-19 00:47] guschmue commented on #1777
It should work with a newer tf version like tf-2.5, 2.6, 2.7.
We wanted support tf-1.15 or better only and have not tested keras with < tf-1.15.
But there is a check missing with a proper message here https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/convert.py#L359 ... we can add this.

[2021-11-19 06:36] Honry opened #1779 "Support Convolution2DTransposeBias conversion"
I am trying to convert [Selfie Segmentation](https://github.com/google/mediapipe/blob/master/mediapipe/modules/selfie_segmentation/selfie_segmentation.tflite) TFLite model to ONNX, but which includes a custom op `Convolution2DTransposeBias`. So this is a feature request to support conversion of this op in `tf2onnx`, I suppose this should be supported by ONNX's `ConvTranspose`.

[2021-11-19 09:14] laumecha commented on #1777
You're right! It works with a newer version. Thanks!

[2021-11-19 09:14] #1777 closed

[2021-11-19 13:47] armbuster commented on #1778
I am having a very confusing problem with tf2onnx giving me `TensorScatterAdd` nodes. The tf code I am trying to convert to onnx used `tf.tensor_scatter_nd_add`. I replaced this with `tf.scatter_nd` and `tf.math.add` in the hopes that tf2onnx would stop giving me this `TensorScatterAdd` node, but I am still getting it. It is almost as if tf2onnx is fusing these two operations for me.

More general

[2021-11-19 17:45] guschmue commented on #1778
Yes, TensorScatterAdd, TensorListConcatV2 are not mapped - we'd need to add it.

[2021-11-22 12:57] hwangdeyu commented on #1746
Hi @TomWildenhain-Microsoft, based on the result of my debugging, this repro code is crashed by this line. https://github.com/onnx/tensorflow-onnx/blob/a1a9343cef193ef45b7f91d511e9c7bd1dffb3e3/tf2onnx/tflite_utils.py#L200
Cause the `_get_tensor_details()` function will catch the `TensorSparsityParameters` of tflite interpreter. While `TensorSparsityParameters` is missing in one of the tensor.
[cod

[2021-11-23 01:40] guschmue opened #1782 "upgrade windows env for ci pipeline"
##[warning]The windows-2016 environment is deprecated and will be removed on March 15, 2022. Migrate to windows-latest instead. For more details, see https://github.com/actions/virtual-environments/issues/4312

[2021-11-23 03:44] fatcat-z opened #1783 "Nightly CI pipeline was broken by nightly job of ORT."
CI details:

tensorflow=2.7.0, onnx=1.10.2, tf2onnx=1.10.0/a1a934

2021-11-22 12:16:09.5769661 [W:onnxruntime:, execution_frame.cc:770 onnxruntime::ExecutionFrame::VerifyOutputSizes] Expected shape from model of {} does not match actual shape of {1} for output pred

https://dev.azure.com/tensorflow-onnx/tensorflow-onnx/_build/results?buildId=16167&view=logs&j=5e8154f0-c0c3-5cd0-4603-0c632ae0c119&t

[2021-11-23 08:51] #1757 closed

[2021-11-24 05:23] nikhildurgam95 commented on #1197
There's no .meta file in tf 2.0 checkpoints. There's only index and data files. How do we get around that?

[2021-11-24 16:21] guschmue commented on #1197
There are graphdefs, checkpoints and saved-models. tf-2.x prefers the later.
Its a directory with a saved_model.pb in it.
Use ```--saved-model the_directory``` in the command line.

[2021-11-25 14:14] igalkr commented on #1778
What should I do in the meantime? I really need the onnx converted file.

[2021-11-25 17:16] bkovalenkocomp opened #1788 "Unsupported ops: Counter({'TFL_L2_NORMALIZATION': 1})"
**Describe the bug**

Converting TFLite model to onnx

python -m tf2onnx.convert --tflite model.tflite --output model.onnx

get onnx model, but during conversion I get:

[code]

**Urgency**
Asap ;-)

**System information**
- Ubuntu 16.04:
- Tensorflow 2.6.0 / 2.5.0:
- Python 3.6:

**Additional context**
Im ready to contribute, please give advices where to look

[2021-11-27 01:25] arangasa opened #1789 "Does tf2onnx output a deterministic output for the same input?"
Description:
We observe that when the output of tf2onnx is serialized, the contents of the generated onnx model file is non-deterministic, across different runs, for the same input. Sometimes the onnx model file size is also different; sometimes the file size is same, but diff says that the files differ.

System Information
- tf2onnx version: We tried with tf2onnx 1.9.1 and 1.8.5
- OS Platform and

[2021-11-29 17:51] guschmue commented on #1788
Oh cool. I think you can follow this PR https://github.com/onnx/tensorflow-onnx/pull/1735 ... very similar thing.

[2021-11-29 17:56] guschmue commented on #1789
As long the model does not use random generators the output should be the same on on ever run and it should be very very close to the tensorflow output. Our unit tests are checking for this. There might be some slight difference in the results compared to tensorflow due to implementation differences in the runtime but those must be pretty small.

You see something differenrt?

[2021-11-30 09:21] arangasa commented on #1789
Hi @guschmue ,

Sorry if I am not clear. When I run tf2onnx to convert a tflite model to onnx, I get different onnx files for different runs (for the same tflite model).

We can reproduce this issue with this tflite model: https://storage.googleapis.com/download.tensorflow.org/models/tflite/mobilenet_v1_1.0_224_quant_and_labels.zip

If we run tf2onnx and serialize (for instance, using the below sc

[2021-12-01 03:53] liushaokong commented on #1758
This issue can be closed. I use the slice operation [-1] and tf.expand_dims to repalce [-1: ] operation when use the decoder to predict next token.

[2021-12-01 03:53] #1758 closed

[2021-12-01 04:23] dig19998 opened #1790 "Setup file Installation error in Jetson Nano"
I am facing an issue after cloning the repository as per the installation manual guidelines while running `python setup.py install`, I get these errors
File "/usr/lib/python2.7/dist-packages/setuptools/command/easy_install.py", line 724, in install_item
    dists = self.install_eggs(spec, download, tmpdir)
  File "/usr/lib/python2.7/dist-packages/setuptools/command/easy_install.py", line 909, in i

[2021-12-01 06:17] fatcat-z commented on #1726
@WassimBouatay , Could you please share your code so I can repro it locally?

[2021-12-01 08:19] zuoyuwei opened #1791 "Hi，thanks for your solution about the issue at first!"
Hi，thanks for your solution about the issue at first!

I got the same error during freeze graph, after change the AssignSub to Sub, AssignAdd to Add... it works!
But I find the result different between the freeze graph and the original graph, that is say:
I give the same input to frozen graph and original graph, but got  the different result after softmax....
could you please help me the different

[2021-12-01 09:35] hwangdeyu opened #1792 "Different conv2d with bias behavior between python script and test_backend.py"
**Describe the bug**
Different conv2d with bias behavior between python script and [test_backend.py](https://github.com/onnx/tensorflow-onnx/blob/master/tests/test_backend.py)

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- Tensorflow Version: 1.15.4
- Python version: Python 3.8

**To Reproduce**
- Python script
[code]

- test_backend test
[code]

**Screenshots

[2021-12-01 11:33] arseniymerkulov opened #1793 "Fail to convert model from onnx to .pb"
### Describe the bug
issue copied from https://github.com/onnx/onnx-tensorflow cause project page saying authors migrated to this rep

I have onnx model converted from pytorch. I want to convert it to .pb via onnx_tf. Then i get following error:
`RuntimeError: Resize coordinate_transformation_mode=pytorch_half_pixel is not supported in Tensorflow.`
Looks like my problem is similair to this https:/

[2021-12-01 21:23] guschmue commented on #1793
For
```onnx->tf``` use https://github.com/onnx/onnx-tensorflow

For
```tf->onnx```  use https://github.com/onnx/tensorflow-onnx

 Your repo case looks to me like onnx->tf

[2021-12-01 21:25] #1793 closed

[2021-12-01 21:29] guschmue commented on #1790
We don't support python2. Does
```python3 setup.py install```
work?

[2021-12-02 08:19] hwangdeyu commented on #1792
Seems test_backend test result is unexpectation. It probably a constfold issue.

[2021-12-02 13:56] samvanstroud opened #1795 "Tensorflow GNN Support"
Hi,

Are there any plans to support conversion of models built using [TF GNN](https://github.com/tensorflow/gnn)?

Thanks

[2021-12-03 19:45] guschmue commented on #1792
hm, on tf-2.7 this works fine. On tf-1.15 I see it (mine has a Add instead of BiasAdd).

[2021-12-03 20:15] guschmue commented on #1792
For tf-2.x we call
from_keras() -> from_function() -> tf_optimize()

But for tf-1.15 we use the old style keras session api to get the graph in _from_keras_tf1() and that code is missing to call tf_optimize().
@hwangdeyu, in _from_keras_tf1() if you call  tf_optimize() after tf_loader.freeze_session() this might be fixed.

There is some low risk that this might still not work because on tf-1.x we'

[2021-12-06 01:26] fatcat-z commented on #1756
The link of code you provided is under onnx/onnxmltools, not this repo.

[2021-12-06 01:28] fatcat-z commented on #1783
This issue has been resolved by fixing a bug in ORT.

[2021-12-06 01:28] #1783 closed

[2021-12-06 05:50] fatcat-z commented on #1778
Could you please share the TF code of your model so that we can validate it once there is a fix?

[2021-12-06 09:27] hwangdeyu commented on #1792
Yeah, I have tried to call tf_optimize() after tf_loader.freeze_session(), but it's weird, will throw below error:
[code]

[2021-12-06 09:49] ahallermed commented on #1756
My bad!
Opened a new issue in the correct repository: https://github.com/onnx/onnxmltools/issues/521

[2021-12-06 09:49] #1756 closed

[2021-12-06 11:59] fatcat-z commented on #1789
Hi @arangasa ,

Use the files downloaded from this URL. And same environment settings except the 2 below:

OS Platform and Distribution: Linux Ubuntu 20.04
Python version: 3.8

Update the code as below to execute the code 100 times for every run, but didn't see the files are different. Could you please take a try with my above environment settings?

import onnx
import tf2onnx
import sys

for i in

[2021-12-06 12:50] hwangdeyu commented on #1792
I find the file to add the `keras` test in https://github.com/onnx/tensorflow-onnx/blob/621b4b11e727d7ffa1e81ad62b6e0727ef1049a2/tests/keras2onnx_unit_tests/test_layers.py.

So I guess the different way with `from_keras()` and `_run_test_case` is by desgin?

[2021-12-06 15:23] guschmue commented on #1792
The conv2d/kernel/Assign - this might be there in the original model but should be gone after freezing. We might look a little around why we hang on to  conv2d/kernel/Assign but I think we can fix it.

The reason why _run_test_case  and from_keras look a little different:  we used to have a v1 python api that was hard to use for users. _run_test_case  is using that. A year ago we created the new a

[2021-12-09 06:40] savvaki commented on #436
@spillerrec Are there any updates on this issue?

[2021-12-09 07:20] fatcat-z commented on #1729
@cchan-lm

I've tried your scripts with environment settings below, seems like this issue has gone and optimize_transpose could work well.

tensorflow=2.8.0-dev20211208(pip install tf-nightly)
onnx=1.10.2
tf2onnx=1.10.0/72d646(nightly job)

Could you please double check this in your machine? Thanks.

[2021-12-09 11:28] fatcat-z commented on #1770
@HelloShirleyHello ,

Is it possible you can share us the change you made to the model?

[2021-12-09 14:59] cchan-lm commented on #1729
@fatcat-z Thank you for testing this! I've tried again with the onnx and tf2onnx versions you specified, but kept tensorflow at 2.6.0 to keep things consistent. The optimize_transpose error is gone on my end as well!

Curious, what resolved this?

[2021-12-09 15:45] ulucsahin commented on #1705
Did you solve the issue?

[2021-12-09 15:58] fatcat-z commented on #1729
Didn't take a deep look on possible root cause yet so no idea at this moment.

[2021-12-11 10:24] farzanehnakhaee70 commented on #1434
Do you find any solution for this one?
I had exactly similar issue where I want to pass the groups parameter based on the shape of the input size. But currently, it is not being performed correctly.

[2021-12-11 14:46] spillerrec commented on #436
@savvaki No, not anything else than I looked into the `dilations` parameter and that it should be possible to use that to implement `rate`.

To sum up, the current status is that we have a decent workaround using standard operators and most people would probably be happy with it. It is currently stalled on me to actually add it.

I honestly forgot about this issue, so thanks for the ping. I found

[2021-12-13 03:45] fatcat-z commented on #1788
@bkovalenkocomp , are you still ready to contribute to this? Thanks.

[2021-12-13 07:56] savvaki commented on #436
@spillerrec Do you perhaps have the tf code lying around that you used to generate the onnx models that you posted above?

[2021-12-13 10:05] bkovalenkocomp commented on #1788
sorry, I solved my problem in a different way ;-)

[2021-12-13 10:05] #1788 closed

[2021-12-14 08:52] savvaki commented on #436
I created an equivalent operation to `tf.image.extract_patches` using an identity kernel with a convolution. The code seemingly works for batches, as well as different patch sizes. In addition, multiple input feature maps seem to work. This is an code snippet if anyone is interested. I have not tried different padding variations/strides, meaning that this snippet is **not complete** for more exoti

[2021-12-14 12:28] chrschinab opened #1798 "FoConv2D operator inside a tf.while_loop: Weights are not incorporated with kind=initializer as constants but are read from tensor in ONNX model"
**Description**
I try to convert a toy model developed in TF v2.6.0 to ONNX with tf2onnx. The model includes a keras.layers.conv2D layer outside as well as inside a tf.while_loop with fixed number of iterations. In the resulting ONNX model, the weights and the bias of the conv2D layer outside the loop are incorporated into the layer as constants with kind=initializers. However, regarding the conv2

[2021-12-16 08:13] shizikachen opened #1801 "I successfully converted the model from pb to onnx, but failed to load it"
I use command：
python -m tf2onnx.convert \
--graphdef pb_path \
--output onnx_path \
--inputs images:0 \
--outputs rnn_output:0 \
--opset 15

log:
Use `tf.compat.v1.graph_util.extract_sub_graph`
INFO:tensorflow:Froze 0 variables.
2021-12-16 15:46:56,407 - INFO - Froze 0 variables.
INFO:tensorflow:Converted 0 variables to const ops.
2021-12-16 15:46:56,419 - INFO - Converted 0 variables to const op

[2021-12-16 09:32] laobadao commented on #72
Great! Thanks

[2021-12-16 10:38] wm2012011492 opened #1802 "Is there any plan to support tf.uint32?"
**Describe the bug**
Why tf.uint32 and tf.uint64 is not supported? I think ONNX support these two datatypes according to the [link](https://github.com/onnx/onnx/blob/e2072611aaac0f86414f4b5cc69d8496a86cc5fd/onnx/onnx.proto3#L503)

**System information**
- OS Platform and Distribution (Linux Ubuntu 18.04):
- Tensorflow Version: (TF1.15.5)
- Python version: (Python 3.8)
- tf2onnx version: (tf2onnx 1

[2021-12-16 11:36] hwangdeyu commented on #1801
Do you use the latest version of tf2onnx? It is better if you can offer a repro script code.

[2021-12-16 18:12] cchan-lm opened #1803 "tf.unstack / tf.split on input loses dynamic batch size"
**Describe the bug**
When `tf.unstack` or `tf.split` is used on an input, dynamic batch dimension is lost.

This was found while trying to export [NodLabs's DLRM](https://github.com/NodLabs/tensorflow-dlrm). An example script is provided to generate the model's architecture for saving. Inputs are `[dense_features, sparse_features]`. The inputs are split up in the model's `call` method. The resulti

[2021-12-17 01:28] shizikachen commented on #1801
Hi, thank you for your reply！
I install it from pypi.
` print(tf2onnx.__version__)
1.9.3`

Version information:
onnx:1.10.2
onnxruntime :1.9.0

the test code:
import onnx
import onnxruntime as ort
onnx_file = '../612336_rnnoutput.onnx'

model = onnx.load(onnx_file)
onnx.checker.check_model(model)

so = ort.SessionOptions()
session = ort.InferenceSession(onnx_file,so,)

inname = [input.name for inp

[2021-12-17 02:00] shizikachen commented on #1801
I find a similar issue in onnx, [https://hub.fastgit.org/onnx/onnx/issues/3172](url)
tensorflow-onnx does support TensorListReserve, TensorListGetItem, TensorListSetItem, TensorListStack and TensorListFromTensor.
But in [https://hub.fastgit.org/onnx/onnx/blob/master/docs/Operators.md](url), I can't find TensorListReserve, TensorListGetItem, TensorListSetItem, TensorListStack and TensorListFromTens

[2021-12-17 09:45] liamsun2019 opened #1804 "The inference results are pretty different after converting to onnx representation"
Hi, I encountered a problem when I converted a tf model to onnx format.

1. The tf model can be downloaded from:
https://tfhub.dev/google/movenet/multipose/lightning/1

2. use tf2onnx to convert to onnx format:
python3.6 -m tf2onnx.convert --saved-model movenet_multipose_lightning_1 --output model.onnx --opset=11 --inputs-as-nchw input
where movenet_multipose_lightning_1 is the directory to which

[2021-12-18 11:40] The-ButterflyEffect opened #1805 "Converting SSD MobileNet V2 tensorflow frozen graph .pb file to onnx model and quantizing it using Onnx Runtime"
``Hi, I am trying to convert SSD Mobilenet V2 tensorflow model ( frozen graph .pb format) to onnx.
I see group attr of the first Conv op in the converted onnx model equal to 0.
This invalid "group=0" then throws error when I attempt to quantize this onnx model using onnxruntime.

onnxruntime.capi.onnxruntime_pybind11_state.Fail: [ONNXRuntimeError] : 1 : FAIL : **Non-zero status code returned while

[2021-12-20 11:50] hwangdeyu commented on #1801
Thanks, could you also provide the `pb_path`? Then I can repro this issue in my dev env.

[2021-12-21 09:37] Slyne commented on #1783
@fatcat-z Hi, I met the same issue. Could you show your solution ?

[2021-12-21 12:25] maybeLee opened #1807 "The kernel_shape of keras.layers.Conv1D may be wrong"
**Describe the bug**
Not sure if it is the intended behavior. I was using keras to build the model and then convert to ONNX through `tf2onnx.convert.from_keras` However, I notice the kernel_shape in ONNX is INTS instead of INT when I was trying to convert Conv1D.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Tensorflow Version: 2.7
- Python

[2021-12-21 14:53] fatcat-z commented on #1783
Please update ORT to latest version 1.10.0.

[2021-12-22 12:20] #1008 closed

[2021-12-22 21:49] CarlPoirier opened #1809 "Using TransposeOptimizer breaks model"
**Describe the bug**
I have an onnx model on which I want to run the [onnx-optimize.py](https://github.com/onnx/tensorflow-onnx/blob/master/tools/onnx-optimize.py) script. All the optimizers work fine except the TransposeOptimizer. When I use it, my onnx model is not working anymore, with onnxruntime at least. I get this error :

`[E:onnxruntime:, sequential_executor.cc:346 onnxruntime::Sequential

[2021-12-23 03:44] #1802 closed

[2021-12-23 03:48] hwangdeyu commented on #1802
Thanks @wm2012011492 , now the latest code can support this type.

[2021-12-23 09:46] psriramsnc opened #1810 "Error in creating embeddings of max sequence length 64 instead of 128 for Onnx converted Tensorflow BERT"
**Describe the bug**
We are currently working on a POC to do Tensorflow v/s ONNX run time prediction times for out of the box BERT model.
1.	We first downloaded the BERT model from https://tfhub.dev/tensorflow/bert_multi_cased_L-12_H-768_A-12/1

2.	Used tf2onnx python library ( https://github.com/onnx/tensorflow-onnx ) to convert the TF model to ONNX supported model.

3.	The out of the box TF BERT

[2021-12-23 10:12] hwangdeyu commented on #1805
Could you also provide the repro script code running the `model.onnx` by onnxruntime?

[2021-12-24 04:47] maybeLee opened #1811 "Failed to convert model when using opset 15 but success on opset 8"
**Describe the bug**
I was trying to convert a Keras model with two `keras.layers.ThresholdedReLU()` using tf2onnx but failed. The information of the model is as follows:
[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Tensorflow Version: 2.7.0
- Python version: 3.6

**To Reproduce**
[code]
You may access the code here:
https://colab.researc

[2021-12-24 07:01] shizikachen commented on #1801
I'm sorry, I've been a little busy recently.
I don't have Google drive. Can you open Baidu Netdisk？
[https://pan.baidu.com/s/1wZAf9rA4fjL7B1PnDW-k-A) ](url)
password：9dg0

input is (1,None,None,3) float32，my suggested size is (1, 32,1024, 3).

[2021-12-25 06:25] ipcamit opened #1812 "tf.function causes onnx.checker.check_model to fail, while onnxruntime runs fine ONNX ISSUE #3909"
I was not sure where this belongs better so I have created an issue in main ONNX repo as well:
https://github.com/onnx/onnx/issues/3909

When a tensorflow model contains `tf.function` decorated function with for loop in it, the tf->onnx conversion yields warnings:
[code]

And as the obtained model is run through onnxruntime it runs fine, but model checker gives the following error
[code]

Netron d

[2021-12-26 06:38] #1705 closed

[2021-12-27 10:01] ltcs11 opened #1813 "tf2.x StatefulPartitionedCall support in freeze pb format?"
**Dubugging advice**
cpu with tf 2.3.2

**Describe the bug**
try use convert.py with freeze pb but failed

**System information**
- mac os catalina 10.15.7
- Tensorflow Version:  2.3.4
- Python version: 3.7

**To Reproduce**
download in tensorflow hub https://tfhub.dev/google/imagenet/efficientnet_v2_imagenet1k_s/classification/2
used saved model
and following code try change saved model into free

[2021-12-27 19:05] The-ButterflyEffect commented on #1805
`import onnxruntime.backend
import onnx
import tf2onnx
import tensorflow as tf
import numpy as np
shape_dict = {"image_tensor:0": (3,300,300,3)}
tf_compat_v1 = tf.compat.v1
with tf_compat_v1.gfile.GFile("./frozen_inference_graph.pb", "rb") as f:
    graph_def = tf_compat_v1.GraphDef()
    graph_def.ParseFromString(f.read())

onnx_model, _ = tf2onnx.convert.from_graph_def(graph_def, input_names=["i

[2021-12-27 19:14] The-ButterflyEffect commented on #1805
![mobilenetssdv2](https://user-images.githubusercontent.com/82652296/147500462-55fb7e1c-778f-49f2-8100-4adbfe23494c.png)

I have attached a part of the onnx model that I get after .pb to .onnx conversion using tf2onnx.  I observe that the onnx graph is broken into two group. That doesn't seem a correct conversion and might be creating the issue of group attribute = 0 in the first conv op. Could yo

[2021-12-29 06:27] ipcamit commented on #1812
Instead of `tf.TensorSpec(shape=None, dtype=tf.float32)`, `tf.TensorSpec(shape=[], dtype=tf.float32)` seem to help. Not clear why yet.

[2021-12-29 15:09] rtm-1dyakonov opened #1814 "Attribute new_axis_mask not supported"
I am trying to convert model created from TensorFlow Object Detection API from saved_model.pb to Onnx format.

Unfortunately, next issue arrises:
ValueError: StridedSlice: attribute new_axis_mask not supported

[Here ](https://drive.google.com/drive/folders/1h9DDU1x7mTV3edQXi4_cUCxIDGjuEmYA?usp=sharing)you can find my model either in saved_model and checkpoint formats.

[2021-12-30 11:15] hwangdeyu commented on #1811
It's a bug from [rewrite_thresholded_relu](https://github.com/onnx/tensorflow-onnx/blob/936cec62fa815d121a11994307c9f45a1dbba536/tf2onnx/rewriter/thresholded_relu_rewriter.py) after opset version 9. So it will be crushed when the onnx graph transfer into proto form. Now I don't find a good way to fix it.
But you can try to comment this line [tfonnx.py#L569](https://github.com/onnx/tensorflow-onnx/

[2021-12-31 05:27] hwangdeyu commented on #1814
Could you also provide a simple repro script python code?
This issue is related to this line [tensor.py#L785 StridedSlice](https://github.com/onnx/tensorflow-onnx/blob/5cd3b5b87ca8fbe38e90d2ecce6f9bda891792bf/tf2onnx/onnx_opset/tensor.py#L785).

[2021-12-31 12:46] hwangdeyu commented on #1812
That's good point. I guess you can refer the onnx [IR.md](https://github.com/onnx/onnx/blob/master/docs/IR.md#input--output-data-types) description:
[code]

[2021-12-31 13:10] hwangdeyu commented on #1813
It looks like this is a similar issue with https://github.com/tensorflow/tensorflow/issues/43833 and https://github.com/tensorflow/tensorflow/issues/51664.

You can try to use the advices from above issues:
enable the following flag:
[code]
And also using latest stable version of TF.

[2022-01-02 11:11] igalkr commented on #1778
Hi,
I had to get in contact with our management, we cannot share the code at the moment.

[2022-01-03 08:14] KshetraV opened #1815 "ModuleNotFoundError: No module named 'tf2onnx'"
**/usr/bin/python3: Error while finding module specification for 'tf2onnx.convert' (ModuleNotFoundError: No module named 'tf2onnx')**
When I  ran the command
!python -m tf2onnx.convert --opset 10 --fold_const --saved-model WORK/MODEL/saved_model --output WORK/MODEL.onnx , **_this error shows up, any solutions?_**

[2022-01-03 17:31] guschmue commented on #1805
If I convert it with ```python -m tf2onnx.convert --input ssd_mobilenet_v2_coco_2018_03_29/frozen_inference_graph.pb --output /tmp/t.onnx --inputs image_tensor:0 --outputs num_detections:0,detection_boxes:0,detection_scores:0,detection_classes:0 --opset 13``` it is fine.

Works with your code as well.

I used the latest tf2onnx-1.9.3 but don't recall seeing such error before.

Btw, for this model

[2022-01-03 17:42] guschmue commented on #1815
try
[code]

[2022-01-03 18:04] The-ButterflyEffect commented on #1805
- Thanks @guschmue , I checked with 1.9.3 it works fine.
- I had 1.8.5 in my environment.
- with 1.9.3,  I no longer see group = 0 for the conv op hence this error no longer shows. "Fail: [ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running Conv node. Name:'Conv__8004' Status Message: Input channels C is not equal to kernel channels * group. C: 3 kernel channels: 3 group: 0"

[2022-01-03 18:21] guschmue commented on #1805
this model is trained for the input shape (None,None,None,3), aka it would internally do the right thing for any batch size, h and w. tf2onnx will find the shapes, pretty rare that you need to override it.

[2022-01-03 18:39] The-ButterflyEffect commented on #1805
I agree that it is not needed to specify the shape. But, does specifying the shape can cause this resultant graph?, i.e., disconnected input? I mean the trained model should get the inputs fed to it. It is not just the matter of input shapes(which I am overriding) but input data as well, right?

[2022-01-03 18:52] guschmue commented on #1805
oh, you mean the image_tensor:0->cast nodes? They are not really disconnected. They are consumed in a subgraph but netron does not show this nicely.

[2022-01-03 18:56] The-ButterflyEffect commented on #1805
I see! Thanks a lot for mentioning it. Could you please elaborate this part "ie the tf2onnx__15 subgraph". I am not sure what does this mean.
Thanks!

[2022-01-03 18:59] guschmue commented on #1805
tf2onnx_15 is the body of the loop. I think the model is taking the batches apart. In netron there is a menu for the subgraphs if you click on the model input or output.

[2022-01-03 19:02] The-ButterflyEffect commented on #1805
Thank you @guschmue

[2022-01-04 03:42] Xiadalei opened #1816 "tranpose optimization for hardswish in tensorflow-lite"
**Describe the bug**
When convering a tensorflow lite model with hardswish, specifically `TFL_HARD_SWISH` operator. There's tranpose wrapper around the hardswish operator.

![图片](https://user-images.githubusercontent.com/16681099/148363939-f969e953-def7-450b-91ad-b10603064131.png)

![图片](https://user-images.githubusercontent.com/16681099/148364001-57e8533a-655c-4f94-a182-b937aaac7cc2.png)

**Urgen

[2022-01-04 16:37] fatcat-z commented on #1810
@psriramsnc

For the question 3, could you please try to set '--inputs' following this description(https://github.com/onnx/tensorflow-onnx#--inputs---outputs) to see if this could prepare a dynamic input for your model to resolve your issue?

[2022-01-04 17:27] guschmue commented on #1810
This model is a saved-model and --inputs should not be needed since tf2onnx will pickup the inputs and outputs from the saved-model. Sometimes you might to specify --tag if you want to use a signature other than the default but I don't think that is the case here.

Converted with
[code]
the onnx model looks ok, aka the inputs have no dims burned in.

![image](https://user-images.githubusercontent.

[2022-01-04 18:25] guschmue commented on #1810
model seems to be fine with seqlen=128:
[code]

[2022-01-05 05:53] psriramsnc commented on #1810
@guschmue Did you try with seqlen=64? there's no problem with 128.
Also I think you are using BERT multicased v4 as I see you have input_word_ids, input_type_ids, input_mask as inputs.
We are currently using V1 as mentioned in the above description with URL. The inputs for V1 are input_ids, input_mask, segment_ids.  Can you pls help me with V1 model. Thanks.

[2022-01-05 17:14] guschmue commented on #1810
seqlen=64 was ok and I used v1. The default signature for v1 is
[code]

[2022-01-06 02:49] ltcs11 commented on #1813
i'm using `convert_variables_to_constants_v2_as_graph` api referenced from pipeline of saved_model format converting

found that the graph_def i got have no StatefulPartitionedCall Unit anymore(instead, the layer structure is already extracted), then export the graph_def as new FreezePb file

now the convert using FreezePb is done!

[2022-01-06 02:49] #1813 closed

[2022-01-06 09:27] hwangdeyu commented on #1816
I don't find the same shape `Conv2d` op with the model graph you provide. Could you also check the model and send the repro conversion code?

[2022-01-06 09:55] Xiadalei commented on #1816
Sorry for the confusion that the pic was not from the model I uploaded. Now the question is fixed with model I converted.
also the conversion is conducted in cli with command like `python -m tf2onnx.convert --tflite ./v3-small_224_1.0_float.tflite --inputs-as-nchw input --opset 14 --output ./v3.onnx`

[2022-01-08 21:54] magicaltoast opened #1817 "Can't concat ragged tensors with more than one dimension."
**Describe the bug**
Can't concat ragged tensors with more than one dimension.

I want to decode results from the object detector. I am using     ``tf.ragged.boolean_mask(bboxes, pos_inds)`` to gather results above threshold but my detector has multiple scales like yolo family so I need to concatenate it to one tensor to perform nonmax suppression. There's is no problem with scores because is a 1d

[2022-01-10 02:14] hwangdeyu commented on #1816
Thanks, I closed this issue cause the question is fixed.

[2022-01-10 02:14] #1816 closed

[2022-01-10 05:47] psriramsnc commented on #1810
@guschmue  here is the screenshot when I run the same code. Not sure what's different in my case from yours.
<img width="1104" alt="Screenshot 2022-01-10 at 10 24 13 AM" src="https://user-images.githubusercontent.com/96516835/148722929-dbeed093-9bf7-43a4-8c0c-6aa5181e70c4.png">

[2022-01-10 06:07] Xiadalei commented on #1816
The fixed problem I refered to is not using the same model. The problem with tranposing still exists.

[2022-01-10 12:19] zhuxiaoxuhit opened #1819 "[BUG] Different inference results of tflite model and onnx model(convert from tflite model)"
**Describe the bug**
I tried to convert tflite model to onnx model, and then do inference by onnxruntime python api. I got different inference results of tflite model and onnx model(convert from tflite model).

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- Tensorflow Version: 1.13.1
- Python version: 3.6
- tf2onnx version: 1.9.3
- onnxrunti

[2022-01-11 04:19] savvaki commented on #826
Will there simply never be support for `tf.math.cumprod`?

[2022-01-11 21:17] MargauxMasson opened #1820 "Converting TF1 .meta weights to onnx yields to ONNX parsing error."
**Describe the bug**
Converting TF1 .meta weights to ONNX yields to ONNX parsing error.

**Urgency**
Moderate

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
        NAME="Ubuntu"
        VERSION="20.04.3 LTS (Focal Fossa)"
        ID=ubuntu
        ID_LIKE=debian
        PRETTY_NAME="Ubuntu 20.04.3 LTS"
        VERSION_ID="20.04"
- Tensorflow Version: 1.15.5 //

[2022-01-12 01:17] aawce commented on #1684
Hi,
What is ETA for this to be fixed?
Thanks

[2022-01-13 16:02] r-remus opened #1821 "Python API for tflite2onnx conversion"
I successfully converted a TF Lite model to ONNX using the command line. Is there any way of doing this programatically (i.e., using tf2onnx's Python API), too?

Many thanks in advance!

[2022-01-14 08:21] paulfauthmayer commented on #1814
We were encountering the same issue when we tried to convert a model for which we wrote a custom layer. We were at first a bit confused because we nowhere explicitly used a StridedSlice but figured it was somewhere in the implementation of one  of the functions we used.

What fixed the issue for us, oddly enough, was to explicitly specify the newest opset. i.e.:

[code]

threw the same error @rtm-

[2022-01-16 06:46] wm2012011492 commented on #1802
Thanks for your great support!

[2022-01-17 08:07] SherlockHua1995 opened #1822 "onnxruntime.capi.onnxruntime_pybind11_state.Fail: [ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running Split node. Name:'' Status Message: Input cannot be split evenly on selected axis. Input shape={244,1,384} axis=0,NUMOUTPUTS=16"
HI,
I have transform the tf pb model to the onnx model.
But when I infer with the onnx model,the above error occured.
Any advice?

[2022-01-17 11:14] st1992 opened #1823 "Trying to convert LSTM to ONNX"
Trying to convert LSTM to onnx

WARNING - ONNX Failed to infer shapes and dtypes for [model_1/lstm/PartitionedCall/strided_slice_2, type: Slice]
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/tf2onnx/schemas.py", line 154, in infer_onnx_shape_dtype
    inferred_model = shape_inference.infer_shapes(model_proto, strict_mode=True)
  File "/usr/local/lib/python3.7/di

[2022-01-17 14:47] dvtran221 opened #1824 "Share constant between multiple Mul operators"
Hello,
I don't know if this is a bug or a feature in tf2onnx. When I convert a tensorflow model which contains multiple residual blocks, the constant in the Multiply operators will be shared between multiple Mul operators in onnx. This cause an weird output when I run the inference on the onnx model, compared to the output in tensorflow. You can see the demonstration in the following figures.
![Mu

[2022-01-17 15:56] nnpk opened #1825 "Converting Conv3DTranspose with strides of 8 leads to inference differences"
**Describe the bug**
When converting `tf.keras.layers.Convolution3DTranspose` with strides of `(8, 8, 8)` the conversion from a keras model to a ONNX model leads to large differences in the inference prediction output to a tolerance of up to 1.0e-1. With strides below, e.g. `(2, 2, 2)` or `(4, 4, 4)` no such prediction differences occur. A minimal example is posted below.

**System information**
-

[2022-01-19 12:54] hwangdeyu commented on #1821
Yes, please refer the python `api from_function` and `from_graph_def` in https://github.com/onnx/tensorflow-onnx#python-api-reference.
Actually, when you use the command line. What the code works is calling this file https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/convert.py.

[2022-01-19 13:17] maybeLee commented on #1811
Thanks for your walk around, it works good on my program!

[2022-01-19 13:17] #1811 closed

[2022-01-19 14:39] MagnusGabell opened #1826 "Failed to load Library - OnnxRuntime Yolov5 GPU Support C#"
**Describe the bug**
I have made a program that can use the Yolo5 model as onnx format for CPU. When chaning the library to GPU I get

Microsoft.ML.OnnxRuntime.OnnxRuntimeException
  HResult=0x80131500
  Message=[ErrorCode:Fail] OrtSessionOptionsAppendExecutionProvider_Cuda: Failed to load shared library
  Source=Microsoft.ML.OnnxRuntime
  StackTrace:
   at Microsoft.ML.OnnxRuntime.NativeApiStatus

[2022-01-20 03:15] fatcat-z commented on #1700
No response from user yet, close it.

[2022-01-20 03:15] #1700 closed

[2022-01-20 03:16] fatcat-z commented on #1689
No response from user yet, close it.

[2022-01-20 03:16] #1689 closed

[2022-01-20 03:17] fatcat-z commented on #1687
No response from user yet, close it.

[2022-01-20 03:17] #1687 closed

[2022-01-20 03:35] fatcat-z commented on #1655
No response from user yet, close it.

[2022-01-20 03:35] #1655 closed

[2022-01-20 03:36] fatcat-z commented on #1646
No response from user yet, close it.

[2022-01-20 03:36] #1646 closed

[2022-01-20 03:36] fatcat-z commented on #1643
No response from user yet, close it.

[2022-01-20 03:36] #1643 closed

[2022-01-20 03:37] fatcat-z commented on #1617
No response from user yet, close it.

[2022-01-20 03:37] #1617 closed

[2022-01-20 03:39] fatcat-z commented on #1609
No response from user yet, close it.

[2022-01-20 03:39] #1609 closed

[2022-01-20 03:43] fatcat-z commented on #1597
No response from user yet, close it.

[2022-01-20 03:43] #1597 closed

[2022-01-20 03:45] fatcat-z commented on #1544
No response from user yet, close it.

[2022-01-20 03:45] #1544 closed

[2022-01-20 03:53] #1726 closed

[2022-01-20 08:12] MagnusGabell commented on #1826
Move issue to Microsoft/onnxruntime. Not really a tensorflow onnx issue..

[2022-01-20 08:12] #1826 closed

[2022-01-20 08:12] MagnusGabell commented on #1826
See above statement

[2022-01-20 09:25] hwangdeyu commented on #1779
The Convolution2DTranspose with Bias term would be suuported when this issues fixed. https://github.com/onnx/tensorflow-onnx/issues/1740

[2022-01-20 09:29] hwangdeyu commented on #1795
Yeah, you can try to refer https://github.com/onnx/tensorflow-onnx#getting-started to convert your model to ONNX as long as  it's a tf model.

[2022-01-20 09:33] hwangdeyu commented on #1791
Sorry, it is hard to track the closed issue when we have different contexts per user.

Could you please open a new one and describe the issue and repro code clearly? Thanks..

[2022-01-20 09:33] #1791 closed

[2022-01-20 09:36] hwangdeyu commented on #1801
Seems this link is out of data.. Could you just post it in the issue?

[2022-01-20 09:41] hwangdeyu commented on #1817
Now the ONNX doesn't support ragged tensors. Converter can convert rank-1 ragged tensors but currently can't do larger than rank-1.
We could potentially support higher ranks with a loop, but that would probably not be very efficient now.

[2022-01-20 13:25] mazeltovlee opened #1827 "Invalid name when converting a batch normalization layer"
**Describe the bug**
Fail to convert a batch normalization layer (written by `tf.keras`) when using tensorflow version `1.14.0`

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Tensorflow Version: 1.14.0
- Python version: 3.7

**To Reproduce**
[code]
The error message is as follows:
[code]

When I generate the model on latest tensorflow (i.e., 2.7),

[2022-01-20 21:03] Luisamnh opened #1829 "ValidationError: No Op registered for TensorSliceDataset with domain_version of 15"
**Describe the bug**

I'm sorry if this is a silly thing but I'm new at working with onnx.

I converted a tf model to onnx and I have this issue:

ERROR - tf2onnx.tfonnx: Unsupported ops: Counter({'MapDataset': 4, 'TensorSliceDataset': 1, 'PaddedBatchDatasetV2': 1, 'DatasetToSingleElement': 1})

However, the model was successfully converted into onnx (i was able to load it with google collab)

The

[2022-01-20 22:07] lminer opened #1830 "Complex operations not supported"
I'm trying to get onnx to work with my model that has a few complex operations, but am getting an error. From the release history, it appears complex ops are now supported. Not sure what's going on.

I'm using:
TF 2.7.0
tf2onnx=1.10.0/5cd3b5
opset=15

Here's the error.

[code]

[2022-01-24 01:27] #1741 closed

[2022-01-24 03:42] hwangdeyu commented on #1792
Missing to call tf_optimize() issue, fixed.

[2022-01-24 03:42] #1792 closed

[2022-01-24 22:33] garlicdevs commented on #1830
I have another problems with ComplexAbs

ERROR - Failed to convert node 'StatefulPartitionedCall/model/lambda/FFT' (fct=<bound method FFTOp.version_13 of <class 'tf2onnx.onnx_opset.signal.FFTOp'>>)
'OP=FFT\nName=StatefulPartitionedCall/model/lambda/FFT\nInputs:\n\tStatefulPartitionedCall/model/lambda/mul:0=Mul, [-1, -1, 256], 14\nOutpus:\n\tStatefulPartitionedCall/model/lambda/FFT:0=[-1, -1, 256],

[2022-01-25 07:29] DeveloperNo579212 commented on #1424
Inspired by this: Using teachablemachine I created a the simplest image project, three classes, "10 images lefthand", "10 images righthand", "10 images no hand".  I validate the model on teachablemachine using training image with expected 100% match.  I export model to saved_model, convert using tf2onnx to onnx import in ML.net and do validation, but not accurate and not 100% at all based on same

[2022-01-25 12:43] DeveloperNo579212 opened #1831 "RunTimeWarning: tf2onnx.convert sysmodules"
I get this below and tried to uninstall and then reinstall based on info on:
https://github.com/onnx/tensorflow-onnx

I get unexpected results in the conversion and would like to fix this, but why is it appearing when following install procedure above?  Seems that some precondition is not met (not listed?) or the install documentation needs to be reviewed?

**"AppData\Local\Programs\Python\Python3

[2022-01-27 05:53] satpalsr commented on #1252
Hey @RD191295 , I am facing a similar issue. The onnx model that I created using tf2onnx gives wrong predictions. My TensorFlow model is built on top of resnet-50 and works well. Can you tell me how you resolved the issue?

CC: @TomWildenhain-Microsoft

[2022-01-27 20:02] frank-ff opened #1832 "Gemm Graph Rewriter Fails When Model Has Dynamic Batch Size"
**Describe the bug**
When processing a graph with unspecified batch size, and with a Matmul followed by an Add node, the gemm_rewriter will fail to rewrite the Matmul+Add nodes to a Gemm node. This is because there is a check for whether the output dimensions of the Matmul or Add nodes have a -1 in the shape: https://github.com/onnx/tensorflow-onnx/blob/51f4c724c3e924d24ed852c81ac26b419bffecf3/tf2

[2022-01-28 05:17] RD191295 commented on #1252
@satpalsr can you provide access to your notebook if possible so i can help you better.

[2022-01-28 15:31] satpalsr commented on #1252
Hey @RD191295. Thanks for getting back, there was some mistake with my inference script and not the onnx model. It's working great.

[2022-01-30 09:15] sayakpaul opened #1834 "Converted CMLM model output doesn't match"
I have successfully converted [this sentence encoder model](https://tfhub.dev/google/universal-sentence-encoder-cmlm/en-base/1) (BERT-based) to ONNX from TF-Hub. However, the outputs of the ONNX model and the TF-Hub model don't match. I am not sure if I am using the wrong output key for comparison so would appreciate a pair of eyes here.

Here's the conversion and verification notebook:
[onnx-conv

[2022-01-31 09:24] aviaisr opened #1835 "Convert Dense to "FC" instead of "GEMM""
Is there a way to convert force the conversion of tf.Densse layer to MatMul + Add instead of GEMM? I'm converting onnx to DLC and GEMM is causing problems.

[2022-01-31 19:31] miraclecorp opened #1836 "Op type not registered 'FeatureSize'. Failing to convert Tensorflow syntaxnet model to Onnx"
**Describe the bug**
tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'FeatureSize' in binary running on XXXXXXXXXX. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved graph which used ops from tf.contrib, accessing (e.g.) `tf.contrib.resampler` should be done before importing the graph, as contrib ops

[2022-02-01 04:20] leandro-gracia-gil opened #1837 "Support for multiple signatures in exported models"
I'm finding that ONNX Runtime actually has very good performance compared to TFLite in the situations I'm using it, and I'm becoming inclined towards migrating to ONNX. However, ONNX model conversion from TF seems to be missing a key feature: support for multiple signatures.

As far as I can see, if a model has multiple signatures you are forced to select one of them using the `--signature_def` ar

[2022-02-01 07:34] DeveloperNo579212 commented on #1831
I confirmed my conversion is valid and comparable with the source in saved model format, in python.
Using the section "Verifying a Converted Model" here https://onnxruntime.ai/docs/tutorials/tf-get-started.html

[2022-02-03 09:30] ghylander opened #1838 "Error when converting multiple-input with named inputs saved_model on python 3.10"
**Describe the bug**
AttributeError: module 'collections' has no attribute 'Iterable' when converting saved model to onnx

**Urgency**
none

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Tensorflow Version: 2.9.0.dev20220202
- Python version: 3.10.2

**To Reproduce**
trying to run:
`python -m tf2onnx.convert --saved-model MODEL --output model.onnx

[2022-02-08 07:23] hwangdeyu commented on #1822
As the `Split` ORT kernel shown https://github.com/microsoft/onnxruntime/blob/cb8d8464bc6ee39a894ecc76e05574095f5eb489/onnxruntime/core/providers/cpu/tensor/split.cc#L69. You are using the `Split` operator with
[code]
However, the 244 can not exact division the 16. Could you check the input shape in your model?

[2022-02-08 11:29] hwangdeyu commented on #1838
It's an ONNX issue, You can refer to https://github.com/onnx/onnx/issues/3723 and try to change the protobuf version.

[2022-02-08 12:13] hwangdeyu commented on #1836
Could you also provide the repro code and model? Then we can try to repro this issue.

[2022-02-08 12:42] hwangdeyu commented on #1835
This was a gemm_rewriter to rewriter the `MatMul + Add` op to `GEMM` .
https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/rewriter/gemm_rewriter.py.

You can just remove the related code from this PR [add gemm_rewriter and the corresponding test](https://github.com/onnx/tensorflow-onnx/pull/597)

By the way, is the `GEMM` op causing which problems?

[2022-02-09 19:27] miraclecorp commented on #1836
Model sent to you via email. The commands we tried are:

(1) python3 -m tf2onnx.convert --saved-model ~/Desktop/ud/syntaxnet-jni/en_US/SAVED_MODEL_TAGGER/ --output ~/Desktop/model.onnx --opset 13

(2) python3 -m tf2onnx.convert --saved-model ~/Desktop/ud/syntaxnet-jni/en_US/SAVED_MODEL_TAGGER/ --inputs inputs:0[-1] --output ~/Desktop/model.onnx --opset 13 --extra_opset ai.onnx.contrib:1 --tag serv

[2022-02-11 09:41] hwangdeyu commented on #1836
Thanks @miraclecorp , I received your email and repro this issues.

According to the error message:

    main()
  File "/code/tensorflow-onnx/tf2onnx/convert.py", line 233, in main
    graph_def, inputs, outputs, initialized_tables, tensors_to_rename = tf_loader.from_saved_model(
  File "/code/tensorflow-onnx/tf2onnx/tf_loader.py", line 614, in from_saved_model
    _from_saved_model_v2(model_path,

[2022-02-13 19:45] hwangdeyu commented on #1815
Closing due to lack of reply from the creator. If this is still an issue in the latest nightly tf2onnx, please open a new issue with clear repro instructions.

[2022-02-13 19:45] #1815 closed

[2022-02-14 10:01] hwangdeyu opened #1844 "Support RaggedGather operator when rank > 1"
**Describe the bug**
Now, tf2onnx only supports **RaggedGather** op rank == 1. But there are some NLP models have rank > 1 scenarios.

**System information**
- OS Platform and Distribution: Ubuntu 20.04
- Tensorflow Version: 2.7.0
- Python version: 3.8.8

**To Reproduce**
Add below test code in [tensorflow-onnx/blob/master/tests/test_backend.py](https://github.com/onnx/tensorflow-onnx/blob/master/

[2022-02-14 13:29] glm-barcelin opened #1845 "Cannot save dropout layer from a tensorflow model with tf2onnx.convert.from_keras (and load it with onnx)"
**Describe the bug**
I want to save a model that I trained with tensorflow and that contains Dropout layers. I need these layers at inference to use them in training_mode in order to measure the epistemic uncertainty of my model. I think the tf2onnx `convert.from_keras` function does not save the dropout layer.

**Urgency**
none.

**System information**
- Windows 11
- Tensorflow Version: 2.7.0
- P

[2022-02-14 22:35] liqunfu opened #1846 "Please validate tensorflow-onnx converter with onnx 1.11.0rc2"
We have published (to TestPyPI) a second Release Candidate package for the upcoming ONNX v1.11.0 release. Please help validate it and let us know if you encounter any issues. Note that the tentative release date for ONNX v1.11.0 is moved to Feb 16, 2022 due to several fixes needed. Thank you for your assistance!
pip install numpy protobuf typing-extensions>=3.6.2.1
pip install -i https://test.pypi

[2022-02-15 01:17] garymm commented on #1836
`--load_op_libraries` should allow us to load the model, but converter will fail because it doesn't know how to convert the op.
The two options are to provide a custom conversion via Python, or pass through the custom ops and implement them in the runtime. This would have to be done for every custom op in the model.

@hwangdeyu can you please add `--load_op_libraries` to the README.md?

[2022-02-15 10:01] iolkhovsky opened #1848 "Bug with conversion of tf function with no inputs"
**Describe the bug**
Conversion of a tf.function fails ([convert.from_function](https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/convert.py#L507)  throws unexpected exception [here](https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/convert.py#L535)) in case the graph has no any inputs (i.e. when signature is an empty list). It seems that a model with no inputs is essentially a

[2022-02-15 11:02] iolkhovsky opened #1849 "Bug with TF StridedSlice op conversion"
**Describe the bug**
Conversion of [tf.strided_slice](https://www.tensorflow.org/api_docs/python/tf/strided_slice) in some specific cases produces ONNX graph which doesn't work like the original one. For example I get incorrect ONNX graph when try to convert the next tensorflow code:
`
x = x[..., tf.newaxis, tf.newaxis]
`
In this particular case after tf2onnx conversion source StridedSlice operati

[2022-02-15 14:55] satpalsr opened #1850 "ValueError: Input 2 of node StatefulPartitionedCall was passed float from stem_conv/kernel:0 incompatible with expected resource."
Hey, I am trying to convert the model from [EfficientPose repo](https://github.com/ybkscht/EfficientPose) into onnx.
Here is the error I am receiving
[code]

Steps I followed:
[code]
**To Reproduce**
[Directly use this Colab](https://colab.research.google.com/drive/1QqHfcBciqMJLSH1_xet68ulyqGlVSKAV?usp=sharing)
or
Follow above steps &
1. `!pip install tf2onnx`
2. `!python3 -m tf2onnx.convert --sav

[2022-02-15 17:16] JonTriebenbach opened #1851 "Single layer Keras LSTM converted to loop instead of ONNX LSTM op"
The attached example shows a Keras model with a single layer LSTM that is converted to a loop instead of the expected ONNX LSTM op.

Test system configuration:
Using `tensorflow/tensorflow:2.7.1` docker image:
[code]

This issue appears to be similar to **tf.keras.layers.LSTM not converted to ONNX LSTM layer** #1546 with pull request [Add Keras LSTM support ](https://github.com/onnx/tensorflow-onn

[2022-02-16 02:06] EmmaNingMS opened #1852 "E2E tutorial/example to show how tf2onnx convert model with custom op"
Do we have E2E tutorial/example to show how tf2onnx convert model with custom op? Similar to this [example](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fonnx%2Ftutorials%2Fblob%2Fmaster%2FPyTorchCustomOperator%2FREADME.md&data=04%7C01%7Cqining%40microsoft.com%7C179984d9e891485b4eee08d9f0a8d2f0%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637805430165693356%7CUnkno

[2022-02-16 11:01] hwangdeyu commented on #1852
Now we can support the custom ops by parameter `--custom-ops`. If a model contains ops not recognized by onnx runtime,  it can tag these ops with a custom op domain so that the runtime can still open the model.

Consider to add a new tutorial doc file.

[2022-02-16 17:36] LauraMarieRam opened #1854 "Unsure how to use dequantize flag so that the onnx model can be used with unity barracuda"
**Describe the bug**
receiving message "ValueError: Opset 10 is required for quantization. Consider using the --dequantize flag or --opset 10."

After trying to `python -m tf2onnx.convert --opset 9 --dequantize --tflite C:\Users\Me\MyFirstImageRecog\model.tflite --output model.onnx`

**Urgency**
18 feb 2022

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows

[2022-02-16 19:23] miraclecorp commented on #1836
Hi @garymm , can you please give us a more guidance on the 2 options that we should take

(1) custom conversion via python?
(2) pass through the custom ops and implement them in runtime?

tysm!

[2022-02-16 22:07] garymm commented on #1836
This issue is requesting documentation for that: https://github.com/onnx/tensorflow-onnx/issues/1852 so I'd follow that issue and make sure the documentation added as part of that answers your questions.

[2022-02-17 00:55] EmmaNingMS commented on #1852
Thanks for the info. The existing example helps a little. But would love to see an E2E tutorial covering all the parts from tf2onnx to ORT, similar to this Pytorch exporter [example](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fonnx%2Ftutorials%2Fblob%2Fmaster%2FPyTorchCustomOperator%2FREADME.md&data=04%7C01%7Cqining%40microsoft.com%7C179984d9e891485b4eee08d9f0a8d

[2022-02-17 08:46] hwangdeyu commented on #1851
This PR [Add Keras LSTM support ](https://github.com/onnx/tensorflow-onnx/pull/1752) involved in `tf2onnx verison == 1.9.3`.
So This issue should be fixed after tf2onnx == 1.9.3 theoretically.
I also tried to test it in tensorflow==2.7.1 and tfonnx == 1.9.3/1.10.0, and the lstms are both LSTM op instand of loop..
![image](https://user-images.githubusercontent.com/10047193/154437563-6d52760a-a9fa-4

[2022-02-17 12:03] AlexM4 commented on #1434
Doesn't seem to be fixed.

Toy example
model=Sequential()
model.add(Conv3D(16,(3,3,3),groups=2,input_shape=(6,6,6,4)))

after exporting to onnx, the convolution layer still has groups=1

[2022-02-17 14:31] JonTriebenbach commented on #1851
@hwangdeyu Yes, we have other LSTM models that now convert as expected with tf2onnx 1.9.3.  Thank you for those fixes that corrected those other models.  The problem is that this new model is not converting as expected.  The problem shows on both 1.9.3, and on the latest 1.10.0.

I do not know what is different about this new model that is not converting as expected.  We have other models that hav

[2022-02-19 16:09] #1834 closed

[2022-02-19 22:50] jcwchen opened #1860 "Please fix onnx-weekly CI failure to enhance tf2onnx and ONNX robustness"
[onnx-weekly CI ](https://dev.azure.com/tensorflow-onnx/tensorflow-onnx/_build?definitionId=30&_a=summary) fails for quite a while. The last successful run is this [one](https://dev.azure.com/tensorflow-onnx/tensorflow-onnx/_build/results?buildId=16099&view=results) on 11/15/2021. Then it stared to fail since 11/23/2021. There is only one [PR ](https://github.com/onnx/onnx/pull/3557) which might c

[2022-02-21 03:11] hwangdeyu commented on #1795
It's been over 2 months, so closing this. Feel free to open a new one.

[2022-02-21 03:11] #1795 closed

[2022-02-22 02:37] wdYangX opened #1862 "[E:onnxruntime:, sequential_executor.cc:346 Execute] Non-zero status code returned while running Add node. Name:'Add_1363' Status Message: /onnxruntime_src/onnxruntime/core/providers/cpu/math/element_wise_ops.h:505 void onnxruntime::BroadcastIterator::Append(ptrdiff_t, ptrdiff_t) axis == 1 || axis == largest was false. Attempting to broadcast an axis by a dimension other than 1. 9 by 505"
**Error Message **
2022-02-22 09:30:14.294491544 [E:onnxruntime:, sequential_executor.cc:346 Execute] Non-zero status code returned while running Add node. Name:'Add_1363' Status Message: /onnxruntime_src/onnxruntime/core/providers/cpu/math/element_wise_ops.h:505 void onnxruntime::BroadcastIterator::Append(ptrdiff_t, ptrdiff_t) axis == 1 || axis == largest was false. Attempting to broadcast an axi

[2022-02-22 07:01] YusukeSuzuki commented on #1601
In case of converting `nn.Model` into `tf.SavedModel` for onnx use, I use `saved_model_lib.convert_and_save_model` with arguments described below code. Errors are caused by XLA compile and gradients ommiting.

[code]

[2022-02-23 06:38] josephrocca opened #1864 "Unsupported tensorflow ops: `BitwiseAnd`, `PartitionedCall`"
**Describe the bug**
The `BitwiseAnd` and `PartitionedCall` ops are not supported.

**Urgency**
It's a blocker for me, but there are no specific deadline dates.

**System information**
- OS Platform and Distribution: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic (Google Colab)
- Tensorflow Version: 2.8.0
- Python version: 3.7.12

**To Reproduce**
Simply run this Colab notebook: https://colab.rese

[2022-02-23 19:22] ed-mr opened #1865 "Keras - Conv1D conversions with tf2onnx and keras2onnx do not support NWC layout for Conv1D (Keras default)"
## Support for Conv1D NWC kernel (keras default)

I did not find a way to avoid a transposition layer before and after the Conv1D operator and support the NWC kernel
One solution I tried was the parameter inputs_as_nchw="args_0", but that also failed. How can I proceed?

I add some code to clarify my point further.
As an example we use the following keras model:

[code]

## keras2onnx and tfonnx c

[2022-02-24 21:39] kevinch-nv opened #1866 "Renaming `master` to `main`"
Hello ONNX partner,

Based on best practices at most of the ONNX member companies, the ONNX community is recommending that we rename the master branch in our repos as main.

GitHub has simplified the process as described at[ https://github.com/github/renaming](https://github.com/github/renaming). Please switch over once all dependencies are aware of the change.

[2022-02-25 06:15] reach-satori commented on #1434
Thank you alex, that was the exact issue I happened to be having. That was lucky, if you hadn't replied to this I'd never have found it. I just needed to get something working quickly so this is the hack I edited in, in case anybody else is in a similar position:

[code]

[2022-02-25 10:26] gombru opened #1867 "Failed to convert LookupTableFindV2 with IntegerLookup and StringLookup Keras layers"
I'm trying to convert a Keras model with [IntegerLookup](https://www.tensorflow.org/api_docs/python/tf/keras/layers/IntegerLookup) and [StringLookup](https://www.tensorflow.org/api_docs/python/tf/keras/layers/StringLookup) layers.

I've seen #1500 and #1219, but still getting errors.

This is the procedure I'm following:

[code]

[code]

[code]

The model has as input a dict of features with diffe

[2022-02-25 19:39] reach-satori opened #1868 "Failure to assign/calculate groups in Conv3D"
As seen in the last few posts of #1434. The fix made in #1435 doesn't work for Conv3D. Node group numbers are incorrect because the 5d data formats aren't accounted for in ConvOp. The conversion produces an onnx model, but it fails at inference time with `Input channels C is not equal to kernel channels * group.`

I did a small hack just to quickly get what I needed working and you can check it in

[2022-02-28 09:43] hwangdeyu commented on #1862
This issue is appeard in onnxruntime. Did you export it by tensorflow model?

[2022-02-28 15:14] mjlorenzo305 commented on #1851
any updates on this one?

[2022-02-28 16:06] sniper0110 opened #1870 "Can't convert some OPs in my TF2 model"
**Describe the bug**
I'm trying to convert a tensorflow 2 model to onnx and although I get a model at the end, I just can't use it because some of the OPs were not converted to onnx.

**Urgency**
Very important to get it to work soon.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Tensorflow Version: 2.8
- Python version: 3.8

**To Reproduce**
I ran th

[2022-02-28 22:27] felker commented on #1793
@guschmue, would it be possible to add some variant of your comment to the `README.md`? As a user, it took me a bit of time to understand the relationship between the two projects. At first, I thought this was a complete frontend/backend replacement for `onnx-tf`. Only searching through the Issues of both repositories did it become clear.

[2022-02-28 23:46] q-ycong-p opened #1871 "Keras LSTM not converted correctly when precedent Embedding layer specifies mask_zero=True"
**Describe the bug**
When an `tf.keras.layers.Embedding` with attribute `mask_zero=True` attribute precede LSTM layer, the LSTM is **converted into loops instead of LSTM op**.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Tensorflow Version: 2.4.0
- Python version: 3.8.12

**To Reproduce**
[code]

**Screenshots**
<img width="1011" alt="Original keras mo

[2022-03-01 01:39] jcwchen commented on #1860
Actually I did receive emails about onnx-weekly CI failures in December and January. Don't know why they were somehow deleted and now it cannot be checked.

[2022-03-01 06:36] hwangdeyu commented on #1871
Related issue: Keras LSTM converted to loop instead of ONNX LSTM op https://github.com/onnx/tensorflow-onnx/issues/1851

[2022-03-01 17:22] q-ycong-p commented on #1871
@hwangdeyu The reason why it's converted to loop in this case is because the `SelectV2` in frozen graph pattern is not handled in `lstm_tf2_rewriter` - itself can be skipped to produce LSTM op (see code attempting to fix above). But the key issue is, the `SelectV2` is there because of masking, and [ONNX LSTM layer does not support masking](https://github.com/onnx/onnx/issues/2248). If skipped, mod

[2022-03-02 07:21] OpDaSo opened #1872 "ValueError: Unknown layer: BatchNormalization. Please ensure this object is passed to the `custom_objects` argument. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details."
**Describe the bug**
A clear and concise description of what the bug is.
I want to convert the keras model  "resnet50.h5" to an onnx model "resnet50.onnx"
I get the keras model by:

import tensorflow as tf
model = tf.keras.applications.ResNet50()
model.save("resnet50.h5")

Now, I want to convert it with tf2onnx.convert:
python -m tf2onnx.convert --keras resnet50.h5 --inputs input_layer:0[-1,224,22

[2022-03-02 11:16] OpDaSo commented on #1872
I tried:

python -m tf2onnx.convert --keras resnet50.h5 --inputs input_layer:0[-1,224,224,3] --output resnet50_.onnx --custom-ops BatchNormalization

But  I received the same error message.

[2022-03-03 19:34] guschmue commented on #1866
done

[2022-03-03 19:34] #1866 closed

[2022-03-04 16:47] maybeLee opened #1875 "ReLU layer does not clip the tensor into the desired range when put behind a convolution layer"
**Describe the bug**
When converting a keras model with the following architecture:
[code]
In keras, the tensor sent to ReLU will be clipped into [0.0, 6.0] and output something like this:
[code]

However, after this model is converted to ONNX, onnx will predict all NaN tensors. It seems like the parameter in ReLU layer: `max_value` and `negative_slope` do not work after converted to ONNX.

**Syst

[2022-03-07 05:36] xellDart commented on #1872
same error

[2022-03-07 08:28] hwangdeyu commented on #1836
@miraclecorp
Firstly, you can use the `--load_op_libraries tensorflow_library_path` parameter to load the tf custom ops.
And then refer to https://github.com/onnx/tensorflow-onnx#creating-custom-op-mappings-from-python, create the `custom_op_handler` to support conversion for each custom ops. Then the model can be exported to onnx and run in runtime.

[2022-03-08 00:58] fatcat-z commented on #1846
The validation has been done.

[2022-03-08 00:58] #1846 closed

[2022-03-08 02:00] nistarlwc opened #1876 "inference result error with vgg classification"
**Describe**
train a VGG classification model, and convert ckpt to pb model.
try to inference pb model, and result correct.
then `python -m tf2onnx.convert --graphdef model.pb --output model.onnx --inputs input:0 --outputs output:0` convert pb to onnx successful, but inference error, all results are label 0.

**Information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows10
 - I

[2022-03-08 04:22] fatcat-z commented on #1860
This root cause of this issue relative to onnx, an issue https://github.com/onnx/onnx/issues/4053 was opened to track this.

[2022-03-08 07:02] fatcat-z commented on #1872
@OpDaSo ,

Please update your script which saved the model in your local machine as below:

import os
import tensorflow as tf

model = tf.keras.applications.ResNet50()
model.save(os.path.join("/tmp", model.name))

After this, you should have a new folder /tmp/resnet50, then execute below command could help you to export it to onnx file:

python -m tf2onnx.convert --keras /tmp/resnet50 --output res

[2022-03-08 17:33] miraclecorp commented on #1836
We tried the above step mentioned @hwangdeyu , but we still get:

Op type not registered 'FeatureSize' in binary running on ---------. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved graph which used ops from tf.contrib, accessing (e.g.) `tf.contrib.resampler` should be done before importing the graph, as contrib ops are lazily

[2022-03-09 06:08] fatcat-z commented on #1870
I've tried your script and attached model file. They could be exported successfully with latest version of tf2onnx. My tensorflow version is also 2.8.0.

Could you please try the latest version of tf2onnx to see if it works?

[2022-03-09 20:34] q-ycong-p commented on #1871
Hi @hwangdeyu and tf2onnx contributors,

This feature keras2onnx has implemented. I tested with the minimal example keras model shared above - [keras2onnx implementation](https://github.com/onnx/keras-onnx/pull/386) gives correct inference results on post-padded inputs. It does so by [pre-processing the inputs before LSTM](https://github.com/onnx/keras-onnx/pull/386#issuecomment-590153002).

Can t

[2022-03-09 23:48] SludgePhD opened #1877 "TFLite conversion hangs or crashes with segfault"
**Describe the bug**
Attempting to convert https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_detection/face_detection_full_range_sparse.tflite to ONNX either results in a hang with no CPU/GPU usage, or in a segmentation fault.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Tensorflow Version: 2.8.0
- Python version: 3.10.2

**To

[2022-03-10 12:27] hwangdeyu commented on #1877
After my debugging, the code is crashed in https://github.com/onnx/tensorflow-onnx/blob/8f2e84bd8c7c37bda4bae0d549ea195a419b1e80/tf2onnx/tflite_utils.py#L202 when tflite wants to get the interpreter tensor detail when `i == 15`.
Get the same issue in tf repo https://github.com/tensorflow/tensorflow/issues/55040. I guess we can also trace it at the same time.

[2022-03-11 18:04] garymm commented on #1601
@YusukeSuzuki if the error is coming from `jax2tf`, please file an issue against JAX. If the issue is coming during `tf2onnx` please open a new issue in this repo with more details.

[2022-03-14 06:59] fatcat-z commented on #1789
Close it since no more questions.

[2022-03-14 06:59] #1789 closed

[2022-03-14 10:50] fatcat-z commented on #1043
It's been over 2 months, so closing this. Feel free to open a new one.

[2022-03-14 11:05] fatcat-z commented on #1634
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-14 11:05] #1634 closed

[2022-03-15 04:27] #4 closed

[2022-03-15 06:21] hwangdeyu commented on #1721
Closing due to lack of reply from the creator. If this is still an issue in the latest nightly tf2onnx, please open a new issue with clear repro instructions.

[2022-03-15 06:21] #1721 closed

[2022-03-15 06:24] #552 closed

[2022-03-15 06:35] fatcat-z commented on #571
The related PR was closed because of the lack of CLA, close it for now.

[2022-03-15 06:35] #571 closed

[2022-03-15 06:40] fatcat-z commented on #672
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-15 06:40] #672 closed

[2022-03-15 06:54] hwangdeyu commented on #1790
Closing due to lack of reply from the creator. If this is still an issue in the latest nightly tf2onnx, please open a new issue with clear repro instructions.

[2022-03-15 06:54] #1790 closed

[2022-03-15 07:58] fatcat-z commented on #986
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-15 07:58] #986 closed

[2022-03-15 14:55] microprediction commented on #1721
Yes agree

[2022-03-15 15:53] jcwchen commented on #1860
Thank you @fatcat-z so much for the fix. It seems that the onnx-weekly CIs has all succeeded. If yes, I can close this issue.

[2022-03-16 02:48] fatcat-z commented on #1782
It's been done by PR https://github.com/onnx/tensorflow-onnx/pull/1879.

[2022-03-16 02:48] #1782 closed

[2022-03-16 03:06] fatcat-z commented on #1860
Yes, it succeeds now. I will close this one and feel free to open a new one if it failed again.

[2022-03-16 03:06] #1860 closed

[2022-03-16 06:17] fatcat-z commented on #1108
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-16 06:17] #1108 closed

[2022-03-16 06:28] fatcat-z commented on #1682
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-16 06:28] #1682 closed

[2022-03-16 07:55] fatcat-z commented on #1716
Wait for user to fix related PR issue.

[2022-03-16 11:09] fatcat-z commented on #1719
Resolved this issue with a PR https://github.com/onnx/tensorflow-onnx/pull/1856. Close it.

[2022-03-16 11:09] #1719 closed

[2022-03-16 11:19] #1734 closed

[2022-03-16 11:23] fatcat-z commented on #1738
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-16 11:23] #1738 closed

[2022-03-16 12:00] Hyrtsi commented on #77
There are plenty of answers already. None of them fixed it for me so I'd like to share you how I fixed it. Hopefully I save someone elses time even though my solution isn't that fancy.

My error:
[code]

The command I used:
[code]
The code and model I used: https://github.com/swook/GazeML -> ELG model

My system:
- Ubuntu 20.04
- Python 3.7.12
- Tensorflow 1.15
- Tensorflow-gpu 1.15
- tf2onnx 1.9.

[2022-03-16 12:10] fatcat-z commented on #1745
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-16 12:10] #1745 closed

[2022-03-16 12:20] fatcat-z commented on #1755
Probably this is an issue relative to Tensorflow because it is not aiming to convert it to an ONNX file.

Closing it and feel free to file a new one if I'm not correct.

[2022-03-16 12:20] #1755 closed

[2022-03-16 12:21] hwangdeyu commented on #1740
This script result of this issue is changed cause https://github.com/onnx/tensorflow-onnx/issues/1741 added the optimize() logic for tf1 keras conversion.
Please consider creating a new issue if there are leftover issues.

[2022-03-16 12:21] #1740 closed

[2022-03-16 12:28] fatcat-z commented on #1767
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-16 12:28] #1767 closed

[2022-03-16 13:35] Hyrtsi commented on #801
I had the same issue. Downgrading `tensorflow-gpu` from 1.15 to 1.14 and `tensorflow` from 1.15 to 1.14 solved it for me.

[2022-03-17 03:28] Mr-bor commented on #1877
The same question is happen when i convert model from [https://github.com/google/mediapipe/blob/master/mediapipe/modules/pose_detection/pose_detection.tflite](url)

[2022-03-17 03:36] YusukeSuzuki commented on #1601
@garymm It's not error or problem. It's workaround for original issue.

[2022-03-17 08:04] hwangdeyu commented on #1871
Thank you so much for so detailed issue, I am not very familiar with this part. I guess the keras2onnx is a good example to fix it. Need to do more investigation for it. Is there any model blocked by this issues?

[2022-03-17 17:01] q-ycong-p commented on #1871
Hi, thank you for following up. Yes, we have an older model trained with TF-2.4 that converts with keras2onnx correctly. With keras2onnx deprecated and TF upgraded to TF-2.8, we need to correctly convert the model with tf2onnx. The production model is tricky to share but above minimal example should reproduce the issue. Will the community be able to take a look soon?

[2022-03-17 19:02] guschmue commented on #1601
perfect, thanks!!

[2022-03-17 20:10] kafan1986 opened #1882 "Unable to convet tflite to onnx model"
I am unable to convert the following model from tflite to onnx. It throws some assertion error assert(rank == len(ot.shape)) I have attached model
[sample_model.zip](https://github.com/onnx/tensorflow-onnx/files/8290868/sample_model.zip)

[2022-03-18 06:29] hwangdeyu commented on #1844
Someone posted a request https://github.com/onnx/onnx/issues/4057 to ONNX community.

[2022-03-18 07:02] hwangdeyu commented on #1882
I can convert it successfully by using
[code]
tensorflow=2.7.0, onnx=1.10.2

[sample_model_onnx.zip](https://github.com/onnx/tensorflow-onnx/files/8302284/sample_model_onnx.zip)

[2022-03-18 09:48] fatcat-z commented on #1804
The results for me are same, could you please try them with latest version of tensorflow, onnxruntime and tf2onnx?

[2022-03-18 09:56] fatcat-z commented on #1805
Close this since the issue has been addressed.

[2022-03-18 09:56] #1805 closed

[2022-03-18 10:29] #1882 closed

[2022-03-18 10:47] kafan1986 commented on #1882
@hwangdeyu Is there a provision of adding a dynamic axis for batch inference while converting from tflite to onnx?

[2022-03-18 12:22] josephrocca commented on #1864
Hey @fatcat-z I'm wondering if there is any expected ETA on support for these ops? Particularly for `PartitionedCall`, since I'm running into it with other models too like with [this web test](https://github.com/josephrocca/jax-md-web-test) of [JAX-MD](https://github.com/google/jax-md).

I'm obviously in no position to try to rush you on this, but just curious if there is a rough estimate to help

[2022-03-19 07:43] fatcat-z commented on #1807
According to the definition of Conv [here](https://github.com/onnx/onnx/blob/main/docs/Operators.md#Conv), kernel_shape should be a list of ints so using INTS is expected.

[2022-03-19 08:13] fatcat-z commented on #1809
Could you please share the related code which will cause such issue so we can do a local repro for a further investigation?

[2022-03-19 08:45] fatcat-z commented on #1814
Starting from opset 10, tf2onnx changed the way to handle StridedSlice op and accepted "new_axis_mask" attribute. So your solution is expected.

[2022-03-19 09:07] maybeLee commented on #1807
Hi @fatcat-z, thanks for your reply!
I now understand that the kernel_shape should be a list of ints. However, I think the problem of the output kernel_shape is that it should be
[code]
instead of
[code]

In fact, the reason I post this issue is that I was using a library: [onnx2pytorch](https://github.com/ToriML/onnx2pytorch) to convert the ONNX outputted by `tf2onnx` to PyTorch. However, this li

[2022-03-19 09:46] fatcat-z commented on #1820
TensorRT doesn't support INT64. Is it possible to change the weights from INT64 to INT32 for your case?

[2022-03-19 09:47] fatcat-z commented on #1821
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-19 09:47] #1821 closed

[2022-03-19 09:50] fatcat-z commented on #1822
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-19 09:50] #1822 closed

[2022-03-19 12:45] fatcat-z commented on #1829
This is expected.

There are still some tensorflow ops which could not be supported by ONNX, so tf2onnx has no idea to convert it to a correct ONNX op. But the strategy of tf2onnx for such case is: exporting the ONNX file successfully even there are any unknown ops in final ONNX file. And there will be some error messages during the converting.

Since these ops are not recognized by ONNX as well a

[2022-03-19 12:57] fatcat-z commented on #1830
For now, op Complex is still not supported by tf2onnx yet, but ComplexAbs is supported.

[2022-03-19 13:02] fatcat-z commented on #1864
No, there is no ETA for these ops yet, but they are on the plate. And any contributions to this are definitely welcome!

[2022-03-19 13:06] fatcat-z commented on #1807
Good catch, sounds like there are something we can do.

BTW, your contributions are also welcome to resolve this issue!

[2022-03-19 14:28] hwangdeyu commented on #1812
No more user response. It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-03-19 14:28] #1812 closed

[2022-03-20 12:46] fatcat-z commented on #1831
Given the conversion is valid so closing this. Please feel free to file a new one if any further questions.

[2022-03-20 12:46] #1831 closed

[2022-03-20 13:03] fatcat-z commented on #1838
Closing this since it is an issue of ONNX.

[2022-03-20 13:03] #1838 closed

[2022-03-21 04:04] fatcat-z commented on #1848
@iolkhovsky ,

Could you please help me to understand the meaning of a model without any inputs? In such case, what's the expected meaning of inference output?

[2022-03-21 04:10] fatcat-z commented on #1849
@iolkhovsky ,

You contributions are definitely appreciated for fixing this issue. You may add some tests in https://github.com/onnx/tensorflow-onnx/blob/main/tests/test_backend.py file to validate the new behavior. And if you submit a PR, the CI will help us to check if anything existed is broken.

[2022-03-21 05:36] fatcat-z commented on #1854
Is it possible to share your model with us for a further investigation? Did you try opset 10?

[2022-03-21 06:04] #1872 closed

[2022-03-21 06:12] fatcat-z commented on #1868
You are welcome to submit a PR like you did in another issue as a contribution. We will help on the review and the CI will guarantee it won't break our existing scenarios.

[2022-03-21 07:49] iolkhovsky commented on #1848
@fatcat-z
Hi and thanks for your response.

I understand that from the first look my suggestion may sound a little bit strange, but let me clarify the idea by the next points:
1. I consider tf2onnx as a tool intended to convert any abstract TF computational graph into ONNX representation (if the first one is formally valid). Trivial graph without inputs (such as one [constant node](https://github.

[2022-03-21 07:57] iolkhovsky commented on #1849
Hi @fatcat-z

Thank you for the response. I'll try to prepare the tests as soon as I can.

[2022-03-21 13:37] CarlPoirier commented on #1809
Sure, so I put the initial and broken models in a zip file which you can download from [here](https://bit.ly/3wt76nw).

I modified the optimize script initially just to narrow down the problem to the transpose optimizer, but for reproduction purposes I use the original script this way :
`$ python onnx-optimize.py --input test_transpose.onnx --output test_transpose_broken.onnx
2022-03-21 14:00:16.1

[2022-03-21 14:12] hwangdeyu commented on #1836
Hi @miraclecorp,
Tf2onnx is not supported `tf.contrib` ops currently by the converter.
The only solution is load the tensorflow_library with `.so` file. And then implement all the ops by conbinding with exsiting ONNX ops or implement ops kernel in ONNXRuntime.
I wrote a doc for how to convert with custom ops example. [custom_op.md](https://github.com/onnx/tensorflow-onnx/blob/3c4bd4e9a93c17dde723b

[2022-03-21 21:34] garymm opened #1884 "Drop support for Python 3.6"
Python foundation [has stopped supporting Python 3.6](https://peps.python.org/pep-0494/). So should we.

[2022-03-21 22:00] hombreola opened #1886 "Cannot export Keras TextVectorization to ONNX"
Describe the bug
A simple model with a TextVectorization layer cannot be converted to ONNX

System information

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
    Tf2onnx version: 1.9.3
    Tensorflow Version: 2.8.0
    Python version: 3.7.11

To Reproduce
[code]
Running the above snippet produces the following output:
[code]
And the ONNX prediction is wrong:
[code]
Expe

[2022-03-22 05:16] snnn commented on #1062
I have the same question: does it need be supported in ONNX Runtime or this converter? Have you ever found such a model in TF?  I couldn't. ref:  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/common_shape_fns.cc#L35

[2022-03-22 08:23] hwangdeyu commented on #1882
You can try to use the parameter [--inputs---outputs](https://github.com/onnx/tensorflow-onnx#--inputs---outputs) and use  `-1` to indicate unknown dimensions.

[2022-03-22 09:08] hwangdeyu commented on #1884
Sure, list what we need to do.
- remove the dropped support grammar in Python 3.6
- remove Python 3.6 and add the Python 3.9
- amend the related doc

[2022-03-22 21:29] tperciano opened #1890 "Problem with a specific op"
**Describe the bug**

I'm converting a tensorflow model to onnx but I get an error regarding an unsupported op:

2022-03-22 14:06:04,087 - ERROR - Tensorflow op [StatefulPartitionedCall/triangular_solve/MatrixTriangularSolve: MatrixTriangularSolve] is not supported
2022-03-22 14:06:04,088 - ERROR - Tensorflow op [StatefulPartitionedCall/triangular_solve_1/MatrixTriangularSolve: MatrixTriangularSol

[2022-03-23 05:55] liguang-ops opened #1891 "how to assign batchsize to 1"
**Describe the bug**
Here are my python model
[code]
then, in shell
[code]
when i see the structure of onnx model using Netron
![image](https://user-images.githubusercontent.com/55933360/159632523-cfa4df1c-b121-4344-aaf8-20707c4b659f.png)
,the batchsize and the output size is not constant. it prevents me from using tensorrt to convert onnx model to trt.

**System information**
- OS Platform and Di

[2022-03-24 05:47] fatcat-z opened #1893 "Try to sync an issue to ADO."
This is a test to check if we can sync a GITHUB issue to ADO successfully.

[2022-03-24 06:39] hwangdeyu commented on #1886
An error from `RaggedTensorToTensor` conversion. https://github.com/onnx/tensorflow-onnx/blob/6003d4c012cb9ce5ac87e40ca4e50d974ca80329/tf2onnx/onnx_opset/tensor.py#L2568
Need to do more investigation to get how it works.

[2022-03-24 07:36] hombreola commented on #1886
Thanks for your reply Huang.

Based on your comment I tried to skip the RaggedTensorToTensor conversion by adding the "ragged=True" parameter to the TextVectorization constructor, however I now get a different issue when calling tf2onnx.convert.from_keras:
[code]
Any idea what might be causing this?

[2022-03-25 04:27] hwangdeyu commented on #1886
RaggedTensor can not get the name as attribute, if you can repalce [line307-308](https://github.com/onnx/tensorflow-onnx/blob/6003d4c012cb9ce5ac87e40ca4e50d974ca80329/tf2onnx/convert.py#L307) to below code,
[code]
Then the code will work. However, it will encounter other shape issue...

[2022-03-25 05:50] wwdok opened #1894 "Question：how to connvert mediapipe tflite model with custom ops to onnx"
I also asked this question at StackOverFlow : https://stackoverflow.com/questions/71612332/how-to-connvert-mediapipe-tflite-model-to-onnx, I am not familiar with model conversion with unsupported ops, could anyone provide a guide or help ?

[2022-03-25 12:41] r-remus commented on #1778
:+1: I'd really like to see TensorScatterAdd be added to tf2onnx as well.

[2022-03-25 17:14] hombreola commented on #1886
Indeed, I applied your proposed fix but still get a wrong model:
[code]
Below is the generated model:
![test onnx](https://user-images.githubusercontent.com/32708500/160169132-5aba3c28-27f3-4fe8-962a-5f9216b55088.png)

[2022-03-26 12:34] AmmarkoV opened #1895 "Add support for controlling output ONNX model precision"
Hello this is a feature request for an --mp "Model Precision" parameter that will influence the output model precision.
for example :

[code]
To create an FP32 model

[code]
To create an FP16 model

[code]
To create an INT8 model

[2022-03-28 09:15] hwangdeyu commented on #1891
This should be a keras issue. Please refer to https://stackoverflow.com/questions/55882176/how-to-fix-the-batch-size-in-keras or set the `batch_input_shape`. Or create a issue in keras repo.

[2022-03-28 09:15] #1891 closed

[2022-03-29 02:27] felker commented on #1793
Let me know if I should open an Issue about this documentation request, like I did for https://github.com/onnx/onnx-tensorflow/issues/1010. It would be great if a nearly identical snippet could also be added here:

[2022-03-29 16:38] ed-mr commented on #1865
I may have found a reason for the issue. But this still does not solve my problem at all. It looks like the Conv operator (in opset 11) simply does not support storage_order. It looks like onnx implementation is only supporting the pyTorch implementation  NCW and not the storage_order KERAS supports. (https://github.com/onnx/onnx/discussions/4099: for Conv, storage_order is not available?)

[2022-03-30 15:18] r-remus opened #1899 "Converting a TensorFlow model that accumulates data via a tf.TensorArray in a nested while-loop fails"
**Describe the bug**
Converting a TensorFlow model that accumulates data via a ```tf.TensorArray``` in a nested for-loop fails.

**Urgency**
None

**System information**
- OS Platform and Distribution: Ubuntu 20.04.4 LTS
- Tensorflow Version: 2.7.0
- Python version: 3.9
- tf2onnx: v1.9.3, ```pip install git+https://github.com/onnx/tensorflow-onnx```

**To Reproduce**
The following pytest unit test

[2022-03-31 02:58] hanzigs opened #1900 "tf2onnx==1.9.3 installation error in python 3.10.0"
Hi,
I am upgrading my python to 3.10.0, currently using 3.9.5 where tf2onnx==1.9.2 working good.
I installed 1.9.2 and 1.9.3 in py3.10.0, I am getting following error while installing
May I have some help please
[code]

[2022-03-31 09:52] maybeLee opened #1901 "Very slow (over 8 minutes) when converting keras UpSampling1D layer to ONNX given a tensor with large tensor shape"
**Describe the bug**
Not sure if it is expected behavior, I was converting a densenet-like model trained by Keras and I notice that it takes tf2onnx over 18 minutes to convert this model to onnx. After some attempts, I simplify this performance issue to a keras model with only one layer: UnSampling1D. The triggering condition is to give this UpSampling1D a tensor with a large shape: (batch_size, 2

[2022-03-31 15:44] ulucsahin commented on #1705
Disabling inference optimizations solves this issue.

[code]

[2022-03-31 17:56] aosadchyy opened #1902 "Constant in the Reshape operator on s390x architecture (big endian) is a large number 268632064 (expected 784 as on x86)"
**Dubugging advice**
Converting TF model to onnx on s390x succeeds, but the resulting onnx file includes a large number 268632064 in Reshape operator.
python3 -m tf2onnx.convert --opset 15  --fold_const --saved-model mnist_seqdnn --output mnist_seqdnn_s390x.onnx

The workaround is to run the tf2.convert on x86. The resulting onnx file then has the correct number 784 in Reshape operator.
python3 -m

[2022-04-01 09:35] mazeltovlee opened #1903 "Failed to apply optimize_transpose error when converting a two-layer keras model"
**Describe the bug**
Although I find many closed issues talking about the `Failed to apply optimize_*` problem, I think it may still be a unique issue that is unsolved since the root cause may be different. In short, I was building a model using keras and converting it to onnx using `tf2onnx`, during the job, I notice this error message even though the ONNX model is successfully generated. I simpl

[2022-04-01 10:43] hwangdeyu commented on #1809
This issue is encounter in this function. https://github.com/onnx/tensorflow-onnx/blob/0e3720c9aba21c8572f26f67f86c81821bf353d6/tf2onnx/optimizer/transpose_optimizer.py#L241
Need to do more investigation to check if there is any error.

[2022-04-01 11:59] wwdok commented on #1894
This has been solved in https://github.com/PINTO0309/PINTO_model_zoo/issues/143

[2022-04-01 11:59] #1894 closed

[2022-04-02 03:44] hwangdeyu commented on #1900
Thanks! Will support python 3.10 later.

[2022-04-07 11:57] r-remus opened #1905 "Add support for user-defined ONNX metadata"
Are there plans to support adding ONNX meta data to an exported model, or is it even already possible to include ONNX metadata when using tf2onnx?

[2022-04-07 16:42] SEHAIRIKamal opened #1906 "Coverted Tensorflow2 saved model to ONNX model returns Unknown C++ exception from OpenCV code"
Hi all,
I am trying to convert my exported TensorFlow 2 model trained on my own dataset to onnx format using tf2onnx . the aim is to use it with OpenCV dnn.readNetFromONNX function. For Conversion, I used the following code since I am using TensorFlow 2
`python -m tf2onnx.convert --saved-model tensorflow-model-path --output model.onnx --opset 15`
The conversion process generates successfully the m

[2022-04-08 03:42] zhangyingbit commented on #883
I faced this problem too when I converted Yolact model from Pytorch->onnx->TensorRT.  I fixed it by adding the line below to the progress Pytorch->onnx.

[code]
Hope it can help.

[2022-04-11 01:08] fatcat-z opened #1910 "Convert NHWC transpose as ONNX Local Function during export."
The original model is in TFLite, with NHWC format. When export to ONNX, because there is no NCHW format in ONNX, exporter spend quite big efforts to convert it to NCHW and eliminate the transposes. Then in ONNXRUNTIME, to make it work on a backend that only supports NHWC, we need spend another big effort to convert it back to NHWC and eliminate those transposes.

Here is a proposal to leverage loc

[2022-04-11 05:36] fatcat-z commented on #1905
Could you please provide details about what meta data you are looking for? Currently, tf2onnx will include some meta data, like producer, op domain and version, in the final ONNX file.

[2022-04-11 05:43] r-remus commented on #1905
Sorry, I wasn't specific enough. I'm talking about **user-defined meta data**, i.e. arbitrary key-value pairs that one could use to store whatever may be needed (e.g., expected input value ranges, output value ranges, own versioning etc.).

I adapted the issue title accordingly.

[2022-04-11 08:09] ed-mr commented on #1910
I just tried to convince the onnx guys to enhance the conv operator according your issue see [#4099](https://github.com/onnx/onnx/discussions/4099). It seems reasonable, that not every frontend has to find Transpose-Conv operators and the  backends to support the additional ConvTranspose operators. Instead of supporting "storage_order" as a simple attribute. That way, none of the backends and runt

[2022-04-11 18:55] garymm commented on #1910
Any reason to not re-use the existing names that are used by setting `--target=nhwc` for these local functions?

[2022-04-11 22:40] garymm opened #1911 "Update default op set version and document update policy"
Default should be (latest as of 18 months ago).

[2022-04-11 22:40] garymm commented on #1893
Not needed anymore.

[2022-04-11 22:42] garymm opened #1912 "upgrade keras related CI jobs to tf 2.8.0"
In latest tf version, some existing functions/models have been removed from tensorflow.python.keras namespace.

Could not figure it out with one simple solution, need some extra efforts to find out a good solution.

[2022-04-12 03:16] fatcat-z commented on #1910
I believe current proposal is only for our current experiment. When we make a progress, we can figure out these details.

[2022-04-12 03:17] fatcat-z commented on #1910
No, this is not a new operator, but only a local function.

[2022-04-12 05:40] r-remus commented on #1905
Will you consider this at all or should we just close this issue then? I'm happy to contribute in this regard, by the way.

[2022-04-12 07:55] Hyrtsi commented on #77
@flyzyh could you share the code you used and the error message you got?

[2022-04-14 07:12] ed-mr commented on #1910
In the discussion [#4099](https://github.com/onnx/onnx/discussions/4099), the onnx community may be supporting the operator (or as local function - since it has to be an operator first) only if there is a strong support for it or better to say if a group of people demand it "whether they are popular enough to make them standard", since it is very popular. From the tf.keras side, I do see the deman

[2022-04-14 07:27] Meimin-Wang opened #1913 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte"
[code]
The output as follows:
[code]
Besides,
[code]
Perform fail and the error info as follows:

WARNING:tensorflow:From /tmp/tianmao/mindconverter_examples/test.py:13: The name tf.GraphDef is deprecated. Please use tf.compat.v1.GraphDef instead.

WARNING:tensorflow:From /opt/conda/envs/ms/lib/python3.7/site-packages/tf2onnx/tf_loader.py:305: convert_variables_to_constants (from tensorflow.python

[2022-04-14 11:13] Smile-L-up opened #1914 "Load the ONNX model error"
Thank you for your work. I'd like to ask you a question . I tried to convert the pb file of the distillation model Albert Tiny CRF into ONNX format and load the model using the ONNX engine. However, the following error occurred during loading.

**onnxruntime.capi.onnxruntime_pybind11_state.Fail: [ONNXRuntimeError] : 1 : FAIL : Load model from D:\Smile_L\new_too1\albert_crf_inference\ner\engines\mo

[2022-04-15 06:47] ultimatedigiman opened #1915 "Conv2d_transpose requires asymmetric padding which the CUDA EP currently does not support"
**Describe the bug**
After successfully converting a tensorflow frozen graph(.pb) into a .oonx model, I encountered a warning while inferring the onnx model with onnxruntime-gpu in python.
The warning says the **conv2d_transpose** op is not supported because it requires **asymmetric padding** which the CUDA EP currently does not support.

But it's strange that I found  **ConvTranspose** is in [Sup

[2022-04-15 08:30] #1914 closed

[2022-04-18 12:36] buptqq opened #1916 "How can i specified the layout of LSTM operator from tensorflow to onnx?"
LSTM operator in ONNX has an attribute which is layout.
![image](https://user-images.githubusercontent.com/20453241/163808903-ebb3a6a8-ba73-4284-92c9-4fa15861df01.png)
But I use tf2onnx convert a protobuf which has lstm, i found that the onnx has insert Transpose operator after input and before output.
If I want the lstm layout in onnx model is:  X.shape : [batch_size, seq_len, num_directions, hid

[2022-04-20 14:53] #1852 closed

[2022-04-21 08:00] hwangdeyu commented on #1809
Hi @CarlPoirier
It's the `split` axes transpose optimizer issue. Once we deleted the `transpose` op, the `split` op axes should be changed at the same time.
https://github.com/onnx/tensorflow-onnx/pull/1918 would be helpful.

[2022-04-21 09:44] fatcat-z commented on #1916
Unfortunately, it's not supported yet and there is no plan for it so far.

[2022-04-21 09:44] #1916 closed

[2022-04-21 10:06] fatcat-z commented on #1915
The warning happened during inferring the onnx model by onnxruntime-gpu, so probably you should go to https://github.com/microsoft/onnxruntime to raise this issue.

[2022-04-21 11:51] CarlPoirier commented on #1809
Hi @hwangdeyu,

Nice! I'm looking forward to the next release.

Thanks for the time you spend onto this.

[2022-04-22 02:56] hwangdeyu opened #1920 "Release version 1.10.1"
Create a new release.

[2022-04-22 07:50] #1809 closed

[2022-04-23 21:43] ingenuityiot opened #1921 "tf2onnx creating empty and unuseable onnx model from SSD Mobilenet"
**Describe the bug**
When attempting to convert a TF SSD Mobilenet FPN model that has been trained via transfer learning from SavedModel to Onnx using tf2onnx  the optimizer outputs an empty model with just identity nodes as the place holder.

**Urgency**
None this is for a personal project and its impacting my personal schedule only

**System information**
- OS Platform and Distribution (e.g., Li

[2022-04-24 03:58] fatcat-z commented on #1906
I tried to export the onnx file and check them by onnx checker, it succeeded:

import onnx
onnx_model = onnx.load("model.onnx")
onnx.checker.check_model(onnx_model)

And if I run "net = cv2.dnn.readNetFromONNX('model.onnx')" code with cv2 4.5.5, it will break without any errors. But if we run the code with cv2 4.5.1 version, some details will be thrown:

cv2.error: OpenCV(4.5.1) /tmp/pip-req-build

[2022-04-24 05:07] fatcat-z commented on #1913
Could you please try to make an update like below in your code to read the file?

with open(model_file, 'rb') as f:

=>

with open(model_file, encoding="utf8", errors='ignore') as f:

[2022-04-24 16:09] #1836 closed

[2022-04-26 01:08] ultimatedigiman commented on #1915
[The onnxruntime repo](https://github.com/microsoft/onnxruntime/issues/11312) says **asymmetric padding** in `Conv` is already supported, but **asymmetric padding** in `ConvTranspose` is not yet supported.

[2022-04-26 18:46] cchan-lm commented on #1803
I have not yet found a workaround due to other efforts but do have to revisit this... @fatcat-z do you know of anything?

[2022-04-27 04:19] fatcat-z commented on #1903
I tried your code with tensorflow==2.7.1 and keras==2.7.0, it works well whil we set axis=-2. Could you please take another try?

For tensorflow 2.8.0, it looks like the tf frozen graph is different than previous versions which caused the issue you met above.

[2022-04-27 04:34] mazeltovlee commented on #1903
Hi, I have tried on tensorflow==2.7.1 and keras==2.7.0. The optimization error still insists when I set axis=-2. The tf2onnx's version is 1.9.3.
Since I reproduce the bug in the colab, not sure if it is the colab's problem.
Please see this link for the code:
https://colab.research.google.com/drive/1qhZREJ9c3wIfFTkO6aRKMHQXGUhwDA91?usp=sharing

[2022-04-27 05:54] fatcat-z commented on #1903
Got it, I'm using the tf2onnx nightly build which can work with tf 2.7.1 and keras 2.7.0 well. Please try it or wait for the next release.

[2022-04-27 06:12] mazeltovlee commented on #1903
Thanks for your fix!
May I know if you are going to fix this issue on the latest tf (2.8.0)?

[2022-04-27 07:43] fatcat-z commented on #1903
No plan for this yet.

[2022-04-28 06:24] w11wo opened #1925 "ERROR - Unsupported ops: Counter({'TFL_BATCH_MATMUL': 16})"
**Describe the bug**
Hi, I am getting this error when I tried to convert a TFLite quantized FastSpeech2 model. You can find the model weights [here](https://github.com/TensorSpeech/TensorFlowTTS/blob/master/examples/android/app/src/main/assets/fastspeech2_quant.tflite).

**Urgency**
None

**To Reproduce**
The command I'm running is
[code]

**Screenshots**
Logs:
[code]

As per my understanding, the

[2022-04-28 12:40] FrancescoTosetti commented on #1921
Hi @ingenuityiot  , probably you are using the TensorFlow 2 Object Detection API and you are providing the wrong Saved Model.

I think you have generated your model with this API:
`!python models/research/object_detection/export_tflite_graph_tf2.py \
    --trained_checkpoint_dir {YOUR CHECKPOINT DIR} \
    --output_directory {YOUR OUTPUT DIR} \
    --pipeline_config_path {YOUR PIPELINE.CONFIG}`
wh

[2022-05-02 14:51] goncaloLopesMarques opened #1926 "ERROR - Unsupported ops: Counter({'SigmoidGrad': 2, 'StridedSliceGrad': 1})"
**Bug Description**
I´m trying to convert a saved model to oonx file with this command line
"python -m tf2onnx.convert --saved-model "input path" --output "output path My_Class_Model.onnx" --opset 15"

and give me this errors:

**ERROR** - Unsupported ops: Counter({'SigmoidGrad': 2, 'StridedSliceGrad': 1})
**ERROR** - Tensorflow op [StatefulPartitionedCall/gradient_tape/grad_cam__class/model/Head_

[2022-05-03 18:27] ebaum-rapiscan opened #1927 "UnicodeDecodeError both ascii and utf-8"
**Describe the bug**
I believe I'm getting the same error as Meimin-Wang is in issue #1913.

I run:

[code]

I get:

[code]

I created a short script substantially the same as Meimin-Wangs and attempted to open the pb file with `with open(model_file, encoding="utf8", errors='ignore') as f:` as suggested by fatcat-z but I get the error `TypeError: a bytes-like object is required, not 'str'`. Trying

[2022-05-04 16:58] vilmara commented on #1038
hi all, did you find how to fix the issue` LookupTableImportV2 doesn't exist in graph` when converting saved model (.pb - AutoML version) to onnx?

[2022-05-04 16:59] vilmara opened #1928 "Converting AutoML saved model (.pb) to ONNX: LookupTableImportV2 doesn't exist in graph"
Hi, I am trying to optimize a TF saved_model (.pb) that was trained with Google AutoML (TF 2.7), and got the error: `LookupTableImportV2 doesn’t exist in graph`, see below

`saved_model_cli convert --dir test/saved_model --output_dir test/trt_model --tag_set serve tensorrt`

Error:

[code]

[2022-05-05 01:06] vilmara commented on #1928
Update:
Solved using the tflite version of the model (.tflite) instead of the saved model (.pb)

# Install the latest version of tf2onnx and TF

$ /usr/bin/python3 -m pip uninstall tf2onnx
$ /usr/bin/python3 -m pip install git+https://github.com/onnx/tensorflow-onnx
$ pip install tf-nightly-gpu
# Run the conversion with tflite version of the model
$ python -m tf2onnx.convert --opset 13 --tflite "p

[2022-05-05 13:27] Mypathissional opened #1929 "Turning off back-to-back optimizer does not fisable fusing batch normalization layers into convolutional layers"
**Describe the bug**
Hi, I was converting CenterNet([CenterNet HourGlass104 512x512](centernet_hg104_512x512_coco17_tpu-8) from Tensorflow Object Detection API(https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) with the Back-to-back optimizer turned off to disable the batchnorm fusion into conv layers following https://github.com/onnx/tensorflow-

[2022-05-05 14:36] goncaloLopesMarques commented on #1925
Hi, i had the same problem but with others ops. I found the solution.

Try to pass the ops in the command line like this:
python -m tf2onnx.convert --saved-model "your saved model" --output "your onnx file .onnx" --custom-ops SigmoidGrad:ai.onnx.cont,StridedSliceGrad:ai.onnx.cont  --opset 11

In the custom op just type the name your Op and :ai.onnx.cont lie "TFL_BATCH_MATMUL:ai.onnx.cont"

[2022-05-06 01:44] fatcat-z commented on #1925
Currently, this operator is not supported yet. And you can refer to https://github.com/onnx/tensorflow-onnx/blob/main/examples/tf_custom_op/custom_op.md for how to implement it as a custom op.

[2022-05-06 02:35] pxl5201314 commented on #1862
help would be appreciated also

[2022-05-06 05:07] r-remus commented on #1905
Okay, let's close it then.

[2022-05-06 05:07] #1905 closed

[2022-05-06 07:10] hwangdeyu commented on #1928
Hi @vilmara , you can close this issue if it was solved.

[2022-05-06 07:32] fatcat-z commented on #1926
These 2 ops are not supported yet and there is no plan so far.

[2022-05-06 07:40] hwangdeyu commented on #1929
The fusion logic of `Conv` and `BatchNormalization` do in back-to-back optimizer. Could you check if your model conversion process is passed through the below code?  https://github.com/onnx/tensorflow-onnx/blob/c67bcfb580be741ece8d9978a9b57bd2ce7367ee/tf2onnx/optimizer/back_to_back_optimizer.py#L191

[2022-05-06 08:12] fatcat-z commented on #1927
Could you please share the code of to-onnx.py file? It should not be sensitive, right?

[2022-05-06 11:40] Mypathissional commented on #1929
@hwangdeyu no, I am printing a message both at the beginning of the  _optimize_conv_batchnorm_fusion(g, node, consumer_nodes) and in optimize_graph(graph, catch_errors=True, optimizers=None) in optimizer init file.  It is entering optimize_graph. but not _optimize_conv_batchnorm_fusion and some kind of fusion is still happening because the node name is changed.

[2022-05-06 13:42] Mypathissional commented on #1929
i guess the problem might be not in the fusing but in the type of the batchnormalization layer used which is SyncBatchNormalization.
I have prepared a minimal example for it. For this code the exported model does not have the batchnorms
[code]
Can this be a problem?
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/29062197/167144779-fe0b2118-689a-40fd-b215-248cfaf70877.

[2022-05-06 20:59] #1928 closed

[2022-05-07 09:46] doomooo opened #1932 "Hardcoded UInt8 idtype in FakeQuantWithMinMaxArgs, unsupported in TensorRT"
These two lines look odd to me... Why hard code the input dtype to uint8?
Such type is **unsupported in TensorRT**. How can I avoid such problems when I convert QAT int8 model to onnx and then to TensorRT?
https://github.com/onnx/tensorflow-onnx/blob/482330f9958eb45c805933f04e2b0a5c7a494f23/tf2onnx/onnx_opset/quantize.py#L57

[2022-05-09 06:13] hwangdeyu commented on #1809
1.10.1 has released. ☺

[2022-05-09 06:42] hwangdeyu commented on #1920
- GitHub: https://github.com/onnx/tensorflow-onnx/releases/tag/v1.10.1
- PyPI: https://pypi.org/project/tf2onnx/#history.

Updated https://github.com/onnx/tensorflow-onnx/wiki/Release-to-pypi-procedure.

[2022-05-09 06:42] #1920 closed

[2022-05-09 08:36] fatcat-z commented on #1927
Or, could you please try the command below to see if it works?

python -m tf2onnx.convert --opset 15 --saved-model frozen_inference_graph.pb --output frozen_inference_graph.onnx --inputs encoded_image_string_tensor:0 --outputs detection_boxes:0,detection_scores:0,detection_classes:0,num_detections:0

[2022-05-09 19:48] LongTwig commented on #1867
Did anyone find a solution to this, experiencing similar issue using LookupTableFindV2 with IntegerLookup

[2022-05-09 20:10] vineetparikh commented on #1848
^ In addition, this causes problems when attempting to convert a function that accepts an input shape with more than one value: `onnx_proto, _ = tf2onnx.convert.from_function(control_model_function, input_signature=np.asarray([[1,784]]))` should be correct (where control_model_function is a `tf.Function`), but because of this check (which checks if the value is truthy or falsy instead of checking

[2022-05-10 03:09] fatcat-z commented on #1906
Closing this. Feel free to open a new one if the issue still exists.

[2022-05-10 03:09] #1906 closed

[2022-05-10 09:00] hwangdeyu opened #1935 "Opset 16 support"
[Latest ONNX release](https://github.com/onnx/onnx/releases) has supported opset version 16.

[ScatterElements](https://github.com/onnx/onnx/blob/main/docs/Changelog.md#ScatterElements-16), add reduction attribute.
[ScatterND](https://github.com/onnx/onnx/blob/main/docs/Changelog.md#ScatterND-16), add reduction attribute.
[RoiAlign](https://github.com/onnx/onnx/blob/main/docs/Changelog.md#roialign

[2022-05-10 09:15] hwangdeyu commented on #1929
Hi @Mypathissional ,
I think it's a expected behavior for tensorflow-onnx.

Cause when I do the convert script, there is no `BatchNormalization` op, even before running the optimizer conversion.
[code]
However, if we change `tf.keras.layers.experimental.SyncBatchNormalization()` to `tf.keras.layers.BatchNormalization()`, the op would be shown.
[code]

[2022-05-10 09:31] SEHAIRIKamal commented on #1906
Hi,
Thanks a lot for your reply.
I successfully ran the model using ONNXRuntime, but not with OpenCV.
The OpenCV DNN module (4.5 and <) is not compatible with TF2.

[2022-05-10 09:32] Mypathissional commented on #1929
@hwangdeyu Can you tell just for my understanding what happens when the operation that is present in the saved model but not present in the onnx operations? Is this operation just getting skipped?

[2022-05-11 04:19] hwangdeyu commented on #1929
I don't know how `experimental.SyncBatchNormalization()` works with deep implementation.
From what I've seen so far, the op is not presented in save model neither.
There is a `FusedBatchNormV3` in `tf.keras.layers.BatchNormalization()` saved model ops:
[code]
But it's missing this op in `tf.keras.layers.experimental.SyncBatchNormalization()` saved model ops:
[code]

[2022-05-11 05:39] Agoniii commented on #1485
Hi @TomWildenhain-Microsoft I met the same error. Could you give me some suggestion?
Here is my code.
[code]
The error is
[code]

[2022-05-11 07:48] iolkhovsky commented on #1848
@fatcat-z

[2022-05-11 08:16] josephrocca commented on #1864
I noticed that this has the tag "pending on user response", so I'm just responding in case this issue is stalled due to that tag. Also might as well note here that conversion of [LiT](https://github.com/google-research/vision_transformer#lit-models) runs into the same problem - lack of support for `PartitionedCall` ([minimal replication notebook](https://colab.research.google.com/drive/1mrZCcb53In

[2022-05-11 09:47] hwangdeyu commented on #1932
It seems from PR commit [fix operator for fakequantize](https://github.com/onnx/tensorflow-onnx/commit/e3bc51c688e6e73b575b9bb127efee3fb32cd7df#diff-3c122aaf1f537d28d174a17c7f55671aba381a200d4e5d3736329ad29df222deR32) and output type constraint could be int8 in ONNX spec [quantizelinear-13](https://github.com/onnx/onnx/blob/main/docs/Changelog.md#quantizelinear-13). Need to do more investigation.

[2022-05-11 11:25] goncaloLopesMarques commented on #1926
@fatcat-z and no custom domain to add to custom ops? nothing? any tutorial to add this ops?

[2022-05-11 12:19] soumya997 commented on #1805
@The-ButterflyEffect How do I get the input_name and output_name of the model?
[code]

The model I'm using is inceptionNet.

[2022-05-12 03:22] Agoniii opened #1936 "Convert error: Initialized table b'' for node LookupTableFindV2 not found"
**Describe the bug**
I converted tensorflow model to ONNX format, but I got this error
`ValueError: make_sure failure: Initialized table b'' for node TempHashTable_Lookup/LookupTableFindV2 not found.`
Same error: https://github.com/onnx/tensorflow-onnx/issues/1485#issue-869633065

**Urgency**
If there are particular important use cases blocked by this or strict project-related timelines, please sh

[2022-05-12 17:52] fatcat-z commented on #1848
Agree with you that the check should implement logic like "did the user pass anything?".
The current design in tf2onnx is: the final optimizers will eliminate all of nodes but leave an output only if there are no inputs to this function to be converted. So even the check is updated, probably the conversion won't help you too much because the final result will contain only 1 output node.

[2022-05-12 22:50] xadupre commented on #1932
How to choose between int8 or uint8? I don't remember if tensorflow is giving enough information to make the choice. Otherwise, it is possible to add an option to tensorflow to force to one type based at conversion time. Another possibility it to change the time after the conversion is done with a rewriter.

[2022-05-15 08:13] josephrocca commented on #1925
@fatcat-z Is it possible to get a custom op for `TFL_BATCH_MATMUL` working with ONNX Runtime *Web*? Or is the custom op route only for non-web runtimes? I'm having the same problem as @w11wo when trying to convert a tflite model.

[2022-05-15 23:27] ManishwarG commented on #436
I am trying to convert a custom developed model with a custom convolution layer and I implemented it with  `tf.image.extract_patches` and running in to this error while Coverting to tflite model.
"RuntimeError: Failed to initialize op resolver for calibration:
There are unresolved custom ops: [ExtractImagePatches]Encountered unresolved custom op: ExtractImagePatches."
I am using tensorflow=2.8
I k

[2022-05-15 23:27] ManishwarG commented on #436
I am trying to convert a custom developed model with a custom convolution layer and I implemented it with  `tf.image.extract_patches` and running in to this error while Coverting to tflite model.
"RuntimeError: Failed to initialize op resolver for calibration:
There are unresolved custom ops: [ExtractImagePatches]Encountered unresolved custom op: ExtractImagePatches."
I am using tensorflow=2.8
I k

[2022-05-16 18:17] josephrocca opened #1938 "Feature request: tf2onnx.convert.from_tflite"
Wondering if this is on the road map, since the other formats all have a Python API for programmatic conversion?

[2022-05-16 18:37] josephrocca opened #1939 "ValueError: make_sure failure: Only keep_num_dims=False supported for fully connected op"
**Describe the bug**
The error in the title is produced when converting a tflite file to ONNX via `tf2onnx.convert`. The tflite file was was produced by converting a JAX function to tflite via `tf.lite.TFLiteConverter.experimental_from_jax` as shown in the Colab notebook linked below.

**Urgency**
No hard deadline.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

[2022-05-17 08:04] fatcat-z commented on #1926
These 2 ops are TensorFlow op so we don't add them as a custom op. You can convert them to ONNX op with the default domain.

Please feel free to refer to https://github.com/onnx/tensorflow-onnx/pull/253/files for how to convert a TensorFlow op to an ONNX op.

[2022-05-17 08:12] fatcat-z commented on #1925
After the conversion, TFL_BATCH_MATMUL should be replaced with ONNX ops in the final graph. The final ONNX graph could be used by both ONNXRuntime web and non-web.

[2022-05-17 08:49] fatcat-z commented on #1915
This is an ONNXRuntime issue so close it.

[2022-05-17 08:49] #1915 closed

[2022-05-17 18:28] CarlPoirier opened #1941 "Using TransposeOptimizer breaks model (again)"
**Describe the bug**
I have an onnx model on which I want to run the [onnx-optimize.py](https://github.com/onnx/tensorflow-onnx/blob/master/tools/onnx-optimize.py) script. All the optimizers work fine except the TransposeOptimizer. When I use it, my onnx model is not working anymore, with onnxruntime at least. I get this error :

`[ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code r

[2022-05-17 18:32] CarlPoirier commented on #1809
Hi @hwangdeyu, It does work now for the models I had linked earlier using tf2onnx 1.10.1, but it seems there are still some issues with some other models. I opened a new issue, #1941 .

[2022-05-18 03:50] fatcat-z commented on #1936
Please refer to [here ](https://github.com/onnx/tensorflow-onnx/blob/772dbe605e94880d4cbf8e9e1ed9ce9517b89c64/tests/test_api.py#L202) for a correct call to tf2onnx api to convert this model to an ONNX model.

[2022-05-18 08:50] hwangdeyu opened #1943 "Support for tensorflowjs 3.17"
5 tests are failed with latest [TensorFlowJS vesion 3.17](https://github.com/tensorflow/tfjs/releases/tag/tfjs-v3.17.0), which have skiped so far. Need to support it in the future.

https://github.com/onnx/tensorflow-onnx/blob/772dbe605e94880d4cbf8e9e1ed9ce9517b89c64/tests/test_cond.py#L121

https://github.com/onnx/tensorflow-onnx/blob/772dbe605e94880d4cbf8e9e1ed9ce9517b89c64/tests/test_loops.py#L

[2022-05-18 09:26] fatcat-z commented on #1936
There are several limitations right now for conversion:
1. Please set a shared_name when you initialized tf.contrib.lookup.HashTable(). Then construct an initialized_tables and pass it into process_tf_graph() method. This is required by LookupTableFindV2 op.
2. Right now, we can only support key's dtype is String and value's dtype is INT64. probably you need to change keys and values as below and

[2022-05-20 03:44] zhenhao-huang opened #1944 "How can i use the command line to convert keras(.h5) to onnx?"

[2022-05-20 07:59] sid1276 opened #1945 "Facing Error with FSRCN model conversion to onnx."
I am unable to convert FSRCN SR model into .onnx format because of below error. Can Anyone please help me with this

Use `tf.compat.v1.graph_util.extract_sub_graph`
Failed to convert node 'model_5/conv2d_transpose_5/BiasAdd' (fct=<bound method ConvTranspose.version_1 of <class 'tf2onnx.onnx_opset.nn.ConvTranspose'>>)
'OP=ConvTranspose\nName=model_5/conv2d_transpose_5/BiasAdd\nInputs:\n\tmodel_5/co

[2022-05-24 09:50] brooks0519 commented on #1705
hello @harrymort, have you finally solved this issue? I have the issue same to you, and I have try @ulucsahin method, but it dosn't work. Hope to get your reply. tks!

[2022-05-24 21:32] yuanyao-nv opened #1948 "Recurrent layers give rise to Loop layer with M=maxint"
**Describe the bug**
For some recurrent keras layers, tf2onnx returns a Loop layer with the `M` field set to maxint. This can give rise to memory issues for libraries that allocate memory based on this field (such as TensorRT).

Here is a minimal example involving `keras.SimpleRNN`:
[code]
Then convert to onnx with:
[code]
![image](https://user-images.githubusercontent.com/99693700/170135256-ad6af

[2022-05-25 10:31] fatcat-z commented on #1911
The attached PR has fixed this issue.

[2022-05-25 10:31] #1911 closed

[2022-05-26 03:20] #1925 closed

[2022-05-26 14:26] fatcat-z opened #1952 "CI pipline breaks because the latest version of protobuf."
It's related to the change: https://developers.google.com/protocol-buffers/docs/news/2022-05-06#python-updates

[2022-05-27 05:46] fatcat-z commented on #1877
Looks like this is relative to how tensorflow processes this model, has filed an issue https://github.com/tensorflow/tensorflow/issues/56283 to trace this problem to tensorflow.

[2022-05-28 22:49] Regenhardt commented on #1814
Just newly installed tf2onnx and ran into this issue using default values. Should the default opset be set higher to avoid these problems? I'd say ML is a fast enough moving field currently that newer features should be preferred to compatibility for now.

[2022-05-29 02:41] fatcat-z commented on #1814
Yes, there is another [PR](https://github.com/onnx/tensorflow-onnx/pull/1946) changing the default opset to 13. Please look forward to next release. Thanks!

[2022-05-30 03:39] hwangdeyu commented on #1900
Waitting for [ONNX PYPI](https://pypi.org/project/onnx/#files) Python 3.10 support.
https://github.com/onnx/onnx/issues/4110

[2022-05-30 04:51] Agoniii commented on #1936
Thanks @fatcat-z

[code]

But the model is error.
![image](https://user-images.githubusercontent.com/18502794/170919319-1c5cdd7e-30ee-4158-9ca6-48986c2a494f.png)

[2022-05-30 13:05] #1938 closed, assigned to fatcat-z

[2022-05-31 02:08] fatcat-z commented on #1945
Could you please specify the opset version to 10 when you try to call the api or script?

[2022-05-31 05:07] #1935 closed

[2022-05-31 08:54] hwangdeyu commented on #1778
Hi @r-remus @igalkr, thanks for your comments!
`TensorScatterAdd` has added with this PR [Add TensorScatterAdd op for opset 16](https://github.com/onnx/tensorflow-onnx/pull/1949).
You can try to convert it using latest main branch code or waitting for the next tf2onnx release.

[2022-05-31 17:50] meghendra opened #1956 "Is it possible to stop tf2onnx from removing subgraphs with constant outputs from TensorFlow SavedModel"
I am trying to convert a TF 2.0 object detection model: [SSD MobileNet v2 320x320](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz) to ONNX using tf2onnx using opset 13 as follows:

`python -m tf2onnx.convert --saved-model .\SSD_mobilenet\ --output .\SSDMobilenet_v2.onnx --opset 13`

What I observe is that the ONNX model removes cert

[2022-06-01 00:21] q-ycong-p commented on #1871
Hi @hwangdeyu and tf2onnx community, is there any plan on picking up this work soon?

[2022-06-02 08:57] hwangdeyu commented on #1943
Created an issue https://github.com/tensorflow/tfjs/issues/6487.

[2022-06-03 16:58] ponspack9 commented on #1867
Same problem here, with both IntegerLookup and StringLookup. They seem to be a problem also with TFLite

[2022-06-06 17:15] #1830 closed

[2022-06-06 17:17] lminer opened #1959 "[Feature Request]: Support for Real, Imag, Complex"
It would be great to get support for Real, Imag, and Complex. Anybody working with audio data has to deal with complex inputs and this is very difficult without support for these ops.

[2022-06-07 13:48] vilmara commented on #822
Hi @guschmue, any update on implementing TF `DecodeJpeg` operator in TF2ONNX or ONNX?.

[2022-06-07 16:14] guschmue commented on #822
no change - there is no DecodeJpeg in onnx so tf2onnx can not map it.

[2022-06-07 21:53] yuanyao-nv commented on #1948
In fact, looking at the Loop node more closely, the `cond` input is from the Less node's output, but A=0 and B=32 are const folded into the Less node, so the `cond` condition will always be true and `M` is also set to int max. Is this a bug?

[2022-06-09 04:50] tdsuper opened #1961 "input with dynamic dimensions for depthwise_conv2d"
I am trying to convert a tensorflow model with `depthwise_conv2d` operation to onnx.

However, if the input has dynamic dimensions such as `tf.placeholder(tf.float32, [1, None, None, 3], name='input')`, tf2onnx will report error **input channel must be positive**.

I have also tried to specify the width and height of input, tf2onnx can succefully convert the model. It seems like that [k_input_chan

[2022-06-09 10:57] hwangdeyu commented on #1948
Hi @yuanyao-nv , thanks for your issue contribution and sorry for the slowly reply.
After my debug, this max_int is originally from
https://github.com/onnx/tensorflow-onnx/blob/a8f78ac7903493dee579304b7b1717aa9ec9706f/tf2onnx/onnx_opset/controlflow.py#L391
`-1` means infinity in tf, but in onnx it should be max_int to get the same behavior.
Could you tell me why this constant would rise to memory

[2022-06-10 03:46] hwangdeyu commented on #1956
Hi @meghendra , thanks for your contributing issue. Yes it's a consequence from const-fold.
tf2onnx would do twice different const-folding during one conversion. You removed the second one in optimizer.
And the first one is bassically from https://github.com/onnx/tensorflow-onnx/blob/a8f78ac7903493dee579304b7b1717aa9ec9706f/tf2onnx/tf_loader.py#L687 If you do want to remove the behavior in this is

[2022-06-10 07:05] hwangdeyu commented on #1961
Yes, `DepthwiseConv2d` op can support the height and width dimensions as dynamic.
It only checks if the `input channel dimension >=1`. In the exmaple `tf.placeholder(tf.float32, [1, None, None, 3], name='input')`, the `channel size == 3` so tf2onnx shouldn't throw this error.
Could you shard the reproduction code then we can help you to take what's happened?

[2022-06-10 13:08] PaulWassermann opened #1963 "tflite model graph output name defaults to an empty list when using from_tflite"
**Describe the bug**

When converting a tflite model to an onnx ModelProto using the newly-available function `tf2onnx.convert.from_tflite`, if the `output_names` argument is not specified, it defaults to an empty list instead of `None`.

However, in the `tf2onnx.tflite_utils.graphs_from_tflite` function, if the `output_names` argument is not `None`, the output names retrieved automatically by the

[2022-06-10 15:40] guschmue commented on #822
Only 2 options are replace DecodeJpeg with a Placeholder or implement DecodeJpeg (ie as custom op).

[2022-06-10 16:19] hwangdeyu commented on #1948
As for `Less` node as input node in `Loop` op, I think it's not a bug. This is an input to the op that determines whether to run the *first iteration*, refer to https://github.com/onnx/onnx/blob/main/docs/Changelog.md#loop-16.
As the below picture shown, there is a subgraph in `Loop` attributes `body`.
<img width="703" alt="image" src="https://user-images.githubusercontent.com/10047193/173106722-7

[2022-06-11 10:10] #1716 closed

[2022-06-13 00:13] PINTO0309 commented on #1337
Pure ONNX Multi-Class NonMaximumSuppression, CombinedNonMaxSuppression.
https://github.com/PINTO0309/yolact_edge_onnx_tensorrt_myriad
![image](https://user-images.githubusercontent.com/33194443/173259398-5228ccc0-c29a-43fc-a101-d5df4664fe1a.png)
![image](https://user-images.githubusercontent.com/33194443/173259401-0896a642-2fd8-402a-a213-b1a3ec16fb1c.png)

[2022-06-13 02:23] xxoospring commented on #1819
I also encountered this problem, did you solve it?

[2022-06-13 02:31] zhuxiaoxuhit commented on #1819
Didn't. I used tflite finally. It works well.

[2022-06-13 16:11] #1956 closed

[2022-06-13 19:10] hgong-snap opened #1965 "Model conversion stuck in tf_utils.compute_const_folding_using_tf"
**Describe the bug**
I tried to convert my model(graphdef) with the tf2onnx tool, but it takes forever to do the conversion. After debugging, it looks like the code stuck at `tf2onnx.tf_utils.compute_const_folding_using_tf`, particularly [this while-loop](https://github.com/onnx/tensorflow-onnx/blob/main/tf2onnx/tf_utils.py#L206)

**Urgency**

We are trying to experiment/benchmark `onnxruntime` in

[2022-06-13 21:55] garymm opened #1966 "Validate ONNX 1.12.0 release candidate"
Please help us test ONNX 1.12.0 by running your tests with it installed.
https://test.pypi.org/project/onnx/1.12.0rc5/

[2022-06-14 06:42] hwangdeyu commented on #1337
What a cool job！☺

[2022-06-14 22:41] yuanyao-nv commented on #1948
Hi @hwangdeyu thank you for your reply!

I couldn't find any TF documentation that says -1 stands for inf. Can you point me to where this is documented?
In the TF doc for loop, it says
[code]
which is the same as the ONNX loop, ie. max trip count `M` should be left as empty if not used.
So in the conversion shouldn't the `M` field just be left empty?

The reason maxint causes a problem for TRT is

[2022-06-15 06:38] hgong-snap commented on #1965
not sure if there's some corner case [here](https://github.com/onnx/tensorflow-onnx/blob/main/tf2onnx/tf_utils.py#L272).  `strided_slice` nodes are added to [outputs_to_values](https://github.com/onnx/tensorflow-onnx/blob/main/tf2onnx/tf_utils.py#L218) and set `progress=True`, then in here we delete `strided_slice` nodes [here](https://github.com/onnx/tensorflow-onnx/blob/main/tf2onnx/tf_utils.py#

[2022-06-15 09:04] hwangdeyu opened #1969 "Loop op with maximum iterations should match the onnx spec"
So far, `Loop` op with maximum iterations will set to maxint in tf2onnx conversion.
![image](https://user-images.githubusercontent.com/10047193/173783245-ce669748-d84d-45ee-9f54-059b8fb0d12a.png)

![image](https://user-images.githubusercontent.com/10047193/173783322-74775001-893b-46a8-a30b-f6046fcc38cf.png)
But in `Loop` ONNX spec https://github.com/onnx/onnx/blob/main/docs/Operators.md#inputs-2
`

[2022-06-15 10:59] hwangdeyu commented on #1948
About TF `maxinum_iterations` , we get it from the `input[1]` of `While` TF operator.
The default value is `-1`, we can find it in  https://github.com/tensorflow/tensorflow/blob/363ef860e56b19f8e62b42950b23f84857d80bfb/tensorflow/python/ops/while_v2.py#L1399.

For the `Loop` maxint issue, the maxint `M` is approximately equal with empty `M`. But I really agree with you to express it with empty whi

[2022-06-15 11:42] hwangdeyu commented on #1948
Hi @yuanyao-nv,
back to the `Out of memory issue`, the root cause should be relative to the **tensorrt maximum workspace limits** instead of the Loop M issue.

I converted both the `SimpleRNN` and `LSTM` model to onnx and tried to run it with `TensorrtExecutionProvider` using onnxruntime.
However, I found both of the models could be run successfully if I set a small `batch size` as input. And if I

[2022-06-15 11:58] Yaodada12 commented on #1830
@lminer How did you solved this problem，what is this‘’specifying the batch size‘’ meaning？please help me！！Thank‘s

[2022-06-15 21:55] yuanyao-nv commented on #1948
Thanks @hwangdeyu for opening the ticket for empty `M`. Hopefully it will be addressed soon.
When I run with TRT 8.4 using the `trtexec` CLI I get this error
[code]
It's not related to batch size since bs=1 here. It comes from TRT trying to be conservative and allocating memory based on `M` (after casting to int32).

[2022-06-16 00:17] garymm commented on #1966
rc5 is ready now, please use that

[2022-06-16 07:10] fatcat-z commented on #1966
rc4 has passed without any issues.

[2022-06-16 12:21] rado82 opened #1972 "QDQ node for weight tensor of Con2D undergoes Constant folding (enabled for node using tf type=FakeQuantWithMinMaxVarsPerChannel)"
I am doing some experiment on using QAT for a sample model. Looks like QDQ node for the weight tensor of Conv operation is always folded during onnx generation.

Version of various packages are as follows:
tensorflow version is  2.8.2
tf2onnx version is 1.11.1
tf model optimization toolkit version is  0.7.2

I am using tf model optimization to apply fake quantization nodes and using tf2onnx to con

[2022-06-16 12:38] devalexqt opened #1973 "Force output to have chw layout"
Even if I specify my input is `chw`, output still has `hwc` layout.
How to fix this?
[code]

![onnx_input-chw](https://user-images.githubusercontent.com/865007/174071287-0980b389-ba8f-4941-9cfc-048fc4fab457.png)
![onnx_output-edit](https://user-images.githubusercontent.com/865007/174071233-b157f788-7caa-4409-a5c8-40b9a36ea3fe.png)

[2022-06-16 20:40] buddhapuneeth commented on #1871
@hwangdeyu we have some urgent request for this fix (07/01). Please let us know if you are able to pick this sometime soon.

[2022-06-17 01:43] #1969 closed

[2022-06-17 07:29] hwangdeyu commented on #1871
Yeah, sorry for late reply, we will make a plan to fix this recently.

[2022-06-17 07:37] hwangdeyu commented on #1943
tfjs community fixed this issue by https://github.com/tensorflow/tfjs/pull/6523.
Waiting for a new release to support it.

[2022-06-17 18:04] fatcat-z commented on #1966
rc5 has passed without any issues.

[2022-06-17 21:18] garymm commented on #1966
Thanks.

[2022-06-17 21:18] #1966 closed

[2022-06-17 22:21] yuanyao-nv commented on #1948
I verified that now TRT works with `M` set to empty string. Thanks very much for your help, @hwangdeyu !

[2022-06-17 22:21] #1948 closed

[2022-06-18 13:40] jcwchen commented on #1900
FYI: ONNX has released ONNX yesterday and Python 3.10 has been supported. Thanks!

[2022-06-20 13:28] heiyuxiaokai opened #1974 "ERROR - tf2onnx.tfonnx: Failed to convert node 'Mean'"
When I convert the delf model to onnx in tf2,
`python -m tf2onnx.convert --saved-model ./ --opset 11 --output model.onnx --verbose`
this error occurs:
`2022-06-20 21:18:17,083 - VERBOSE - tf2onnx.tfonnx: Mapping TF node to ONNX node(s)`
`2022-06-20 21:18:17,157 - ERROR - tf2onnx.tfonnx: Failed to convert node 'Mean' (fct=<bound method ReduceOpBase.version_11 of <class 'tf2onnx.onnx_opset.reduction

[2022-06-21 08:13] hwangdeyu commented on #1973
hi @devalexqt  Could you share your save_model then we can take a look if it‘s something about optimizer in tf2onnx?

[2022-06-21 10:57] devalexqt commented on #1973
Model can be downloaded here:
https://drive.google.com/file/d/1tdim-rnz6xK2zbZ-_NO9FW6__wF0DRCU/view?usp=sharing
It's just simple autoencoder model with bunch of Conv/Deconv layers, nothing special.

[2022-06-22 08:25] hwangdeyu commented on #1973
Thanks @devalexqt for providing it, the `--inputs-as-nchw` is only for specifying input as `nchw` to match the ONNX standard.
Now tf2onnx don't support  `--outputs-as-nchw` so far, we have not seen much models where this applies.
We can do it manually. Could you tell us which scenario requires it?

[2022-06-22 10:46] devalexqt commented on #1973
Thanks.
In my case it's about performance, as you can see provided model is for upscale image by 4x, where output is about 1024x1024 or even 2048x2048. And output transpose layer can take up to 50% of total model execution time, and then I need transpose it again to chw, so I just lost lot of milliseconds.
In production I use converted onnx model on CPU where chw format is up  to 2x faster in comp

[2022-06-23 16:18] stancld opened #1977 "Add support for `flatbuffers>=2.0`"
Hello all 👋

First of all, I'd like to thank you for this great repo and package!

I would like to ask you if there's any plan to add support for `flatbuffers>=2.0` in a perceivable future? :] Also, if interested, I'm definitely willing to give a try to handle these breaking changes and try to accommodate supports for both versions (It looks like there are some breaking changes between versions `1

[2022-06-23 17:25] stancld commented on #1977
Oh, sorry for the false alarm. It's rather an issue of TF itself. :]

[2022-06-24 08:04] andife commented on #1973
I would also be very interested in this functionaliy, also because of speed issues. My use case would be semantic segmentation.
With for example using the dnn module of opencv with onnx, it is quite nice using selecting the output layer for different classes when I have the nchw format. For the current hwc format I've to manually reorder the output, which is quite slow.

[2022-06-24 09:04] hwangdeyu commented on #1973
Thanks for sharing your case, we'll add this feature later.

[2022-06-27 02:49] rabaig opened #1981 "Unable to convert to ONXX using Frozen.pb file and also using --checkpoint. Please Help [Urgent]"
Hello,

I am using the latest branch of tensorflow-onnx. I got struck and I need help and I am working on critical project.

My DeepLearning model generates checkpoint files and I tried to use the below command.

python -m tf2onnx.convert --checkpoint ./OCR_240000model.ckpt.meta --inputs input_img:0 --outputs DetResults:0 --output model.onnx

I got the error :  AssertionError: DetResults is not in

[2022-06-27 06:27] debjyoti003 commented on #1870
Same, I am also facing the same issue

[2022-06-27 18:35] q-ycong-p commented on #1871
Hi @hwangdeyu, could you give us an update? We'll need to work around the urgent request (07/01) we got depending on your plan for this fix. Pls let us know.

[2022-06-29 06:25] fatcat-z commented on #1913
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-06-29 06:25] #1913 closed

[2022-06-29 06:33] hwangdeyu commented on #1900
@hanzigs You can install tf2onnx successfully in Python 3.10 now, but ONNXRUNTIME would support 3.10 in next release.

[2022-06-29 06:33] #1900 closed

[2022-06-29 06:38] fatcat-z commented on #1877
Please refer to above tf issue for further progress. Closing this right now.

[2022-06-29 06:38] #1877 closed

[2022-06-29 17:39] JeffH-1QBit opened #1984 "XlaConvV2 Op not registered"
**Describe the bug**
Converting a convolution from JAX -> TF -> ONNX with XLA enabled has missing Ops.

**System information**
- MacOS 11
- Python version: 3.9.13
- Relevant package versions:
flax==0.5.2
jax==0.3.13
jaxlib==0.3.10
onnx==1.12.0
onnxruntime==1.11.1
tensorflow==2.8.0
tf2onnx==1.11.1

**To Reproduce**
[code]

**Stack Trace**

-----------------------------------------------------------

[2022-06-29 18:29] josephrocca opened #1985 "Unsupported tensorflow ops: `BitwiseXor`, `BitwiseOr`, `Bitcast`, `BitwiseAnd`"
**Describe the bug**
The ` BitwiseXor`, `BitwiseOr`, `Bitcast`, and `BitwiseAnd` ops are not supported by the converter.

 1. https://www.tensorflow.org/api_docs/python/tf/raw_ops/Bitcast
 2. https://www.tensorflow.org/api_docs/python/tf/raw_ops/BitwiseAnd
 3. https://www.tensorflow.org/api_docs/python/tf/raw_ops/BitwiseOr
 4. https://www.tensorflow.org/api_docs/python/tf/raw_ops/BitwiseXor

For c

[2022-06-29 20:14] q-ycong-p commented on #1871
@hwangdeyu Thanks for the update. Could you provide us with an ETA?

[2022-06-29 23:47] q-ycong-p commented on #1871
@hwangdeyu Given the request on our end, we need to work towards a fix too. Could you give us some pointer/direction so that we can contribute/collaborate?

[2022-06-30 10:33] AromaticJ opened #1986 "NHWC to NCHW input NCHW but output NHWC?"
I used command:
python -m tf2onnx.convert --graphdef ./model.pb --output ./model.onnx --inputs input_tensor:0 --inputs-as-nchw input_tensor:0 --outputs output_1:0,output_2:0,output_3:0,output_4:0,output_5:0
converted an onnx file successfully, and used it to generate an tensorrt engine on Nvidia Orin device with tensorrt8 by trtexec tools,
however, trtexec logs:
[code]
you can see, my input is alr

[2022-06-30 11:13] hwangdeyu commented on #1871
Just as https://github.com/onnx/onnx/issues/2248#issuecomment-587988420 said, the first type has been implemented in keras2onnx. The second type may be better, but I don't think ONNX will change the KSTM op cause the recent new models are less likely to use it. I don't think of a better way so far and my plan will sync with my colleague to try the same with kears2onnx to support masking for post-p

[2022-06-30 14:58] llandsmeer opened #1987 "tf2onnx fails with while loop (`KeyError: 'while_body_[num]'`)"
A `tf.while_loop` on model `tf.keras.Input`s does not seem to compile. I found out while working a larger code base where an unrolled loop makes both compilation and running very slow,  so I tried to make it into a `tf.while_loop`. Now ONNX conversion fails. The error seems to be largely opset independent.

### Minimal test case:

Running
[code]

Fails with

[code]

self._enclosing_graph.functions

[2022-06-30 15:56] llandsmeer commented on #1987
The error also appears in tensorflow, so maybe it's me not understanding how to use the API in the right way

[code]

[2022-06-30 15:58] llandsmeer commented on #1987
Anyway, I have function `f(x)`, and I want to calculate `f(f(f(f(f(....f(x))))))`. There is a Loop construct in ONNX and I have no idea how to access that from tensorflow

[2022-07-01 01:04] q-ycong-p commented on #1871
Thanks for the pointer. Regarding the reproduction, I think the minimal example shared at top of post is sufficiently simple to verify wip fix? We can assert both inference result to equal the TF result, and assert LSTM op is correctly converted. It seems that linked test only verify [inference result equal](https://github.com/onnx/tensorflow-onnx/blob/6905d050a3e3fffbcf4a881c13932aaed2bd93be/test

[2022-07-01 02:21] andrey-klochkov-liftoff commented on #1867
I'm having the same issue and here's a colab that reproduces it:
https://colab.research.google.com/drive/1Duzoue2IJmtCK4x-KoO-qQ0cBj3_S2YH#scrollTo=Jw1bIuR9cTaP

[2022-07-01 04:26] leqiao-1 opened #1988 "got nan output from converted model"
**Describe the bug**
Model converted from tensorflow graphdef got nan outputs.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows
- tf2onnx 1.11.1
- tensorflow 2.9.1
- onnx 1.12.0
- onnxruntime 1.11.1
- python 3.7

**To Reproduce**
[full_doran_frozen.zip](https://github.com/onnx/tensorflow-onnx/files/9025033/full_doran_frozen.zip)

model conversion command
`

[2022-07-01 07:12] hwangdeyu commented on #1871
Hi @q-ycong-p , I have synced with my colleague and did more tests about it. Just as the CI tests and your example shown, the inference results from original converted model `Loop` op is **expected** with keras inference results specifying `mask_zero=True`, no matter whether `0` is contained in input with. And it's also hard to support masking LSTM op with ONNX, so I'm sorry that we won't spent mo

[2022-07-02 11:25] josephrocca commented on #1985
Hi @fatcat-z, I'm wondering if you could provide some guidance: In case you're currently too busy to add support for these, I'm wondering what a general plan/outline might be for me to try to add support - as someone who hasn't done this sort of thing before, but is eager to give it a shot (since it is a blocker for me)?

My plan was to find a pull request that's kind of analogous to these ops, an

[2022-07-04 07:32] fatcat-z commented on #1985
You are right, ONNX doesn't support such op directly is blocking the conversion. A potential way is to combine existing ONNX ops to implement the same function in tf2onnx and then export them into final ONNX file. But after I took a quick check, there is no easy way to do it yet.

About using ONNX Runtime Web, per my understanding, its backend is still ONNX Runtime. Ideally, if you implement such

[2022-07-04 17:11] josephrocca commented on #1985
@fatcat-z Thanks! I'll look into the custom op route that you recommended. I've also added an issue at @onnx/onnx to request support for these operators: https://github.com/onnx/onnx/issues/4343

[2022-07-05 12:12] fatcat-z commented on #1984
XlaConvV2 op is not supported yet in tf2onnx, so does ONNX Runtime. So this is expected.

[2022-07-05 12:40] fatcat-z commented on #1981
2022-06-26 21:46:34,344 - ERROR - Tensorflow op [cond/mul/Switch: Switch] is not supported
2022-06-26 21:46:34,344 - ERROR - Tensorflow op [cond/floordiv/Switch: Switch] is not supported
2022-06-26 21:46:34,344 - ERROR - Tensorflow op [cond/cond/Merge: Merge] is not supported
2022-06-26 21:46:35,788 - ERROR - Tensorflow op [postprocess_fastrcnn/PyFunc_32: PyFunc] is not supported

These ops are no

[2022-07-05 18:45] JeffH-1QBit commented on #1984
Is there somewhere that I can find out the timeframe when ops like this will be supported?

[2022-07-05 18:48] JeffH-1QBit commented on #1984
Also, is there a workaround, where perhaps I can force conversion to XLAConv (assuming that is supported)?

[2022-07-06 04:09] nithinme3 commented on #1008
@feiyuhuahuo Thanks man.. it was simple..but really helped.

[2022-07-06 06:18] fatcat-z commented on #1984
No, XLAConv is not supported either.

Those XLA* ops are designed for TF only for optimizations, ONNX doesn't have corresponding ops for them. So currently there is no plan to support these ops yet. Probably you have to raise this issue in [ONNX repo](https://github.com/onnx/onnx/issues) to request a help firstly.

[2022-07-06 08:36] fatcat-z commented on #1987
Not sure why we need keras here, but there are some [examples ](https://github.com/onnx/tensorflow-onnx/blob/fa0b6cf9ae966a1b96f78b9e6c32f63c4e8689ad/tests/test_loops.py#L31) of how to convert tf.while_loop() to ONNX.

For Keras, there is an example of using tf.while_loop with Keras, please see if you can leverage to construct yours:

_import tensorflow as tf
import tf2onnx

class CustomLayer(tf.k

[2022-07-06 11:00] fatcat-z commented on #1984
Could you please try to set enable_xla=False when calling jax2tf.convert() method? And also change the inputs to ort as below:

onnx_output = session.run([], {input_name: images})[0]

=>

import numpy as np
onnx_output = session.run([], {input_name: np.asarray(images)})[0]

I finished the above changes, and the conversion could be done successfully, and the results are acceptable for me.

[2022-07-06 12:47] hwangdeyu commented on #1986
Same feature request with https://github.com/onnx/tensorflow-onnx/issues/1973

[2022-07-06 16:37] rabaig commented on #1981
Hello,

However it is getting converted to ONXX with the errors. Do you mean this is incomplete ??

And my next target to convert this ONXX model to .trt(tensor runtime).

when I executed with command and I get the the following error.

[06/27/2022-17:53:48] [E] [TRT] ModelImporter.cpp:775: input: "strided_slice_3__348:0"
input: "Less:0"
output: "cond/mul/Switch:0"
output: "cond/mul/Switch:1"
name

[2022-07-07 01:13] q-ycong-p opened #1991 "Inquiry/Request for TF-2.9.x Support"
**Describe the issue**
Tensorflow-2.9.0 was released on May 16. Looking at the tf2onnx README on `main`, it supports until TF-2.8.0 at the moment. Is there any plan/timeline for extending tf2onnx's support of TF-2.9.x? Would really appreciate if any known issue that's blocking this support can be shared for tracking/contribution purpose? Thanks a lot!

[2022-07-07 02:11] fatcat-z commented on #1991
So far, we don't see any block issues for supporting tf-2.9.0, we will update the document soon along with our next release.

At this moment, please feel free to start working with tf-2.9.x and file an issue here if any problem.

[2022-07-07 03:02] fatcat-z commented on #1981
If tf2onnx met an unsupported op, it will keep it in the ONNX graph and deliver an error message as you've seen. So it is not an incomplete status.

These ops are relative to tf control flow so we don't have a quick workaround on hands. Is it possible that you can remove such ops from the original model code for the conversion?

[2022-07-07 03:02] q-ycong-p commented on #1991
Got it, thank you for your prompt response @fatcat-z. I'll work on local testing for tf-2.9.1 and post update/issue in this thread.

[2022-07-07 03:08] fatcat-z commented on #1991
Thanks for your support. I'd like to suggest you close this issue and file new issues for any problem you met so we can take a good track for each of them.

[2022-07-07 03:16] q-ycong-p commented on #1991
Got it, make sense. Closing this issue. Thank you!

[2022-07-07 03:16] #1991 closed

[2022-07-07 21:31] q-ycong-p commented on #1991
Hi @fatcat-z, is there a rough estimate of the next release date (where TF-2.9.x will be listed as supported)? Thanks!

[2022-07-08 01:32] fatcat-z commented on #1991
Will deliver a release for this no later than the end of July.

[2022-07-08 08:14] hwangdeyu commented on #1986
Hi @AromaticJ  The ``--outputs_as_nchw`` option is supported it in latest main branch. Please tell me if it's work for your model demand Thanks!

[2022-07-08 10:35] #1973 closed

[2022-07-08 10:49] fatcat-z commented on #1981
The solution of removing unsupported ops from the final ph file doesn't work, because you are going to loose some functions of this model by this way.

The possible solution is to go back to your original model python code and find out all unsupported ops. Replace each unsupported op with other op or op combination.

After all unsupported ops were processed by the above way, try to call tf2onnx to

[2022-07-08 12:22] hwangdeyu commented on #1973
@devalexqt  We have added `--outputs_as_nchw` option is supported it in latest main branch. Please tell me if it's work for your model demand Thanks!

[2022-07-09 00:40] devalexqt commented on #1973
Thnks!
Now its working as expected!

[2022-07-10 09:43] Etty-Cohen commented on #1913
Hi, I have exactly the same problem @fatcat-z  @Meimin-Wang
Can you help please?

[2022-07-10 09:52] Etty-Cohen commented on #1913
Hi, I tried it - changed in the file "utils.py" line 387 but still get that error:
`Traceback (most recent call last):
  File "/home/etty/.local/lib/python3.8/site-packages/tf2onnx/tf_utils.py", line 59, in tf_to_onnx_tensor
    np_data = np_data.astype(np.str).astype(object)
UnicodeDecodeError: 'ascii' codec can't decode byte 0xff in position 0: ordinal not in range(128)

During handling of the a

[2022-07-11 03:06] fatcat-z opened #1993 "Please validate TF converter with ORT 1.12 release candidate"
Python (CPU)
https://test.pypi.org/project/ort-nightly/1.12.0.dev20220707003/

Python (GPU)
https://test.pypi.org/project/ort-nightly-gpu/1.12.0.dev20220707003/

[2022-07-11 08:02] Etty-Cohen commented on #920
Hi @yutkin @jignparm !
I am here in 2022...
something been updated?
I run that code (after updating tf_utils.py):
`python3 -m tf2onnx.convert --checkpoint oidv2-resnet_v1_101.ckpt.meta --output model.onnx --inputs input_values:0 --outputs multi_predictions:0`
and got that error:
[code]

[2022-07-11 11:26] fatcat-z commented on #1913
Is it possible to share your model file so we can take a look?

[2022-07-11 11:42] Etty-Cohen commented on #1913
Hi its not **my** model, but oidv2-resnet_v1_101.ckpt model for google.
I later I saw this answer:
[https://github.com/onnx/tensorflow-onnx/issues/920](url)
 and updated the tf2onnx code but it still does not work.

[2022-07-11 11:49] fatcat-z commented on #920
Could you please reopen an issue with above details and the downloading url of the ck used in the example code so we can process it accordingly?

I've seen you updated 2 closed issues but seems like that brought a little confusion that we don't know the real problem you met.

Thanks.

[2022-07-11 12:14] Etty-Cohen opened #1995 "convert oidv2-resnet_v1_101.ckpt model to onnx"
**Describe the bug**
I am trying to convert the model from Google oidv2-resnet_v1_101.ckpt which is trained in TensorFlow to the ONNX model.
I tried 2 ways:
**1. Direct conversion to ONNX -**
python3 -m tf2onnx.convert --checkpoint oidv2-resnet_v1_101.ckpt.meta --output model.onnx --inputs input_values: 0 --outputs multi_predictions: 0
I encountered an error: UnicodeDecodeError
I solved it by modi

[2022-07-11 12:19] yutkin commented on #920
Hi! It is no longer relevant.

The issue is due to decode jpeg node in the graph that ONNX does not support. For those who want to convert this model to ONNX, it is better to remove this node manually from prototxt first.

[2022-07-11 16:20] fatcat-z commented on #1845
During the conversion, those training related op will be removed by freezing the tf graph. So this behavior is expected.

[2022-07-11 17:19] Etty-Cohen commented on #920
Hi @yutkin you did it?

[2022-07-11 19:20] glm-barcelin commented on #1845
So you're saying it is impossible to use Dropout in training mode at inference ? I need it to estimate the epistemic uncertainty of my neural network using Monte-Carlo Dropout.

[2022-07-12 07:31] fatcat-z commented on #1993
RC: 1.12.0.dev20220707003 passed.

[2022-07-12 08:34] Etty-Cohen commented on #920
@yutkin

https://github.com/onnx/tensorflow-onnx/issues/1995

[2022-07-12 12:54] fatcat-z commented on #1845
You are right, dropout op won't exist in the final graph for inference.

[2022-07-12 12:56] glm-barcelin commented on #1845
Thanks a lot for your answer.

[2022-07-12 12:56] #1845 closed

[2022-07-13 01:09] guschmue opened #1997 "ZerosLike inserts Casts before Mul"
Happens for example in ssd-mobilenet from here:
https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection
Large amount of Mul nodes in the model, sandwiched between two cast nodes, which is fairly costly.

![image](https://user-images.githubusercontent.com/10047193/179469732-7fd59173-b446-4abb-888f-1811d972c887.png)

I belief this Casts came in because pre opset-7 onnx

[2022-07-13 01:11] guschmue opened #1998 "Mul by a const initializer = 1 or 0 should be optimized away"
Happens for example in ssd-mobilenet from here:
https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection

[2022-07-13 17:21] guschmue commented on #1998
dupe of https://github.com/onnx/tensorflow-onnx/issues/1997

[2022-07-13 17:21] #1998 closed

[2022-07-15 06:16] #1941 closed

[2022-07-15 12:37] hwangdeyu commented on #1997
Replace `cast + mul(value 0) + cast` to `shape + ConstantShape(value 0)`, which can make a significant latency reduction.

[2022-07-18 09:35] Andreas-Krebbel opened #2002 "Failed to convert LSTM cell with activation and dropout settings"
**Describe the bug**
Keras LSTM model setting activation function and dropout is decomposed instead of using ONNX LSTM cell.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 35, x86
- Tensorflow Version: 2.9.1
- Python version: 3.9.13
- tf2onnx: e896723 (2022-07-15)

**To Reproduce**
[code]
Removing either activation='sigmoid' or dropout=0.1 generates an LS

[2022-07-18 20:05] belamarib opened #2004 "SavedModel file does not exist (but it exists)"
Hi, I'm trying to convert a tensorflow model the following way:

![image](https://user-images.githubusercontent.com/55455937/179606717-3224caea-fc67-4350-a418-88d8a03c322c.png)

But it returns the following error:
**OSError: SavedModel file does not exist at: ./content/saved_model/{saved_model.pbtxt|saved_model.pb}**

I've seen many other issues in here with the same problem, but none of the solut

[2022-07-18 22:05] fschvart opened #2005 "Conversion of checkpoint + config to ONNX"
Hi,

I have a DeepLab 2 TensorFlow checkpoint that I want to convert to ONNX.
The conversion to saved_model seems to be buggy so I was wondering whether there's a way to convert it straight to ONNX.

Thanks!

[2022-07-19 16:40] #2004 closed

[2022-07-21 02:48] ceruleangu opened #2006 "tf2onnx Conversion Produces Non-Deterministic ONNX Graph"
**Problem**
We tried to convert a TensorFlow (or Keras) Bert model into ONNX model, but every time we run with the same piece of code (below) the ONNX graphs are a little different in node names. But we want the conversion to be deterministic, i.e., the converted ONNX node names are exactly the same each time we run.

**To Reproduce**
[code]

**System information**
- OS Platform and Distribution (

[2022-07-24 14:09] sayakpaul opened #2008 "TFSegFormer model is being failed at inference"
I am on TensorFlow 2.9.1. After converting the [TFSegFormer segmentation model](https://huggingface.co/docs/transformers/main/en/model_doc/segformer#transformers.TFSegformerForSemanticSegmentation) to ONNX I am facing the following error during performing inference:

[code]

I used the latest stable versions of `tf2onnx` and `onnxruntime`.

Here's the full code to reproduce the problem:

[code]

N

[2022-07-25 07:04] sayakpaul commented on #917
Possible to apply dynamic-range quantization on TF model with ONNX? If so, could you provide an example?

[2022-07-25 17:02] guschmue commented on #917
Yes, you'd convert the tf fp32 model with tf2onnx, than use the onnxruntime quantization tool (https://onnxruntime.ai/docs/performance/quantization.html).
If the model came as Qat model (aka it has FakeQuantitize* ops in it) tf2onnx should be able to convert it as well.
Maybe the easiest: if there is a quantized tflite model you can convert that one with tf2onnx.

[2022-07-25 17:23] sayakpaul commented on #917
Could you expand a bit more?

[2022-07-26 10:29] sayakpaul opened #2010 "Integer quantization fails on Transformer-based vision model"
Here's the Colab to reproduce the issue: https://colab.research.google.com/gist/sayakpaul/7009b366f4e77df684dba3070067664c/tfsegformer_onnx.ipynb.

**Issue**:

[code]

[2022-07-27 00:07] fatcat-z commented on #1849
Please close this issue no more questions after we merged the code. Thanks for your contribution!

[2022-07-27 16:12] fatcat-z opened #2011 "The onnxruntime-nightly-unittest-matrix job in CI pipeline keeps failing for latest ORT nightly build."
**Describe the bug**
This CI job failed because the latest ORT nightly job could not be installed with a failure:

The conflict is caused by:
    ort-nightly 1.13.0.dev20220725005 depends on sympy
    ort-nightly 1.13.0.dev20220722006 depends on sympy
    ort-nightly 1.12.0.dev20220721007 depends on sympy
    ort-nightly 1.12.0.dev20220720008 depends on sympy
    ort-nightly 1.12.0.dev20220719006

[2022-07-27 16:31] fatcat-z commented on #2005
Could you please describe more details about how you did the conversion and what are buggy things?

[2022-07-27 20:27] fschvart commented on #2005
I didn't do a conversion yet.
I have a TensorFlow Panoptic Deeplab model checkpoint and config file, that there's currently a bug in the code that prohibits me from exporting the checkpoint and config to a saved_model file. Furthermore, if I use the Deeplab2 repo code, inference doesn't run well, only when performed as eval during the model training.
I saw someone mentioning in one of the issues t

[2022-07-27 23:19] #1997 closed

[2022-07-28 06:30] fatcat-z commented on #2008
StatefulPartitionedCall op is not supported yet and tf2onnx just keeps those unsupported ops in the final generated ONNX file. It is not recognized by ORT so the error is expected.

[2022-07-28 06:31] #2011 closed

[2022-07-28 06:36] sayakpaul commented on #2008
Is there a way to mitigate it on the model end?

[2022-07-28 06:46] fatcat-z commented on #2008
No, these ops are not supported meaning tf2onnx has no idea about how to convert them to ONNX ops so there is not mitigation plan for such case at this moment.

[2022-07-28 06:55] #2008 closed

[2022-07-28 07:33] fatcat-z commented on #2010
This looks more like an ORT issue: somehow it could not handle ConvInteger op successfully but it should work since opset 10.

Please open an issue in [onnxruntime repo](https://github.com/microsoft/onnxruntime/issues) to see why this op doesn't work.

[2022-07-28 07:33] #1993 closed

[2022-07-28 08:14] sayakpaul commented on #2010
Closing as posted here: https://github.com/microsoft/onnxruntime/issues/12362.

[2022-07-28 08:14] #2010 closed

[2022-07-28 14:36] Wyatthy opened #2013 "ValueError: Input 0 of node save/AssignVariableOp was passed int32 from Variable:0 incompatible with expected resource."
Dear All,

I would like to report the issue when converting tensorflow model（ckpt） to onnx model

**Describe the bug**
I got a ckpt model on TF1 , then transformed it to `.pb` model by `graph_util.convert_variables_to_constants` in the environment of TF2 ， when i used `python -m tf2onnx.convert` command to convert it to `.onnx` , i got the ERROR:
[code]
A clear and concise description of what the

[2022-07-28 23:47] ceruleangu commented on #1789
hey @arangasa is this prlblem resolved?

[2022-07-29 04:17] arangasa commented on #1789
Hi @ceruleangu I don't have access to Ubuntu 20 machine, but I have noted the fix. Thank you.

[2022-07-31 09:34] hwangdeyu commented on #1941
@CarlPoirier  The latest tf2onnx verison 1.12 has been released. I think your model can be optimized as expected. Thanks!

[2022-08-01 03:33] hwangdeyu opened #2016 "Some numpy or tf api usages are deprecated"
- LooseVersion DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
- DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`

https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

[2022-08-01 04:26] hwangdeyu opened #2017 "Support now onnx signal operators"
There are several signal operators added in [ONNX 1.12](https://github.com/onnx/onnx/releases/tag/v1.12.0).
Tracking issue for it.

- DFT
    ONNX: https://github.com/onnx/onnx/blob/main/docs/Operators.md#DFT
    TensorFlow: https://www.tensorflow.org/api_docs/python/tf/signal/fft
    https://www.tensorflow.org/api_docs/python/tf/signal/ifft
- STFT
    ONNX: https://github.com/onnx/onnx/blob/main/

[2022-08-01 05:51] fatcat-z commented on #2005
TF2ONNX could load checkpoint and export it to ONNX.
Could you please go through the usage [here ](https://github.com/onnx/tensorflow-onnx#cli-reference)to see if any of them can meet your requirement?

[2022-08-01 20:20] fschvart commented on #2005
@fatcat-z I reviewed that file previously. I don't have a metagraph so I can't use, unfortunately, the checkpoint method. Maybe I need to dive into the code and change the way the saved model is loaded (for example) to the way I load the model with checkpoint and config and try converting from that point

[2022-08-04 02:47] #2016 closed

[2022-08-04 11:51] IamNaQi opened #2019 "ERROR - Tensorflow op [UnravelIndex: UnravelIndex] is not supported"
**Describe the bug**
I am trying to convert savedModel from checkpoints of deeplabcut to onnx but getting while converting. I have tried with different opsets as well.

**System information**
-  windows 10
- Tensorflow 2.7:
- Python 3.7:

[code]

[2022-08-05 09:53] hwangdeyu commented on #2002
tf2onnx is not expected supporting converting models for training so far, such as setting dropout.
But in this case, it seems like the root cause is from the `tensorflow OptimizeGraph`. We will consider to add `dependency` to optimization.

[2022-08-08 07:43] fatcat-z commented on #2006
These optimizations happened within tf2onnx, probably this is something we can improve to generate a consistent output for such model.

[2022-08-08 08:00] hwangdeyu commented on #1926
Hi @goncaloLopesMarques , could you share your example save_model or micro reproduction code then we can help to see what happened?

[2022-08-08 16:52] datased2019 opened #2021 "Onnx transform success but cannot get model.graph.value_info to read the info"
Hi. I have converted face_mesh model to onnx successfully but cannot read value info from onnx. I don't know if is something wrong with converting?
The model file as attached.
Thx for your support..

[model.zip](https://github.com/onnx/tensorflow-onnx/files/9283616/model.zip)

[2022-08-09 07:20] fatcat-z commented on #2013
tf2onnx.convert also supports convert a checkpoint to ONNX. Could you please try to upgrade your TF1 version to 1.15.0 which is covered by our CI and use --checkpoint parameter to convert this checkpoint without converting it to a pb file?

[2022-08-09 11:16] #2021 closed

[2022-08-09 11:16] datased2019 commented on #2021
Solved.

[2022-08-10 16:39] fatcat-z commented on #1936
Probably you can update the way to call this function. You can find 2 examples in our tests for how to use it correctly:

[test_hashtable_lookup](https://github.com/onnx/tensorflow-onnx/blob/76924dfd598858489009b93279b6f57e80fc841b/tests/test_backend.py#L5256)

[test_hashtable_lookup_const](https://github.com/onnx/tensorflow-onnx/blob/76924dfd598858489009b93279b6f57e80fc841b/tests/test_backend.py#

[2022-08-11 07:11] hwangdeyu commented on #1779
This script result of this issue is changed cause https://github.com/onnx/tensorflow-onnx/issues/1741 added the optimize() logic for tf1 keras conversion.
Please consider creating a new issue if there are leftover issues.

[2022-08-11 07:11] #1779 closed

[2022-08-11 07:46] hwangdeyu commented on #1862
This issue may appear from torch-onnx or onnxruntime.
Closing due to lack of reply from the creator. If this is an issue in the tf2onnx, please open a new issue with clear repro instructions.

[2022-08-11 07:46] #1862 closed

[2022-08-11 09:57] hwangdeyu commented on #1974
The error is raised from https://github.com/onnx/tensorflow-onnx/blob/76924dfd598858489009b93279b6f57e80fc841b/tf2onnx/onnx_opset/reduction.py#L31.

The second input of `Mean` op should be const `axes` instead of a Placeholder `mean_reduction_indices_0`.
![image](https://user-images.githubusercontent.com/10047193/184108377-6581426f-39f0-4032-9fec-51dc55293666.png)

But it looks ok in frozen pb gra

[2022-08-12 02:43] #2002 closed

[2022-08-12 07:35] JNingWei opened #2024 "Unsupported ops: {'TFL_TransformLandmarks', 'TFL_Landmarks2TransformMatrix', 'TFL_TransformTensorBilinear'}"
Hi author,
I encountered some unsupported when converting [face_landmark_with_attention.tflite](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite) to onnx:
[code]
The error is as follows：
[code]
Any suggestions? Thanks.

[2022-08-12 12:06] pks opened #2025 "'TypeError: value "unknown_rank: true " is not valid attribute data type' for model with TensorArrayConcatV3"
Hi,

I'm trying to convert a seq2seq Tensorflow v1.x model but get the following error when calling `python -m tf2onnx.convert --checkpoint [...]`:

[code]

I'd appreciate any pointer to make this work. I could only find this https://github.com/onnx/tensorflow-onnx/issues/1395 issue, but it is different from mine.

[2022-08-15 05:49] fatcat-z commented on #1959
Could you please provide some public models which are impacted now?

[2022-08-15 16:40] lminer commented on #1959
Most, current audio source separation models are impacted by this limitation as they use an audio signal representation called "complex as channels", where the real and imaginary parts of the complex spectrogram are extracted and stacked along the channels dimension. Some examples are:
[Demucs](https://github.com/facebookresearch/demucs)
[MDXNet](https://github.com/kuielab/mdx-net)
[LaSaft](https:

[2022-08-22 06:21] Wyatthy commented on #2013
Thank you for the advice ! My superiors changed their strategy , so I avoided this question.

[2022-08-22 06:21] #2013 closed

[2022-08-23 09:07] fatcat-z commented on #2025
Somehow, the frozen tensorflow graph contains an attribute "unknown_rank" which is not valid.

Since the model is TF v1.x version, could you please try this with TF v1.15? If still got the same issue, is it possible you can share the checkpoint with us so we can have a local debug?

[2022-08-24 11:33] fatcat-z commented on #1875
Tf2onnx uses a frozen graph to do the conversion. While tensorflow generates this frozen graph, it will change the inputs according to max_value and negative_slope accordingly. So the ONNX graph doesn't know the value of max_value and negative_slope and onnx op [RELU](https://github.com/onnx/onnx/blob/main/docs/Changelog.md#Relu-14) doesn't support these as attributes.

[2022-08-24 11:43] fatcat-z commented on #1868
It's been over 6 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-08-24 11:43] #1868 closed

[2022-08-24 11:50] fatcat-z commented on #1867
Could you please allow people to access it?

[2022-08-24 11:57] fatcat-z commented on #1867
Could you please allow jayzhang6666@gmail.com to access it?

[2022-08-24 12:01] fatcat-z commented on #1867
Could you please try my suggestions in [this issue](https://github.com/onnx/tensorflow-onnx/issues/1936) to see if it resolves this?

[2022-08-25 07:37] hwangdeyu commented on #1932
Hi @doomooo , Could you share your `INT8` case or any simple reproduction script code? We will try to find a solution to solve it.

[2022-08-26 08:41] hwangdeyu commented on #1972
Hi @rado82, Thanks for the issue.
It seems you want the Conv weight do not be constanted when the type is `type=FakeQuantWithMinMaxVarsPerChannel`. And it would be very helpful if you can provide the tf code that produced the pb model file.

[2022-08-26 09:12] fatcat-z commented on #1803
I just noticed the saved model generated after calling dlrm_model.save() method has already change the inputs as you provided, so I believe it's not changed by tf2onnx. When we load the saved model in tf2onnx, the inputs have been there already.

[2022-08-29 09:51] hwangdeyu commented on #1943
Mark related issue https://github.com/tensorflow/tfjs/issues/6748.

[2022-08-30 02:19] dan9thsense opened #2031 "pip install fails"
Using Ubuntu 18.04, trying both direct pip install and also from github, it fails with these messages.  I'm wondering if it is a protobuf issue.

$ pip install git+https://github.com/onnx/tensorflow-onnx
Collecting git+https://github.com/onnx/tensorflow-onnx
  Cloning https://github.com/onnx/tensorflow-onnx to /tmp/pip-req-build-5megenkh
  Running command git clone -q https://github.com/onnx/tenso

[2022-08-30 02:39] dan9thsense commented on #2031
Decided this was not worth the time needed to debug on Ubuntu 18.04.  Installed successfully in a docker container and worked from there.

[2022-08-30 02:39] #2031 closed

[2022-08-31 03:38] hwangdeyu commented on #1932
The reason why the [`FakeQuantWithMinMaxArgs`](https://tensorflow.google.cn/versions/r1.15/api_docs/python/tf/quantization/fake_quant_with_min_max_vars) only supports unit8 is the quantization range belonged.
[code]

[2022-08-31 03:44] hwangdeyu commented on #1764
@masahi  sorry for the late reply.
The reason why the [`FakeQuantWithMinMaxArgs`](https://tensorflow.google.cn/versions/r1.15/api_docs/python/tf/quantization/fake_quant_with_min_max_vars) only supports unit8 is the quantization range belonged.
[code]
Could you share TF saved model directory unreachable link again you If it's possible? I would like to take a look the reason.

[2022-08-31 06:15] fatcat-z commented on #1865
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-08-31 06:15] #1865 closed

[2022-08-31 06:55] ed-mr commented on #1865
Actually the facts did not change. But since it seems of little interest, I close.
Thank you anyway for discussing the issue.

[2022-08-31 07:02] ed-mr commented on #1865
Thank you for disscuing the issue with me.

[2022-08-31 11:04] fatcat-z commented on #1832
Gemm needs the inputs support unidirectional broadcasting, instead of multidirectional broadcasting.

The definition is defined [here](https://github.com/onnx/onnx/blob/main/docs/Broadcasting.md):

So if [-1. c], looks like -1 doesn't satisfy the above requirements.

[2022-08-31 16:14] fatcat-z commented on #1827
Could you please try to upgrade tensorflow to 1.15.0? I tried your code on that and it works well.

[2022-08-31 18:30] mbrookhart commented on #1972
The TF code is attached in the collab notebook in the original post?

I just found this issue, I'm seeing similar behavior with a saved graphdef QAT model. I get a lot of `INFO - folding node using tf type=FakeQuantWithMinMaxVars` for my model with the latest tf2onnx. If I edit the script to disable tf constant node folding [here](https://github.com/onnx/tensorflow-onnx/blob/a5878622309afa7205b5bd

[2022-09-01 06:00] fatcat-z commented on #1824
Could you please share the weird output you mentioned? I've tried your code with tf 2.9.1+tf2onnx 1.12, the results between tensorflow and onnxruntime are same so I could not repro your issue.

[2022-09-02 07:29] hwangdeyu commented on #1988
The root cause is mainly from `select` op implementation. The select will choose `Mul/Add` ops implementation firstly which  is faster than `Where` op.
After debugging, the model gets wrong `nan` in pb file:
![image](https://user-images.githubusercontent.com/10047193/188080376-ddc9485c-0d7e-421c-a5d6-d9a8544c8182.png)

The `less` op condition should be replaced in ONNX file：
![image](https://user-

[2022-09-03 12:31] KornilovaK opened #2036 "onnx model has the different from the native input shape"
Hello.
I've converted my lstm model and imported it into unity. I set the input as [1, 30, 126] and netron shows the same. But in unity it somehow was converted to the another shape by itself.
![188270258-7e458a82-24b3-42ef-9648-22eded154d8d](https://user-images.githubusercontent.com/86467512/188270381-43a0f838-797c-4c07-b7ea-45ec759463b0.png)
and imported it into unity. I set the input as [1, 30,

[2022-09-03 14:33] KornilovaK commented on #2036
Okey, several days ago I found the decision.

[2022-09-04 09:26] maybeLee commented on #1875
Hi @fatcat-z ,
Thanks for your response, sounds like this may be a TF2ONNX's bug, I will report this issue to TF2ONNX.
Much thanks.

[2022-09-04 12:37] fatcat-z commented on #1875
Closing this issue since it is a tensorflow issue. Feel free to open a new one if the issue still exists.

[2022-09-04 12:37] #1875 closed

[2022-09-04 13:00] creativesh opened #2037 "Error loading oidv2-resnet_v1_101.ckpt after converting to tflite"
Hi ,

I got oidv2-resnet_v1_101.ckpt from [https://storage.googleapis.com/openimages/web/extras.html](url) and convert it to tflite with this code :

`SAVED_MODEL_DIR='saved_model1/'
converter = tf.lite.TFLiteConverter.from_saved_model(
    saved_model_dir=SAVED_MODEL_DIR)
converter.optimizations = {tf.lite.Optimize.DEFAULT} #optional sh
converter.change_concat_input_ranges = True #optional sh
con

[2022-09-04 13:02] fatcat-z commented on #2036
If you can see the ONNX model correctly in Netron, my first thought is that this is probably an issue relative to unity.

Could you please open an issue in unity community and upload your ONNX file to request some help there?

[2022-09-04 13:34] fatcat-z commented on #2037
Could you please share me the exact download url of oidv2-resnet_v1_101.ckpt so I could do a local debug?

[2022-09-06 05:23] creativesh commented on #2037
@fatcat-z

yes,  this is the link of the model checkpoint:

[](https://storage.googleapis.com/openimages/2017_07/oidv2-resnet_v1_101.ckpt.tar.gz)

and the other necessary items are in the page :
https://storage.googleapis.com/openimages/web/extras.html

[2022-09-08 13:08] janbernloehr commented on #1977
tf 2.10 switched to flatbuffers 2.0 so we should reopen this

[2022-09-09 20:28] alanwilter opened #2039 "Question/help: model.predict_on_batch equivalent"
I'm trying to refactor our code (yet I'm new to ML/AI).

My current code using `TF` is like:

[code]

I had no problem refactoring cases with `model.predict()` and though I do know what `model.predict_on_batch()` is supposed to do, I'm failing to abstract how to implement that using module `onnxruntime`.

Any help is very appreciated.

[2022-09-13 09:20] fatcat-z commented on #2039
Do you mean you are trying to find a way to inference the model/layer.h5 by onnxruntime?

[2022-09-13 09:37] alanwilter commented on #2039
I mean, I did something quick and dirty:

[code]
then:

[code]
which, to my understand, `pred_onnx()` is a simple replacement of `model.predict()` under `onnxruntime`.

But I got the same results 3x faster compared to TF. However, I know `model.predict_on_batch()` is faster than just `model.predict()` so it left me wondering if I could tailor my input batch for `pred_onnx()`, I just don't know how

[2022-09-13 12:15] fatcat-z commented on #2039
According to your code, pred_onnx() didn't call onnxruntime, so the result has no relationship with onnxruntime.

If you want to leverage onnxruntime, you have to call tf2onnx to convert the tf model to onnx. Then you can load and inference it by onnxruntime.

[2022-09-13 12:23] fatcat-z commented on #1823
Could not repro this issue by the code in colab. Could you please retry it with the latest tensorflow and tf2onnx?

If the problem still exists, please share us with details and those versions in your environment.

[2022-09-13 13:03] alanwilter commented on #2039
Sorry, it does! I just forgot to emphasise that, I've amended my example above. And yes, I've used `tf2onnx`.

[2022-09-14 06:23] #1988 closed

[2022-09-14 06:51] fatcat-z commented on #2039
Got your points.

The way you convert a TF model to ONNX model is not related to predict() and predict_on_batch() methods. ONNXRUNTIME will use the converted onnx file to do an inference, so this process has no relationship to either predict() or predict_on_batch() method.

IIUC, model.predict_on_batch() is faster than model.predict() just because the assumption of their inputs is different, so th

[2022-09-14 06:56] alanwilter commented on #2039
Thanks @fatcat-z. It's a non-issue and it's working and it's faster anyway than TF. Just learning.

[2022-09-14 06:56] #2039 closed

[2022-09-14 09:06] adityat77 opened #2041 "tflite vs ONNXRuntime accuracy"
**Describe the issue**
Given a benchmarked tflite model ( taking mobilenetv2 as an example), I tried converting it to ONNX using tf2onnx converter. Conversion wise the model seems to be fine. But running a simple forward pass on both tflite and onnx models, is giving a high MSE in the output layer. Am I doing something wrong while conversion / comparison. Attaching model and steps i followed to co

[2022-09-15 10:12] fatcat-z commented on #2041
We usually use the code below to compare the results between tf and onnxruntime:

    np.testing.assert_allclose(o_onnx, o_tfl, rtol=1e-04, atol=1e-03)

This seems like a bug and will take a further investigation.

[2022-09-16 04:02] adityat77 commented on #2041
@fatcat-z if possible, I can help in further debug for this, if it's a good-first-issue, any pointers / suggestions you have to what can be the underlying issue / where to look at ?

[2022-09-16 07:11] hwangdeyu commented on #1844
Closed. Cause this issue was fixed by changing the original model.

[2022-09-16 07:12] hwangdeyu commented on #1844
Closed. Cause this issue was fixed by changing the original model and was traced in ONNX community.

[2022-09-16 07:12] #1844 closed

[2022-09-16 11:23] fatcat-z commented on #2041
Looking into it, seems like it is relative to the quantization of input.

[2022-09-19 06:17] fatcat-z commented on #2041
@adityat77 ,

The given tflite model is a little different than the normal one. We didn't find a Quantize op in it, and the inputs itself contains the quantization details.

So far, tf2onnx doesn't support this type well yet. Could you please try another way to convert the original TF model to a tflite one?

[2022-09-19 07:21] adityat77 commented on #2041
@fatcat-z the model I'm trying is from tflite modelzoo.
From my understanding the issue is that inputs are already in `uint8` format, whereas if it were coming in `float32`, the usual way which we're referring here, will work better/fine.
Please ket me know if my understanding of the problem is correct. Or can you point to some way to convert a tensorflow model to tflite.

Thanks!

[2022-09-19 11:44] daniel-scholz opened #2044 "tf2onnx.conversion.from_keras is ignoring TF logical devices."
**Describe the bug**
I am trying to convert a keras model to a onnx model with `tf2onnx.conversion.from_keras`.
This usually works fine, but: On a multi-GPU machine, Tensorflow allows setting the visible GPUs using `tf.config.set_visible_devices`. This modifies only Tensorflow's logical devices, but not its physical devices. Training the model with keras happens on the specified GPU, but when conv

[2022-09-19 15:28] fatcat-z commented on #2041
Yes, that's correct.

[2022-09-20 06:00] adityat77 commented on #2041
thanks for the help!
closing this issue, if possible do we have this feature in pipeline, you can list what needs to be done and open a FR and assign it to me. Will be happy to contribute.

[2022-09-20 10:00] adityat77 commented on #2041
[test_mnetv1.zip](https://github.com/onnx/tensorflow-onnx/files/9606379/test_mnetv1.zip)

reopening this: context:

on exporting a tf -> mobilenetv1 model to tflite -> converting to onnx, seeing MSE in layeroutput.

inputs are in float32 format, output is int8.

[2022-09-23 21:48] buddhapuneeth opened #2047 "Unit test failure: TypeError: EndVector() missing 1 required positional argument: 'vectorNumElems'"
**Describe the bug**

Running the tf2onnx tests on TF 2.10 failing the below Unit test
[code]
**Urgency**

not a immediate blocker. But look for fix by 10/15.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04*): Cent OS,  Kernel: Linux 5.4.207-126.363.amzn2int.x86_6
- TensorFlow Version: 2.10 (installed from pip)
- Python version: 3.8 (conda env)
- ONNX version (if a

[2022-09-25 09:10] yan12125 commented on #2047
That appears caused by old FlatBuffers.

* FlatBuffers < 2.0: `EndVector()` requires an argument `vectorNumElems`
* FlatBuffers 2.0.0 ~ 2.0.6: `EndVector()` accepts no argument [1]
* FlatBuffers >= 2.0.7: `EndVector()` accepts optional `vectorNumElems` again, while it's deprecated [2]

From the error message, I assume you're using FlatBuffers < 2.0. On the other hand, TensorFlow 2.10 appears to us

[2022-09-26 03:08] lakpa-tamang9 opened #2048 "Onnx model import failed using Unity Barracuda"
# Onnx model import failed using Unity Barracuda

### Problem
As mentioned [here](https://github.com/onnx/tensorflow-onnx/blob/main/tutorials/ConvertingSSDMobilenetToONNX.ipynb), the SSD mobile net support only since opset 10. However, [here](https://docs.unity3d.com/Packages/com.unity.barracuda@1.0/manual/Exporting.html), Unity says to use opset 9 for wider coverage. Due to this, i cannot load my

[2022-09-26 12:09] fatcat-z commented on #2041
In your latest model, I noticed the last node is Quantize, and there is no Dequantize after that. Is this a requirement of your model or just a test for something?

In tf2onnx, we always handle Quantize and Dequantize as a pair, so this case is unusual.

[2022-09-26 13:04] tm-topnet commented on #846
Hi, i need to make an inference on 2 inputs image.
something like that:
val = sess.run(["output"], [{"image_input": image_},{"template_input": template_}],)[0]

but i receive this error:

TypeError: run(): incompatible function arguments. The following argument types are supported:
    1. (self: onnxruntime.capi.onnxruntime_pybind11_state.InferenceSession, arg0: List[str], arg1: Dict[str, object],

[2022-09-26 18:05] buddhapuneeth commented on #2047
Yes, it worked after updating flatbuffers to 2.0.0 and relaxing the constraint on flatbuffers in setup.py. Thanks a lot!

[2022-09-26 18:05] #2047 closed

[2022-09-27 03:03] fatcat-z commented on #2048
Please feel free to set opset version to 10 or higher version when you are trying to convert a tf model to onnx model.

tf2onnx supports downward compatibility so if something is supported by 9, then it will also be supported in later versions. It is possible that the document of Unity is describing the lowest version needed.

[2022-09-27 05:30] adityat77 commented on #2041
no, I was just testing this flow, not a strong requirement as such, thanks for looking into it !

[2022-09-27 05:30] #2041 closed

[2022-09-28 17:42] benquan commented on #1977
When installing:

[code]

[2022-09-29 03:32] benquan opened #2049 "(extract_sub_graph is deprecated and will be removed in a future version) Python API from_keras"
**Describe the bug**
When running tf2onnx.convert.from_keras(model) I get the following warning:
[code]

**Urgency**
Warning

**System information**
- MacOS
- TensorFlow Version: 2.10
- Python version: 3.8.2

**To Reproduce**
convert from keras from the python api
[code]

[2022-09-29 03:42] benquan commented on #1377
This is now working (at least in my case)
`tf2onnx.convert.from_keras(model)`

[2022-09-29 08:52] #1977 closed

[2022-09-29 11:19] fatcat-z commented on #2049
What's the version of your tf2onnx?

In latest version of tf2onnx, if your TensorFlow version is 2.x, you will call extract_sub_graph() for conversion.

[2022-09-30 05:14] #2049 closed

[2022-10-02 05:19] josephrocca opened #2052 "[tflite] Error loading model into tflite interpreter: Didn't find op for builtin opcode 'CONV_2D' version '6'."
### Describe the feature request
Support for `CONV_2D` version 6 for tflite conversion. I'm guessing that this entails updating the tflite interpreter used in this package.

### Describe scenario use case
I'd like to convert the [newly-open-sourced Lyra V2](https://opensource.googleblog.com/2022/09/lyra-v2-a-better-faster-and-more-versatile-speech-codec.html) to ONNX.

Minimal reproduction of erro

[2022-10-02 10:42] jasdeep06 commented on #1713
@srihari-humbarwadi Were you able to convert asymmetric onnx to trt?How?

[2022-10-02 14:15] srihari-humbarwadi commented on #1713
@jasdeep06 I created my own quantized weight layers using `tf.quantization.quantize_and_dequantize_v2`. This issue thread has some related information https://github.com/onnx/tensorflow-onnx/issues/1719

[2022-10-03 18:11] SzaremehrjardiMT opened #2053 "Involution layer is not supported"
Involution layers

 Convolution has been the basis of most modern neural networks for computer vision. A convolution kernel is spatial-agnostic and channel-specific. Because of this, it isn't able to adapt to different visual patterns with respect to different spatial locations. Along with location-related problems, the receptive field of convolution creates challenges with regard to capturing lon

[2022-10-04 02:33] josephrocca commented on #2052
As expected, this same sort of error was solved by the tfjs-tflite project by simply updating to the latest tflite binary:

* https://github.com/tensorflow/tfjs/issues/6885

So I'm guessing this is a fairly simple fix - just need to bump a version number somewhere?

[2022-10-04 15:07] SzaremehrjardiMT opened #2054 "How can I convert my custom layer (using Keras) to Onnx?"
# Ask a Question

### Question
I have an Involution layer which uses Keras layers inside, I want to convert it to onnx by tf2onnx

Involution layer:
`class Involution(keras.layers.Layer):
    def __init__(
        self, channel, group_number, kernel_size, stride, reduction_ratio, name
    ):
        super().__init__(name=name)

        # Initialize the parameters.
        self.channel = channel

[2022-10-05 05:22] hgong-snap commented on #1965
any followup on the issue?

[2022-10-06 10:31] fatcat-z commented on #2054
I think the problem here is as same as you mentioned in #2053 .

Could you please close one of them to avoid duplicate?

[2022-10-06 12:46] SzaremehrjardiMT commented on #2053
Thank you for your reply.
I couldn't use that example because I have Keras layers in my class so I don't know how to  make that tf op.

This is my custom layer:
Layer 1
x, _ = Involution(channel=3, group_number=1, kernel_size=3, stride=1, reduction_ratio=2, name="inv_rgb")(input_image, dep_image)
it is created by [Involution class.](https://github.com/keras-team/keras-io/blob/master/examples/visio

[2022-10-08 07:00] fatcat-z commented on #2053
I've gone through the source code you shared above.
I think for Involution class, it is more like a model than tf op, so probably we should not add a new custom op.
Let's just treat it as a model, just like a test [test_masking_custom](https://github.com/onnx/tensorflow-onnx/blob/c60c5eea2b9fc54b9b70c831e8f2953ca589bf89/tests/keras2onnx_unit_tests/test_layers.py#L2550).

Just process Involution cl

[2022-10-08 15:56] fatcat-z commented on #2052
This error was thrown by a call to tensorflow.lite.Interpreter() method which is relative to tensorflow version. In the issue you attached, that issue was fixed by a new version released recently. So, this will be resolved once a latest tensorflow release is published.

Based on this, I think we don't have a chance to bump a new version number of tensorflow.

[2022-10-09 04:22] josephrocca opened #2055 "`IndexError: list index out of range` in `parse_tflite_graph`"
**Describe the bug**
As shown in [this Colab notebook](https://colab.research.google.com/gist/josephrocca/0581baa153235adf9a3e6560203edc80/lyra-v2-soundstream-tflite-to-onnx-conversion-error-indexerror-list-index-out-of-range.ipynb), I get the following error when trying to convert [this tflite file](https://huggingface.co/rocca/lyra-v2-soundstream/resolve/main/tflite/soundstream_encoder.tflite) t

[2022-10-09 04:27] josephrocca commented on #2052
Ah, thanks! I should have known that tf2onnx would be using the version of TF that is installed. I upgraded the Colab's TF to 2.9.2 and that fixed this error. The latter half of the error (`list index out of range`) is still happening, so I created a separate issue: https://github.com/onnx/tensorflow-onnx/issues/2055

[2022-10-09 04:27] #2052 closed

[2022-10-09 04:38] josephrocca commented on #2055
I'm guessing that `output_names[0]` is throwing an error because there's a node that *should* have at least one output, but doesn't? When I open [the tflite model](https://huggingface.co/rocca/lyra-v2-soundstream/resolve/main/tflite/soundstream_encoder.tflite) in netron.app, I notice there's a lone `CallOnce` node without any inputs or outputs. Not sure if that's related - just a random guess. The

[2022-10-09 10:40] fatcat-z commented on #2055
Yes, your guess is correct. When tf2onnx is processing one node TFL_ASSIGN_VARIABLE, the output of this node is None which is not expected.

How did you generate this tflite file? By Tensorflow? If so, how about filing an issue in TensorFlow repo to check if such tflite file is correct, based on the origin tf model.

[2022-10-11 04:26] fatcat-z commented on #1770
It's been over 6 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 04:26] #1770 closed

[2022-10-11 04:27] fatcat-z commented on #1778
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 04:27] #1778 closed

[2022-10-11 05:30] fatcat-z commented on #1804
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:30] #1804 closed

[2022-10-11 05:30] fatcat-z commented on #1820
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:30] #1820 closed

[2022-10-11 05:31] fatcat-z commented on #1829
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:31] #1829 closed

[2022-10-11 05:32] fatcat-z commented on #1835
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:32] #1835 closed

[2022-10-11 05:33] fatcat-z commented on #1854
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:33] #1854 closed

[2022-10-11 05:35] fatcat-z commented on #1921
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:35] #1921 closed

[2022-10-11 05:39] fatcat-z commented on #1927
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:39] #1927 closed

[2022-10-11 05:40] #1848 closed

[2022-10-11 05:41] #1814 closed

[2022-10-11 05:42] fatcat-z commented on #1945
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:42] #1945 closed

[2022-10-11 05:49] fatcat-z commented on #2005
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:49] #2005 closed

[2022-10-11 05:51] fatcat-z commented on #1987
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:51] #1987 closed

[2022-10-11 05:52] fatcat-z commented on #1936
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:52] #1936 closed

[2022-10-11 05:54] fatcat-z commented on #1801
It's been over 3 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-10-11 05:54] #1801 closed

[2022-10-11 05:55] #1952 closed

[2022-10-11 11:07] Kaladin-Syl-WR commented on #1850
Hi @satpalsr

I got the same error when trying to convert EfficientPose to an Onnx model. I tried upgrading the TensorFlow version and opset value, but it's not working for me. Can you please tell me exactly the steps you took to get the conversion working?

Thanks in advance.

[2022-10-11 12:12] fatcat-z commented on #2037
Looks like I missed something before. If you are trying to convert a tf model to tflite, probably this issue should be opened under tensorflow repo. Tf2onnx focuses on converting a tf model or tflite model to ONNX.

[2022-10-12 07:52] josephrocca opened #2059 "[tflite] `TFL_VAR_HANDLE` and `TFL_READ_VARIABLE` are not supported"
# New Operator

The `TFL_VAR_HANDLE` and `TFL_READ_VARIABLE` operators are used in [Lyra](https://github.com/google/lyra)'s "soundstream encoder" model and "lyragan" model. I don't know the specifics of what these operators are for other than what is implied by their name, and I probably can't contribute them. Here are the two models:

* https://huggingface.co/rocca/lyra-v2-soundstream/resolve/mai

[2022-10-12 07:57] josephrocca commented on #2055
Hey @fatcat-z, thanks for your reply! The Google Lyra team says that are unable to release their original TF models, but they did try doing a conversion straight to ONNX, and it apparently worked:

https://github.com/google/lyra/issues/99#issuecomment-1275317344

Unfortunately they aren't able to release those ONNX models yet. I'm wondering whether there are any other paths toward getting an ONNX

[2022-10-12 11:52] fatcat-z commented on #2059
I don't have permission to push my changes to your private branch. Please try:

Add the two lines below into tf2onnx/tflite_handlers/tfl_direct.py file after line 93

@tfl_op("TFL_READ_VARIABLE", tf_op="ReadVariableOp")
@tfl_op("TFL_VAR_HANDLE", tf_op="VarHandleOp")

After this, please try your patch again.

[2022-10-12 14:37] josephrocca commented on #2059
@fatcat-z Thanks for your response! Do you mean after [line 91](https://github.com/onnx/tensorflow-onnx/blob/ddca3a5eb2d912f20fe7e0568dd1a3013aee9fa3/tf2onnx/tflite_handlers/tfl_direct.py#L91)? If so, I tried that and weirdly it didn't work - same error message logs as before:

https://colab.research.google.com/gist/josephrocca/5af909bd240264cdecd4598903be8dfa

[code]

I've added you as a collabor

[2022-10-12 15:04] gcuder opened #2060 "Support for Tensorflow 2.10"
# Ask a Question

### Question
Are there any plans to support `tensorflow 2.10` in the future? If yes, can you give an approximate time estimate?

[2022-10-12 16:25] fatcat-z commented on #2059
Yes, after line 91.

Did you run python setup.py develop to install the local tf2onnx version in you test environment?

[2022-10-12 19:21] wannianlou opened #2061 "ERROR - Tensorflow op [StatefulPartitionedCall/deepnn_model/transpose_5/Rank: Rank] is not supported"
**Describe the bug**
python -m tf2onnx.convert --saved-model ./sm --opset 17 --output model.onnx
/home/luban/anaconda3/lib/python3.9/runpy.py:127: RuntimeWarning: 'tf2onnx.convert' found in sys.modules after import of package 'tf2onnx', but prior to execution of 'tf2onnx.convert'; this may result in unpredictable behaviour
  warn(RuntimeWarning(msg))
2022-10-13 01:57:35,735 - WARNING - '--tag' not

[2022-10-13 05:43] josephrocca commented on #2059
@fatcat-z Oh, I was installing it like this, as you can see in the linked Colab above:
[code]
but I just tried this:
[code]
and the same errors occurred. I'm a bit of a Python noob (I come from the web/JS world), so please excuse my incompetence here 😬

[2022-10-13 09:25] graille commented on #2060
Well, It seems that the only real issue with Tensorflow 2.10 is the version of flatbuffers. This issue has been addressed in #1977 and fixed in #2050 . But I don't know why any minor update hasn't been published since...

[2022-10-13 09:45] gcuder commented on #2060
Thank you for the fast answer to my question @graille. Do you know who is responsible for doing releases? Maybe we can tag the responsible person here?

[2022-10-14 06:50] fatcat-z commented on #2059
I'm using your branch to convert that tflite model to onnx and got below error in the result:

2022-10-14 14:49:15,567 - ERROR - Unsupported ops: Counter({'VarHandleOp': 14, 'ReadVariableOp': 14})

This is expected, because we didn't implement these 2 TF ops yet. I'll try to see if it could be done soon.

[2022-10-14 17:10] SzaremehrjardiMT commented on #2053
Thank you! I changed my custom layers a little now they don't use "tf.image.extract_patches". so, I could convert my model to onnx.

[2022-10-17 02:00] fatcat-z commented on #2053
Good to hear this!

[2022-10-17 02:00] #2053 closed

[2022-10-17 02:05] fatcat-z commented on #2060
The next release will be published along with latest ORT 13. It will probably be published this week and no later than the end of next week.

[2022-10-17 02:05] #2060 closed

[2022-10-17 16:10] josephrocca commented on #1040
For those who missed it like I did the first time, the above-referenced pull request introduced the `large_model` parameter/flag which needs to be used to bypass the 2GB limit. If you're using the command line tool, add `--large_model` to your command, if you're using `tf2onnx.convert.from_function`, add the `large_model=True` parameter.

(I originally assumed that the above pull request raised th

[2022-10-17 16:55] josephrocca opened #2062 "Getting "exceeds maximum protobuf size of 2GB" error even though I'm using `large_model=True`"
**Describe the bug**
I'm getting "exceeds maximum protobuf size of 2GB" error even though I'm using `large_model=True`:

[code]

(Colab reproduction link is below)

**Urgency**
No hard deadlines. For context, I'm trying to get Stable Diffusion working in the browser, and this problem is a blocker. It's mainly "for fun" (like [this](https://josephrocca.github.io/clip-image-sorter/), which also uses

[2022-10-17 17:24] josephrocca opened #2063 "Kernel crash/restart during conversion with `tf2onnx.convert.from_function`: Segmentation fault [...] Address not mapped"
**Describe the bug**
The Colab linked in the "To Reproduce" section abruptly crashes (during `tf2onnx.convert.from_function`) after displaying this output:
[code]
It's not related to excessive memory usage, since I've tested it on a machine with 200GB RAM. Here's a snippet of the logs that are output on that machine (not exactly sure why the Colab is so silent in comparison, but maybe because I'm

[2022-10-17 17:46] josephrocca opened #2064 "Numpy data type not understood yet: bfloat16"
### Describe the feature request
Support for numpy data type bfloat16.

### Describe scenario use case
I'm trying to convert a pretrained VAE that uses this data type: https://colab.research.google.com/gist/josephrocca/b79bf29181290c5f20a4f6113fd034f2/stable_diffusion_jax-to-onnx.ipynb

**Edit:** Turns out, in this case, there was a float32 version of the weights available. Not sure how common tha

[2022-10-17 17:58] josephrocca commented on #2063
Actually, going by the logs and the fact that I just discovered that [`tf.lite.TFLiteConverter.experimental_from_jax` has almost identical crash logs for this model](https://github.com/tensorflow/tensorflow/issues/58125), it seems like this is a TensorFlow issue.

I'll let a tf2onnx dev close this issue just in case there's anything that needs to be looked into on the tf2onnx side.

[2022-10-18 03:10] yechong316 commented on #846
well, I also receive this error, is anything can helpe me ?

[2022-10-18 17:04] fatcat-z commented on #2059
@josephrocca ,

Please try the code in this [branch](https://github.com/onnx/tensorflow-onnx/commit/5f209d6c54c4d21a2e7c7329a9eafa966a0d9b0e). Those ops are designed for training which are not supported by tf2onnx and won't impact the inference results. Removing them should has no impact to the final inference results.

Please leverage it generate a new onnx file and see if the results are correct

[2022-10-18 19:52] josephrocca commented on #2062
Weirdly, I solved this by switching from a `bfloat16` model (which I now realise is unsupported by tf2onnx) to a `float32` version of that same model.

I guess there's some sort of "silent fallback" to `large_model=False` that's triggered by the unsupported `bfloat16`.

Given that the error message doesn't seem to match what the problem actually is, I'll leave this open for a tf2onnx dev to look a

[2022-10-19 14:29] pks commented on #2025
Thanks @fatcat-z. Unfortunately we cannot go back to TF1.15 with our codebase. However, in the meantime we gave up on this approach. Thanks for looking into it anyway!

[2022-10-19 14:29] #2025 closed

[2022-10-20 11:08] josephrocca commented on #2059
Thanks!! That solved it. Really appreciate how fast you managed to make this fix 🙏

There are some other down-stream issues in ORT Web preventing the model from running correctly but I think they might be specific to ORT Web, rather than this conversion process. I'll post a separate issue if I can't work out what's going wrong there.

[2022-10-20 11:26] josephrocca opened #2065 "ORT Web: Uncaught (in promise) 12768952"
**Describe the bug**
The error message "Uncaught (in promise) 12768952" is logged to the console when running inference on a model with ORT Web.

**Urgency**
Not urgent. Just trying to get Google's new Lyra V2 model working in the browser.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04*): Converted from tflite model in 20.04, and tested inference in Chrome and Fir